<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Allman Brothers Band, Flyleaf, Soundgarden, The Mars Volta, Tool | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/6VxoXn-0Ezs/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/rock/2017/5/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="6VxoXn-0Ezs">Allman Brothers Band - Ramblin' Man</li>
            <li class="record" id="IsoOjxaHgmA">Flyleaf - I'm So Sick - Acoustic - Corrected Timing</li>
            <li class="record" id="FSGiMAhMkkw">Soundgarden - [Pinkpop Festival 1992] [Fullscreen 720p]</li>
            <li class="record" id="5EXeIAyWr0k">Tool - H. video</li>
            <li class="record" id="vzRFlXbq-cY">The Mars Volta - Inertiatic ESP</li>
            <li class="record" id="a3yERaVA3Cc">David Gilmour - "Wearing the Inside Out" feat Richard Wright on vocals, (HD), Royal Albert Hall,2006</li>
            <li class="record" id="KMBzQBUJWSE">Soundgarden - "Slaves and Bulldozers" [guitar cover]</li>
            <li class="record" id="n_GFN3a0yj0">AC/DC - Thunderstruck (Live - River Plate - Concert Clip)</li>
            <li class="record" id="S2JDV_T3Kmg">Desert Sessions - I Wanna Make It Wit Chu (Jools - PJ Harvey & Josh Homme) HD</li>
            <li class="record" id="BgVfjXA_QY0">Queens Of The Stone Age - 3's & 7's</li>
            <li class="record" id="cZaglHQOgt8">Soundgarden - Outshined - Live in 1991</li>
            <li class="record" id="g4flAZEgtjs">Creedence Clearwater Revival - Have You Ever Seen The Rain (Lyric Video)</li>
            <li class="record" id="IJaPvQ2APHs">Meet My Maker</li>
            <li class="record" id="DIybW7SKm5U">[SUPERSTITIOUS EUROPE COVER 2017] ◄TRITUBE TO KEE MARCELLO►</li>
            <li class="record" id="wsrvmNtWU4E">Metallica - Whiskey In The Jar (Video)</li>
            <li class="record" id="jekTxx76drA">System Of A Down - Peephole #10</li>
            <li class="record" id="Ih2Uc663jAI">The White Stripes - Offend In Every Way (COVER)</li>
            <li class="record" id="VUb450Alpps">Temple Of The Dog - Hunger Strike</li>
            <li class="record" id="DBOSkT-7jBE">Psychostick - SO. HEAVY. [Official Music Video]</li>
            <li class="record" id="B02uyYUIpwo">Sons of Cloda - Sons of Cloda (Full Album)</li>
            <li class="record" id="9WAr2xeDluY">Pete and The Boys - Mökillä (1995)</li>
            <li class="record" id="bhqMVNlPHE8">Megadeth and Dave Mustaine pay tribute to Chris Cornell in Tokyo, Japan 18/05/17</li>
            <li class="record" id="aM2JTvmesOo">Donatella Canepa - Mårtensdal (videoclip)</li>
            <li class="record" id="BXkm6h6uq0k">The Strokes - Hard To Explain</li>
            <li class="record" id="GfAEfiUdThQ">Alex G - Rocket ALBUM REVIEW</li>
            <li class="record" id="UPx7DqiLc34">Heretic Rites - Howl in Terror</li>
            <li class="record" id="Wta5rdPliRI">Paul McCartney - Picasso's Last Words (Drink to Me) (demo)</li>
            <li class="record" id="U7O8kiIvf3A">Bards In Bars Getting Beer EP 7: DONKNG Interview</li>
            <li class="record" id="I4l52-yKyJM">Pixel Emotion - English subtitles 岡崎体育 『感情のピクセル』Music Video</li>
            <li class="record" id="kh09Vw0XgVw">Keith Richards Hickory Wind</li>
            <li class="record" id="zGnaoRIwQvI">Ruby Suns - Tilt Of His Hat TRACK REVIEW</li>
            <li class="record" id="Jw0fRpd2Iag">LUCKY BEACHES sings SWIPE LEFT</li>
            <li class="record" id="SOk-ZS5dGcQ">Nirvana - Something in the Way (Cover)</li>
            <li class="record" id="eSZlf08hqHI">Bards In Bars Getting Beer EP 8: Sports Reference Interview</li>
            <li class="record" id="DsixWMdScUI">Jack White - Sixteen Saltines</li>
            <li class="record" id="JoNJ6AQhmFY">At The Drive In - Hostage Stamps (Official Music Video)</li>
            <li class="record" id="5Pa8YcaUUNY">Enormoose - 'Alice' [Official Lyric Video]</li>
            <li class="record" id="OMvFKQxGIvs">Flagman Live Session "Headache Talking"</li>
            <li class="record" id="9UZZl31opW0">River Phoenix</li>
            <li class="record" id="sKU1qtC67D8">Леонид Федоров -- гАлушка</li>
            <li class="record" id="hZQzvFH0Amc">The Dark Tower 2017 - Official Music Video</li>
            <li class="record" id="c6y1wBRyAQQ">Believer Piano Tutorial - Imagine Dragons (Assassin's Creed Unity Soundtrack)</li>
            <li class="record" id="2EBd2jcox4M">Леонид Федоров - The lamp</li>
            <li class="record" id="IVOCHon_ia8">"Хвост и Аукцион" - Не вижу птиц я</li>
            <li class="record" id="Y7r8N7nK7uU">The Near Deaf Experience - Backfire - Music Video (VHS Tallin trip edition)</li>
            <li class="record" id="uFsHG6ZX0nU">Rusty Shipp - Devil Jonah [OFFICIAL VIDEO]</li>
            <li class="record" id="fhlrnqeeLcc">Red Hot Chili Peppers - Dark Necessities (Olibe Remix)</li>
            <li class="record" id="v-JIhbBk1Zs">Auktyon, Medeski, Ribot - "Rogan Born" Live in St.Petersburg</li>
            <li class="record" id="I9Y2_po_b5I">UFO BAND - Rock Bottom | Cover on guitar Gibson Explorer</li>
            <li class="record" id="Q-w7frXEs8I">Enter Sandman - Rusty Raw Band Cover</li>
            <li class="record" id="QOcbMWmBbNA">Mirrorplain - Fortune (OFFICIAL MUSIC VIDEO)</li>
            <li class="record" id="UaDEg7Gytus">Хвост и АукцЫон - Часы и Канва [Поедем]</li>
            <li class="record" id="JbRQaN-1Njg">Whatever It Takes Piano Tutorial - Free Sheet Music (Imagine Dragons)</li>
            <li class="record" id="jrc0IRLTj8Q">Auktyon, Medeski, Ribot - "Moya Lyubov". Live in St.Petersburg</li>
            <li class="record" id="bW25eSwRQvM">Pianos Become The Teeth - "The Queen" (Full Album Stream)</li>
            <li class="record" id="0rpIgrzXPAI">[Another Brick in the Wall 2017] ◘Cover Pink Floyd◘</li>
            <li class="record" id="Na2CCk5Wt5E">The Pixies - "Cactus" @ Ram's Head, Baltimore Maryland, Live HQ</li>
            <li class="record" id="GyhaaVcOeUc">We Are Many We Are Legion - Lost Inside (Official Music Video)</li>
            <li class="record" id="FUoKcEIWlgM">She's a Tree</li>
            <li class="record" id="0LzNNgctnbs">oh my love - john lennon</li>
            <li class="record" id="PBPN0T2v5QA">Lil Ching Mumble Rap - (Audio)</li>
            <li class="record" id="pR8xy5MHO6U">The Arbitrary - Florescent Impulse feat. Leo Diensthuber (Divine Realm)</li>
            <li class="record" id="LEF9d0LIF6A">ФІОЛЕТ - Романтика (lyric video)</li>
            <li class="record" id="ecONQzrcyUA">The Plague -DANGER (OFFICIAL Lyric Video)</li>
            <li class="record" id="gTTzcVmk0YE">Blacklistt - Always (Official Video)</li>
            <li class="record" id="IuBiRm5j_Zc">Quadrus - Entropia (FULL ALBUM STREAM)</li>
            <li class="record" id="6Girv5JuqQc">Citizen Zero - Bangin In The Nails (Live w/ Orchestra & Choir)</li>
            <li class="record" id="fvcQZRsBRcg">Надо мной. Л.Федоров и Крузенштерн и пароход</li>
            <li class="record" id="mve5FBpQW2A">Thunder Piano Tutorial - Free Sheet Music (Imagine Dragons)</li>
            <li class="record" id="pp5QHQxsGSE">Goodbye June - Fear of Jesus (Audio)</li>
            <li class="record" id="hX3GfAgHHcw">АукцЫон - Моя любовь</li>
            <li class="record" id="f4OB-umy0z4">New Rock Sensation - Big Girls Rock Clothing Designs By KanD</li>
            <li class="record" id="W1sFzukPBfU">Malibu Easy Piano Tutorial - Free Sheet Music (Miley Cyrus)</li>
            <li class="record" id="X-XrhZiLADc">Amy Winehouse, Green Day, The Killers MASHUP - Jesus Told Me Rehab</li>
            <li class="record" id="TCaL8cwkaqE">What Will i Review Next?</li>
            <li class="record" id="8598-fY72iE">Аквариум - Сидя на красивом холме</li>
    </ol>
</div>

<div class="container">
<a href="/genre/rock/">Rock</a> archive:
    <a href="/genre/rock/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/rock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/rock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'rock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>