<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Bugle Call Rag, Old &Amp; In The Way, Punch Brothers, Rip James Alan Shelton, Trampled By Turtles | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/LOD48_b6h-g/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/bluegrass/2014/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="LOD48_b6h-g">
                    <td><img src="https://i.ytimg.com/vi/LOD48_b6h-g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Trampled by Turtles - Codeine (Lyrics)</td>
                </tr>
                <tr class="record" id="hkNQb1oqVJQ">
                    <td><img src="https://i.ytimg.com/vi/hkNQb1oqVJQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Keller Williams with The Travelin' McCourys "Pumped Up Kicks"</td>
                </tr>
                <tr class="record" id="sgH3vGeL_iY">
                    <td><img src="https://i.ytimg.com/vi/sgH3vGeL_iY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Old & in the Way / Wild Horses</td>
                </tr>
                <tr class="record" id="Z38GuaN826M">
                    <td><img src="https://i.ytimg.com/vi/Z38GuaN826M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Old Gospel Ship/ Theme From Dillinger</td>
                </tr>
                <tr class="record" id="lE69yzlV33c">
                    <td><img src="https://i.ytimg.com/vi/lE69yzlV33c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jerry Garcia, David Grisman & Tony Rice-Man of Constant Sorrow</td>
                </tr>
                <tr class="record" id="U8IUtMyqfAQ">
                    <td><img src="https://i.ytimg.com/vi/U8IUtMyqfAQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">A Veeeery Young Nickel Creek! (2 of 3)</td>
                </tr>
                <tr class="record" id="5ANy6DaY9ok">
                    <td><img src="https://i.ytimg.com/vi/5ANy6DaY9ok/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Punch Brothers - 41st Telluride Bluegrass Festival - 6/21/14</td>
                </tr>
                <tr class="record" id="rn1MJmsm8QM">
                    <td><img src="https://i.ytimg.com/vi/rn1MJmsm8QM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Québec Redneck Bluegrass Project - Tsé quand ça va ben</td>
                </tr>
                <tr class="record" id="4lFMK3UIa74">
                    <td><img src="https://i.ytimg.com/vi/4lFMK3UIa74/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pretty Little One | Steve Martin and the Steep Canyon Rangers feat. Edie Brickell</td>
                </tr>
                <tr class="record" id="HQpowkPjEWU">
                    <td><img src="https://i.ytimg.com/vi/HQpowkPjEWU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bugle Call Rag</td>
                </tr>
                <tr class="record" id="UiEJjMq3Hyk">
                    <td><img src="https://i.ytimg.com/vi/UiEJjMq3Hyk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Town Mountain - Diggin' on the Mountainside</td>
                </tr>
                <tr class="record" id="6TPGkfKOBzE">
                    <td><img src="https://i.ytimg.com/vi/6TPGkfKOBzE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">JONES & MILES STRINGBAND</td>
                </tr>
                <tr class="record" id="jtiOirt_HUQ">
                    <td><img src="https://i.ytimg.com/vi/jtiOirt_HUQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bela Fleck, Sam Bush, Jerry Douglas, Mark O'Connor & Edgar Myer Live on the Lonesome Pine Special HQ</td>
                </tr>
                <tr class="record" id="YNN6q0PXTcE">
                    <td><img src="https://i.ytimg.com/vi/YNN6q0PXTcE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pretty Saro from Songcatcher - YouTube2.flv</td>
                </tr>
                <tr class="record" id="2VZLyqc8f5Y">
                    <td><img src="https://i.ytimg.com/vi/2VZLyqc8f5Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Special Consensus - "Wild Montana Skies"</td>
                </tr>
                <tr class="record" id="XFUz1gSh9A0">
                    <td><img src="https://i.ytimg.com/vi/XFUz1gSh9A0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">14 Greensky Bluegrass 2013-03-09 Money For Nothing</td>
                </tr>
                <tr class="record" id="4TKURM0bFD0">
                    <td><img src="https://i.ytimg.com/vi/4TKURM0bFD0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">08 Pert Near Sandstone 2012-04-20 Give The Fiddler A Dram</td>
                </tr>
                <tr class="record" id="yIfRL6Jzsbo">
                    <td><img src="https://i.ytimg.com/vi/yIfRL6Jzsbo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Chet Atkins, Mark O'Connor, Tony Rice, David Grisman, Bela Fleck, Jerry Douglas, Rob Wasserman</td>
                </tr>
                <tr class="record" id="HMB3sfvrFKc">
                    <td><img src="https://i.ytimg.com/vi/HMB3sfvrFKc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sturgill Simpson - Medicine Springs (Live on KEXP @Pickathon)</td>
                </tr>
                <tr class="record" id="N8vOTKMqzw4">
                    <td><img src="https://i.ytimg.com/vi/N8vOTKMqzw4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">MERLE TRAVIS Cannonball Rag</td>
                </tr>
                <tr class="record" id="zupuvGvBi7U">
                    <td><img src="https://i.ytimg.com/vi/zupuvGvBi7U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Old Joe Clark</td>
                </tr>
                <tr class="record" id="AFB9WFMsr0c">
                    <td><img src="https://i.ytimg.com/vi/AFB9WFMsr0c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Creak - Seafoam Black (The Flame is Gone)</td>
                </tr>
                <tr class="record" id="Qg8pWQMwU28">
                    <td><img src="https://i.ytimg.com/vi/Qg8pWQMwU28/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Black Mountain Rag</td>
                </tr>
                <tr class="record" id="o2uF94KG3LY">
                    <td><img src="https://i.ytimg.com/vi/o2uF94KG3LY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rhonda & Darren Vincent /Jamie Dailey - Beneath Still Waters</td>
                </tr>
                <tr class="record" id="BNBI-VJtTxQ">
                    <td><img src="https://i.ytimg.com/vi/BNBI-VJtTxQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Major Sevens - Dreaming of Appalachia</td>
                </tr>
                <tr class="record" id="WxjNibPR-us">
                    <td><img src="https://i.ytimg.com/vi/WxjNibPR-us/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sally Goodin</td>
                </tr>
                <tr class="record" id="OLqQpc5DWp0">
                    <td><img src="https://i.ytimg.com/vi/OLqQpc5DWp0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">John Hartford Boogie With Me</td>
                </tr>
                <tr class="record" id="tgMpZTHDPf0">
                    <td><img src="https://i.ytimg.com/vi/tgMpZTHDPf0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Green River Outfit - Cold Creek County Blues</td>
                </tr>
                <tr class="record" id="OI-uLxrFPyk">
                    <td><img src="https://i.ytimg.com/vi/OI-uLxrFPyk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Crossing County Lines</td>
                </tr>
                <tr class="record" id="atHl40LQHM4">
                    <td><img src="https://i.ytimg.com/vi/atHl40LQHM4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Horse - Crazy Train</td>
                </tr>
                <tr class="record" id="nXPnOQFV_uI">
                    <td><img src="https://i.ytimg.com/vi/nXPnOQFV_uI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Railroad Work Song, THE ALAN LANE BAND</td>
                </tr>
                <tr class="record" id="yFThh9T5XIE">
                    <td><img src="https://i.ytimg.com/vi/yFThh9T5XIE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lonsome LA Cowboy</td>
                </tr>
                <tr class="record" id="3LJXu-iRcZ0">
                    <td><img src="https://i.ytimg.com/vi/3LJXu-iRcZ0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Keller Williams with the Travelin' McCourys - All Good Music Fest. 7-21-13 HD tripod</td>
                </tr>
                <tr class="record" id="3aDzBBy5bpk">
                    <td><img src="https://i.ytimg.com/vi/3aDzBBy5bpk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Music in the Library: Joe Newberry, "Piney Mountain"</td>
                </tr>
                <tr class="record" id="-binVY-AqhI">
                    <td><img src="https://i.ytimg.com/vi/-binVY-AqhI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">New Cut Road - Johnny Cash</td>
                </tr>
                <tr class="record" id="75hMv1GtjlY">
                    <td><img src="https://i.ytimg.com/vi/75hMv1GtjlY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">David Grisman FolkJazz Trio at Caramoor, Deep River Blues</td>
                </tr>
                <tr class="record" id="vD3B7W7QQNg">
                    <td><img src="https://i.ytimg.com/vi/vD3B7W7QQNg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Salt Creek / Leavin' - Matthew Hornell & Andrew Sneddon</td>
                </tr>
                <tr class="record" id="KdaxYYxyROY">
                    <td><img src="https://i.ytimg.com/vi/KdaxYYxyROY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Benny Martin, John Hartford & Roy Huskey - Wabash Cannonball</td>
                </tr>
                <tr class="record" id="GDa518iD2ZM">
                    <td><img src="https://i.ytimg.com/vi/GDa518iD2ZM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Trout Steak Revival "It Takes One to Know One" (Official)</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/bluegrass/">Bluegrass</a> archive:
    <a href="/genre/bluegrass/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/bluegrass/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'bluegrass';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>