<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Butthole Surfers, Guerilla Toss, Harvey Milk, Laddio Bolocko, Melvins | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/eZiB66BraPo/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/noiserock/2016/1/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="eZiB66BraPo">Harvey Milk - Death Goes to the Winner</li>
            <li class="record" id="pabmB-2SFsA">Melvins - Station To Station</li>
            <li class="record" id="iGXFtYm99Bo">Guerilla Toss - Operate</li>
            <li class="record" id="Ebb7Wv9nlS0">Butthole Surfers - Live PCPPEP [FULL]</li>
            <li class="record" id="76nIqWVyKFA">Laddio Bolocko - Nurser</li>
            <li class="record" id="_-KjztYK9iY">THE MELVINS - "We Are Doomed" (30th Anniversary Tour)</li>
            <li class="record" id="kn1hDfA7fLc">Melvins - At a Crawl - live 1992</li>
            <li class="record" id="bqpc56ccUM0">The Locust - Plague Soundscapes [FULL ALBUM]</li>
            <li class="record" id="1vg70UonkqY">Laughing Hyenas -Everything I Want</li>
            <li class="record" id="1qFzlZiHccc">Scratch Acid - Albino Slug</li>
            <li class="record" id="yiHWOWBOBZ0">COWS 'Hitting The Wall'</li>
            <li class="record" id="DCuB1yAZkKI">Mike & The Melvins - Chicken n Dump</li>
            <li class="record" id="33YiS6Thw5Q">Doomsday Student - Dime Store Horsey</li>
            <li class="record" id="wVpYfVlI-BU">Hammerhead - Into The Vortex (1994) FULL ALBUM</li>
            <li class="record" id="9VrI91pglbY">Zeni Geva/Superunit - Kettle Lake/Pennywise</li>
            <li class="record" id="6COo9T-n4ts">Brainbombs - Salome</li>
            <li class="record" id="iSUqJ2CQ_os">KARP - Suplex [full album]</li>
            <li class="record" id="H-9DsmW8jG4">Ex Models - Other Mathematics (2001) Full Album</li>
            <li class="record" id="Zcrz0lElrCw">The Dead C - Power</li>
            <li class="record" id="m7gkmv34BMM">03 Ccc cnc ncn -  le 4 trombe della follia</li>
            <li class="record" id="QnWadNvXZG4">No Trend ~ The Early Months (Full Album)</li>
            <li class="record" id="ZhxU7QtRckw">A WEREWOLF! - I Went Outside Once, The Graphics Were Terrible (Official Video)</li>
            <li class="record" id="Q954LxEzyY8">Cosmic Psychos - Fuckwit City</li>
            <li class="record" id="mZcAEZVBunU">Squirrelly Amateurs</li>
            <li class="record" id="jElkdiv7-Tg">Mutes - 'Knotting Off The Vein' [Official Video]</li>
            <li class="record" id="t_7HHC1sfio">CONDUCT LIVE @ BATHHOUSE</li>
            <li class="record" id="PRySPN_Yfys">SHAMAN ECONOMICS</li>
            <li class="record" id="Z8KdDdi7uj0">Złota Jesień - Girl Nothing (Full Album)</li>
            <li class="record" id="BD7f51av1Yk">Control - Bodychoke</li>
            <li class="record" id="-niWrYmb4K4">Cyclorama</li>
            <li class="record" id="J6JxbdvKiSM">Experiment - A Frames</li>
            <li class="record" id="dVLfaN7PYcI">Nasa Space Universe - Flesh Multiplier</li>
            <li class="record" id="wYawm7ZJVUU">Contravirtual - Dri Hiev</li>
            <li class="record" id="663z6BE67wY">Nasa Space Universe - Peeping Toddler / Holy Methography</li>
            <li class="record" id="lwuDwlx0VEw">Ugly Songs From: KNUCKLE FISH by KNUCKLE FISH</li>
            <li class="record" id="O2lyIJlKAH4">Bakamono - Frenching with Aliens</li>
            <li class="record" id="uhlQ2zciRMo">Ultra Bide - "Sonic Crash" 31:10:13</li>
    </ol>
</div>

<div class="container">
<a href="/genre/noiserock/">Noise Rock</a> archive:
    <a href="/genre/noiserock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'noiserock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>