<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Black Dog, Don'T Break The Needle, Foo Fighters, Led Zeppelin, Young Man Blues | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/fl6s1x9j4QQ/hqdefault.jpg">
    <link rel="canonical" href="https://punknrollnet.github.io/genre/rock/2012/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="fl6s1x9j4QQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/fl6s1x9j4QQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black Dog Led Zeppelin Lyrics</h2>
                    <p><strong>Score:</strong> <span class="rd-score">43</span> - <a href="https://www.reddit.com/vcyvn">Black Dog - Led Zeppelin</a>
<br>
                        submitted <span class="muted">2012-06-21 01:48</span> by <a href="https://www.reddit.com/user/Austinessexy">/u/Austinessexy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="p6S9oqJRclo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/p6S9oqJRclo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Led Zeppelin - Achilles Last Stand (Album Version)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">20</span> - <a href="https://www.reddit.com/ur64s">Led Zeppelin--Achilles Last Stand. The riffs in this song are god-tier</a>
<br>
                        submitted <span class="muted">2012-06-08 05:46</span> by <a href="https://www.reddit.com/user/CappyPig">/u/CappyPig</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="eBG7P-K-r1Y">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/eBG7P-K-r1Y/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Foo Fighters - Everlong</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/uq9w9">Foo Fighters - Everlong</a>
<br>
                        submitted <span class="muted">2012-06-07 19:40</span> by <a href="https://www.reddit.com/user/EpilogueTime">/u/EpilogueTime</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LtURmn_knzA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LtURmn_knzA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Creedence Clearwater Revival - Ramble Tamble+Lyrics</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/vlirj">Creedence Clearwater Revival - Ramble Tamble</a>
<br>
                        submitted <span class="muted">2012-06-25 22:52</span> by <a href="https://www.reddit.com/user/4amchocolatepudding">/u/4amchocolatepudding</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9g30nwCpyaA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9g30nwCpyaA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Young Man Blues - The Who (Live at Leeds)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/vb2kj">The Who Live at Leeds- Young Man Blues</a>
<br>
                        submitted <span class="muted">2012-06-20 02:04</span> by <a href="https://www.reddit.com/user/4amchocolatepudding">/u/4amchocolatepudding</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Fn8Mf6zHLgM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Fn8Mf6zHLgM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Don't Break The Needle - J Roddy Walston and The Business</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/utqmi">Don't Break The Needle - J Roddy Walston and The Business</a>
<br>
                        submitted <span class="muted">2012-06-09 22:09</span> by <a href="https://www.reddit.com/user/edebus">/u/edebus</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0FW0AlG7pSw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0FW0AlG7pSw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">A Cross and A Girl Named Blessed - Evans Blue (The Melody and Energetic Nature Of Volume)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/uiril">Evans Blue - A Cross and A Girl Named Blessed</a>
<br>
                        submitted <span class="muted">2012-06-03 17:07</span> by <a href="https://www.reddit.com/user/Xdes">/u/Xdes</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OYkGkw6dc48">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OYkGkw6dc48/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Learn to Play Piano at Home: Introduction- Hush - Deep Purple - Groove & Form</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/uwkig">Hush - Deep Purple - Groove &amp; Form Introduction
      - YouTube</a>
<br>
                        submitted <span class="muted">2012-06-11 19:06</span> by <a href="https://www.reddit.com/user/pianowithwillie">/u/pianowithwillie</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IfRUJHbksho">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IfRUJHbksho/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">I Am Giant - Purple Heart</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/uk0wr">I Am Giant - Purple Heart</a>
<br>
                        submitted <span class="muted">2012-06-04 10:52</span> by <a href="https://www.reddit.com/user/naaoe">/u/naaoe</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LBeg7CZqSx0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LBeg7CZqSx0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Headstrong By Trapt</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/unqbt">Headstrong-Trapt What a great song!</a>
<br>
                        submitted <span class="muted">2012-06-06 10:00</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="PDpVS7D9AJs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/PDpVS7D9AJs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Road to Shamballa | music by Three Dog Night</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/vd8jf">Three Dog Night - The Road to Shamballa.</a>
<br>
                        submitted <span class="muted">2012-06-21 04:42</span> by <a href="https://www.reddit.com/user/skynet907">/u/skynet907</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8Qbk9cXYHdg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8Qbk9cXYHdg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Me playing aqualung on accordion</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/vt3mx">Because accordion.</a>
<br>
                        submitted <span class="muted">2012-06-29 19:03</span> by <a href="https://www.reddit.com/user/CappyPig">/u/CappyPig</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="cFDV_gW70jE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/cFDV_gW70jE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Backyard Babies - Star War</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/uz6er">Backyard Babies - Star War
      - YouTube</a>
<br>
                        submitted <span class="muted">2012-06-13 03:16</span> by <a href="https://www.reddit.com/user/much_cobblers">/u/much_cobblers</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IOhGaaL4ZVo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IOhGaaL4ZVo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dreamer (Ozzy Osbourne) Cover - ThisManCave</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/v463y">We just made an Ozzy cover, what do you guys think?</a>
<br>
                        submitted <span class="muted">2012-06-15 22:45</span> by <a href="https://www.reddit.com/user/ThisManCave">/u/ThisManCave</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="J6Zrw1KxwPE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/J6Zrw1KxwPE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Puscifer - Undertaker (Renholder mix)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/vo6n1">Puscifer - Undertaker (Renholder Mix)</a>
<br>
                        submitted <span class="muted">2012-06-27 05:18</span> by <a href="https://www.reddit.com/user/SeriousLemur">/u/SeriousLemur</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="cLGoeYOZ0Qs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/cLGoeYOZ0Qs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">WEATHERMAN | DEAD SARA | VIDEO</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/uqp1f">Bad Ass Band</a>
<br>
                        submitted <span class="muted">2012-06-08 00:08</span> by <a href="https://www.reddit.com/user/fatpat000">/u/fatpat000</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OiMDewZ9dLA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OiMDewZ9dLA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sevendust - Splinter - Cold Day Memory (BRAND NEW!)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/ujkr7">Sevendust- Splinter</a>
<br>
                        submitted <span class="muted">2012-06-04 03:01</span> by <a href="https://www.reddit.com/user/GenghisTron00">/u/GenghisTron00</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mPu-VHM5-Ic">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mPu-VHM5-Ic/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">STOP BELIEVING</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/usud2">A minor twist on the classic "Don't Stop Believing"</a>
<br>
                        submitted <span class="muted">2012-06-09 05:57</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-_vF5NqgC7E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-_vF5NqgC7E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dearest (I'm So Sorry) - Picture Me Broken OFFICIAL VIDEO</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/utaar">Picture Me Broken - One of my new fav bands, have you heard of them? What do you think?</a>
<br>
                        submitted <span class="muted">2012-06-09 16:10</span> by <a href="https://www.reddit.com/user/dawnysquizotipal">/u/dawnysquizotipal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5NWeOxq1HdQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5NWeOxq1HdQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Getback2me - Weaving Wave and Catharsis</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/utkrs">Getback2me - Catharsis (Awesome rock cover of a folk song)</a>
<br>
                        submitted <span class="muted">2012-06-09 20:02</span> by <a href="https://www.reddit.com/user/idmb">/u/idmb</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XmGdSOhBx8E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XmGdSOhBx8E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sólstafir - Fjara (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/uw6bp">Sólstafir - Fjara Amazing Icelandic band.</a>
<br>
                        submitted <span class="muted">2012-06-11 14:30</span> by <a href="https://www.reddit.com/user/Steeboo">/u/Steeboo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XnIMcsOV0yU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XnIMcsOV0yU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Ventures - Thunder Cloud</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/ul1qt">The Ventures - Thunder Cloud</a>
<br>
                        submitted <span class="muted">2012-06-04 23:02</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WHgltgjwyIk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WHgltgjwyIk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Waking Elliot - Event at the Wadsworth Anthenium [MUSIC VIDEO]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/v458g">This is an awesome band and they wanted me to make their music video :)</a>
<br>
                        submitted <span class="muted">2012-06-15 22:26</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="YBov0fzXrb8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/YBov0fzXrb8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Likely Lads - Not Too Fussed</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/v6kyu">Likely Lads - Not Too Fussed</a>
<br>
                        submitted <span class="muted">2012-06-17 16:40</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Ilbzf9VYT3k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Ilbzf9VYT3k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pretty Things - Grass</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/vsdsc">Pretty Things - Grass</a>
<br>
                        submitted <span class="muted">2012-06-29 08:58</span> by <a href="https://www.reddit.com/user/cuwabara">/u/cuwabara</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="skOY7nKH144">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/skOY7nKH144/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dave Matthews Band: Anyone Seen the Bridge: Live at Piedmont</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/uts4g">Dave Matthews Band - ASTB best version IMO. (Piedmont Park)</a>
<br>
                        submitted <span class="muted">2012-06-09 22:42</span> by <a href="https://www.reddit.com/user/iReaperrr">/u/iReaperrr</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JFmm8bnOPD0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JFmm8bnOPD0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">"Up in Flames"  3D - Music Video (Directed by Jonny Diaz)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/v0pzt">3D Music Video - Up In Flames</a>
<br>
                        submitted <span class="muted">2012-06-13 23:46</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tmn7rqKS5gU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tmn7rqKS5gU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">My Sleeping Karma - Satya</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/v4qq3">My Sleeping Karma - Satya</a>
<br>
                        submitted <span class="muted">2012-06-16 07:06</span> by <a href="https://www.reddit.com/user/pear_a_dime_shift">/u/pear_a_dime_shift</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/rock/">Rock</a> archive:
    <a href="/genre/rock/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/rock/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://www.teepublic.com/stores/punknroll">Punk'n'Roll Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'rock';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>