<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Machine, Sir Lord Baltimore, Status People, The Flow, The Screamers | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/MdCRcrgX080/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/monsterfuzz/2014/5/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="MdCRcrgX080">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MdCRcrgX080/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Screamers - 122 Hours Of Fear (Live at the Target)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">21</span> - <a href="https://www.reddit.com/26myv7">The Screamers - 122 Hours Of Fear [USA - 1978]</a>
<br>
                        submitted <span class="muted">2014-05-27 20:54</span> by <a href="https://www.reddit.com/user/j3434">/u/j3434</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ErxAbqsBnFM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ErxAbqsBnFM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sir Lord Baltimore - Helium Head</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/26o3f1">Sir Lord Baltimore - Helium Head [USA - 1970] - [4:02]</a>
<br>
                        submitted <span class="muted">2014-05-28 04:09</span> by <a href="https://www.reddit.com/user/thefriendcatcher">/u/thefriendcatcher</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pf7IN2Fu3Qk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pf7IN2Fu3Qk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Damnation of Adam Blessing (Driver)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/24zeqk">Damnation of Adam Blessing - Driver [USA - 1970]</a>
<br>
                        submitted <span class="muted">2014-05-07 20:49</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="M_VyrdrisUM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/M_VyrdrisUM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Machine-Old Black Magic-1970-[DUTCH HARD ROCK]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/253sod">Machine - Old Black Magic [Norway - 1970]</a>
<br>
                        submitted <span class="muted">2014-05-09 04:46</span> by <a href="https://www.reddit.com/user/FreddieFreelance">/u/FreddieFreelance</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SFxxL0B5Xao">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SFxxL0B5Xao/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Status People - Groundhogs</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/26r9mh">Groundhogs - Status People [UK - 1970] - [3:34]</a>
<br>
                        submitted <span class="muted">2014-05-29 03:26</span> by <a href="https://www.reddit.com/user/thefriendcatcher">/u/thefriendcatcher</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="6Ec4RM3XBuc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/6Ec4RM3XBuc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Flow-It Swallowed The Sun</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/26ru2k">The Flow - It Swallowed The Sun</a>
<br>
                        submitted <span class="muted">2014-05-29 09:10</span> by <a href="https://www.reddit.com/user/SED1SED2">/u/SED1SED2</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1BNMAq0D9w4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1BNMAq0D9w4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Beautiful Scarlet - Rare Bird</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/26wh4a">Rare Bird - Beautiful Scarlet [England - 1969]</a>
<br>
                        submitted <span class="muted">2014-05-30 20:02</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="A9lZYkH2DuI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/A9lZYkH2DuI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">-Gabriela-Voy a dejar esta casa-</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/24hyk0">Gabriela - "Voy a dejar esta casa, papá" [Argentina - 1972]</a>
<br>
                        submitted <span class="muted">2014-05-01 23:34</span> by <a href="https://www.reddit.com/user/SED1SED2">/u/SED1SED2</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vHbcFGag1N4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vHbcFGag1N4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">GHOSTRIDER motorcycle hero SUICIDE</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/266n9k">Ghostrider Motorcycle Hero -- Suicide</a>
<br>
                        submitted <span class="muted">2014-05-22 04:46</span> by <a href="https://www.reddit.com/user/j3434">/u/j3434</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="z9bWecY-FfM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/z9bWecY-FfM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Tielman Brothers - Java Guitars / Warum weinst du, kleine Tamara? Indo-Rock 1962</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/26gsbw">The Tielman Brothers- Java Guitars [Germany - 1962]</a>
<br>
                        submitted <span class="muted">2014-05-25 19:46</span> by <a href="https://www.reddit.com/user/this_time_i_mean_it">/u/this_time_i_mean_it</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ALToqBguI7I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ALToqBguI7I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bazar Drabantbyrock</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/24wx40">Bazar - "Drabantbyrock" [Norway - 1974]</a>
<br>
                        submitted <span class="muted">2014-05-07 01:13</span> by <a href="https://www.reddit.com/user/FreddieFreelance">/u/FreddieFreelance</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jNSdGXk0Eps">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jNSdGXk0Eps/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Saft • Saft (Norway 1971)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/24mv2y">Saft - Min [Norway - 1971] - [2:56]</a>
<br>
                        submitted <span class="muted">2014-05-03 17:57</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="q2Bou4_9vJQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/q2Bou4_9vJQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sensory System - While Nixon Plays The Piano</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/253sur">Sensory System - "While Nixon Plays The Piano" [Denmark - 1974]</a>
<br>
                        submitted <span class="muted">2014-05-09 04:49</span> by <a href="https://www.reddit.com/user/FreddieFreelance">/u/FreddieFreelance</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="fMv3kjZR4Ac">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/fMv3kjZR4Ac/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Toad - Who Knows  (Live in Basel)  Part 01  1972</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/25qkp0">Toad - Who Knows (Hendrix cover) [Switzerland - 1972]</a>
<br>
                        submitted <span class="muted">2014-05-16 19:53</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RNnPYps-qHQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RNnPYps-qHQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black Hole - The Urinals</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/26mxi5">The Urinals - Black Hole [USA -1979]</a>
<br>
                        submitted <span class="muted">2014-05-27 20:41</span> by <a href="https://www.reddit.com/user/j3434">/u/j3434</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vqSNRICtnK8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vqSNRICtnK8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">"Sundae Sellers" by Freddy Lindquist (Norway, 1970)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/264qgm">Freddy Lindquist - Sundae Sellers [Norway - 1970]</a>
<br>
                        submitted <span class="muted">2014-05-21 16:39</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FxuUcXTPgzU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FxuUcXTPgzU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">HASHISH-Eve ( 70's Proto-Doom/Heavy Rock )</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/26ejnf">Hashish - Eve [UK? - 197?]</a>
<br>
                        submitted <span class="muted">2014-05-24 21:52</span> by <a href="https://www.reddit.com/user/this_time_i_mean_it">/u/this_time_i_mean_it</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="41-Dl6H5dD8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/41-Dl6H5dD8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Art Zoyd - something in love (1971)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/26jjzi">Art Zoyd - Something in Love [France - 1971]</a>
<br>
                        submitted <span class="muted">2014-05-26 19:21</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="J0jgcMp6wNU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/J0jgcMp6wNU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">St. Helena- Vi Vet(1973)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/253t6e">St. Helena - "Vi Vet" [Norway - 1973]</a>
<br>
                        submitted <span class="muted">2014-05-09 04:53</span> by <a href="https://www.reddit.com/user/FreddieFreelance">/u/FreddieFreelance</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xXd1cshNxEQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xXd1cshNxEQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lord Knows I've Won-Charlee</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/25ac52">Charlee - Lord Knows I've Won [Canada - 1972]</a>
<br>
                        submitted <span class="muted">2014-05-11 16:12</span> by <a href="https://www.reddit.com/user/El_Dumfuco">/u/El_Dumfuco</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="F3_JWOyHuOk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/F3_JWOyHuOk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Vox Pop - Just Like Your Mom</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/26k1bw">Vox Pop -- Just Like Your Mom ( circa 1980 ) Note* NSFW album cover art</a>
<br>
                        submitted <span class="muted">2014-05-26 22:23</span> by <a href="https://www.reddit.com/user/j3434">/u/j3434</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/monsterfuzz/">Monster Fuzz</a> archive:
    <a href="/genre/monsterfuzz/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/monsterfuzz/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/monsterfuzz/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/monsterfuzz/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/monsterfuzz/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'monsterfuzz';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>