<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Homeshake, So High I Can'T Look Down, Sunbeam Sound Machine, Tame Impala, Walter Tv | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/9tC-FOXioDo/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/neopsychedelia/2017/2/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="9tC-FOXioDo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9tC-FOXioDo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sunbeam Sound Machine - In Your Arms (Music Video)《Psychedelic Rock》</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5wift6">Sunbeam Sound Machine - In Your Arms (Music Video)[Psychedelic Rock]</a>
<br>
                        submitted <span class="muted">2017-02-27 18:33</span> by <a href="https://www.reddit.com/user/420laceit">/u/420laceit</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XK7bE6rFM6M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XK7bE6rFM6M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tame Impala - Nangs (Music Video) 《Psychedelic Rock》</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5uazc7">Tame Impala - Nangs (Music Video)</a>
<br>
                        submitted <span class="muted">2017-02-15 23:02</span> by <a href="https://www.reddit.com/user/420laceit">/u/420laceit</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="wO58IW5JTDk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/wO58IW5JTDk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Walter TV - Candles (Music Video)《Indie Rock》</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5vk418">Walter TV - Candles (Trippy Music Video)</a>
<br>
                        submitted <span class="muted">2017-02-22 17:44</span> by <a href="https://www.reddit.com/user/dinohielo">/u/dinohielo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7HQWT2UuDB4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7HQWT2UuDB4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">So High i Can't Look Down - Jesus on Heroine</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5rvvct">So High i Can't Look Down - Jesus on Heroine</a>
<br>
                        submitted <span class="muted">2017-02-03 19:11</span> by <a href="https://www.reddit.com/user/hombrebuffalo">/u/hombrebuffalo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="VmvX9u0ZvAw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/VmvX9u0ZvAw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Homeshake - Goodnight (Music Video)《Psychedelic Pop》</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5ryeyc">Homeshake - Goodnight (Music Video)[Psychedelic Pop]</a>
<br>
                        submitted <span class="muted">2017-02-04 03:05</span> by <a href="https://www.reddit.com/user/420laceit">/u/420laceit</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uLMtyZ3CBPE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uLMtyZ3CBPE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Walls are Blonde - Do You Want To Dance? 2016</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5rspmq">The Walls are Blonde - Do You Want To Dance? (Music Video)</a>
<br>
                        submitted <span class="muted">2017-02-03 08:07</span> by <a href="https://www.reddit.com/user/hello2015">/u/hello2015</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XDDgKh7AYt4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XDDgKh7AYt4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">DATASHOCK - HD_TRAILER (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5s254y">Datashock - HD_Trailer</a>
<br>
                        submitted <span class="muted">2017-02-04 18:28</span> by <a href="https://www.reddit.com/user/meudiademorte">/u/meudiademorte</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="75abgMuSbyU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/75abgMuSbyU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">BALTIMORE - Monotony</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5skj99">BALTIMORE - Monotony</a>
<br>
                        submitted <span class="muted">2017-02-07 09:53</span> by <a href="https://www.reddit.com/user/MartyGlitter">/u/MartyGlitter</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xm0lqNIBcaM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xm0lqNIBcaM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Trinity & Triage - "Travel By Whale"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5sume6">Trinity &amp; Triage - Travel By Whale (music video)</a>
<br>
                        submitted <span class="muted">2017-02-08 18:49</span> by <a href="https://www.reddit.com/user/schiztic">/u/schiztic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="E_I35g7qASM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/E_I35g7qASM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Painting Paradise - Zensation Compilation</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5vgpfb">Painting Paradise - Zensations</a>
<br>
                        submitted <span class="muted">2017-02-22 04:44</span> by <a href="https://www.reddit.com/user/drecckk">/u/drecckk</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-GOGb_xbVGI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-GOGb_xbVGI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Nothing More - Pyre (Lyrics in description)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5w7owy">Pyre-Nothing More. Song really starts at 3:00 but I urge you all to listen to the whole thing.</a>
<br>
                        submitted <span class="muted">2017-02-26 01:33</span> by <a href="https://www.reddit.com/user/whiskeyclouds">/u/whiskeyclouds</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="kMKH9SDPi8U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/kMKH9SDPi8U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Amanda Slåtten - Jachin & Boaz - 2017</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5wkdh6">Amanda Slåtten - Jachin &amp; Boaz - 2017 [Psychedelic Ambient Minimalism]</a>
<br>
                        submitted <span class="muted">2017-02-27 23:41</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/neopsychedelia/">Neo Psychedelia</a> archive:
    <a href="/genre/neopsychedelia/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/neopsychedelia/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/neopsychedelia/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/neopsychedelia/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/neopsychedelia/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/neopsychedelia/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'neopsychedelia';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>