<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Blink-182, Foo Fighters, King Missile, Luscious Jackson, R.E.M. | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/byDiILrNbM4/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/90salternative/2016/7/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="byDiILrNbM4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/byDiILrNbM4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">King Missile - Detachable Penis</h2>
                    <p><strong>Score:</strong> <span class="rd-score">63</span> - <a href="https://www.reddit.com/4vf7th">King Missile - Detachable Penis (1992)</a>
<br>
                        submitted <span class="muted">2016-07-31 02:17</span> by <a href="https://www.reddit.com/user/BestThirtySeconds">/u/BestThirtySeconds</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0NhqN0KcWAE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0NhqN0KcWAE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Luscious Jackson - Naked Eye</h2>
                    <p><strong>Score:</strong> <span class="rd-score">54</span> - <a href="https://www.reddit.com/4sq309">Naked Eye -- Luscious Jackson</a>
<br>
                        submitted <span class="muted">2016-07-13 23:13</span> by <a href="https://www.reddit.com/user/voltronforlife">/u/voltronforlife</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jWkMhCLkVOg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jWkMhCLkVOg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">R.E.M. - What's The Frequency, Kenneth? (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">46</span> - <a href="https://www.reddit.com/4ryrd1">R.E.M. - What's The Frequency, Kenneth?</a>
<br>
                        submitted <span class="muted">2016-07-09 04:22</span> by <a href="https://www.reddit.com/user/mattmacneil">/u/mattmacneil</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="EqWRaAF6_WY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/EqWRaAF6_WY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Foo Fighters - My Hero</h2>
                    <p><strong>Score:</strong> <span class="rd-score">42</span> - <a href="https://www.reddit.com/4v3g5n">My Hero -- Foo Fighters</a>
<br>
                        submitted <span class="muted">2016-07-28 22:46</span> by <a href="https://www.reddit.com/user/voltronforlife">/u/voltronforlife</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sT0g16_LQaQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sT0g16_LQaQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">blink-182 - Dammit</h2>
                    <p><strong>Score:</strong> <span class="rd-score">35</span> - <a href="https://www.reddit.com/4rptj3">Dammit -- Blink 182</a>
<br>
                        submitted <span class="muted">2016-07-07 17:33</span> by <a href="https://www.reddit.com/user/voltronforlife">/u/voltronforlife</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="gf1vC8ubnkY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/gf1vC8ubnkY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Prison Sex-Tool</h2>
                    <p><strong>Score:</strong> <span class="rd-score">34</span> - <a href="https://www.reddit.com/4vg0n0">Prison Sex-Tool</a>
<br>
                        submitted <span class="muted">2016-07-31 06:36</span> by <a href="https://www.reddit.com/user/gibbs9">/u/gibbs9</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QHpU0ZfXZ_g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QHpU0ZfXZ_g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Reel Big Fish - Take On Me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">33</span> - <a href="https://www.reddit.com/4skp27">Take On Me -- Reel Big Fish</a>
<br>
                        submitted <span class="muted">2016-07-13 02:00</span> by <a href="https://www.reddit.com/user/voltronforlife">/u/voltronforlife</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jRGrNDV2mKc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jRGrNDV2mKc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Korn - Freak On a Leash</h2>
                    <p><strong>Score:</strong> <span class="rd-score">30</span> - <a href="https://www.reddit.com/4uqw0t">Freak on a Leash -- Korn</a>
<br>
                        submitted <span class="muted">2016-07-26 20:52</span> by <a href="https://www.reddit.com/user/voltronforlife">/u/voltronforlife</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dZXUCHCLVag">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dZXUCHCLVag/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Spiderwebs by No Doubt with lyrics</h2>
                    <p><strong>Score:</strong> <span class="rd-score">29</span> - <a href="https://www.reddit.com/4t1p98">No Doubt - Spiderwebs</a>
<br>
                        submitted <span class="muted">2016-07-15 22:20</span> by <a href="https://www.reddit.com/user/RoseTheChief">/u/RoseTheChief</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sTJ7AzBIJoI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sTJ7AzBIJoI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Baz Luhrmann - Everybody's Free To Wear Sunscreen</h2>
                    <p><strong>Score:</strong> <span class="rd-score">28</span> - <a href="https://www.reddit.com/4rugtz">Baz Luhrmann - Everybody's Free To Wear Sunscreen</a>
<br>
                        submitted <span class="muted">2016-07-08 12:42</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2up7su7CeMU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2up7su7CeMU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Whale - Hobo Humpin Slobo Babe</h2>
                    <p><strong>Score:</strong> <span class="rd-score">28</span> - <a href="https://www.reddit.com/4vc7gc">Whale - Hobo Humpin Slobo Babe</a>
<br>
                        submitted <span class="muted">2016-07-30 14:10</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="VdAt4qWvz_8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/VdAt4qWvz_8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Squirrel Nut Zippers "Put A Lid On It"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">26</span> - <a href="https://www.reddit.com/4s8lhw">Squirrel Nut Zippers - Put A Lid On It</a>
<br>
                        submitted <span class="muted">2016-07-11 01:57</span> by <a href="https://www.reddit.com/user/pleasepassthejellay">/u/pleasepassthejellay</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IQfwgzoiq4c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IQfwgzoiq4c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Beck - Sexx Laws</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/4tzc6e">Sexx Laws -- Beck</a>
<br>
                        submitted <span class="muted">2016-07-21 21:29</span> by <a href="https://www.reddit.com/user/voltronforlife">/u/voltronforlife</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="PRFJoUBP54o">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/PRFJoUBP54o/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Marilyn Manson - Lunchbox</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/4u57p7">Marilyn Manson - Lunchbox</a>
<br>
                        submitted <span class="muted">2016-07-22 21:54</span> by <a href="https://www.reddit.com/user/Bizkitgto">/u/Bizkitgto</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="iKXm_la9M1A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/iKXm_la9M1A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hum - Stars (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/4vc75w">Hum - Stars (Official Music Video)</a>
<br>
                        submitted <span class="muted">2016-07-30 14:08</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="kkcbxjWG9Mc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/kkcbxjWG9Mc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Everclear - Father Of Mine</h2>
                    <p><strong>Score:</strong> <span class="rd-score">23</span> - <a href="https://www.reddit.com/4tduqa">Everclear - Father Of Mine</a>
<br>
                        submitted <span class="muted">2016-07-18 06:38</span> by <a href="https://www.reddit.com/user/gibbs9">/u/gibbs9</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Du8VGeFwVJU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Du8VGeFwVJU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jane's Addiction - Classic Girl (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">23</span> - <a href="https://www.reddit.com/4trchw">Jane's Addiction - Classic Girl (Official Video)</a>
<br>
                        submitted <span class="muted">2016-07-20 14:20</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ODTv9Lt5WYs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ODTv9Lt5WYs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Alice In Chains - I Stay Away</h2>
                    <p><strong>Score:</strong> <span class="rd-score">20</span> - <a href="https://www.reddit.com/4r5b27">Alice in Chains - I Stay Away [1994]</a>
<br>
                        submitted <span class="muted">2016-07-04 03:24</span> by <a href="https://www.reddit.com/user/40_JAGERBOMBS">/u/40_JAGERBOMBS</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QZb4Uk9jlGA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QZb4Uk9jlGA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Beauty of the Ride - Sebadoh</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/4uwqt2">Sebadoh- Beauty Of The Ride</a>
<br>
                        submitted <span class="muted">2016-07-27 20:23</span> by <a href="https://www.reddit.com/user/michaelnoir">/u/michaelnoir</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZX0mcases4M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZX0mcases4M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The KLF - Justified And Ancient  (1991)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/4t58no">The KLF - Justified And Ancient (1991)</a>
<br>
                        submitted <span class="muted">2016-07-16 16:26</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZYM2u8xl-yk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZYM2u8xl-yk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Letters To Cleo - Awake</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/4us3r6">Letters To Cleo - Awake</a>
<br>
                        submitted <span class="muted">2016-07-27 01:16</span> by <a href="https://www.reddit.com/user/IGaveYouMyEdge">/u/IGaveYouMyEdge</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="MU16VsOIjL4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MU16VsOIjL4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Air-Conditioned Nightmare</h2>
                    <p><strong>Score:</strong> <span class="rd-score">15</span> - <a href="https://www.reddit.com/4qpves">Mr. Bungle - The Air-Conditioned Nightmare</a>
<br>
                        submitted <span class="muted">2016-07-01 04:17</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Xl-pn_bTwdQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Xl-pn_bTwdQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sugar -  Gift</h2>
                    <p><strong>Score:</strong> <span class="rd-score">15</span> - <a href="https://www.reddit.com/4swq1o">Sugar - Gift</a>
<br>
                        submitted <span class="muted">2016-07-15 01:13</span> by <a href="https://www.reddit.com/user/Ultraman666">/u/Ultraman666</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RokyGRQP0no">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RokyGRQP0no/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">R.E.M - Try not to Breathe</h2>
                    <p><strong>Score:</strong> <span class="rd-score">14</span> - <a href="https://www.reddit.com/4rrvug">R.E.M. - Try Not to Breathe</a>
<br>
                        submitted <span class="muted">2016-07-08 00:31</span> by <a href="https://www.reddit.com/user/mattmacneil">/u/mattmacneil</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="gmD08Na5VKI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/gmD08Na5VKI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ned's Atomic Dustbin - Happy</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/4t9y4o">Ned's Atomic Dustbin - Happy</a>
<br>
                        submitted <span class="muted">2016-07-17 14:56</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="_Nt5by-TsUw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_Nt5by-TsUw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Moby 'That's When I Reach For My Revolver'</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/4v7hwn">Moby - That's When I Reach For My Revolver</a>
<br>
                        submitted <span class="muted">2016-07-29 16:39</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Bm29Ro97epU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Bm29Ro97epU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Crazy Taxi - All I Want by The Offspring</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/4rqhvz">The Offspring - All I Want</a>
<br>
                        submitted <span class="muted">2016-07-07 19:41</span> by <a href="https://www.reddit.com/user/RoseTheChief">/u/RoseTheChief</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="S5UBYOv1G9A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/S5UBYOv1G9A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Aphex Twin - Digeridoo (1080p HD/HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/4v7irg">Aphex Twin - Digeridoo</a>
<br>
                        submitted <span class="muted">2016-07-29 16:44</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="E-IVfXInK4s">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/E-IVfXInK4s/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Red Hot Chili Peppers - Pretty Little Ditty (HD)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/4r03t2">Red Hot Chili Peppers - Pretty Little Ditty (HD)</a>
<br>
                        submitted <span class="muted">2016-07-03 01:53</span> by <a href="https://www.reddit.com/user/Bizkitgto">/u/Bizkitgto</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dbLYZ8FZzrU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dbLYZ8FZzrU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">A Head With Wings</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/4qpw9p">Morphine - A Head With Wings</a>
<br>
                        submitted <span class="muted">2016-07-01 04:23</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="J4OvQlTwsHs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/J4OvQlTwsHs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Divine Comedy : Lucy (album version)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/4t97f8">The Divine Comedy - Lucy</a>
<br>
                        submitted <span class="muted">2016-07-17 11:01</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vPJ2rcYQC88">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vPJ2rcYQC88/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Tragically Hip - Little Bones</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/4rprwj">The Tragically Hip - Little Bones</a>
<br>
                        submitted <span class="muted">2016-07-07 17:25</span> by <a href="https://www.reddit.com/user/Bizkitgto">/u/Bizkitgto</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LWAmY1at3xc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LWAmY1at3xc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Green Day - Geek Stink Breath - [HQ]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/4rsiej">Green Day - Geek Stink Breath</a>
<br>
                        submitted <span class="muted">2016-07-08 02:53</span> by <a href="https://www.reddit.com/user/mattmacneil">/u/mattmacneil</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QIkrAki-ssQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QIkrAki-ssQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Splendora - Rat Fink</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/4rsywf">Splendora - Rat Fink</a>
<br>
                        submitted <span class="muted">2016-07-08 04:45</span> by <a href="https://www.reddit.com/user/mattmacneil">/u/mattmacneil</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="f9uLG6LgXW4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/f9uLG6LgXW4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Believe Me - Moist</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/4s3f66">Believe Me - Moist</a>
<br>
                        submitted <span class="muted">2016-07-10 01:52</span> by <a href="https://www.reddit.com/user/Lostagainalbatross">/u/Lostagainalbatross</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9zZfBBp-j6I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9zZfBBp-j6I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Moby - When It's Cold I'd Like To Die (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/4u7uv0">Moby - When It's Cold I'd Like To Die (Official Video)</a>
<br>
                        submitted <span class="muted">2016-07-23 11:24</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8wMq-uHboZg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8wMq-uHboZg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Odds-Truth Untold</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/4uwt97">The Odds - Truth Untold</a>
<br>
                        submitted <span class="muted">2016-07-27 20:35</span> by <a href="https://www.reddit.com/user/cookizzamonster">/u/cookizzamonster</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="K6lOtZdadpI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/K6lOtZdadpI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Rocketpop</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/4rtv4x">Tripping Daisy - Rocketpop</a>
<br>
                        submitted <span class="muted">2016-07-08 09:29</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ovWMpVMZK_c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ovWMpVMZK_c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">swirlies - two girls kissing</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4qybpi">The Swirlies - Two Girls Kissing</a>
<br>
                        submitted <span class="muted">2016-07-02 18:15</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="B32yjbCSVpU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/B32yjbCSVpU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ugly Kid Joe - Cats In The Cradle</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4ra19m">Ugly Kid Joe - Cats In The Cradle</a>
<br>
                        submitted <span class="muted">2016-07-05 00:11</span> by <a href="https://www.reddit.com/user/oldwhitelincoln">/u/oldwhitelincoln</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="thmsJEK5TXU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/thmsJEK5TXU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Babes in Toyland - To Mother 01 Catatonic</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4s624b">Babes in Toyland - Catatonic</a>
<br>
                        submitted <span class="muted">2016-07-10 16:08</span> by <a href="https://www.reddit.com/user/oldwhitelincoln">/u/oldwhitelincoln</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="svABrRXAa04">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/svABrRXAa04/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Man or Astroman? Destination Venus</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4sxwwu">Man Or Astro-Man? - Destination Venus</a>
<br>
                        submitted <span class="muted">2016-07-15 06:59</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="V2hBIK5QrhY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/V2hBIK5QrhY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Someday I Will Treat You Good</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4vbhr1">Sparklehorse - Someday I Will Treat You Good</a>
<br>
                        submitted <span class="muted">2016-07-30 09:56</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ws0IyStJ3_I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ws0IyStJ3_I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Muffs - Become Undone</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4vcqwv">The Muffs - Become Undone</a>
<br>
                        submitted <span class="muted">2016-07-30 16:24</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RkeCX62tbxk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RkeCX62tbxk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dig - Believe (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4ve2cs">Dig - Believe</a>
<br>
                        submitted <span class="muted">2016-07-30 21:24</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tIriSoch9rE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tIriSoch9rE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Orbit - Medicine</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4ve30y">Orbit - Medicine</a>
<br>
                        submitted <span class="muted">2016-07-30 21:28</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0x8mKsGQeBs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0x8mKsGQeBs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">You Have To Be Joking (Autopsy Of The Devil's Brain)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4qotvo">The Flaming Lips - You Have to Be Joking (Autopsy of the Devil's Brain)</a>
<br>
                        submitted <span class="muted">2016-07-01 00:03</span> by <a href="https://www.reddit.com/user/atticus138">/u/atticus138</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="klk6syaZA7k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/klk6syaZA7k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hive - Ultrasonic Sound</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4r6jsl">Hive - Ultrasonic Sound</a>
<br>
                        submitted <span class="muted">2016-07-04 09:55</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="T26g7Uax-JM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/T26g7Uax-JM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ash - Cantina Band</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4s2wad">Ash - Cantina Band</a>
<br>
                        submitted <span class="muted">2016-07-09 23:33</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FOb1tz6Xow0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FOb1tz6Xow0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The High-More 1990 Promo Video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4svmco">The High - More</a>
<br>
                        submitted <span class="muted">2016-07-14 21:06</span> by <a href="https://www.reddit.com/user/M_D_E">/u/M_D_E</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KCC9mmFjRyI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KCC9mmFjRyI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cake</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4tyou6">Shiner: Cake</a>
<br>
                        submitted <span class="muted">2016-07-21 19:14</span> by <a href="https://www.reddit.com/user/battleaxemoana">/u/battleaxemoana</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ap_iRDuoFzc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ap_iRDuoFzc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pork roll egg and cheese</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4rtvfq">Ween - Pork Roll Egg And Cheese</a>
<br>
                        submitted <span class="muted">2016-07-08 09:32</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="b4LGz86DpX8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/b4LGz86DpX8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gráinne Quick Humphrys w/ CO-STAR ~ 'Vanilla Essence'</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4s2hk5">Co-Star - Vanilla Essence</a>
<br>
                        submitted <span class="muted">2016-07-09 21:56</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="GgyS74IKxAE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/GgyS74IKxAE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Charlatans - Sproston Green</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4svliw">The Charlatans - Sproston Green</a>
<br>
                        submitted <span class="muted">2016-07-14 21:02</span> by <a href="https://www.reddit.com/user/M_D_E">/u/M_D_E</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="a_XO5sHn1tw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/a_XO5sHn1tw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pavement - Rattled by the Rush</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4t28up">Pavement</a>
<br>
                        submitted <span class="muted">2016-07-16 00:27</span> by <a href="https://www.reddit.com/user/Ultraman666">/u/Ultraman666</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NLJnDU-_FiU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NLJnDU-_FiU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jason Falkner - I Go Astray</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/4s5wr9">Jason Falkner - I Go Astray</a>
<br>
                        submitted <span class="muted">2016-07-10 15:32</span> by <a href="https://www.reddit.com/user/Bokonon78">/u/Bokonon78</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-JRlhIOKAqE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-JRlhIOKAqE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sidewinder</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/4se6l8">The Venus Fly Trap - Sidewinder</a>
<br>
                        submitted <span class="muted">2016-07-12 00:21</span> by <a href="https://www.reddit.com/user/SecondHandEmotion">/u/SecondHandEmotion</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="geJ9mAhOP8M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/geJ9mAhOP8M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Five Thirty - 13th Disciple</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/4svm27">Five Thirty - 13th Disciple</a>
<br>
                        submitted <span class="muted">2016-07-14 21:04</span> by <a href="https://www.reddit.com/user/M_D_E">/u/M_D_E</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5Ma0XMGCuko">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5Ma0XMGCuko/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Morticia</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/4sxw0d">Combustible Edison - Morticia</a>
<br>
                        submitted <span class="muted">2016-07-15 06:51</span> by <a href="https://www.reddit.com/user/AnotherWeirdOrdeal">/u/AnotherWeirdOrdeal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="rFWSHcxu3hM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/rFWSHcxu3hM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Frank Black - Tossed</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/4u3h44">Frank Black - Tossed</a>
<br>
                        submitted <span class="muted">2016-07-22 16:01</span> by <a href="https://www.reddit.com/user/nidriks">/u/nidriks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="_53uWFIxJAw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_53uWFIxJAw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Galaxie 500 - Fourth of July</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4r6pn5">Galaxie 500 - Fourth of July</a>
<br>
                        submitted <span class="muted">2016-07-04 10:52</span> by <a href="https://www.reddit.com/user/roadtrip-ne">/u/roadtrip-ne</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="prnwVMFwLNk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/prnwVMFwLNk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pitchblende - Shepherdess Music Video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4s02jq">Pitchblende - Shepherdess (1993)</a>
<br>
                        submitted <span class="muted">2016-07-09 12:16</span> by <a href="https://www.reddit.com/user/throwawayokyeah12">/u/throwawayokyeah12</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jD_6eD2puOg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jD_6eD2puOg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Spy Vs Spy - Combustible Edison</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4sxvgr">Combustible Edison - Spy Vs Spy</a>
<br>
                        submitted <span class="muted">2016-07-15 06:45</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pSCm3SiAjB0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pSCm3SiAjB0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Red Hot Chili Peppers - Californication solo (John Frusciante) cover</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4u7g3z">This is my Red Hot Chili Peppers - Californication solo cover</a>
<br>
                        submitted <span class="muted">2016-07-23 08:37</span> by <a href="https://www.reddit.com/user/Inted">/u/Inted</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/90salternative/">90s Alternative</a> archive:
    <a href="/genre/90salternative/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = '90salternative';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>