<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Bad Brains, Descendents, The Lawrence Arms, The Menzingers, The Offspring | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/o9_1eF-N7CE/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/punk_rock/2013/7/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="o9_1eF-N7CE">The Slowest Drink at the Saddest Bar on the Snowiest Day in the Greatest City by The Lawrence Arms</li>
            <li class="record" id="BTwSy9tpEOM">Descendents - Silly Girl</li>
            <li class="record" id="Xe13yScDaYs">The Menzingers - Nice Things + Sunday Morning (3-26-11)</li>
            <li class="record" id="aWWI2rGdda4">Bad Brains - Attitude</li>
            <li class="record" id="kaDMYqUbOPU">Johnny Hobo And The Freight Trains -  Whiskey is my Kind of Lullaby</li>
            <li class="record" id="PkRJzErnRmY">The Offspring -  Cool to Hate</li>
            <li class="record" id="lruqRN2SX54">Direct Hit! - Boredom Addict</li>
            <li class="record" id="8kAiQiz_XDs">X - Los Angeles (music video)</li>
            <li class="record" id="lgSLz5FeXUg">Misfits - Dig Up Her Bones</li>
            <li class="record" id="Y0BvGu27xrs">HEARTSOUNDS - LP#3 Studio Video Update</li>
            <li class="record" id="HjYlW8HE_Vw">Tartar Control - Diabolical</li>
            <li class="record" id="PhUO6FZoJJk">Tartar Control - Jesus Is Love</li>
            <li class="record" id="0Tn6971mDlQ">pulley-barf.wmv</li>
            <li class="record" id="WuUfRfzwMZw">BAD RELIGION - FullSet [1080p] Paris - 26/06/2013</li>
            <li class="record" id="V5ieROgJ5jc">Walking Revolution - Destroy What Destroys You - Against All Authority</li>
            <li class="record" id="6eMWMNJr3Cs">Gang Green - Sold Out</li>
            <li class="record" id="7JoragB_1k0">All - Excuses [HI-DEF]</li>
            <li class="record" id="AbBeomD20n4">MINUTEMEN - The Glory Of Man Live + interview</li>
            <li class="record" id="13HFiPpbKpk">The Black Pacific "Living With Ghosts"</li>
            <li class="record" id="uZ0Nnqdx_BI">False Prophets - Scorched Earth</li>
            <li class="record" id="w-MEfg1Op68">NOFX - My Name's Bud</li>
            <li class="record" id="kKk5yTUKTPU">Spitting On Cops - This Ain't My First Rodeo</li>
            <li class="record" id="EnqJrVwCwhY">The Expelled - Waiting for Tomorrow</li>
            <li class="record" id="qLG4Z7NXBN0">Black Flag "TV Party" [Middle East, Cambridge MA] 6/13/13</li>
            <li class="record" id="SGJFWirQ3ks">Fugazi -  Waiting Room</li>
            <li class="record" id="QON-I9531bI">Tim Raldo & the Filthy Fuks - Destination: Planet Piss</li>
            <li class="record" id="XdZB4Ud51HQ">The Libertines - Don't Look Back Into Sun (with lyrics in description)</li>
            <li class="record" id="YM_9qGSOTnk">NOFX & The Spits - Split 7 (2010)</li>
            <li class="record" id="LoF_a0-7xVQ">Suicidal Tendencies - "Institutionalized" Frontier Records</li>
            <li class="record" id="_jy04ACD030">Dead Kennedys - "Police Truck" (Live)</li>
            <li class="record" id="xSYXF8zOXZE">SS-Kaliert - Der Virus (The Virus)</li>
            <li class="record" id="w40dewpFFsU">The Mahlors 10-5-12 (1)</li>
            <li class="record" id="bkk0YhuSQNk">Generation 25 LIVE!</li>
            <li class="record" id="9wJ1-jdVYuc">Rawside - Good night white pride (Loikaemie cover)</li>
            <li class="record" id="m5sO_2AJvck">SACRED ORDER - The Right to Be Poor and Radical</li>
            <li class="record" id="JQaUtizFSaI">The Stanfields - Ship to Shore (Official Video)</li>
            <li class="record" id="ThKkDD-khm4">Cigar - Weight Of The World</li>
            <li class="record" id="e7-jRmNIRJU">No Talent Ass Clowns - Shop At Wal-Mart</li>
            <li class="record" id="Y0wcwq5dYZE">The FLEX - Demo 2012</li>
            <li class="record" id="ezrDHpVvgo4">Jayne Doe - As The World Turns</li>
            <li class="record" id="qujvx-XHKmI">NOFX - Vanilla Sex</li>
            <li class="record" id="jiBmCeORl6A">Dangerous! - "Big Muff" Garage Jams</li>
            <li class="record" id="wbfbkGV57FA">Black Flag - Jealous Again [Full Ep]</li>
            <li class="record" id="1Nz0OtXSuzo">ESE - Satan's Sinners</li>
            <li class="record" id="bRwBfXlPavA">Britney Spears - Hold it against me (Cover by Ructions Feat. Laurence Pagé)</li>
            <li class="record" id="X0snatjERlM">Transplants It's A Problem Ft. Paul Wall Screwed And Chopped DJ TЯApH0UsE</li>
            <li class="record" id="3ZsPFeX73TM">Shirts Vs. Skins - It Was Snowing(And You Suck)(OFFICIAL HD MUSIC VIDEO)</li>
    </ol>
</div>

<div class="container">
<a href="/genre/punk_rock/">Punk Rock</a> archive:
    <a href="/genre/punk_rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5/dist/vue-resource.min.js"></script>
<script>
var genre = 'punk_rock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>