<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Arch Enemy, Devin Townsend, Signed In Crimson, The Shiver, Tight Leash | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/tc-p93x5rPQ/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/ladiesofmetal/2014/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="tc-p93x5rPQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tc-p93x5rPQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">ARCH ENEMY - No More Regrets (OFFICIAL VIDEO)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/27surq">ARCH ENEMY - No More Regrets (OFFICIAL VIDEO)</a>
<br>
                        submitted <span class="muted">2014-06-10 17:18</span> by <a href="https://www.reddit.com/user/brandon_g1234">/u/brandon_g1234</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Mf4_LB32M6Q">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Mf4_LB32M6Q/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Devin Townsend  Hyperdrive</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/2739dn">Devin Townsend - Hyperdrive! (with Anneke Van Giersbergen)</a>
<br>
                        submitted <span class="muted">2014-06-02 05:45</span> by <a href="https://www.reddit.com/user/TheLemonKnight">/u/TheLemonKnight</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hFKEIcKky98">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hFKEIcKky98/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Shiver - Ocean</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/27jcb1">The Shiver - Ocean</a>
<br>
                        submitted <span class="muted">2014-06-07 08:18</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="F-Uw7Gwu1mI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/F-Uw7Gwu1mI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tight Leash - Hedonism</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/28axrk">Tight Leash - Hedonism</a>
<br>
                        submitted <span class="muted">2014-06-16 19:17</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="A5pSfOJo7Tg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/A5pSfOJo7Tg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Signed In Crimson - The More That You Scream</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/2738eg">Signed In Crimson - The More That You Scream</a>
<br>
                        submitted <span class="muted">2014-06-02 05:30</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="C3ttxEPAkhc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/C3ttxEPAkhc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Twilight Mystery - Моя Весна</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/276544">Twilight Mystery - Moja Vesna</a>
<br>
                        submitted <span class="muted">2014-06-03 03:00</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tDU9cha1AIY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tDU9cha1AIY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">‪8th Floor‬ - รัตติกาล [MV]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/2765hs">‪8th Floor‬ - Rạttikāl</a>
<br>
                        submitted <span class="muted">2014-06-03 03:04</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="paB972Exy0k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/paB972Exy0k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Kandia - Scars [Official Video]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/287ivy">Kandia - Scars</a>
<br>
                        submitted <span class="muted">2014-06-15 16:13</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="nneYpx5bk60">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/nneYpx5bk60/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Veruca Salt - The Museum Of Broken Relationships</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/28hg3l">Veruca Salt - The Museum of Broken Relationships (New song!!)</a>
<br>
                        submitted <span class="muted">2014-06-18 19:08</span> by <a href="https://www.reddit.com/user/raging_slab">/u/raging_slab</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RIVsEfASyt0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RIVsEfASyt0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">TEMPERANCE - 'Breathe' official video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/2738id">Temperance - Breathe</a>
<br>
                        submitted <span class="muted">2014-06-02 05:31</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="E0r2d5xPFOo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/E0r2d5xPFOo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Royal Thunder "Whispering World" | indieATL Session</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/2765uo">Royal Thunder - "Whispering World" [3:47]</a>
<br>
                        submitted <span class="muted">2014-06-03 03:08</span> by <a href="https://www.reddit.com/user/Khthonic">/u/Khthonic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xNs8Z6W7Y8Y">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xNs8Z6W7Y8Y/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">AMBERIAN DAWN - Magic Forest (Official Video) | Napalm Records</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/278tkc">Amberian Dawn - Magic Forest</a>
<br>
                        submitted <span class="muted">2014-06-03 23:11</span> by <a href="https://www.reddit.com/user/dltracrn">/u/dltracrn</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="PQeY2tiC2GQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/PQeY2tiC2GQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Aura - Призрак Судьбы</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/27eeth">Aura - Prizrak Sudjby</a>
<br>
                        submitted <span class="muted">2014-06-05 17:54</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xkNuG8Wmg5c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xkNuG8Wmg5c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Villieläin - Voittamaton</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/27ltgh">Villieläin - Voittamaton</a>
<br>
                        submitted <span class="muted">2014-06-08 07:32</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IEXNBg3hRnQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IEXNBg3hRnQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bronze Honey - Wheels of Capitalism [OFFICIAL VIDEO] HD</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/27lti5">Bronze Honey - Wheels of Capitalism</a>
<br>
                        submitted <span class="muted">2014-06-08 07:33</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1SU1E-B3aIE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1SU1E-B3aIE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">DeadLock - To Where The Skies Are Blue</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/27ob0t">DeadLock - To Where The Skies Are Blue (3:49)</a>
<br>
                        submitted <span class="muted">2014-06-09 05:14</span> by <a href="https://www.reddit.com/user/raging_slab">/u/raging_slab</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="cKhEyaPuaHM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/cKhEyaPuaHM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ember Sea - Black Birds</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/270kkb">Ember Sea - Black Birds</a>
<br>
                        submitted <span class="muted">2014-06-01 07:08</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jHyvGMg6KbI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jHyvGMg6KbI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Beyond Violet - Survivors - Official music video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/2738g9">Beyond Violet - Survivors</a>
<br>
                        submitted <span class="muted">2014-06-02 05:30</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="MzIQSfSpDbI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MzIQSfSpDbI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Anathema- Everwake.</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/273uiy">Anathema - Everwake [2:41] (1992)</a>
<br>
                        submitted <span class="muted">2014-06-02 12:40</span> by <a href="https://www.reddit.com/user/YouKnoWudditiz">/u/YouKnoWudditiz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="UBlbvpBmcrI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/UBlbvpBmcrI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Руян (Ruyan) - Забвение (Zabvenie)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/27jccc">Ruyan - Zabvenie</a>
<br>
                        submitted <span class="muted">2014-06-07 08:19</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="GFraMt8916I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/GFraMt8916I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Elessär- Ice Queen (Official)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/27jcdd">Elessär - Ice Queen</a>
<br>
                        submitted <span class="muted">2014-06-07 08:19</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NI8Xrup5akw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NI8Xrup5akw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Mariana Hollow "Your Halo" Official Music Video HD</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/287iu6">The Mariana Hollow - Your Halo</a>
<br>
                        submitted <span class="muted">2014-06-15 16:12</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zLXoRIGOr0M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zLXoRIGOr0M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Eternal Essence - Rise Above</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/287j0c">Eternal Essence - Rise Above</a>
<br>
                        submitted <span class="muted">2014-06-15 16:14</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BE0Awh-6mCI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BE0Awh-6mCI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Luminous Shade - Reverence</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/270kc3">Luminous Shade - Reverence</a>
<br>
                        submitted <span class="muted">2014-06-01 07:03</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="rRlODfh6nBE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/rRlODfh6nBE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Märchenbilder - Follow the trail of fear</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/270khn">Märchenbilder - Follow the trail of fear</a>
<br>
                        submitted <span class="muted">2014-06-01 07:06</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-MoIHwyRuCs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-MoIHwyRuCs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Revontulet - The Pianist of the Darkest Night (Official Lyric Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27658u">Revontulet - The Pianist of the Darkest Night</a>
<br>
                        submitted <span class="muted">2014-06-03 03:01</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="gMF19edN0QI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/gMF19edN0QI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">INSATIA - Image of Stone (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27bmvu">INSATIA - Image of Stone</a>
<br>
                        submitted <span class="muted">2014-06-04 20:41</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="oqcwvtI7SG0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/oqcwvtI7SG0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lunar Path - Deadweight</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27ltea">Lunar Path - Deadweight</a>
<br>
                        submitted <span class="muted">2014-06-08 07:30</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="TBqoHfeRNaE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/TBqoHfeRNaE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Damone - Out Here All Night</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27lvng">Damone - Out Here All Night (3:18)</a>
<br>
                        submitted <span class="muted">2014-06-08 08:29</span> by <a href="https://www.reddit.com/user/raging_slab">/u/raging_slab</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vR8eCF6PBuY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vR8eCF6PBuY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Viper Solfa - Whispers and Storms</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27obwk">Viper Solfa - Whispers and Storms (4:59)</a>
<br>
                        submitted <span class="muted">2014-06-09 05:28</span> by <a href="https://www.reddit.com/user/raging_slab">/u/raging_slab</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="MiOvu_o-hw0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MiOvu_o-hw0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Orestea - The Game (OFFICIAL VIDEO)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27zc2a">Orestea - The Game</a>
<br>
                        submitted <span class="muted">2014-06-12 17:44</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bObvMWcOE3k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bObvMWcOE3k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">El Cuervo de Poe - La Semilla de la Vida (Video Oficial)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/27zc9b">El Cuervo de Poe - La Semilla de la Vida</a>
<br>
                        submitted <span class="muted">2014-06-12 17:46</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JWiYxkyYhQU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JWiYxkyYhQU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Under Heaven - Die A Little More - Slide Show</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/284luh">Under Heaven - Die A Little More</a>
<br>
                        submitted <span class="muted">2014-06-14 12:46</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2ArTUV2NGKc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2ArTUV2NGKc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Venus Meadow - Queen Of Heart</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/284m91">Venus Meadow - Queen Of Heart</a>
<br>
                        submitted <span class="muted">2014-06-14 12:54</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="yHf5yGKYub4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/yHf5yGKYub4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Siren's Legacy - Mistress Wind (Drum Playthrough)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/28ax3o">Siren's Legacy - Mistress Wind</a>
<br>
                        submitted <span class="muted">2014-06-16 19:11</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="V_A4G1jkw24">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/V_A4G1jkw24/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Pretty Reckless - Messed Up World (F'd Up World)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/28fc22">The Pretty Reckless - Messed Up World</a>
<br>
                        submitted <span class="muted">2014-06-18 02:20</span> by <a href="https://www.reddit.com/user/dltracrn">/u/dltracrn</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vg_DJqHYluQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vg_DJqHYluQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sorronia - Enemy of Yourself [Official video]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/27blf1">Sorronia - Enemy of Yourself</a>
<br>
                        submitted <span class="muted">2014-06-04 20:27</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="qnB_x0ycQbs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/qnB_x0ycQbs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">AEVERIUM - "Ground Beneath Your Feet" LIVE @ Süchteln Brennt 2014</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/27eejp">AEVERIUM - Ground Beneath Your Feet</a>
<br>
                        submitted <span class="muted">2014-06-05 17:52</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XUn9_DZGizc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XUn9_DZGizc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Agharti - Away from Here</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/27eewj">Agharti - Away from Here</a>
<br>
                        submitted <span class="muted">2014-06-05 17:55</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="99_7YCl1Lvo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/99_7YCl1Lvo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">PORCELAIN BLACK - Porcelain And The Tramps (Full EP HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/27od08">Couldn't choose just one so here's Porcelain And The Tramps Full EP from around '07 (43:29)</a>
<br>
                        submitted <span class="muted">2014-06-09 05:45</span> by <a href="https://www.reddit.com/user/raging_slab">/u/raging_slab</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="MHRfB0oq7ic">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MHRfB0oq7ic/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">My Reflection - Let The Rain Come Down</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/284lr0">My Reflection - Let The Rain Come Down</a>
<br>
                        submitted <span class="muted">2014-06-14 12:44</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="TdiJqLuyIyw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/TdiJqLuyIyw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Modified - Die To Resist</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/28axcv">Modified - Die To Resist</a>
<br>
                        submitted <span class="muted">2014-06-16 19:13</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FfD6lo_7o0U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FfD6lo_7o0U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Madder Mortem - My Name Is Silence</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/29dpef">Agnete M. Kirkevaag: Madder Mortem - My Name Is Silence</a>
<br>
                        submitted <span class="muted">2014-06-29 08:06</span> by <a href="https://www.reddit.com/user/RichKatz">/u/RichKatz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="cJoXhCFDJdc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/cJoXhCFDJdc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tantrum To Blind - Big City Silence (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/27blcw">Tantrum To Blind - Big City Silence</a>
<br>
                        submitted <span class="muted">2014-06-04 20:27</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Wv2k1ufohJg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Wv2k1ufohJg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ancestral Sign, In the Darkness</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/27blpt">Ancestral Sign - In the Darkness</a>
<br>
                        submitted <span class="muted">2014-06-04 20:30</span> by <a href="https://www.reddit.com/user/pointer_void">/u/pointer_void</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="k31IUbqhVC0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/k31IUbqhVC0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Edenian - Burning Horizon</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/27bm7s">Edenian - Burning Horizon</a>
<br>
                        submitted <span class="muted">2014-06-04 20:35</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uFO5W4hSTDs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uFO5W4hSTDs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tarja 'Neverlight (Full Orchestra Version)' taken from 'Left In The Dark'</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/295hzr">Tarja - Neverlight (Full Orchestra Version)</a>
<br>
                        submitted <span class="muted">2014-06-26 14:39</span> by <a href="https://www.reddit.com/user/dltracrn">/u/dltracrn</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5F5PO8hhsBk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5F5PO8hhsBk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tengger Cavalry - Homeland Song</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/2999f0">Tengger Cavalry - Homeland Song [3:39] (Chinese Folk Metal)</a>
<br>
                        submitted <span class="muted">2014-06-27 17:39</span> by <a href="https://www.reddit.com/user/Khthonic">/u/Khthonic</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/ladiesofmetal/">Ladies of Metal</a> archive:
    <a href="/genre/ladiesofmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/ladiesofmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/ladiesofmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/ladiesofmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/ladiesofmetal/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'ladiesofmetal';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>