<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Punk Rock playlist for 9/2014 | Punk'n'Roll</title>
        <meta name="description" content="Including: Alkaline Trio, Ann Beretta, Anti-Flag, Backside, Billy Talent, Good Riddance, New Girl, Rise Against, The Clash, The Menzingers.">
        <meta property="og:image" content="https://i.ytimg.com/vi/fExADw67zZE/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/punk_rock/2014/9/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li><a href="/playlist/">Playlists</a></li>
                <li><a href="https://www.mixcloud.com/punknroll/">Podcast</a></li>
            </ul>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">▶</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="fExADw67zZE">New Girl - Suicide Machines - WITH LYRICS !</li>
            <li class="record" id="EHmUjy-uRFo">Billy Talent - Red Flag Official Video</li>
            <li class="record" id="SFkANvtxLoY">Anti-Flag - Die For Your Government</li>
            <li class="record" id="4kFjZ0o0ENg">The Clash - Police And Thieves (Live in Munich - 1977)</li>
            <li class="record" id="qBO4ExIHxaU">Rise Against live in early 2003</li>
            <li class="record" id="n2DUK2syqko">Alkaline Trio "Cringe" Guitar Center Sessions on DIRECTV</li>
            <li class="record" id="XvhbNzDo78U">Ann Beretta - Fire In The Hole</li>
            <li class="record" id="K7ebRFHLcxg">The Menzingers - Sunday Morning</li>
            <li class="record" id="uWsF2Wrmo2g">Good Riddance Cheyenne</li>
            <li class="record" id="D2PLP71g_pw">Heartsounds- A Total Separation of Self (Official Video)</li>
            <li class="record" id="-JWO2PrIbHE">LESS THAN JAKE: Great American Sharpshooter</li>
            <li class="record" id="24Dg5chD0c8">Backside - "Falling Down"</li>
            <li class="record" id="WjdUKuetOwc">The Manix - Where Do We Go?</li>
            <li class="record" id="wm40aY8qyX4">Rise Against - I Don't Want To Be Here Anymore (drum cover by Vicky Fates)</li>
            <li class="record" id="uVuYxzkoufo">The Replacements "I Want You Back"- Forest Hills Stadium 9/19/14</li>
            <li class="record" id="UV1K9pO77ro">Rise Against - But Tonight We Dance</li>
            <li class="record" id="VVlra-ZJC8Y">Seaweed - Defender  (Spanaway - 1995)</li>
            <li class="record" id="VN-DWrtE_4k">Brixton Robbers - Rock Lobster (B-52's Punk Cover)</li>
            <li class="record" id="azbzkeTHXKQ">Unwritten Law - Up All Night</li>
            <li class="record" id="YNqhyW0YICw">THE VANDALS LIVE sweatin to the oldies vhs video</li>
            <li class="record" id="LxC5YC9pQqE">Pipedown live at Lake Villa VFW (Full Set)</li>
            <li class="record" id="QBO5QeSCD48">The Vanilla Milkshakes - "Kreep"</li>
            <li class="record" id="v1WXMYfqX3s">The Stick-E-Bandits - "Theory #8"</li>
            <li class="record" id="9SCF1zbsBfU">Rancid - "Collision Course," "Honor Is All We Know," & "Evil's My Friend"</li>
            <li class="record" id="IxjvQSj67AM">Unwritten Law Sound Siren Lyrics</li>
            <li class="record" id="_l1H30GTqSU">Paramore - Still Into You (DRUM COVER by Maximiliam Andersson)</li>
    </ol>
</div>

<div class="container">
<a href="/genre/punk_rock/">Punk Rock</a> archive:
    <a href="/genre/punk_rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/punk_rock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music for fans of garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'punk_rock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
</body>
</html>