<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Native Construct, Protest The Hero, The Contortionist, The Mars Volta, Toto | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/EIDEzd6dYe8/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/progmetal/2016/4/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="EIDEzd6dYe8">
                    <td><img src="https://i.ytimg.com/vi/EIDEzd6dYe8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Contortionist - Thrive</td>
                </tr>
                <tr class="record" id="1MP-JkSPfRg">
                    <td><img src="https://i.ytimg.com/vi/1MP-JkSPfRg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Toto - Falling in Between</td>
                </tr>
                <tr class="record" id="5CtFeh9SdTQ">
                    <td><img src="https://i.ytimg.com/vi/5CtFeh9SdTQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Native Construct - 04 - Your Familiar Face</td>
                </tr>
                <tr class="record" id="nPIr1s4zDX8">
                    <td><img src="https://i.ytimg.com/vi/nPIr1s4zDX8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Mars Volta - Cicatriz ESP</td>
                </tr>
                <tr class="record" id="5_w7VkXli6M">
                    <td><img src="https://i.ytimg.com/vi/5_w7VkXli6M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Protest The Hero - 04 - Moonlight</td>
                </tr>
                <tr class="record" id="9vluBFWv4mE">
                    <td><img src="https://i.ytimg.com/vi/9vluBFWv4mE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tool - Parabol + Parabola [HQ]</td>
                </tr>
                <tr class="record" id="GUhIzuxI0Mw">
                    <td><img src="https://i.ytimg.com/vi/GUhIzuxI0Mw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Turn on the Darkness</td>
                </tr>
                <tr class="record" id="1N5AJxxL8hA">
                    <td><img src="https://i.ytimg.com/vi/1N5AJxxL8hA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cloudkicker - We're goin' in. We're going down.</td>
                </tr>
                <tr class="record" id="gsoNl0MzDFA">
                    <td><img src="https://i.ytimg.com/vi/gsoNl0MzDFA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dream Theater - Stream of Consciousness</td>
                </tr>
                <tr class="record" id="IVZHNPyMhMo">
                    <td><img src="https://i.ytimg.com/vi/IVZHNPyMhMo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HAKEN - The Endless Knot (Lyric Video)</td>
                </tr>
                <tr class="record" id="OZwCQrxceaI">
                    <td><img src="https://i.ytimg.com/vi/OZwCQrxceaI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Periphery - Racecar</td>
                </tr>
                <tr class="record" id="VTpjTgg2HhM">
                    <td><img src="https://i.ytimg.com/vi/VTpjTgg2HhM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">TesseracT - Of Mind</td>
                </tr>
                <tr class="record" id="UeBFEanVsp4">
                    <td><img src="https://i.ytimg.com/vi/UeBFEanVsp4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Dillinger Escape Plan - When I Lost My Bet (Official Music Video)</td>
                </tr>
                <tr class="record" id="8HY6AwtnxBM">
                    <td><img src="https://i.ytimg.com/vi/8HY6AwtnxBM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon - Crack the Skye</td>
                </tr>
                <tr class="record" id="MBWmkihZ9ys">
                    <td><img src="https://i.ytimg.com/vi/MBWmkihZ9ys/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gojira - Magma</td>
                </tr>
                <tr class="record" id="OwK4MKYxbZE">
                    <td><img src="https://i.ytimg.com/vi/OwK4MKYxbZE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Between The Buried And Me - Obfuscation</td>
                </tr>
                <tr class="record" id="OHvMYUR8SuE">
                    <td><img src="https://i.ytimg.com/vi/OHvMYUR8SuE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">INTERVALS // I'M AWAKE // THE SHAPE OF COLOUR</td>
                </tr>
                <tr class="record" id="R40wAZxMsTg">
                    <td><img src="https://i.ytimg.com/vi/R40wAZxMsTg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Between the Buried and Me "The Coma Machine" (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="w8zb9rF18uM">
                    <td><img src="https://i.ytimg.com/vi/w8zb9rF18uM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Contortionist Goes Gospel</td>
                </tr>
                <tr class="record" id="g68hQ4zJ3t0">
                    <td><img src="https://i.ytimg.com/vi/g68hQ4zJ3t0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Animals As Leaders - The Woven Web</td>
                </tr>
                <tr class="record" id="jflibOae6lk">
                    <td><img src="https://i.ytimg.com/vi/jflibOae6lk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Haunted Shores - Feed The Wolf (Norway Jose feat. Devin Townsend)</td>
                </tr>
                <tr class="record" id="OfwAU1Yk804">
                    <td><img src="https://i.ytimg.com/vi/OfwAU1Yk804/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Animals As Leaders D'Addario LIVE Performance</td>
                </tr>
                <tr class="record" id="2rBoBBpFwB8">
                    <td><img src="https://i.ytimg.com/vi/2rBoBBpFwB8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Opeth - To Rid The Disease (Damnation)</td>
                </tr>
                <tr class="record" id="kxumcOJwvmo">
                    <td><img src="https://i.ytimg.com/vi/kxumcOJwvmo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Fall of Troy - 401k (Official Release)</td>
                </tr>
                <tr class="record" id="OFi_-4iqGrA">
                    <td><img src="https://i.ytimg.com/vi/OFi_-4iqGrA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Between the Buried and Me "The Ectopic Stroll" (LIVE VIDEO)</td>
                </tr>
                <tr class="record" id="KOXLc3rmK10">
                    <td><img src="https://i.ytimg.com/vi/KOXLc3rmK10/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Death - Spirit Crusher HQ</td>
                </tr>
                <tr class="record" id="RWDrdAJMcRs">
                    <td><img src="https://i.ytimg.com/vi/RWDrdAJMcRs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Protest The Hero - Hair Trigger [Official Video]</td>
                </tr>
                <tr class="record" id="GP0EX1xRH-A">
                    <td><img src="https://i.ytimg.com/vi/GP0EX1xRH-A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pain of Salvation - Beyond the Pale</td>
                </tr>
                <tr class="record" id="PmUSf5uc4B4">
                    <td><img src="https://i.ytimg.com/vi/PmUSf5uc4B4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ad a Dglgmut</td>
                </tr>
                <tr class="record" id="9EbCjuL8ndg">
                    <td><img src="https://i.ytimg.com/vi/9EbCjuL8ndg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">STRAPPING YOUNG LAD - AAA (Album Track)</td>
                </tr>
                <tr class="record" id="_uBXmb1TVxk">
                    <td><img src="https://i.ytimg.com/vi/_uBXmb1TVxk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">FALLUJAH - Abandon (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="3aSX_hYpVXg">
                    <td><img src="https://i.ytimg.com/vi/3aSX_hYpVXg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CHON - Perfect Pillow</td>
                </tr>
                <tr class="record" id="33l0kVPNnqE">
                    <td><img src="https://i.ytimg.com/vi/33l0kVPNnqE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Haken - Earthrise</td>
                </tr>
                <tr class="record" id="J51LPlP-s9o">
                    <td><img src="https://i.ytimg.com/vi/J51LPlP-s9o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Hallowed Be Thy Name (Studio Version)</td>
                </tr>
                <tr class="record" id="eWw86g-k7Do">
                    <td><img src="https://i.ytimg.com/vi/eWw86g-k7Do/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tesseract - Proxy</td>
                </tr>
                <tr class="record" id="jWFWazj7Ud8">
                    <td><img src="https://i.ytimg.com/vi/jWFWazj7Ud8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon - The Motherload [Official Video]</td>
                </tr>
                <tr class="record" id="VYo2v9Xk_Rs">
                    <td><img src="https://i.ytimg.com/vi/VYo2v9Xk_Rs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Where Is Now</td>
                </tr>
                <tr class="record" id="tUnVIdaTgbU">
                    <td><img src="https://i.ytimg.com/vi/tUnVIdaTgbU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sithu Aye - Set Course for Andromeda!!!</td>
                </tr>
                <tr class="record" id="kl3lZFSqxCs">
                    <td><img src="https://i.ytimg.com/vi/kl3lZFSqxCs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Animals As Leaders - Para Mexer</td>
                </tr>
                <tr class="record" id="Rc-sGr4zGWM">
                    <td><img src="https://i.ytimg.com/vi/Rc-sGr4zGWM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Enslaved - Thurisaz Dreaming</td>
                </tr>
                <tr class="record" id="HTr7bqKHvgE">
                    <td><img src="https://i.ytimg.com/vi/HTr7bqKHvgE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gojira-The Art Of Dying</td>
                </tr>
                <tr class="record" id="-hOR1j_VUpc">
                    <td><img src="https://i.ytimg.com/vi/-hOR1j_VUpc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sithu Aye - The Andromedan Pt I: A Single Step</td>
                </tr>
                <tr class="record" id="Q7TFOXDhHdo">
                    <td><img src="https://i.ytimg.com/vi/Q7TFOXDhHdo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Haken - Bound by Gravity</td>
                </tr>
                <tr class="record" id="f7LZ39z0fcI">
                    <td><img src="https://i.ytimg.com/vi/f7LZ39z0fcI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pokemon R/B/Y: Lavender Town - Metal Cover || RichaadEB</td>
                </tr>
                <tr class="record" id="GRXPQEjlomg">
                    <td><img src="https://i.ytimg.com/vi/GRXPQEjlomg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Agent Fresco - Howls</td>
                </tr>
                <tr class="record" id="FwpErdp-yis">
                    <td><img src="https://i.ytimg.com/vi/FwpErdp-yis/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Dark Horse</td>
                </tr>
                <tr class="record" id="VIwy5dIesq8">
                    <td><img src="https://i.ytimg.com/vi/VIwy5dIesq8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">3(Three) - The End is Begun</td>
                </tr>
                <tr class="record" id="efioLa0JDcY">
                    <td><img src="https://i.ytimg.com/vi/efioLa0JDcY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Converge - "Jane Doe"</td>
                </tr>
                <tr class="record" id="Rm3OpBpwzBs">
                    <td><img src="https://i.ytimg.com/vi/Rm3OpBpwzBs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Periphery - Ragnarok</td>
                </tr>
                <tr class="record" id="6ZEGAsCM1xw">
                    <td><img src="https://i.ytimg.com/vi/6ZEGAsCM1xw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gojira - Stranded (Teaser)</td>
                </tr>
                <tr class="record" id="ASFJ3t5UQ8Q">
                    <td><img src="https://i.ytimg.com/vi/ASFJ3t5UQ8Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Haken - Lapse</td>
                </tr>
                <tr class="record" id="0xAXtvoLfBY">
                    <td><img src="https://i.ytimg.com/vi/0xAXtvoLfBY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Vanguard</td>
                </tr>
                <tr class="record" id="SgywmV-TVow">
                    <td><img src="https://i.ytimg.com/vi/SgywmV-TVow/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">RUSH -  R40 Live -  Natural Science (HD)</td>
                </tr>
                <tr class="record" id="0MrUjENd2jY">
                    <td><img src="https://i.ytimg.com/vi/0MrUjENd2jY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slice The Cake - The Holy Mountain</td>
                </tr>
                <tr class="record" id="x8SSYirSR3o">
                    <td><img src="https://i.ytimg.com/vi/x8SSYirSR3o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Caligula's Horse - (04) Dragonfly</td>
                </tr>
                <tr class="record" id="IN7TITDPuMo">
                    <td><img src="https://i.ytimg.com/vi/IN7TITDPuMo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Every Dream Theater album at the same time</td>
                </tr>
                <tr class="record" id="PkXMn789EeE">
                    <td><img src="https://i.ytimg.com/vi/PkXMn789EeE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cynic - The Unknown Guest</td>
                </tr>
                <tr class="record" id="kDWgsQhbaqU">
                    <td><img src="https://i.ytimg.com/vi/kDWgsQhbaqU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">My Chemical Romance - "Welcome to the Black Parade"</td>
                </tr>
                <tr class="record" id="KnaClnVnj_c">
                    <td><img src="https://i.ytimg.com/vi/KnaClnVnj_c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">VILDHJARTA - Dagger (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="lFdudpOgmk4">
                    <td><img src="https://i.ytimg.com/vi/lFdudpOgmk4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deftones - Passenger | LYRICS</td>
                </tr>
                <tr class="record" id="leIIlezYJMI">
                    <td><img src="https://i.ytimg.com/vi/leIIlezYJMI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Steven Wilson-The Holy Drinker</td>
                </tr>
                <tr class="record" id="KIx0BQH1d5U">
                    <td><img src="https://i.ytimg.com/vi/KIx0BQH1d5U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Ocean "The Grand Inquisitor II: Roots & Locusts"</td>
                </tr>
                <tr class="record" id="nl2BRe_BYtY">
                    <td><img src="https://i.ytimg.com/vi/nl2BRe_BYtY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Opeth - White Cluster (HD 1080p, Lyrics)</td>
                </tr>
                <tr class="record" id="CZay7xCZ-Uo">
                    <td><img src="https://i.ytimg.com/vi/CZay7xCZ-Uo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">INTERVALS // MOMENT MARAUDER // OFFICIAL VIDEO</td>
                </tr>
                <tr class="record" id="3H8LjRxdC44">
                    <td><img src="https://i.ytimg.com/vi/3H8LjRxdC44/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Troy Wright - Animals as Leaders - Physical Education - Drum Cover</td>
                </tr>
                <tr class="record" id="Izaxvm9dK_k">
                    <td><img src="https://i.ytimg.com/vi/Izaxvm9dK_k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BE'LAKOR - An Ember's Arc | Napalm Records</td>
                </tr>
                <tr class="record" id="tgrfTfeO87w">
                    <td><img src="https://i.ytimg.com/vi/tgrfTfeO87w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ERRA / The Hypnotist /</td>
                </tr>
                <tr class="record" id="rjU3tBiC2gw">
                    <td><img src="https://i.ytimg.com/vi/rjU3tBiC2gw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Dillinger Escape Plan - Hollywood Squares</td>
                </tr>
                <tr class="record" id="6EdrN4CEUsQ">
                    <td><img src="https://i.ytimg.com/vi/6EdrN4CEUsQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Abandonship</td>
                </tr>
                <tr class="record" id="wQ95g8uGlkI">
                    <td><img src="https://i.ytimg.com/vi/wQ95g8uGlkI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ihsahn - On The Shores</td>
                </tr>
                <tr class="record" id="R68ySckh6OM">
                    <td><img src="https://i.ytimg.com/vi/R68ySckh6OM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ziltoid (Devin Townsend) - Colour Your World</td>
                </tr>
                <tr class="record" id="3P7Isp_QCQ0">
                    <td><img src="https://i.ytimg.com/vi/3P7Isp_QCQ0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tool - Maynard's Dick (Salival)</td>
                </tr>
                <tr class="record" id="Yw4Kq-hr63Y">
                    <td><img src="https://i.ytimg.com/vi/Yw4Kq-hr63Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PORCUPINE TREE - THE START OF SOMETHING BEAUTIFUL (HD)</td>
                </tr>
                <tr class="record" id="02uq_GQAly0">
                    <td><img src="https://i.ytimg.com/vi/02uq_GQAly0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Babymetal - Tales of the Destinies</td>
                </tr>
                <tr class="record" id="kaRQBw6qBU4">
                    <td><img src="https://i.ytimg.com/vi/kaRQBw6qBU4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ihsahn - Until I Too Dissolve</td>
                </tr>
                <tr class="record" id="t6OCeW6FVvY">
                    <td><img src="https://i.ytimg.com/vi/t6OCeW6FVvY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BARONESS - Shock Me [Official Music Video]</td>
                </tr>
                <tr class="record" id="PIUaU2sWteU">
                    <td><img src="https://i.ytimg.com/vi/PIUaU2sWteU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Protest The Hero - Goddess Bound (Album Version) With Lyrics</td>
                </tr>
                <tr class="record" id="y3oPa0wu94I">
                    <td><img src="https://i.ytimg.com/vi/y3oPa0wu94I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sithu Aye - Transient Transistors</td>
                </tr>
                <tr class="record" id="KnAVpPh0po8">
                    <td><img src="https://i.ytimg.com/vi/KnAVpPh0po8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Last Chance to Reason - prototype</td>
                </tr>
                <tr class="record" id="R77d7B9HBiA">
                    <td><img src="https://i.ytimg.com/vi/R77d7B9HBiA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sithu Aye - Double Helix</td>
                </tr>
                <tr class="record" id="kQUVdOj5vb4">
                    <td><img src="https://i.ytimg.com/vi/kQUVdOj5vb4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Freedom Of Speech</td>
                </tr>
                <tr class="record" id="xC0qJb_2sPA">
                    <td><img src="https://i.ytimg.com/vi/xC0qJb_2sPA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bleak - Frontierer</td>
                </tr>
                <tr class="record" id="8aCChmnwhe8">
                    <td><img src="https://i.ytimg.com/vi/8aCChmnwhe8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Fall of Troy - Inside Out (Official Release)</td>
                </tr>
                <tr class="record" id="BClzBQmZZBc">
                    <td><img src="https://i.ytimg.com/vi/BClzBQmZZBc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Steven Wilson "Harmony Korine" HD</td>
                </tr>
                <tr class="record" id="odySTKfpmFs">
                    <td><img src="https://i.ytimg.com/vi/odySTKfpmFs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Leprous - Thorn</td>
                </tr>
                <tr class="record" id="Ss7XgUpoHEw">
                    <td><img src="https://i.ytimg.com/vi/Ss7XgUpoHEw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wings Denied - Matches in the Wind</td>
                </tr>
                <tr class="record" id="95QS3c_Tei4">
                    <td><img src="https://i.ytimg.com/vi/95QS3c_Tei4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Porcupine Tree "Way Out Of Here" Live in Tilburg (HD)</td>
                </tr>
                <tr class="record" id="ragU6RvZNy4">
                    <td><img src="https://i.ytimg.com/vi/ragU6RvZNy4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pain of Salvation - In the Flesh</td>
                </tr>
                <tr class="record" id="JcKeU7exPV0">
                    <td><img src="https://i.ytimg.com/vi/JcKeU7exPV0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mandroid Echostar - The Lotus (Guitar Playthrough)</td>
                </tr>
                <tr class="record" id="bJJVfGFquFY">
                    <td><img src="https://i.ytimg.com/vi/bJJVfGFquFY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">VOYAGER - A Beaultiful Mistake</td>
                </tr>
                <tr class="record" id="xY-oili63QQ">
                    <td><img src="https://i.ytimg.com/vi/xY-oili63QQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Weird Al Yankovic - Angry White Boy Polka</td>
                </tr>
                <tr class="record" id="VqyZKyAuHfc">
                    <td><img src="https://i.ytimg.com/vi/VqyZKyAuHfc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Star One - Lastday</td>
                </tr>
                <tr class="record" id="VWEthHvPq84">
                    <td><img src="https://i.ytimg.com/vi/VWEthHvPq84/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">My Divided Falling</td>
                </tr>
                <tr class="record" id="aAVp8qAh9eg">
                    <td><img src="https://i.ytimg.com/vi/aAVp8qAh9eg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Underoath - In Regards to Myself</td>
                </tr>
                <tr class="record" id="2_iGVxpeDmI">
                    <td><img src="https://i.ytimg.com/vi/2_iGVxpeDmI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Destiny Potato - Addict | official album track 2014</td>
                </tr>
                <tr class="record" id="Mx3UPfzGeN4">
                    <td><img src="https://i.ytimg.com/vi/Mx3UPfzGeN4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Paschendale</td>
                </tr>
                <tr class="record" id="pF6UcqP-2z4">
                    <td><img src="https://i.ytimg.com/vi/pF6UcqP-2z4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Anubis Gate - Hold Back Tomorrow</td>
                </tr>
                <tr class="record" id="d8rPGV2LCjo">
                    <td><img src="https://i.ytimg.com/vi/d8rPGV2LCjo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dream Theater - In The Presence Of Enemies Part 1</td>
                </tr>
                <tr class="record" id="XUA_n04C1bs">
                    <td><img src="https://i.ytimg.com/vi/XUA_n04C1bs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Guitar Center Sessions: Gavin Harrison - Bonnie the Cat</td>
                </tr>
                <tr class="record" id="SX-cvFIdXhw">
                    <td><img src="https://i.ytimg.com/vi/SX-cvFIdXhw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CAFO by Animals As Leaders (Orchestral cover)</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/progmetal/">Prog Metal</a> archive:
    <a href="/genre/progmetal/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'progmetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>