<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">54-40, Archaeologists, Headstones, Shane Murphy, Stan Rogers | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/szr9YAUJPQA/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/canadianmusic/2014/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="szr9YAUJPQA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/szr9YAUJPQA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Archaeologists - Wintersleep</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/21pipb">Wintersleep - Archaeologists (alt rock/indie)</a>
<br>
                        submitted <span class="muted">2014-03-29 23:47</span> by <a href="https://www.reddit.com/user/ShansShenanigans">/u/ShansShenanigans</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="eLEvl_uplUk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/eLEvl_uplUk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Headstones - Tweeter and the Monkey Man</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/1zs9ub">Headstones - Tweeter And The Monkey Man</a>
<br>
                        submitted <span class="muted">2014-03-07 04:45</span> by <a href="https://www.reddit.com/user/Shniggles">/u/Shniggles</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="AjuBMs1ftOE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/AjuBMs1ftOE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Stan Rogers - The Wreck of the Athens Queen</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/21uqhk">Stan Rogers - The Wreck of the Athens Queen</a>
<br>
                        submitted <span class="muted">2014-03-31 19:32</span> by <a href="https://www.reddit.com/user/fevredream">/u/fevredream</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Hhfmxg4j0kg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Hhfmxg4j0kg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">54-40 Miss You</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/20hecv">54-40 - Miss You (lame ad free!)</a>
<br>
                        submitted <span class="muted">2014-03-15 14:57</span> by <a href="https://www.reddit.com/user/LubricatorHex">/u/LubricatorHex</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jX5_KcVRKv4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jX5_KcVRKv4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shane Murphy - Done in the dark</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/205o1a">Shane Murphy - Done in the Dark [4:13]</a>
<br>
                        submitted <span class="muted">2014-03-11 18:16</span> by <a href="https://www.reddit.com/user/arcticshark">/u/arcticshark</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8lGDsuALCsU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8lGDsuALCsU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jann Arden - Where No One Knows Me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/20zvka">Jann Arden — Where No One Knows Me</a>
<br>
                        submitted <span class="muted">2014-03-21 14:14</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="iZnT_s-n__g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/iZnT_s-n__g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Crash Test Dummies   Afternoons And Coffeespoons</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/20dxdc">Crash Test Dummies — Afternoons And Coffeespoons</a>
<br>
                        submitted <span class="muted">2014-03-14 07:01</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LrB3UfAen0c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LrB3UfAen0c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Pigeonry Boys - Album Update</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/20xcik">Pigeon Park March update</a>
<br>
                        submitted <span class="muted">2014-03-20 18:47</span> by <a href="https://www.reddit.com/user/improvidiot">/u/improvidiot</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="4Z6_aYsHSzE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/4Z6_aYsHSzE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Quarter Life Crisis (original) Kasia G</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/1zeze3">relatable struggles of a quarter-life crisis.</a>
<br>
                        submitted <span class="muted">2014-03-03 06:49</span> by <a href="https://www.reddit.com/user/improvidiot">/u/improvidiot</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="56EZgZomML8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/56EZgZomML8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">White Lung - Drown With The Monster (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/1zq88a">White Lung - Drown With The Monster [music video] (2014)</a>
<br>
                        submitted <span class="muted">2014-03-06 16:20</span> by <a href="https://www.reddit.com/user/alanranta">/u/alanranta</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1iAOeEEheUQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1iAOeEEheUQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Small Town Pistols - Colour Blind</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/1zscwb">Small Town Pistols - Colour Blind (Country, 3:47)</a>
<br>
                        submitted <span class="muted">2014-03-07 05:26</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2u7jJdc7biE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2u7jJdc7biE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">BRAIDWOOD - 'No Other Way Out' | Almost Lost My Nerve</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/20ds5k">BRAIDWOOD - No Other Way Out [Mid-Tempo Rock] (Vancouver, BC)</a>
<br>
                        submitted <span class="muted">2014-03-14 05:26</span> by <a href="https://www.reddit.com/user/BraidwoodSongs">/u/BraidwoodSongs</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RB47DeJwy0c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RB47DeJwy0c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">PAUL JANZ - Every Little Tear 1990</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/20hli7">Paul Janz — Every Little Tear (1990)</a>
<br>
                        submitted <span class="muted">2014-03-15 16:35</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="f7KdKzkR7is">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/f7KdKzkR7is/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Next Best Things #1 - The Daily Load</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/20o29u">Sweet Vancouver band Pigeon Park has an awesome Cameo in a New web-series, check it.</a>
<br>
                        submitted <span class="muted">2014-03-17 22:33</span> by <a href="https://www.reddit.com/user/improvidiot">/u/improvidiot</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sbw7bk1Fd38">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sbw7bk1Fd38/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lorde - Team (Cover by No King For Countrymen)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/1zapyn">Lorde - Team (Pop Rock Cover by No King For Countrymen)</a>
<br>
                        submitted <span class="muted">2014-03-01 22:16</span> by <a href="https://www.reddit.com/user/Izzy-Mandelbaum">/u/Izzy-Mandelbaum</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uW9JekWLcE8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uW9JekWLcE8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Staggering Guitar Solo Performance - "Miss You" 54-40</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/20dkam">54-40 — Miss You</a>
<br>
                        submitted <span class="muted">2014-03-14 03:36</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5My1hzPftZo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5My1hzPftZo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Natalie Lynn - Runaway (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/20fl6b">Natalie Lynn - Runaway (Official Video)</a>
<br>
                        submitted <span class="muted">2014-03-14 21:05</span> by <a href="https://www.reddit.com/user/MFLudwig">/u/MFLudwig</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/canadianmusic/">Canadian Music</a> archive:
    <a href="/genre/canadianmusic/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'canadianmusic';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>