<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Devin Townsend, Emg Metallica Challenge, Iron Maiden, Mastodon, Strapping Young Lad | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/kVuy0nW1_xM/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/metal/2011/9/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="kVuy0nW1_xM">
                    <td><img src="https://i.ytimg.com/vi/kVuy0nW1_xM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">EMG Metallica Challenge - COMPLETE MEDLEY [HD]</td>
                </tr>
                <tr class="record" id="BBtLMLQfiRo">
                    <td><img src="https://i.ytimg.com/vi/BBtLMLQfiRo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Hallowed Be Thy Name (Flight 666) [HD]</td>
                </tr>
                <tr class="record" id="SwB9zg7Tbx8">
                    <td><img src="https://i.ytimg.com/vi/SwB9zg7Tbx8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden Wasted Years</td>
                </tr>
                <tr class="record" id="JuLNSZMolvs">
                    <td><img src="https://i.ytimg.com/vi/JuLNSZMolvs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dancing Queens</td>
                </tr>
                <tr class="record" id="gFv_ebzXbZc">
                    <td><img src="https://i.ytimg.com/vi/gFv_ebzXbZc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Worse Dragonforce cover song EVER!!!!</td>
                </tr>
                <tr class="record" id="fO78lMTSRbA">
                    <td><img src="https://i.ytimg.com/vi/fO78lMTSRbA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Strapping Young Lad - Love?</td>
                </tr>
                <tr class="record" id="uSzlCGGWrHo">
                    <td><img src="https://i.ytimg.com/vi/uSzlCGGWrHo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Metalachi performs a live cover of Run to the Hills (Iron Maiden). Loco!</td>
                </tr>
                <tr class="record" id="dk6Yu2BRC6g">
                    <td><img src="https://i.ytimg.com/vi/dk6Yu2BRC6g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavy Metal Bands Explain Where Babies Come From</td>
                </tr>
                <tr class="record" id="lAihDAJX8Ow">
                    <td><img src="https://i.ytimg.com/vi/lAihDAJX8Ow/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon - Curl Of The Burl [Official Music Video]</td>
                </tr>
                <tr class="record" id="65gsQucAsfE">
                    <td><img src="https://i.ytimg.com/vi/65gsQucAsfE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ziltoid- Planet Smasher!!</td>
                </tr>
                <tr class="record" id="1AfNOKQdY-U">
                    <td><img src="https://i.ytimg.com/vi/1AfNOKQdY-U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian- Mirror Mirror</td>
                </tr>
                <tr class="record" id="O2q4CsM81Rg">
                    <td><img src="https://i.ytimg.com/vi/O2q4CsM81Rg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Black Dahlia Murder - Everything Went Black</td>
                </tr>
                <tr class="record" id="MgPanjZbD1E">
                    <td><img src="https://i.ytimg.com/vi/MgPanjZbD1E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bloodbath - Cancer Of The Soul</td>
                </tr>
                <tr class="record" id="n-DKs0qfdEk">
                    <td><img src="https://i.ytimg.com/vi/n-DKs0qfdEk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DEVIN TOWNSEND PROJECT - Juular (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="xYbu9YRzD3Y">
                    <td><img src="https://i.ytimg.com/vi/xYbu9YRzD3Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Animals As Leaders - "Isolated Incidents" (official stream)</td>
                </tr>
                <tr class="record" id="cW_Lv0r-l4c">
                    <td><img src="https://i.ytimg.com/vi/cW_Lv0r-l4c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">cannibal corpse - corpsegrinder talks bout world of warcraft</td>
                </tr>
                <tr class="record" id="47ItlPoPCpY">
                    <td><img src="https://i.ytimg.com/vi/47ItlPoPCpY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Death - Scream Bloody Gore - 01 - Infernal Death</td>
                </tr>
                <tr class="record" id="455-CIgc7co">
                    <td><img src="https://i.ytimg.com/vi/455-CIgc7co/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Metallica - Trapped Under Ice</td>
                </tr>
                <tr class="record" id="BzXvlNBBv88">
                    <td><img src="https://i.ytimg.com/vi/BzXvlNBBv88/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon - Ghost of Karelia (Crack The Skye) [Full]</td>
                </tr>
                <tr class="record" id="lplPUP1bH4A">
                    <td><img src="https://i.ytimg.com/vi/lplPUP1bH4A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon - Spectrelight [Official Music Video]</td>
                </tr>
                <tr class="record" id="Ga-q0F7oWnU">
                    <td><img src="https://i.ytimg.com/vi/Ga-q0F7oWnU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian - The Soulforged</td>
                </tr>
                <tr class="record" id="Jx2fp-kKOIw">
                    <td><img src="https://i.ytimg.com/vi/Jx2fp-kKOIw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon: The Czar</td>
                </tr>
                <tr class="record" id="D5wUr4Lut4A">
                    <td><img src="https://i.ytimg.com/vi/D5wUr4Lut4A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Venom - In League With Satan</td>
                </tr>
                <tr class="record" id="JZ5QleN03DU">
                    <td><img src="https://i.ytimg.com/vi/JZ5QleN03DU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nile-Cast Down the Heretic</td>
                </tr>
                <tr class="record" id="GyWGab3vJHQ">
                    <td><img src="https://i.ytimg.com/vi/GyWGab3vJHQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Eluveitie - Calling the rain</td>
                </tr>
                <tr class="record" id="VufilzHKTqk">
                    <td><img src="https://i.ytimg.com/vi/VufilzHKTqk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">RED FANG - "Prehistoric Dog" (Official Music Video)</td>
                </tr>
                <tr class="record" id="ZzN36M0o5aM">
                    <td><img src="https://i.ytimg.com/vi/ZzN36M0o5aM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Let's Fighting Love from South Park Meets Metal</td>
                </tr>
                <tr class="record" id="Yp7Dz4bh5UE">
                    <td><img src="https://i.ytimg.com/vi/Yp7Dz4bh5UE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Neurosis - Through Silver In Blood</td>
                </tr>
                <tr class="record" id="wBjsXXneD4g">
                    <td><img src="https://i.ytimg.com/vi/wBjsXXneD4g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Metal Masters - A New Level (Pantera Cover)</td>
                </tr>
                <tr class="record" id="o5a7QHId05U">
                    <td><img src="https://i.ytimg.com/vi/o5a7QHId05U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Meshuggah Mad Dog</td>
                </tr>
                <tr class="record" id="Hu1rkT8oM-s">
                    <td><img src="https://i.ytimg.com/vi/Hu1rkT8oM-s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Anaal Nathrakh - Do Not Speak</td>
                </tr>
                <tr class="record" id="Q-HWnKvIj_Y">
                    <td><img src="https://i.ytimg.com/vi/Q-HWnKvIj_Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mastodon - Dry Bone Valley</td>
                </tr>
                <tr class="record" id="kMo5VxRrgcY">
                    <td><img src="https://i.ytimg.com/vi/kMo5VxRrgcY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">MESHUGGAH -   Tomas Haake - Drumming Footage - New England Metal Fest (OFFICIAL)</td>
                </tr>
                <tr class="record" id="CeZlih4DDNg">
                    <td><img src="https://i.ytimg.com/vi/CeZlih4DDNg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Vegan Black Metal Chef Episode 1 Pad Thai</td>
                </tr>
                <tr class="record" id="ojhbPqTg6dM">
                    <td><img src="https://i.ytimg.com/vi/ojhbPqTg6dM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">EYEHATEGOD-Take as needed for pain</td>
                </tr>
                <tr class="record" id="NCdUfAE5Rz8">
                    <td><img src="https://i.ytimg.com/vi/NCdUfAE5Rz8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Surprise! You're Dead! by Faith No More</td>
                </tr>
                <tr class="record" id="6J4Ye7nRT0s">
                    <td><img src="https://i.ytimg.com/vi/6J4Ye7nRT0s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Meshuggah - Dancers To A Discordant System</td>
                </tr>
                <tr class="record" id="Vje-KXJ0rrY">
                    <td><img src="https://i.ytimg.com/vi/Vje-KXJ0rrY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian - And then there was silence  (complete version)</td>
                </tr>
                <tr class="record" id="ZUzpf3mMsxA">
                    <td><img src="https://i.ytimg.com/vi/ZUzpf3mMsxA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Keeper of the seven keys Helloween (full)</td>
                </tr>
                <tr class="record" id="YzOF9w8kG-c">
                    <td><img src="https://i.ytimg.com/vi/YzOF9w8kG-c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CLASSICAL METAL</td>
                </tr>
                <tr class="record" id="lGOL-p_hzoA">
                    <td><img src="https://i.ytimg.com/vi/lGOL-p_hzoA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Liege of Inveracity - Suffocation</td>
                </tr>
                <tr class="record" id="SIRUzqHTNh8">
                    <td><img src="https://i.ytimg.com/vi/SIRUzqHTNh8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">NAPALM DEATH - When All Is Said And Done (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="qCMksqnwxK8">
                    <td><img src="https://i.ytimg.com/vi/qCMksqnwxK8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cloudkicker - The Discovery</td>
                </tr>
                <tr class="record" id="GY0RZriJ3gk">
                    <td><img src="https://i.ytimg.com/vi/GY0RZriJ3gk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Transylvania</td>
                </tr>
                <tr class="record" id="Jlk3WyDqukw">
                    <td><img src="https://i.ytimg.com/vi/Jlk3WyDqukw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Immortal - Cold Winds of Funeral Dust</td>
                </tr>
                <tr class="record" id="AtohSHR6fuY">
                    <td><img src="https://i.ytimg.com/vi/AtohSHR6fuY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BE´LAKOR - Sun's Delusion</td>
                </tr>
                <tr class="record" id="Q-ZlRl1_4Ws">
                    <td><img src="https://i.ytimg.com/vi/Q-ZlRl1_4Ws/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lady Judas (Lady Gaga vs Judas Priest Mashup by Wax Audio)</td>
                </tr>
                <tr class="record" id="vgw3mOFU2q4">
                    <td><img src="https://i.ytimg.com/vi/vgw3mOFU2q4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Chapel Of Ghouls - Morbid Angel</td>
                </tr>
                <tr class="record" id="UTsGFIG2USA">
                    <td><img src="https://i.ytimg.com/vi/UTsGFIG2USA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">stam1na - kadonneet kolme sanaa</td>
                </tr>
                <tr class="record" id="rRsdU-kh_pw">
                    <td><img src="https://i.ytimg.com/vi/rRsdU-kh_pw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kalmah  - Heroes To Us</td>
                </tr>
                <tr class="record" id="9erXh9uFxVY">
                    <td><img src="https://i.ytimg.com/vi/9erXh9uFxVY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Swallow The Sun - These Woods Breathe Evil</td>
                </tr>
                <tr class="record" id="JZXLx9dTE6M">
                    <td><img src="https://i.ytimg.com/vi/JZXLx9dTE6M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Redneck- Lamb of God (lyrics)</td>
                </tr>
                <tr class="record" id="e7kJRGPgvRQ">
                    <td><img src="https://i.ytimg.com/vi/e7kJRGPgvRQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">KORPIKLAANI - Vodka (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="j9UeLylS_eA">
                    <td><img src="https://i.ytimg.com/vi/j9UeLylS_eA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Megadeth Take No Prisoners</td>
                </tr>
                <tr class="record" id="LnFJJfwiwb4">
                    <td><img src="https://i.ytimg.com/vi/LnFJJfwiwb4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Candlemass - At The Gallows End</td>
                </tr>
                <tr class="record" id="snGxAUBMZHY">
                    <td><img src="https://i.ytimg.com/vi/snGxAUBMZHY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blake Richardson recording Obfuscation</td>
                </tr>
                <tr class="record" id="vpavSXoAPC0">
                    <td><img src="https://i.ytimg.com/vi/vpavSXoAPC0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Diamond Head - The Prince</td>
                </tr>
                <tr class="record" id="xjKyzwqIT7s">
                    <td><img src="https://i.ytimg.com/vi/xjKyzwqIT7s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">FLESHGOD APOCALYPSE - The Violation (OFFICIAL MUSIC VIDEO)</td>
                </tr>
                <tr class="record" id="Cy-KR4jg5v4">
                    <td><img src="https://i.ytimg.com/vi/Cy-KR4jg5v4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Carcass - Embodiment</td>
                </tr>
                <tr class="record" id="iXaugKgbZxA">
                    <td><img src="https://i.ytimg.com/vi/iXaugKgbZxA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Palovana (Inner Fire) - Korpiklaani(With Lyrics and Translation!)</td>
                </tr>
                <tr class="record" id="JRY3baFA-S4">
                    <td><img src="https://i.ytimg.com/vi/JRY3baFA-S4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Enslaved downloads a sheep</td>
                </tr>
                <tr class="record" id="3LDmEVtGF0g">
                    <td><img src="https://i.ytimg.com/vi/3LDmEVtGF0g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Phantom of the Opera (studio version)</td>
                </tr>
                <tr class="record" id="6-P2O5zFXFQ">
                    <td><img src="https://i.ytimg.com/vi/6-P2O5zFXFQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Children Of Bodom - Bodom Beach Terror [Lyrics]</td>
                </tr>
                <tr class="record" id="W7pRpnO3Jw4">
                    <td><img src="https://i.ytimg.com/vi/W7pRpnO3Jw4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Havok - Prepare For Attack</td>
                </tr>
                <tr class="record" id="9iQ0lU_lOyM">
                    <td><img src="https://i.ytimg.com/vi/9iQ0lU_lOyM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Defence - Don't Call Me a Moshist</td>
                </tr>
                <tr class="record" id="-6ejlCB-tkQ">
                    <td><img src="https://i.ytimg.com/vi/-6ejlCB-tkQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ozzy Listening to Lost Randy Rhoads Solo</td>
                </tr>
                <tr class="record" id="nZ6s89QWYjc">
                    <td><img src="https://i.ytimg.com/vi/nZ6s89QWYjc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mercyful Fate - Evil (2008 Re-Recording)</td>
                </tr>
                <tr class="record" id="LvP88JT0aJo">
                    <td><img src="https://i.ytimg.com/vi/LvP88JT0aJo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Conducting From the Grave - From Ruins We Rise 8 BIT</td>
                </tr>
                <tr class="record" id="nGZxzxaYb8I">
                    <td><img src="https://i.ytimg.com/vi/nGZxzxaYb8I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Led Zeppelin - John Bonham Moby Dick (NY 1973)</td>
                </tr>
                <tr class="record" id="9Z1IGjr2cT0">
                    <td><img src="https://i.ytimg.com/vi/9Z1IGjr2cT0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Napalm Death - You Suffer - Celebrating 20 Years of Scum</td>
                </tr>
                <tr class="record" id="3puHjwyIuIY">
                    <td><img src="https://i.ytimg.com/vi/3puHjwyIuIY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pantera-Psycho Holiday</td>
                </tr>
                <tr class="record" id="BeuNckmt7h8">
                    <td><img src="https://i.ytimg.com/vi/BeuNckmt7h8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cycle Sluts From Hell - I Wish You Were a Beer</td>
                </tr>
                <tr class="record" id="YUGq_MabZa0">
                    <td><img src="https://i.ytimg.com/vi/YUGq_MabZa0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Braindome - Ufomammut</td>
                </tr>
                <tr class="record" id="olN6UpUC6v4">
                    <td><img src="https://i.ytimg.com/vi/olN6UpUC6v4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DEATHSPELL OMEGA | Mass Grave Aesthetics | [complete song]</td>
                </tr>
                <tr class="record" id="fYR55NZBziU">
                    <td><img src="https://i.ytimg.com/vi/fYR55NZBziU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Swallow The Sun - New Moon</td>
                </tr>
                <tr class="record" id="cMEwewNuAG0">
                    <td><img src="https://i.ytimg.com/vi/cMEwewNuAG0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Immortal - Live at Fuck Christ Tour 93</td>
                </tr>
                <tr class="record" id="WQPfQvLIseA">
                    <td><img src="https://i.ytimg.com/vi/WQPfQvLIseA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">RED FANG - "Wires" (Official Music Video)</td>
                </tr>
                <tr class="record" id="2gtUcFRGmWI">
                    <td><img src="https://i.ytimg.com/vi/2gtUcFRGmWI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dismember - Override of the Overture</td>
                </tr>
                <tr class="record" id="zbp60IX_jFQ">
                    <td><img src="https://i.ytimg.com/vi/zbp60IX_jFQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Death - Symbolic</td>
                </tr>
                <tr class="record" id="nWTAc7mgC-A">
                    <td><img src="https://i.ytimg.com/vi/nWTAc7mgC-A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Darkthrone - Iconoclasm sweeps Cappadocia - Live in Oslo 1990</td>
                </tr>
                <tr class="record" id="psxDeUUeiBQ">
                    <td><img src="https://i.ytimg.com/vi/psxDeUUeiBQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Strapping young lad - Room 429</td>
                </tr>
                <tr class="record" id="QKhTP2I8NHE">
                    <td><img src="https://i.ytimg.com/vi/QKhTP2I8NHE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bolt Thrower - The Killchain 8-Bit</td>
                </tr>
                <tr class="record" id="4Db6LBlrZmM">
                    <td><img src="https://i.ytimg.com/vi/4Db6LBlrZmM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pig Destroyer - Towering Flesh [HQ]</td>
                </tr>
                <tr class="record" id="P6uwcvHkYvg">
                    <td><img src="https://i.ytimg.com/vi/P6uwcvHkYvg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Space Cadet - Kyuss</td>
                </tr>
                <tr class="record" id="vPH87Fm8kMw">
                    <td><img src="https://i.ytimg.com/vi/vPH87Fm8kMw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blotted Science - Bleeding In The Brain</td>
                </tr>
                <tr class="record" id="nVVTOHVXQQA">
                    <td><img src="https://i.ytimg.com/vi/nVVTOHVXQQA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Obituary - Slowly We Rot</td>
                </tr>
                <tr class="record" id="vEljEDKPudk">
                    <td><img src="https://i.ytimg.com/vi/vEljEDKPudk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lord of the Metal Rings - Shire Folk</td>
                </tr>
                <tr class="record" id="NBgMk4X9MzA">
                    <td><img src="https://i.ytimg.com/vi/NBgMk4X9MzA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Super Mario Bros Castle Theme Metal Remix Cover - Nylithia Guitar, Drums, Bass Bowser</td>
                </tr>
                <tr class="record" id="Ns9_A3CKqPM">
                    <td><img src="https://i.ytimg.com/vi/Ns9_A3CKqPM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">INSOMNIUM - Unsung (OFFICIAL ALBUM TRACK)</td>
                </tr>
                <tr class="record" id="R2I2mK_3_ns">
                    <td><img src="https://i.ytimg.com/vi/R2I2mK_3_ns/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Corrosion Of Conformity - Vote with a Bullet</td>
                </tr>
                <tr class="record" id="X3RgN1A9I8c">
                    <td><img src="https://i.ytimg.com/vi/X3RgN1A9I8c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Darkthrone - Circle the Wagons</td>
                </tr>
                <tr class="record" id="WrVlMSzp3T8">
                    <td><img src="https://i.ytimg.com/vi/WrVlMSzp3T8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Napalm Death - Twist the Knife (Slowly)</td>
                </tr>
                <tr class="record" id="aBmeD8KU0hI">
                    <td><img src="https://i.ytimg.com/vi/aBmeD8KU0hI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GWAR - The Salaminizer</td>
                </tr>
                <tr class="record" id="-44z8NVR050">
                    <td><img src="https://i.ytimg.com/vi/-44z8NVR050/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cannibal Corpse - From Skin To Liquid</td>
                </tr>
                <tr class="record" id="EsygEZxW6Pg">
                    <td><img src="https://i.ytimg.com/vi/EsygEZxW6Pg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Morbid Angel - Hatework</td>
                </tr>
                <tr class="record" id="K0FeKSVJM5I">
                    <td><img src="https://i.ytimg.com/vi/K0FeKSVJM5I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Benzin (Combustion Remix)</td>
                </tr>
                <tr class="record" id="VuSkqMaqF3E">
                    <td><img src="https://i.ytimg.com/vi/VuSkqMaqF3E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Darkthrone- Rust</td>
                </tr>
                <tr class="record" id="XLJnjG4bVT0">
                    <td><img src="https://i.ytimg.com/vi/XLJnjG4bVT0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Alexander The Great</td>
                </tr>
                <tr class="record" id="lrE00YhAvyQ">
                    <td><img src="https://i.ytimg.com/vi/lrE00YhAvyQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Discordance Axis Nuclear Mix</td>
                </tr>
                <tr class="record" id="hH6R_7xfj0w">
                    <td><img src="https://i.ytimg.com/vi/hH6R_7xfj0w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Shining - Låt Oss Ta Allt Från Varandra</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/metal/">Metal</a> archive:
    <a href="/genre/metal/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/metal/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/metal/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/metal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/metal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/metal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/metal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/metal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/metal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/metal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'metal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>