<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Devo'S Amazing Cover, Pictures Of You, Siouxsie And The Banshees, Tears For Fears, The Smiths | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/DYp2LGKOF_M/hqdefault.jpg">
    <link rel="canonical" href="https://punknrollnet.github.io/genre/newwave/2011/9/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="DYp2LGKOF_M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DYp2LGKOF_M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Smiths - The Boy With The Thorn In His Side</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/k77s5">The Smiths - A Boy With the Thorn in His Side</a>
<br>
                        submitted <span class="muted">2011-09-07 04:12</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="HeBMHnJqAvM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/HeBMHnJqAvM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Siouxsie And The Banshees - Happy House</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/kif1x">Siouxsie And The Banshees - Happy House</a>
<br>
                        submitted <span class="muted">2011-09-17 04:49</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="6Ni_c0IMP-c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/6Ni_c0IMP-c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tears for Fears- Everybody Wants to Rule the World</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/kcsqi">Tears For Fears - Everybody Wants To Rule The World</a>
<br>
                        submitted <span class="muted">2011-09-12 05:44</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="INgXzChwipY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/INgXzChwipY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Smiths - There is a light that never goes out</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/kjdqb">The Smiths - There Is A Light That Never Goes Out</a>
<br>
                        submitted <span class="muted">2011-09-18 08:09</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FRJeN6laaLI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FRJeN6laaLI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Cure-Pictures Of You</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/k10c4">Pictures of You - by The Cure</a>
<br>
                        submitted <span class="muted">2011-09-01 05:03</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="yA7RiwMevT8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/yA7RiwMevT8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Devo's unthinkable cover</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/k4ehv">Devo's Amazing Cover - R U Experienced</a>
<br>
                        submitted <span class="muted">2011-09-04 15:12</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="56u6g0POvo0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/56u6g0POvo0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Devo - "Beautiful World"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/kb41k">Devo - Beautiful World (truly awesome video!)</a>
<br>
                        submitted <span class="muted">2011-09-10 13:37</span> by <a href="https://www.reddit.com/user/djeep">/u/djeep</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="qHYOXyy1ToI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/qHYOXyy1ToI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Joy Division - Love Will Tear Us Apart (Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/k77zq">Joy Division - Love Will Tear Us Apart Again</a>
<br>
                        submitted <span class="muted">2011-09-07 04:20</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="kcMEx4OHLOs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/kcMEx4OHLOs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pictures Of You - The Cure</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/ktmr4">The Cure - Pictures of You (Live)</a>
<br>
                        submitted <span class="muted">2011-09-28 02:07</span> by <a href="https://www.reddit.com/user/Riosan">/u/Riosan</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tKx_MSIbGgg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tKx_MSIbGgg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Siouxsie and the Banshees - Cities in Dust</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/k24a9">One of the best gothic new wave bands. (Siouxsie and the Banshees - Cities in the Dust)</a>
<br>
                        submitted <span class="muted">2011-09-02 04:31</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ivq0HeLVI8M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ivq0HeLVI8M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Book Of Love - I Touch Roses</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/k53ba">Book of Love - I Touch Roses</a>
<br>
                        submitted <span class="muted">2011-09-05 06:11</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JIrm0dHbCDU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JIrm0dHbCDU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Depeche Mode - Strangelove (Remastered Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/kiewb">Depeche Mode - Strangelove</a>
<br>
                        submitted <span class="muted">2011-09-17 04:43</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="VdF1IIeBt5c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/VdF1IIeBt5c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">New Order & Depeche Mode   Bizarre love triangle & Strange love</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/kq56r">New Order &amp; Depeche Mode (Mix)</a>
<br>
                        submitted <span class="muted">2011-09-24 17:09</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="acH-rCf15H8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/acH-rCf15H8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">LAX - Ronnie's Song</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/kqont">LAX - Ronnie's Song</a>
<br>
                        submitted <span class="muted">2011-09-25 06:35</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="d5XJ2GiR6Bo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/d5XJ2GiR6Bo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Orchestral Manoeuvres In The Dark - Enola Gay</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/k45bl">Orchestral Manoeuvres in the Dark - Enola Gay</a>
<br>
                        submitted <span class="muted">2011-09-04 05:33</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5pwzy-oVx7k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5pwzy-oVx7k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Erasure - a little respect - with lyrics.</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/k8fxf">Erasure - A Little Respect</a>
<br>
                        submitted <span class="muted">2011-09-08 04:16</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="t7sNfbprnKU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/t7sNfbprnKU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gang of Four - Ether</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/k8hbv">Gang of Four - Ether</a>
<br>
                        submitted <span class="muted">2011-09-08 04:57</span> by <a href="https://www.reddit.com/user/pumpkininny">/u/pumpkininny</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ipbobacFiUY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ipbobacFiUY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">New Order - Crystal</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/k9pfr">New Order - "Crystal" --one of my favorite songs from their newer stuff.</a>
<br>
                        submitted <span class="muted">2011-09-09 04:56</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9OFpfTd0EIs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9OFpfTd0EIs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Billy Idol - Eyes Without A Face</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/kawpo">Billy Idol - Eyes Without A Face</a>
<br>
                        submitted <span class="muted">2011-09-10 06:08</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FqukPY7kasg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FqukPY7kasg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Smiths - You've Got Everything Now - Live</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/kayvy">I wish I was born early enough to be at this show.  The Smiths - You've Got Everything Now</a>
<br>
                        submitted <span class="muted">2011-09-10 07:59</span> by <a href="https://www.reddit.com/user/YoureNotJonesy">/u/YoureNotJonesy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="UPuXvpkOLmM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/UPuXvpkOLmM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">INFORMATION SOCIETY - WHAT'S ON YOUR MIND</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/kcswd">Information Society - What's On Your Mind</a>
<br>
                        submitted <span class="muted">2011-09-12 05:50</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="potXwnUGQMc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/potXwnUGQMc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">New Order - Paradise</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/kg7ua">Just found out we are having a girl. Our first. I've always liked the name Jolene. (New Order - Paradise)</a>
<br>
                        submitted <span class="muted">2011-09-15 05:19</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FuB6xTi8UXU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FuB6xTi8UXU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Trio - da da da</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/ktzv7">Trio- Da Da Da I Don't Love You You Don't Love Me Aha Aha Aha</a>
<br>
                        submitted <span class="muted">2011-09-28 11:50</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tnAQRodZNp0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tnAQRodZNp0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Beat  - I confess (HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/kv2iw">The English Beat - I Confess</a>
<br>
                        submitted <span class="muted">2011-09-29 07:44</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0bM0wVjU2-k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0bM0wVjU2-k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">English Beat: "Save It For Later"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/kvo7c">The English Beat - Save It For Later</a>
<br>
                        submitted <span class="muted">2011-09-29 20:33</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="f19UwyM6rE0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/f19UwyM6rE0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Act - Ping Pong</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/k0zbh">Act - Ping Pong</a>
<br>
                        submitted <span class="muted">2011-09-01 04:27</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZQrOiTqIeHA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZQrOiTqIeHA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Les Visiteurs Du Soir - " je t'écris d'un pays " ( synthwave france 1985 )</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/k10sy">Les Visiteurs Du Soir - Je T'Ecris D'un Pays</a>
<br>
                        submitted <span class="muted">2011-09-01 05:22</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="n2aMaMkDwTA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/n2aMaMkDwTA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pet Shop Boys - Always On My Mind</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/k9qcy">Pet Shop Boys - Always On My Mind</a>
<br>
                        submitted <span class="muted">2011-09-09 05:29</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="u6mLJLQ9j3M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/u6mLJLQ9j3M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Blue Angel & Cyndi Lauper - I Had A Love</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/ka44j">Blue Angel (Cyndi Lauper) - I Had A Love</a>
<br>
                        submitted <span class="muted">2011-09-09 15:30</span> by <a href="https://www.reddit.com/user/larrybird420bongrips">/u/larrybird420bongrips</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="maRdU72UTxE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/maRdU72UTxE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Valentine's Day</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/kg1ia">ABC- Valentine's Day (1982)</a>
<br>
                        submitted <span class="muted">2011-09-15 02:03</span> by <a href="https://www.reddit.com/user/wpm">/u/wpm</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SXODGahChBM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SXODGahChBM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The camouflage The Great Commandment (1987)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/kku03">Camouflage - The Great Commandment</a>
<br>
                        submitted <span class="muted">2011-09-19 20:26</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="CAAopS6xZHw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/CAAopS6xZHw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">01 Modern Love is Automatic</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/ko4f4">Modern Love is Automatic. My favorite A Flock of Seagulls</a>
<br>
                        submitted <span class="muted">2011-09-22 17:50</span> by <a href="https://www.reddit.com/user/livers">/u/livers</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XGcsPMyKugM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XGcsPMyKugM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">You Make Me Feel So Good - BOOK OF LOVE</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/kq521">Book of Love - You Make Me Feel So Good (12" mix)</a>
<br>
                        submitted <span class="muted">2011-09-24 17:04</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5D7stsq52Eg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5D7stsq52Eg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Real Life - Catch Me I'm Falling (1983)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/ksphs">Real Life - Catch Me I'm Falling</a>
<br>
                        submitted <span class="muted">2011-09-27 06:45</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bsqLi9LfiwM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bsqLi9LfiwM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lio - Banana Split</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k0ymr">Lio - Banana Split</a>
<br>
                        submitted <span class="muted">2011-09-01 04:05</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tZHG1HlP6WE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tZHG1HlP6WE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Comix - Touche Pas Mon Sexe</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k0zlt">Comix - Touche Pas Mon Sexe</a>
<br>
                        submitted <span class="muted">2011-09-01 04:37</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="_kHgMvWmIs4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_kHgMvWmIs4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">New Order - Round & Round</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k10dh">The Picture You See is No Portrait of Me. (New Order - Round &amp; Round</a>
<br>
                        submitted <span class="muted">2011-09-01 05:04</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="swnfPL8i4UM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/swnfPL8i4UM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">I Beg Your Pardon</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k1wp8">If at an 80's club, this is a song I want to here.</a>
<br>
                        submitted <span class="muted">2011-09-02 00:35</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2FJF4Swq_PU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2FJF4Swq_PU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Ocean Blue - Ballerina Out Of Control (Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k245c">Feel like I float on a cloud with this one. (The Ocean Blue - Ballerina Out of Control)</a>
<br>
                        submitted <span class="muted">2011-09-02 04:27</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-edTeO92S_g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-edTeO92S_g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Kraftwerk - Computerlove</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k46gb">I saw them live. (Kraftwerk - Computer Love)</a>
<br>
                        submitted <span class="muted">2011-09-04 06:25</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="N3OW3PfUznw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/N3OW3PfUznw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Information Society - Think</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k605z">Information Society - Think</a>
<br>
                        submitted <span class="muted">2011-09-06 02:59</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bpz2AWu4PZg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bpz2AWu4PZg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Peter Murphy - Cuts You Up (1990)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k60er">Peter Murphy - Cuts You Up</a>
<br>
                        submitted <span class="muted">2011-09-06 03:06</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="djV11Xbc914">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/djV11Xbc914/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">a-ha - Take On Me (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/k8f4o">This is my basic ringtone. (A-ha - Take On Me)</a>
<br>
                        submitted <span class="muted">2011-09-08 03:52</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZRhIAQAiTtY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZRhIAQAiTtY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Monaco - What do you want from me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kawvw">Monaco - What Do You Want From Me (one of my favorite N.O. side projects)</a>
<br>
                        submitted <span class="muted">2011-09-10 06:15</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bzA6yO7BO10">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bzA6yO7BO10/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Noel - Silent Morning</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kdvqq">Noel - Silent Morning</a>
<br>
                        submitted <span class="muted">2011-09-13 04:20</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="6aMHL1lEQBk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/6aMHL1lEQBk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Ghost In You  - Psychedelic Furs  (HQ Audio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kg7s1">The Psychedelic Furs - The Ghost In You</a>
<br>
                        submitted <span class="muted">2011-09-15 05:17</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OCSdbnLfhO0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OCSdbnLfhO0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Omd - We Love You</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kjdm4">Orchestral Manoeuvres In The Dark - We Love You</a>
<br>
                        submitted <span class="muted">2011-09-18 08:00</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="u2Qmt-YZhuA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/u2Qmt-YZhuA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">C.C.C.P. - American - Soviets</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kku4p">C.C.C.P. - American Soviet</a>
<br>
                        submitted <span class="muted">2011-09-19 20:31</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5_msHpEa3_Y">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5_msHpEa3_Y/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Haircut 100 - Love Plus One</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kmeim">Haircut 100 - Love Plus One</a>
<br>
                        submitted <span class="muted">2011-09-21 04:32</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SjnYRD2vm8E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SjnYRD2vm8E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The English Beat  - Tears Of A Clown</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/kv2sm">The English Beat - Tears Of A Clown</a>
<br>
                        submitted <span class="muted">2011-09-29 07:58</span> by <a href="https://www.reddit.com/user/ilikefilmstoo">/u/ilikefilmstoo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="D3k3y7dykx0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/D3k3y7dykx0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Robin Gibb  -  Juliet</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/k44by">Just found this one. (Robin Gibb - Juliet)</a>
<br>
                        submitted <span class="muted">2011-09-04 04:50</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dQw4w9WgXcQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dQw4w9WgXcQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Rick Astley - Never Gonna Give You Up</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/kttho">100th post of r/NewWave!!! - Enjoy this spectacular song!</a>
<br>
                        submitted <span class="muted">2011-09-28 05:49</span> by <a href="https://www.reddit.com/user/stateofdreams">/u/stateofdreams</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="4c4sTDLiumw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/4c4sTDLiumw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">[v] = Email  | Anything Box | 65 Million Miles</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/k27r1">Good night New Wave. (Anything Box - 65 Million Miles) 1991</a>
<br>
                        submitted <span class="muted">2011-09-02 06:45</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/newwave/">New Wave</a> archive:
    <a href="/genre/newwave/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/newwave/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/newwave/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/newwave/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/newwave/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/newwave/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://www.teepublic.com/stores/punknroll">Punk'n'Roll Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'newwave';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>