<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Fear Factory, Korn, Love And Death, Sevendust, Slipknot | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/i5De19nvdAM/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/numetal/2015/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="i5De19nvdAM">
                    <td><img src="https://i.ytimg.com/vi/i5De19nvdAM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Korn - Need To</td>
                </tr>
                <tr class="record" id="k2kAGtpJrsA">
                    <td><img src="https://i.ytimg.com/vi/k2kAGtpJrsA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sevendust - Enemy</td>
                </tr>
                <tr class="record" id="Sp1dd_vq5Tg">
                    <td><img src="https://i.ytimg.com/vi/Sp1dd_vq5Tg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Love and Death - Meltdown</td>
                </tr>
                <tr class="record" id="_xSO_iCklXY">
                    <td><img src="https://i.ytimg.com/vi/_xSO_iCklXY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fear Factory - Digimortal.</td>
                </tr>
                <tr class="record" id="jtZwvGh3rLc">
                    <td><img src="https://i.ytimg.com/vi/jtZwvGh3rLc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slipknot - Killpop (Audio)</td>
                </tr>
                <tr class="record" id="FEeprmkASwQ">
                    <td><img src="https://i.ytimg.com/vi/FEeprmkASwQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Element Eighty - Bloodshot</td>
                </tr>
                <tr class="record" id="QG4KoUXJpac">
                    <td><img src="https://i.ytimg.com/vi/QG4KoUXJpac/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Coal Chamber Live</td>
                </tr>
                <tr class="record" id="gwebnMIHUR4">
                    <td><img src="https://i.ytimg.com/vi/gwebnMIHUR4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Limp Bizkit - Intro/Welcome To The Jungle/Rollin - Perth 31st October 2013</td>
                </tr>
                <tr class="record" id="zqK65DPRKPw">
                    <td><img src="https://i.ytimg.com/vi/zqK65DPRKPw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Coal Chamber - Wishes</td>
                </tr>
                <tr class="record" id="6-GWaFrRCTw">
                    <td><img src="https://i.ytimg.com/vi/6-GWaFrRCTw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">COAL CHAMBER - "Rivals" Webisode #6 (One Word) | Napalm Records</td>
                </tr>
                <tr class="record" id="TDZnYV16GNs">
                    <td><img src="https://i.ytimg.com/vi/TDZnYV16GNs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Linkin Park - Nobody's Listening</td>
                </tr>
                <tr class="record" id="QN0_Aa0WnE4">
                    <td><img src="https://i.ytimg.com/vi/QN0_Aa0WnE4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bloodsimple - What If I Lost It</td>
                </tr>
                <tr class="record" id="tu4lFBBoQWo">
                    <td><img src="https://i.ytimg.com/vi/tu4lFBBoQWo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">03 Limp Bizkit-The Priest</td>
                </tr>
                <tr class="record" id="H_prgRNF-pE">
                    <td><img src="https://i.ytimg.com/vi/H_prgRNF-pE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Avatar - Paint Me Red + Lyrics</td>
                </tr>
                <tr class="record" id="wPVfF509_GM">
                    <td><img src="https://i.ytimg.com/vi/wPVfF509_GM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">[720p] System Of A Down - Live @ KROQ Almost Acoustic Chirstmas 2014 Full HD Concert</td>
                </tr>
                <tr class="record" id="ICTZ33xUTkI">
                    <td><img src="https://i.ytimg.com/vi/ICTZ33xUTkI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Centox - Above Them All</td>
                </tr>
                <tr class="record" id="IirtfZ_dCTQ">
                    <td><img src="https://i.ytimg.com/vi/IirtfZ_dCTQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">deftones - birthmark</td>
                </tr>
                <tr class="record" id="OoyQaX8uoiI">
                    <td><img src="https://i.ytimg.com/vi/OoyQaX8uoiI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dreadlock Pussy T-Minus</td>
                </tr>
                <tr class="record" id="D8q7BaS6b60">
                    <td><img src="https://i.ytimg.com/vi/D8q7BaS6b60/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Five.Bolt.Main - Seem To Be Fine</td>
                </tr>
                <tr class="record" id="rK85we7w2eA">
                    <td><img src="https://i.ytimg.com/vi/rK85we7w2eA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Limp Bizkit LIVE The Truth Cologne (Köln), Germany, Palladium 29.06.2014 FULLHD</td>
                </tr>
                <tr class="record" id="6zFC6tv667c">
                    <td><img src="https://i.ytimg.com/vi/6zFC6tv667c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Demon Hunter - "Infected"</td>
                </tr>
                <tr class="record" id="50t7hxyLiCc">
                    <td><img src="https://i.ytimg.com/vi/50t7hxyLiCc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Five Foot Thick - "Unfounded"</td>
                </tr>
                <tr class="record" id="rl3YocYl9G8">
                    <td><img src="https://i.ytimg.com/vi/rl3YocYl9G8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Index Case - Listen</td>
                </tr>
                <tr class="record" id="4HRumpGsiDA">
                    <td><img src="https://i.ytimg.com/vi/4HRumpGsiDA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Demon Hunter - The Heart of a Graveyard</td>
                </tr>
                <tr class="record" id="WlPv6A2FAJg">
                    <td><img src="https://i.ytimg.com/vi/WlPv6A2FAJg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">RAGING SPEEDHORN - THUMPER</td>
                </tr>
                <tr class="record" id="PM2ZhUbcMhY">
                    <td><img src="https://i.ytimg.com/vi/PM2ZhUbcMhY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Slot - Trinity Romanized lyrics/Слот - Троица текст</td>
                </tr>
                <tr class="record" id="8PxzfagKoSM">
                    <td><img src="https://i.ytimg.com/vi/8PxzfagKoSM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gentoo - Слепая Игра</td>
                </tr>
                <tr class="record" id="ttdZjL5NWCc">
                    <td><img src="https://i.ytimg.com/vi/ttdZjL5NWCc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Korn - 'Sabotage' Featuring Slipknot live in London 2015</td>
                </tr>
                <tr class="record" id="DHuZtMkSUn4">
                    <td><img src="https://i.ytimg.com/vi/DHuZtMkSUn4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Toxic Toy - Bus Stop (Official Video)</td>
                </tr>
                <tr class="record" id="7XctcSyA_uQ">
                    <td><img src="https://i.ytimg.com/vi/7XctcSyA_uQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Spike 1000 - Make Me Suffer</td>
                </tr>
                <tr class="record" id="hXxZcXw7Dlo">
                    <td><img src="https://i.ytimg.com/vi/hXxZcXw7Dlo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Diary of Qworn - Episode 1</td>
                </tr>
                <tr class="record" id="i4xSkJ4Hd8A">
                    <td><img src="https://i.ytimg.com/vi/i4xSkJ4Hd8A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">One-Way Mirror "Destination Device" (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="zHuxsl_MSho">
                    <td><img src="https://i.ytimg.com/vi/zHuxsl_MSho/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">22 Even- Breach</td>
                </tr>
                <tr class="record" id="xwD017FtNIQ">
                    <td><img src="https://i.ytimg.com/vi/xwD017FtNIQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">System Of A Down - B.Y.O.B. (HQ guitar cover)</td>
                </tr>
                <tr class="record" id="z-w8C44iLJE">
                    <td><img src="https://i.ytimg.com/vi/z-w8C44iLJE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Smash Hit combo - Casier vierge</td>
                </tr>
                <tr class="record" id="5ElvQ9Y-I9s">
                    <td><img src="https://i.ytimg.com/vi/5ElvQ9Y-I9s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Avatar - Torn Apart</td>
                </tr>
                <tr class="record" id="7iMjVWu4HZc">
                    <td><img src="https://i.ytimg.com/vi/7iMjVWu4HZc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ELEMENT - Poussière d'étoile</td>
                </tr>
                <tr class="record" id="HPBpEx6xFyo">
                    <td><img src="https://i.ytimg.com/vi/HPBpEx6xFyo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hidra - Quien (Oficial HD)</td>
                </tr>
                <tr class="record" id="PTwZmF-D3WE">
                    <td><img src="https://i.ytimg.com/vi/PTwZmF-D3WE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dirty Machine - Cheap Roses</td>
                </tr>
                <tr class="record" id="z6OMaZT4tW0">
                    <td><img src="https://i.ytimg.com/vi/z6OMaZT4tW0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">COAL CHAMBER - "Rivals" Webisode #3 (Tracking) | Napalm Records</td>
                </tr>
                <tr class="record" id="ujKAufld-84">
                    <td><img src="https://i.ytimg.com/vi/ujKAufld-84/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ladiorowm - dolf</td>
                </tr>
                <tr class="record" id="ZBF6xNHlVsQ">
                    <td><img src="https://i.ytimg.com/vi/ZBF6xNHlVsQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Element - Fracasse</td>
                </tr>
                <tr class="record" id="Rfbn3ieVUYU">
                    <td><img src="https://i.ytimg.com/vi/Rfbn3ieVUYU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hum * Stars</td>
                </tr>
                <tr class="record" id="pczAP5cwow0">
                    <td><img src="https://i.ytimg.com/vi/pczAP5cwow0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Man With A Mission tribute video | Dive</td>
                </tr>
                <tr class="record" id="of0tRYfX_ok">
                    <td><img src="https://i.ytimg.com/vi/of0tRYfX_ok/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Minimum Rage + LYRICS [Official] by PSYCHOSTICK</td>
                </tr>
                <tr class="record" id="SQZDlLeAt-A">
                    <td><img src="https://i.ytimg.com/vi/SQZDlLeAt-A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Knout - Oh yeah</td>
                </tr>
                <tr class="record" id="l6QIofg9Byo">
                    <td><img src="https://i.ytimg.com/vi/l6QIofg9Byo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Djerv - 06 - Ladder to the Moon</td>
                </tr>
                <tr class="record" id="zzBom0wcCQ4">
                    <td><img src="https://i.ytimg.com/vi/zzBom0wcCQ4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">COAL CHAMBER - "Rivals" Webisode #5 (Dez Chat) | Napalm Records</td>
                </tr>
                <tr class="record" id="LUpuGpdEV98">
                    <td><img src="https://i.ytimg.com/vi/LUpuGpdEV98/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Limp Bizkit @ Epicenter 2015</td>
                </tr>
                <tr class="record" id="1NtqEDftdDw">
                    <td><img src="https://i.ytimg.com/vi/1NtqEDftdDw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deaththrob - JUMP "Kriss Kross Cover"</td>
                </tr>
                <tr class="record" id="pc1CTt6H2CA">
                    <td><img src="https://i.ytimg.com/vi/pc1CTt6H2CA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deadfront- Nemesis</td>
                </tr>
                <tr class="record" id="j1gOHetiS3Q">
                    <td><img src="https://i.ytimg.com/vi/j1gOHetiS3Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">35 Inch Mudder - Full Scale War</td>
                </tr>
                <tr class="record" id="c_vLFbSXeVM">
                    <td><img src="https://i.ytimg.com/vi/c_vLFbSXeVM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">I.O.U Nothing-Coal Chamber live 2015 Tempe AZ</td>
                </tr>
                <tr class="record" id="jyM1ysVQxMQ">
                    <td><img src="https://i.ytimg.com/vi/jyM1ysVQxMQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">'Rivals' new song Coal Chamber Live 2015 Tempe AZ</td>
                </tr>
                <tr class="record" id="7w_7k-7na1o">
                    <td><img src="https://i.ytimg.com/vi/7w_7k-7na1o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">COAL CHAMBER - "Rivals" Webisode #4 (Meegs Review Footage) | Napalm Records</td>
                </tr>
                <tr class="record" id="dVpCDN9e_pg">
                    <td><img src="https://i.ytimg.com/vi/dVpCDN9e_pg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Catching String - 天生骄傲 | Chinese Nu-Metal</td>
                </tr>
                <tr class="record" id="5kABltWvv9U">
                    <td><img src="https://i.ytimg.com/vi/5kABltWvv9U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Status Praesents - Come Alive</td>
                </tr>
                <tr class="record" id="FuwLxzKbXF8">
                    <td><img src="https://i.ytimg.com/vi/FuwLxzKbXF8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mal D'AURORE - Sometimes</td>
                </tr>
                <tr class="record" id="hh604WgviU4">
                    <td><img src="https://i.ytimg.com/vi/hh604WgviU4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slipknot medley - 8 songs in 8 bit</td>
                </tr>
                <tr class="record" id="F-ivWvyCnKk">
                    <td><img src="https://i.ytimg.com/vi/F-ivWvyCnKk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sworn In - I Don't Really Love You (audio)</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/numetal/">Nu Metal</a> archive:
    <a href="/genre/numetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'numetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>