<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">George Jones, Hank Williams Iii, Hank Williams Jr, Hank Williams Sr, Hot Rod Lincoln | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/u2V4UUjYBsA/hqdefault.jpg">
    <link rel="canonical" href="https://punknrollnet.github.io/genre/outlawcountry/2014/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="u2V4UUjYBsA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/u2V4UUjYBsA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hank Williams jr - Whiskey Bent And Hell Bound</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/2864rd">Hank Williams jr - Whiskey Bent And Hell Bound</a>
<br>
                        submitted <span class="muted">2014-06-15 01:00</span> by <a href="https://www.reddit.com/user/AlainaCath">/u/AlainaCath</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5nKeZc61DLY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5nKeZc61DLY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">George Jones - If Drinking Don't Kill Me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/2864ya">George Jones - If Drinking Dont Kill Me Her Memory Will</a>
<br>
                        submitted <span class="muted">2014-06-15 01:03</span> by <a href="https://www.reddit.com/user/AlainaCath">/u/AlainaCath</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="cQmzp-NA5PM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/cQmzp-NA5PM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hank Williams Sr - Cold Cold Heart</h2>
                    <p><strong>Score:</strong> <span class="rd-score">23</span> - <a href="https://www.reddit.com/28eu13">Hank Williams Sr - Cold Cold Heart</a>
<br>
                        submitted <span class="muted">2014-06-17 23:01</span> by <a href="https://www.reddit.com/user/PabstyLoudmouth">/u/PabstyLoudmouth</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KQ3c6ReAqGo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KQ3c6ReAqGo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hank Williams III - I'm The Only Hell My Mama Ever Raised</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/28jhse">I reckon y'all may have heard this one. Hank III "Only Hell My Mama Ever Raised"</a>
<br>
                        submitted <span class="muted">2014-06-19 10:42</span> by <a href="https://www.reddit.com/user/Osceola24">/u/Osceola24</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3R7l7nDuj1o">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3R7l7nDuj1o/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hot Rod Lincoln - Commander Cody (Studio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">15</span> - <a href="https://www.reddit.com/27mz6d">Commander Cody and His Lost Planet Airmen - Hot Rod Lincoln</a>
<br>
                        submitted <span class="muted">2014-06-08 19:26</span> by <a href="https://www.reddit.com/user/boutsofredneckness">/u/boutsofredneckness</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ved2go9zEGw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ved2go9zEGw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">David Allen Coe Tennessee Whiskey</h2>
                    <p><strong>Score:</strong> <span class="rd-score">15</span> - <a href="https://www.reddit.com/28ptdu">David Allen Coe "Tennessee Whiskey"</a>
<br>
                        submitted <span class="muted">2014-06-21 12:06</span> by <a href="https://www.reddit.com/user/Osceola24">/u/Osceola24</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="VeBb-gTjWKA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/VeBb-gTjWKA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Kris Kristofferson-To Beat the Devil</h2>
                    <p><strong>Score:</strong> <span class="rd-score">14</span> - <a href="https://www.reddit.com/283fm5">Kris Kristofferson-To Beat the Devil</a>
<br>
                        submitted <span class="muted">2014-06-14 00:01</span> by <a href="https://www.reddit.com/user/PabstyLoudmouth">/u/PabstyLoudmouth</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="y0F2aYivCmU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/y0F2aYivCmU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jerry Reed East Bound And Down</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/27fp2l">Jerry Reed - Eastbound &amp; Down (1977)</a>
<br>
                        submitted <span class="muted">2014-06-06 01:53</span> by <a href="https://www.reddit.com/user/johnny0">/u/johnny0</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1gZ_qPr1aCg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1gZ_qPr1aCg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">A Six Pack To Go, Leon Russell</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/27u6kt">Leon Russell - A Six Pack to Go</a>
<br>
                        submitted <span class="muted">2014-06-11 01:09</span> by <a href="https://www.reddit.com/user/johnny0">/u/johnny0</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="le2bPRGvKXE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/le2bPRGvKXE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">C. W. McCall - Convoy - Music Video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/2795pb">C. W. McCall - Convoy</a>
<br>
                        submitted <span class="muted">2014-06-04 01:26</span> by <a href="https://www.reddit.com/user/Dexley">/u/Dexley</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mf0TU48zWsk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mf0TU48zWsk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Byrds-"Life in Prison (G.P. vocals rehearsal take-11)" bonus track from "Sweetheart of the Rodeo"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/28rrec">Gram Parsons/The Byrds - Life in Prison (Aug 1968)</a>
<br>
                        submitted <span class="muted">2014-06-22 03:46</span> by <a href="https://www.reddit.com/user/johnny0">/u/johnny0</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="AZuHfYteR2I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/AZuHfYteR2I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Breakfast In Hell -- Slaid Cleaves</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/299gdc">Slaid Cleaves - Breakfast in Hell</a>
<br>
                        submitted <span class="muted">2014-06-27 18:49</span> by <a href="https://www.reddit.com/user/i8dbbq">/u/i8dbbq</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Y66RQcawkx8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Y66RQcawkx8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Steve Young ~~ Lonesome On'ry and Mean~~.wmv</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/27v9a3">Steve Young- Lonesome, On'ry and Mean</a>
<br>
                        submitted <span class="muted">2014-06-11 11:14</span> by <a href="https://www.reddit.com/user/circle_des_poo">/u/circle_des_poo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="c9VsF8sCGec">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/c9VsF8sCGec/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Johnny Paycheck:  The Outlaw's Prayer</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/28ds27">Johnny Paycheck - The Outlaw Prayer</a>
<br>
                        submitted <span class="muted">2014-06-17 17:00</span> by <a href="https://www.reddit.com/user/Tubbypolarbear">/u/Tubbypolarbear</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zav3-U5uNf8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zav3-U5uNf8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Townes van Zandt - 06 Rake (A Private Concert)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/29d9mk">Townes van Zandt - Rake</a>
<br>
                        submitted <span class="muted">2014-06-29 03:19</span> by <a href="https://www.reddit.com/user/AlainaCath">/u/AlainaCath</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="fEnajM71Ykk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/fEnajM71Ykk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Carl Smith , Tom T Hall - Dolly Parton's Tits.    On KRoseCountryFM.</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/28lm8j">Carl Smith , Tom T Hall - Dolly Parton's Tits.</a>
<br>
                        submitted <span class="muted">2014-06-20 00:28</span> by <a href="https://www.reddit.com/user/PabstyLoudmouth">/u/PabstyLoudmouth</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mIs9V-DL4QM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mIs9V-DL4QM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Your Place Or Mine~Gary Stewart.wmv</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/28pspe">Gary Stewart "Your Place Or Mine"</a>
<br>
                        submitted <span class="muted">2014-06-21 11:51</span> by <a href="https://www.reddit.com/user/Osceola24">/u/Osceola24</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XCC-c7B5-Aw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XCC-c7B5-Aw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">George Jones - Who's Gonna Fill Their Shoes</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/29fgo1">George Jones - Who's gonna fill their shoes (and his..)</a>
<br>
                        submitted <span class="muted">2014-06-29 23:30</span> by <a href="https://www.reddit.com/user/AlainaCath">/u/AlainaCath</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2iosMfyf3sg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2iosMfyf3sg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Waylon Jennings - The Wild Ones (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/28lrit">Waylon Jennings - Wild Ones</a>
<br>
                        submitted <span class="muted">2014-06-20 01:27</span> by <a href="https://www.reddit.com/user/and-julia">/u/and-julia</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OEg9FbuaSCk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OEg9FbuaSCk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Commander Cody and His Lost Planet Airmen - Seeds and Stems Again Blues (1971)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/27pcp1">Commander Cody and His Lost Planet Airmen - Seeds and Stems (Again)</a>
<br>
                        submitted <span class="muted">2014-06-09 15:44</span> by <a href="https://www.reddit.com/user/boutsofredneckness">/u/boutsofredneckness</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5YohnS3Ip7w">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5YohnS3Ip7w/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gimme A Ride To Heaven, Boy by Terry Allen from the album Bloodlines</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/299gx5">Terry Allen - Gimme a Ride to Heaven</a>
<br>
                        submitted <span class="muted">2014-06-27 18:55</span> by <a href="https://www.reddit.com/user/i8dbbq">/u/i8dbbq</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="k7LK-szPH2g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/k7LK-szPH2g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bow Thayer featuring Levon Helm - Wingless Angels</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/27cali">Bow Thayer - Wingless Angels</a>
<br>
                        submitted <span class="muted">2014-06-05 00:42</span> by <a href="https://www.reddit.com/user/soiledshorts79">/u/soiledshorts79</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="VDDSS6-ZnZo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/VDDSS6-ZnZo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ray Wylie Hubbard - Choctaw Bingo</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/283jxo">Choctaw Bingo - Ray Wylie Hubbard</a>
<br>
                        submitted <span class="muted">2014-06-14 00:59</span> by <a href="https://www.reddit.com/user/motorolaradio">/u/motorolaradio</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="T-Af-rJqLhM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/T-Af-rJqLhM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cowboy Jack Clement - Let The Chips Fall [Audio]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/28e1o5">Cowboy Jack Clement - Let The Chips Fall</a>
<br>
                        submitted <span class="muted">2014-06-17 18:29</span> by <a href="https://www.reddit.com/user/davidfry">/u/davidfry</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xDa9H_JzDdM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xDa9H_JzDdM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Big Alligator! Chief James Billie</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/28pu2k">Jim Billie "Big Alligator" not sure if worthy but it's from the Seminole Tribe and has some Miccosukee words. Feedback welcomed</a>
<br>
                        submitted <span class="muted">2014-06-21 12:22</span> by <a href="https://www.reddit.com/user/Osceola24">/u/Osceola24</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FIB-zU-F_a8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FIB-zU-F_a8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Willie Nelson - Night Life</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/27zyu4">Willie Nelson - Night Life (1965 version)</a>
<br>
                        submitted <span class="muted">2014-06-12 21:30</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="HzPlkcG0C2E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/HzPlkcG0C2E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ags Connolly Get Out Of My Mind</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/28tnxa">Ags Connolly Get Out Of My Mind</a>
<br>
                        submitted <span class="muted">2014-06-22 22:13</span> by <a href="https://www.reddit.com/user/TheTrotters">/u/TheTrotters</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Nk1ZM59Q_eI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Nk1ZM59Q_eI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Keith Sykes    Advanced Medication for the Blues</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/299edq">Keith Sykes - Advanced Medication for the Blues</a>
<br>
                        submitted <span class="muted">2014-06-27 18:29</span> by <a href="https://www.reddit.com/user/i8dbbq">/u/i8dbbq</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-lsag6Nc7jU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-lsag6Nc7jU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Let Her Go - Passenger (StrumCharm Acoustic Cover) lyrics in CC</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/292pqn">Passenger - Let Her Go Acoustic Cover with lyrics (by StrumCharm)</a>
<br>
                        submitted <span class="muted">2014-06-25 17:43</span> by <a href="https://www.reddit.com/user/cadricx">/u/cadricx</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/outlawcountry/">Outlaw Country</a> archive:
    <a href="/genre/outlawcountry/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://www.teepublic.com/stores/punknroll">Punk'n'Roll Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'outlawcountry';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>