<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Blind Guardian, Firewind, Grave Digger, Kamelot, Luca Turilli | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/PbzSWcRM9u0/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/powermetal/2012/8/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="PbzSWcRM9u0">
                    <td><img src="https://i.ytimg.com/vi/PbzSWcRM9u0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GRAVE DIGGER -  Rebellion feat. Hansi Kürsch (Blind Guardian) and Van Canto</td>
                </tr>
                <tr class="record" id="0O8e2hMAL6c">
                    <td><img src="https://i.ytimg.com/vi/0O8e2hMAL6c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ghost Love Score Lyrics</td>
                </tr>
                <tr class="record" id="3wRreoNRGwk">
                    <td><img src="https://i.ytimg.com/vi/3wRreoNRGwk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kamelot - Center of the Universe</td>
                </tr>
                <tr class="record" id="wj2QR0XuoLQ">
                    <td><img src="https://i.ytimg.com/vi/wj2QR0XuoLQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Can You Feel the Love Tonight - Power Metal Cover</td>
                </tr>
                <tr class="record" id="tBwpDRspAhU">
                    <td><img src="https://i.ytimg.com/vi/tBwpDRspAhU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Firewind - The fire and the fury</td>
                </tr>
                <tr class="record" id="izpqDWN5iVQ">
                    <td><img src="https://i.ytimg.com/vi/izpqDWN5iVQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Luca Turilli - Demonheart</td>
                </tr>
                <tr class="record" id="auIa_aPkn_c">
                    <td><img src="https://i.ytimg.com/vi/auIa_aPkn_c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian - Banish from Sanctuary (live)</td>
                </tr>
                <tr class="record" id="yDE2VQzghp4">
                    <td><img src="https://i.ytimg.com/vi/yDE2VQzghp4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Skyrim Meets Metal</td>
                </tr>
                <tr class="record" id="O9oBpVnm3qU">
                    <td><img src="https://i.ytimg.com/vi/O9oBpVnm3qU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavenly - Liberty</td>
                </tr>
                <tr class="record" id="ncP2nydjHto">
                    <td><img src="https://i.ytimg.com/vi/ncP2nydjHto/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Edguy - King Of Fools - live BYH Festival 2007 HD Version - b-light.tv</td>
                </tr>
                <tr class="record" id="MmxRK5wfbyM">
                    <td><img src="https://i.ytimg.com/vi/MmxRK5wfbyM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Keldian - Hope</td>
                </tr>
                <tr class="record" id="bGL2zE6Qknk">
                    <td><img src="https://i.ytimg.com/vi/bGL2zE6Qknk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavenly - Fight For Deliverance</td>
                </tr>
                <tr class="record" id="sjP1095Kmfo">
                    <td><img src="https://i.ytimg.com/vi/sjP1095Kmfo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Power Quest - Cemetery Gates</td>
                </tr>
                <tr class="record" id="X5JXJcjtSOQ">
                    <td><img src="https://i.ytimg.com/vi/X5JXJcjtSOQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">NOCTURNAL RITES - Never Again (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="Eh8UlmwktwQ">
                    <td><img src="https://i.ytimg.com/vi/Eh8UlmwktwQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gamma Ray "Rise" (official video) from the album TO THE METAL</td>
                </tr>
                <tr class="record" id="2QJNEWyoVW8">
                    <td><img src="https://i.ytimg.com/vi/2QJNEWyoVW8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Unleash The Archers - Dawn Of Ages</td>
                </tr>
                <tr class="record" id="vRfsfrhMPWU">
                    <td><img src="https://i.ytimg.com/vi/vRfsfrhMPWU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Falconer - Royal Galley</td>
                </tr>
                <tr class="record" id="4fPgUwHATOA">
                    <td><img src="https://i.ytimg.com/vi/4fPgUwHATOA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Mask - Shadow of the Red Baron</td>
                </tr>
                <tr class="record" id="5RhJ2hBNerc">
                    <td><img src="https://i.ytimg.com/vi/5RhJ2hBNerc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Running Wild - Conquistadores</td>
                </tr>
                <tr class="record" id="ZnNfwjRqF98">
                    <td><img src="https://i.ytimg.com/vi/ZnNfwjRqF98/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Derdian - Eternal Light</td>
                </tr>
                <tr class="record" id="8a0EOJKjTCQ">
                    <td><img src="https://i.ytimg.com/vi/8a0EOJKjTCQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HammerFall - Threshold</td>
                </tr>
                <tr class="record" id="gGw9iPQvwag">
                    <td><img src="https://i.ytimg.com/vi/gGw9iPQvwag/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Borealis - Where We Started</td>
                </tr>
                <tr class="record" id="-YUW5Ioqah0">
                    <td><img src="https://i.ytimg.com/vi/-YUW5Ioqah0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavenly - The Power and Fury</td>
                </tr>
                <tr class="record" id="iSQzy8ZN7CQ">
                    <td><img src="https://i.ytimg.com/vi/iSQzy8ZN7CQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Alpha Tiger - Karma</td>
                </tr>
                <tr class="record" id="2xKMQmJbp4M">
                    <td><img src="https://i.ytimg.com/vi/2xKMQmJbp4M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Persuader - Fire at will (with lyrics)</td>
                </tr>
                <tr class="record" id="FMQraWaLjXU">
                    <td><img src="https://i.ytimg.com/vi/FMQraWaLjXU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dream Evil ~ Chasing the Dragon ~ Live DVD</td>
                </tr>
                <tr class="record" id="1oTEQf1d9Iw">
                    <td><img src="https://i.ytimg.com/vi/1oTEQf1d9Iw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Maiden - Alexander The Great (with lyrics)</td>
                </tr>
                <tr class="record" id="rJUIrnxP0qE">
                    <td><img src="https://i.ytimg.com/vi/rJUIrnxP0qE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thunderstone : Without Wings</td>
                </tr>
                <tr class="record" id="aQI5K_kPjwo">
                    <td><img src="https://i.ytimg.com/vi/aQI5K_kPjwo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Burning In Hell - Medusa</td>
                </tr>
                <tr class="record" id="7DmO03db-QU">
                    <td><img src="https://i.ytimg.com/vi/7DmO03db-QU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thaurorod - Warrior's Heart (Official music video)</td>
                </tr>
                <tr class="record" id="9IEX7U-Ht2U">
                    <td><img src="https://i.ytimg.com/vi/9IEX7U-Ht2U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavenly - Evil</td>
                </tr>
                <tr class="record" id="pQ4-9GYmf20">
                    <td><img src="https://i.ytimg.com/vi/pQ4-9GYmf20/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Oceans of Time   Kingdom Falls</td>
                </tr>
                <tr class="record" id="YTn15LdqwLg">
                    <td><img src="https://i.ytimg.com/vi/YTn15LdqwLg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">athlantis flying higher</td>
                </tr>
                <tr class="record" id="AL3qp2yTSdQ">
                    <td><img src="https://i.ytimg.com/vi/AL3qp2yTSdQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Derdian-Burn W/Lyrics</td>
                </tr>
                <tr class="record" id="HLZn_lvW_CM">
                    <td><img src="https://i.ytimg.com/vi/HLZn_lvW_CM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dreamtale - Dawn/Dreamtale - Memories Of Time</td>
                </tr>
                <tr class="record" id="I-PibxVua9g">
                    <td><img src="https://i.ytimg.com/vi/I-PibxVua9g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Zonata - Gate of Fear</td>
                </tr>
                <tr class="record" id="8uW1JL3jKMU">
                    <td><img src="https://i.ytimg.com/vi/8uW1JL3jKMU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Emerald Sun - Sword Of Light</td>
                </tr>
                <tr class="record" id="PWWQoAPrq7I">
                    <td><img src="https://i.ytimg.com/vi/PWWQoAPrq7I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kamelot - Sacrimony (the new song from the coming album in 2012) @ Kavarna, Bulgaria (live)</td>
                </tr>
                <tr class="record" id="iPRcbGy91xs">
                    <td><img src="https://i.ytimg.com/vi/iPRcbGy91xs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Scheepers / Locked in the Dungeon ( 2011 )</td>
                </tr>
                <tr class="record" id="RXxxLp-Ufe8">
                    <td><img src="https://i.ytimg.com/vi/RXxxLp-Ufe8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mechina - Andromeda [HD]</td>
                </tr>
                <tr class="record" id="B-aymWIBF8o">
                    <td><img src="https://i.ytimg.com/vi/B-aymWIBF8o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Burning Skies - Vacant Throne</td>
                </tr>
                <tr class="record" id="PI0J8XWz7co">
                    <td><img src="https://i.ytimg.com/vi/PI0J8XWz7co/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Mask - Morgana's Castle</td>
                </tr>
                <tr class="record" id="NFUOlmGuBfY">
                    <td><img src="https://i.ytimg.com/vi/NFUOlmGuBfY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">QANTICE - Megantrop</td>
                </tr>
                <tr class="record" id="adXX7U0GF_0">
                    <td><img src="https://i.ytimg.com/vi/adXX7U0GF_0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bastard Son - Astral Doors</td>
                </tr>
                <tr class="record" id="E2igZ39A8Rs">
                    <td><img src="https://i.ytimg.com/vi/E2igZ39A8Rs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BOB KATSIONIS "The Nightrager" 2009</td>
                </tr>
                <tr class="record" id="_t-mzKkxpqk">
                    <td><img src="https://i.ytimg.com/vi/_t-mzKkxpqk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Almah - Birds Of Prey</td>
                </tr>
                <tr class="record" id="_uobeLYXFsU">
                    <td><img src="https://i.ytimg.com/vi/_uobeLYXFsU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">LEBANESE AURA - KATTAH</td>
                </tr>
                <tr class="record" id="EPDAtB4adp8">
                    <td><img src="https://i.ytimg.com/vi/EPDAtB4adp8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DawnRider - When Our Troops Unite - w/Lyrics</td>
                </tr>
                <tr class="record" id="5aX61j7htxo">
                    <td><img src="https://i.ytimg.com/vi/5aX61j7htxo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pharaoh - Speak To Me</td>
                </tr>
                <tr class="record" id="k-VFmZgjhSk">
                    <td><img src="https://i.ytimg.com/vi/k-VFmZgjhSk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Burning Point - Heaven Is Hell</td>
                </tr>
                <tr class="record" id="k_X0YMu62S8">
                    <td><img src="https://i.ytimg.com/vi/k_X0YMu62S8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">dreamevil - hail to the king</td>
                </tr>
                <tr class="record" id="7kVLdBN4tDE">
                    <td><img src="https://i.ytimg.com/vi/7kVLdBN4tDE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Night Mistress "Hand Of God" [HD]</td>
                </tr>
                <tr class="record" id="eBML5nmBpZY">
                    <td><img src="https://i.ytimg.com/vi/eBML5nmBpZY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Balfare   Waking in Silence</td>
                </tr>
                <tr class="record" id="EGOe53u_uoE">
                    <td><img src="https://i.ytimg.com/vi/EGOe53u_uoE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dark Illusion - Warlord of the Night</td>
                </tr>
                <tr class="record" id="4M5rjE9qkl0">
                    <td><img src="https://i.ytimg.com/vi/4M5rjE9qkl0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Machinery (US) - Divide And Conquer</td>
                </tr>
                <tr class="record" id="H3YYDPPAS70">
                    <td><img src="https://i.ytimg.com/vi/H3YYDPPAS70/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Morifade - Cast A Spell</td>
                </tr>
                <tr class="record" id="iliNka3X-Ts">
                    <td><img src="https://i.ytimg.com/vi/iliNka3X-Ts/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">FREEDOM CALL - Hero on Video (official)</td>
                </tr>
                <tr class="record" id="p5n7TYagWfA">
                    <td><img src="https://i.ytimg.com/vi/p5n7TYagWfA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bloodbound - The Ones We Left Behind</td>
                </tr>
                <tr class="record" id="ObYtMtO65D0">
                    <td><img src="https://i.ytimg.com/vi/ObYtMtO65D0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Filthy Asses - Evil's Gone</td>
                </tr>
                <tr class="record" id="dLMuv5dc-rQ">
                    <td><img src="https://i.ytimg.com/vi/dLMuv5dc-rQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Judas Priest- The Sentinel with lyrics</td>
                </tr>
                <tr class="record" id="Ci40ae8BlcE">
                    <td><img src="https://i.ytimg.com/vi/Ci40ae8BlcE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dizzee Rascal & Armand Van Helden - Bonkers (Video)</td>
                </tr>
                <tr class="record" id="4Y0HOQ7jwRA">
                    <td><img src="https://i.ytimg.com/vi/4Y0HOQ7jwRA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Oratory - Living Wisdom</td>
                </tr>
                <tr class="record" id="q391nH7TF5o">
                    <td><img src="https://i.ytimg.com/vi/q391nH7TF5o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HEAVENLY - Spill Blood On Fire (2007)</td>
                </tr>
                <tr class="record" id="KJlRIUrnvtQ">
                    <td><img src="https://i.ytimg.com/vi/KJlRIUrnvtQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sacrificial Prisoner - Vacant Throne</td>
                </tr>
                <tr class="record" id="pQY3jalQSk4">
                    <td><img src="https://i.ytimg.com/vi/pQY3jalQSk4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SONATA ARCTICA - Shitload of Money (OFFICIAL MUSIC VIDEO)</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/powermetal/">Power Metal</a> archive:
    <a href="/genre/powermetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'powermetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>