<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Blind Guardian, Dragonforce, Gloryhammer, Kamelot, Sharky Sharky | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/DBAUgpnjuX0/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/powermetal/2014/7/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="DBAUgpnjuX0">
                    <td><img src="https://i.ytimg.com/vi/DBAUgpnjuX0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sharky Sharky - Hungry (Amaranthe - Hunger Cover)</td>
                </tr>
                <tr class="record" id="g5K0COTiKec">
                    <td><img src="https://i.ytimg.com/vi/g5K0COTiKec/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GLORYHAMMER - The Unicorn Invasion of Dundee (Live) | Napalm Records</td>
                </tr>
                <tr class="record" id="Fb7F3SU5BRw">
                    <td><img src="https://i.ytimg.com/vi/Fb7F3SU5BRw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DragonForce - The Game (Official Video. Feat. Matt Heafy of Trivium)</td>
                </tr>
                <tr class="record" id="IoyToHOWSV8">
                    <td><img src="https://i.ytimg.com/vi/IoyToHOWSV8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian - Nightfall</td>
                </tr>
                <tr class="record" id="3wRreoNRGwk">
                    <td><img src="https://i.ytimg.com/vi/3wRreoNRGwk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kamelot - Center of the Universe</td>
                </tr>
                <tr class="record" id="e3bEqbKzRM8">
                    <td><img src="https://i.ytimg.com/vi/e3bEqbKzRM8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kamelot - Serenade</td>
                </tr>
                <tr class="record" id="5Kto_mOKXDk">
                    <td><img src="https://i.ytimg.com/vi/5Kto_mOKXDk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Black Fate - T.B.A. [ALBUM TEASER #1]</td>
                </tr>
                <tr class="record" id="ULBWUyFnkyc">
                    <td><img src="https://i.ytimg.com/vi/ULBWUyFnkyc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">How to Metal: SPEED METAL Lesson with Super Quest</td>
                </tr>
                <tr class="record" id="qhZpmFORHBA">
                    <td><img src="https://i.ytimg.com/vi/qhZpmFORHBA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ievan Polkka</td>
                </tr>
                <tr class="record" id="tqRtEbv1hR4">
                    <td><img src="https://i.ytimg.com/vi/tqRtEbv1hR4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Orden Ogan - To the end</td>
                </tr>
                <tr class="record" id="nDC0rH6MX0s">
                    <td><img src="https://i.ytimg.com/vi/nDC0rH6MX0s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Demons & Wizards - Crimson King + Lyrics</td>
                </tr>
                <tr class="record" id="BB1IrA8FwrY">
                    <td><img src="https://i.ytimg.com/vi/BB1IrA8FwrY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">NIGHTWISH - Making of new album 2015; Episode 1: The Cabin (OFFICIAL TRAILER)</td>
                </tr>
                <tr class="record" id="iPcPdCWrdxk">
                    <td><img src="https://i.ytimg.com/vi/iPcPdCWrdxk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Týr - Fields Of The Fallen (lyrics in description)</td>
                </tr>
                <tr class="record" id="DBx9h-6vV4o">
                    <td><img src="https://i.ytimg.com/vi/DBx9h-6vV4o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian - Valkyries</td>
                </tr>
                <tr class="record" id="JTShSv-95uI">
                    <td><img src="https://i.ytimg.com/vi/JTShSv-95uI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dragonland -Beethoven's Nightmare</td>
                </tr>
                <tr class="record" id="oz3QoyKjJO8">
                    <td><img src="https://i.ytimg.com/vi/oz3QoyKjJO8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jorn Lande - I Walk Alone</td>
                </tr>
                <tr class="record" id="NG4YLbVKUjQ">
                    <td><img src="https://i.ytimg.com/vi/NG4YLbVKUjQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Serenity- Legacy of Tudors (with timed lyrics)</td>
                </tr>
                <tr class="record" id="gGTAmmTiD_Y">
                    <td><img src="https://i.ytimg.com/vi/gGTAmmTiD_Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">XANDRIA - Nightfall (Official Video) | Napalm Records</td>
                </tr>
                <tr class="record" id="KpvLMyC4a8o">
                    <td><img src="https://i.ytimg.com/vi/KpvLMyC4a8o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ANCIENT BARDS - THE BIRTH OF EVIL [Official Videoclip]</td>
                </tr>
                <tr class="record" id="cXGZSXlhhwI">
                    <td><img src="https://i.ytimg.com/vi/cXGZSXlhhwI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">KAMELOT - HUNTER'S SEASON</td>
                </tr>
                <tr class="record" id="DiqX33qP2rc">
                    <td><img src="https://i.ytimg.com/vi/DiqX33qP2rc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iced Earth - The End? (Plangues Of Babylon 2014)</td>
                </tr>
                <tr class="record" id="-hL-iO86vdI">
                    <td><img src="https://i.ytimg.com/vi/-hL-iO86vdI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">[PV] DESTINY - GALNERYUS</td>
                </tr>
                <tr class="record" id="BFXql8q2dNM">
                    <td><img src="https://i.ytimg.com/vi/BFXql8q2dNM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ANCIENT BARDS - THROUGH MY VEINS [Official Live Videoclip]</td>
                </tr>
                <tr class="record" id="SNuwOYQPr-s">
                    <td><img src="https://i.ytimg.com/vi/SNuwOYQPr-s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Avantasia - The Seven Angels</td>
                </tr>
                <tr class="record" id="4_5X3FwzVeI">
                    <td><img src="https://i.ytimg.com/vi/4_5X3FwzVeI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Shadow Of Uther</td>
                </tr>
                <tr class="record" id="6KKDleeuE3c">
                    <td><img src="https://i.ytimg.com/vi/6KKDleeuE3c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Edguy - Scarlet Rose + Lyrics</td>
                </tr>
                <tr class="record" id="KcNjEExImHs">
                    <td><img src="https://i.ytimg.com/vi/KcNjEExImHs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rhapsody of Fire - On the way to Ainor with Lyrics</td>
                </tr>
                <tr class="record" id="7WsP1MDLOdA">
                    <td><img src="https://i.ytimg.com/vi/7WsP1MDLOdA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dragonland - Starfall</td>
                </tr>
                <tr class="record" id="y8jki4i4raQ">
                    <td><img src="https://i.ytimg.com/vi/y8jki4i4raQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SABATON - En Livstid I Krig (OFFICIAL TRACK)</td>
                </tr>
                <tr class="record" id="iC72ISvPId0">
                    <td><img src="https://i.ytimg.com/vi/iC72ISvPId0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Avantasia - Wastelands</td>
                </tr>
                <tr class="record" id="2cGbawCg4WU">
                    <td><img src="https://i.ytimg.com/vi/2cGbawCg4WU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Avantasia - Twisted Mind</td>
                </tr>
                <tr class="record" id="AL_c6EYeNVQ">
                    <td><img src="https://i.ytimg.com/vi/AL_c6EYeNVQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">A Quest For The Crown</td>
                </tr>
                <tr class="record" id="vRHd_Zk16XI">
                    <td><img src="https://i.ytimg.com/vi/vRHd_Zk16XI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Power Quest - Children Of The Dream</td>
                </tr>
                <tr class="record" id="ySvt8GHCyOo">
                    <td><img src="https://i.ytimg.com/vi/ySvt8GHCyOo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Edguy - Do Me like a Caveman</td>
                </tr>
                <tr class="record" id="5cEoFiQweEo">
                    <td><img src="https://i.ytimg.com/vi/5cEoFiQweEo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Guardian - The Martyr</td>
                </tr>
                <tr class="record" id="UBE6l3LHp3I">
                    <td><img src="https://i.ytimg.com/vi/UBE6l3LHp3I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Helloween - The dark ride (Studio version)</td>
                </tr>
                <tr class="record" id="yFt4R4a5yD4">
                    <td><img src="https://i.ytimg.com/vi/yFt4R4a5yD4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Keldian - The Devil In Me</td>
                </tr>
                <tr class="record" id="aPjiFj0w20c">
                    <td><img src="https://i.ytimg.com/vi/aPjiFj0w20c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"Quiero Leche"  Ciudad Emergente</td>
                </tr>
                <tr class="record" id="11abSTMu3QI">
                    <td><img src="https://i.ytimg.com/vi/11abSTMu3QI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iron Savior - Tyranny of Steel</td>
                </tr>
                <tr class="record" id="Ld-HPrXOcxI">
                    <td><img src="https://i.ytimg.com/vi/Ld-HPrXOcxI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dark Moor - Beyond The Sea</td>
                </tr>
                <tr class="record" id="hh69ITTeKYY">
                    <td><img src="https://i.ytimg.com/vi/hh69ITTeKYY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Disforia - Lunar Sunrise</td>
                </tr>
                <tr class="record" id="YYuJCiJZP08">
                    <td><img src="https://i.ytimg.com/vi/YYuJCiJZP08/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Theocracy - Nailed [LIVE REHEARSAL]</td>
                </tr>
                <tr class="record" id="Z5xGIsgTS4w">
                    <td><img src="https://i.ytimg.com/vi/Z5xGIsgTS4w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dream Evil - Evilution (Lyrics - Letra)</td>
                </tr>
                <tr class="record" id="Gp_IObMixiQ">
                    <td><img src="https://i.ytimg.com/vi/Gp_IObMixiQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Machinae Supremacy - Player One</td>
                </tr>
                <tr class="record" id="R98xYg26w_0">
                    <td><img src="https://i.ytimg.com/vi/R98xYg26w_0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bravery In The Field</td>
                </tr>
                <tr class="record" id="H8cq5kyC-gU">
                    <td><img src="https://i.ytimg.com/vi/H8cq5kyC-gU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Stormwarrior - Remember the oathe</td>
                </tr>
                <tr class="record" id="_EbseMiDe00">
                    <td><img src="https://i.ytimg.com/vi/_EbseMiDe00/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavenly - Time Machine - Featuring Kai Hansen [Gamma Ray] & Piet Sielck [Iron Savior]</td>
                </tr>
                <tr class="record" id="cUtJ90L6TAk">
                    <td><img src="https://i.ytimg.com/vi/cUtJ90L6TAk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">WHISPERED - LET THE BATTLES BEGIN! (FFVII COVER)</td>
                </tr>
                <tr class="record" id="k5IMyTx85MM">
                    <td><img src="https://i.ytimg.com/vi/k5IMyTx85MM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Serenity - To Stone She Turned</td>
                </tr>
                <tr class="record" id="OWMoG-WUaK4">
                    <td><img src="https://i.ytimg.com/vi/OWMoG-WUaK4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Power Quest - Sacred Land</td>
                </tr>
                <tr class="record" id="ZXuUH2myOdc">
                    <td><img src="https://i.ytimg.com/vi/ZXuUH2myOdc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Derdian - Human Reset Official Album Teaser 2014</td>
                </tr>
                <tr class="record" id="awvqIi427_A">
                    <td><img src="https://i.ytimg.com/vi/awvqIi427_A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Within Temptation - And We Run ft. Xzibit</td>
                </tr>
                <tr class="record" id="x1x-rN9wl-M">
                    <td><img src="https://i.ytimg.com/vi/x1x-rN9wl-M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Edguy - Nailed to the Wheel</td>
                </tr>
                <tr class="record" id="nbjCU-7hDJw">
                    <td><img src="https://i.ytimg.com/vi/nbjCU-7hDJw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pathfinder - Moonlight Shadow [Mike Oldfield metal cover]</td>
                </tr>
                <tr class="record" id="Lv05oHDjus4">
                    <td><img src="https://i.ytimg.com/vi/Lv05oHDjus4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Falconer - Black Moon Rising</td>
                </tr>
                <tr class="record" id="n3jS-dV9FKc">
                    <td><img src="https://i.ytimg.com/vi/n3jS-dV9FKc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rhapsody -  Guardians (cover Helloween)</td>
                </tr>
                <tr class="record" id="7UXto67wIGs">
                    <td><img src="https://i.ytimg.com/vi/7UXto67wIGs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hammerfall - Remember Yesterday</td>
                </tr>
                <tr class="record" id="92_XyoAGprc">
                    <td><img src="https://i.ytimg.com/vi/92_XyoAGprc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Unisonic 'Exceptional' Official Music Video - New album 'Light Of Dawn' OUT AUGUST 2014</td>
                </tr>
                <tr class="record" id="Q5c0uPzywh8">
                    <td><img src="https://i.ytimg.com/vi/Q5c0uPzywh8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Richard Andersson's Space Odyssey - The House With A Hundred Windows</td>
                </tr>
                <tr class="record" id="joViFW9T3Cw">
                    <td><img src="https://i.ytimg.com/vi/joViFW9T3Cw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Derdian - Human Reset (Full Album 2014)</td>
                </tr>
                <tr class="record" id="rJyi_EYvmTM">
                    <td><img src="https://i.ytimg.com/vi/rJyi_EYvmTM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">NOCTURNAL RITES - Awakening (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="z0CDgCIVGGw">
                    <td><img src="https://i.ytimg.com/vi/z0CDgCIVGGw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PHOENIX RISING - The Chosen One [2012] [English]</td>
                </tr>
                <tr class="record" id="v0CfUyCg_sk">
                    <td><img src="https://i.ytimg.com/vi/v0CfUyCg_sk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sharky Sharky - Party Under the Sea (Official Lyric Video)</td>
                </tr>
                <tr class="record" id="UxcI150NnsY">
                    <td><img src="https://i.ytimg.com/vi/UxcI150NnsY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PROJECT ARCADIA - Not My Destiny</td>
                </tr>
                <tr class="record" id="MH9za_hLmqw">
                    <td><img src="https://i.ytimg.com/vi/MH9za_hLmqw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Alestorm - Chronicles of Vengeance</td>
                </tr>
                <tr class="record" id="QKSf431vAjU">
                    <td><img src="https://i.ytimg.com/vi/QKSf431vAjU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Excalion - Arriving as the Dark</td>
                </tr>
                <tr class="record" id="BQWmYtKYNlc">
                    <td><img src="https://i.ytimg.com/vi/BQWmYtKYNlc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Helloween - Fast as a Shark (Accept Cover)</td>
                </tr>
                <tr class="record" id="7SBxu6SAXHQ">
                    <td><img src="https://i.ytimg.com/vi/7SBxu6SAXHQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Serious Black (Official Trailer)</td>
                </tr>
                <tr class="record" id="IJPDvmSs1Sw">
                    <td><img src="https://i.ytimg.com/vi/IJPDvmSs1Sw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Freedom Call - High enough</td>
                </tr>
                <tr class="record" id="f3mPLnjDjv0">
                    <td><img src="https://i.ytimg.com/vi/f3mPLnjDjv0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ALESTORM - Sunset On The Golden Age (Preview) | Napalm Records</td>
                </tr>
                <tr class="record" id="lkvqrCGuS10">
                    <td><img src="https://i.ytimg.com/vi/lkvqrCGuS10/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fates Warning - Fata Morgana</td>
                </tr>
                <tr class="record" id="IMckKii11Vs">
                    <td><img src="https://i.ytimg.com/vi/IMckKii11Vs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fairyland - On The Path To Fury</td>
                </tr>
                <tr class="record" id="LfRB9eLqv74">
                    <td><img src="https://i.ytimg.com/vi/LfRB9eLqv74/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dark Moor - Before The Duel</td>
                </tr>
                <tr class="record" id="LfHoz8NnEvM">
                    <td><img src="https://i.ytimg.com/vi/LfHoz8NnEvM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Axxis - Bloodangel</td>
                </tr>
                <tr class="record" id="K08ENVmayqQ">
                    <td><img src="https://i.ytimg.com/vi/K08ENVmayqQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kiuas - Heart and Will</td>
                </tr>
                <tr class="record" id="U_JSo5gr2nw">
                    <td><img src="https://i.ytimg.com/vi/U_JSo5gr2nw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">WHISPERED - GINGA : NAGAREBOSHI GIN</td>
                </tr>
                <tr class="record" id="By-vzXNQexw">
                    <td><img src="https://i.ytimg.com/vi/By-vzXNQexw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Luca Turilli: Gothic Vision</td>
                </tr>
                <tr class="record" id="R-siEIQGdC4">
                    <td><img src="https://i.ytimg.com/vi/R-siEIQGdC4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GAUNTLET - Beyond The Wall</td>
                </tr>
                <tr class="record" id="2K300EpBFJY">
                    <td><img src="https://i.ytimg.com/vi/2K300EpBFJY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">White Skull - Asgard</td>
                </tr>
                <tr class="record" id="rKRb-JjHwO0">
                    <td><img src="https://i.ytimg.com/vi/rKRb-JjHwO0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Highland Glory - One Last Chance</td>
                </tr>
                <tr class="record" id="mwwnfWgV_5U">
                    <td><img src="https://i.ytimg.com/vi/mwwnfWgV_5U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heavenly - Lust For Life</td>
                </tr>
                <tr class="record" id="1LzfazydDBk">
                    <td><img src="https://i.ytimg.com/vi/1LzfazydDBk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Battlelore - War of wrath</td>
                </tr>
                <tr class="record" id="wZosj_IE8sU">
                    <td><img src="https://i.ytimg.com/vi/wZosj_IE8sU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Axenstar- All I Could Ever Be</td>
                </tr>
                <tr class="record" id="_dbcVVu_zfI">
                    <td><img src="https://i.ytimg.com/vi/_dbcVVu_zfI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Saint Deamon - The Only One Sane</td>
                </tr>
                <tr class="record" id="29l439BfAeE">
                    <td><img src="https://i.ytimg.com/vi/29l439BfAeE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Metalium- Power strikes the earth</td>
                </tr>
                <tr class="record" id="JecGv9pp7as">
                    <td><img src="https://i.ytimg.com/vi/JecGv9pp7as/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Skiltron - Bagpipes Of War (lyrics)</td>
                </tr>
                <tr class="record" id="nBt3FVX9Y68">
                    <td><img src="https://i.ytimg.com/vi/nBt3FVX9Y68/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dreamtale - Tides Of War</td>
                </tr>
                <tr class="record" id="Gsq4fAuXR34">
                    <td><img src="https://i.ytimg.com/vi/Gsq4fAuXR34/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fogalord - The Fog Lord</td>
                </tr>
                <tr class="record" id="uy6HavhU1_k">
                    <td><img src="https://i.ytimg.com/vi/uy6HavhU1_k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cellador - A Sing Far Beyond</td>
                </tr>
                <tr class="record" id="wLmTsK3cepo">
                    <td><img src="https://i.ytimg.com/vi/wLmTsK3cepo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Manticora - 2004. Help Me Like No One Can (Apathy)</td>
                </tr>
                <tr class="record" id="3TnC1hNlOFk">
                    <td><img src="https://i.ytimg.com/vi/3TnC1hNlOFk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ECHOTERRA - Sirens Of Sinew And Sin</td>
                </tr>
                <tr class="record" id="3u9REoTMOL4">
                    <td><img src="https://i.ytimg.com/vi/3u9REoTMOL4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cain's Offering - Dawn of solace - FULL SONG</td>
                </tr>
                <tr class="record" id="ke02ArDIJ9k">
                    <td><img src="https://i.ytimg.com/vi/ke02ArDIJ9k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jorn Lande - Sunset Station (Lyrics)</td>
                </tr>
                <tr class="record" id="7k1TMhUxEgY">
                    <td><img src="https://i.ytimg.com/vi/7k1TMhUxEgY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Savatage- "The Wake of Magellan"</td>
                </tr>
                <tr class="record" id="jhxZ5pdZVuY">
                    <td><img src="https://i.ytimg.com/vi/jhxZ5pdZVuY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Altaria - The Will To Live</td>
                </tr>
                <tr class="record" id="UPhJNo-17cg">
                    <td><img src="https://i.ytimg.com/vi/UPhJNo-17cg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Legend - Death Knight (2009)</td>
                </tr>
                <tr class="record" id="23cbcvFHA3Y">
                    <td><img src="https://i.ytimg.com/vi/23cbcvFHA3Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Holy Knights - Sir Percival</td>
                </tr>
                <tr class="record" id="dmy0y8U7vjE">
                    <td><img src="https://i.ytimg.com/vi/dmy0y8U7vjE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Damnation Angels - The Longest Day of My Life</td>
                </tr>
                <tr class="record" id="2XkNYUODyd0">
                    <td><img src="https://i.ytimg.com/vi/2XkNYUODyd0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wisdom - Dust Of The Sun</td>
                </tr>
                <tr class="record" id="sq6dzpZo1C8">
                    <td><img src="https://i.ytimg.com/vi/sq6dzpZo1C8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Spellblast Resurrection (HQ)</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/powermetal/">Power Metal</a> archive:
    <a href="/genre/powermetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/powermetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'powermetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>