<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Alexisonfire, D.R.U.G.S, Dance Gavin Dance, Story Of The Year, The Used | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/aNyOfIJiGxg/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/posthardcore/2014/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="aNyOfIJiGxg">Story of The Year - Until the day i die lyrics</li>
            <li class="record" id="PPcds3jOhRQ">alexisonfire-this could be anywhere in the world</li>
            <li class="record" id="9fX9OgSHHCc">Dance Gavin Dance - The Backwards Pumpkin Song</li>
            <li class="record" id="b0ZsV3Fzzoo">Dance Gavin Dance - Uneasy Hearts Weigh the Most</li>
            <li class="record" id="Rhww-odwLLM">A Box Full of Sharp Objects - The Used</li>
            <li class="record" id="YMMGpoYYIPs">D.R.U.G.S - If you think this song is about you it probably is [Destroy Rebuild Until God Shows]</li>
            <li class="record" id="xyW9KknfwLU">A Day To Remember - Sometimes You're The Hammer, Sometimes You're The Nail (Audio)</li>
            <li class="record" id="Bs9miAWsbRQ">Jason Butler Climbs The Tabernacle</li>
            <li class="record" id="4NRE7pIdXD8">Circa Survive - House Of Leaves HD</li>
            <li class="record" id="KP9eJVQ4E_g">I the Mighty - Satori - Failures w/ Lyrics</li>
            <li class="record" id="epnp5lhOUUo">Senses Fail - To All the Crowded Rooms</li>
            <li class="record" id="F2mpzfOUhyY">Circa Survive - In Fear and Faith</li>
            <li class="record" id="1tJnuQkGbYE">Saosin- They Perch On Their Stilts...W/ Lyrics</li>
            <li class="record" id="cKVknRFEhpc">Katy Perry - "Dark Horse" Cover by Our Last Night</li>
            <li class="record" id="f94t44ZRe2E">The Bright Side Of Suffering - Scary Kids Scaring Kids</li>
            <li class="record" id="cmb6E5f1UMM">SENSES FAIL - The Irony of Dying on Your Birthday (Lyrics Video)</li>
            <li class="record" id="tBfnjcRLBQE">The Fall Of Troy - 12 - A Man. A Plan. A Canal. Panama.</li>
            <li class="record" id="jwMDfa_jKpk">La Dispute - Stay Happy There</li>
            <li class="record" id="XOt61JTKgjQ">Secret & Whisper XOXOXO (Lyrics) HD</li>
            <li class="record" id="fXoDtkliSgY">Thrice - Artist In The Ambulance</li>
            <li class="record" id="kWZKrDA059Q">03 - Sweet#hart - Closure In Moscow</li>
            <li class="record" id="btIwdEUOjJA">Dance Gavin Dance - Surprise! I'm From Cuba, Everyone Else Has One Brain</li>
            <li class="record" id="o2pthGFPPQI">letlive. - Fake History (Full Album 2010)</li>
            <li class="record" id="R73-dOBJJF8">Hands Like Houses - Don't Look Now, I'm Being Followed, Act Normal</li>
            <li class="record" id="LqAPOLBqOpQ">Coheed and Cambria In Keeping Secrets Of Silent Earth</li>
            <li class="record" id="kmaoK1wsCwk">Escape The Fate - Not Good Enough For Truth In Cliche.</li>
            <li class="record" id="MWw8rbFHQyo">Alexisonfire Old Crows</li>
            <li class="record" id="BjWyxc-SaE0">Funeral For A Friend - Streetcar + Lyrics</li>
            <li class="record" id="7rkhpFvfF0g">Escape The Fate - There's No Sympathy For The Dead</li>
            <li class="record" id="wkEHnwVnHKk">Senses Fail- Sick or Sane (Lyrics)</li>
            <li class="record" id="098rlss1ZlU">Closure In Moscow - Here's To Entropy</li>
            <li class="record" id="bY61a2DdyU0">Chiodos -  Is It Progression If A Cannibal Uses A Fork</li>
            <li class="record" id="ritQndSQuus">Thrice - To Awake and Avenge the Dead</li>
            <li class="record" id="wrA_1Co3oJ0">Destroy Rebuild Until God Shows - "Mr. Owl Ate My Metal Worm"</li>
            <li class="record" id="uo0JPviuK5c">I The Mighty "Failures" Official Music Video</li>
            <li class="record" id="CKqc8-MJhuY">Dance Gavin Dance - Spooks</li>
            <li class="record" id="H1mXaPgu38E">Dead Poetic - New Medicines</li>
            <li class="record" id="PI4oj9AQltI">Envy on the coast - The gift of paralysis</li>
            <li class="record" id="_Cs_pT5CcjQ">Pianos Become The Teeth - I'll Be Damned</li>
            <li class="record" id="F_W7cuVpYTE">A Lot Like Birds "Next to Ungodliness" Music Video [Unedited Version]</li>
            <li class="record" id="T-bQyP9qNjE">Finch Warped Announcement</li>
            <li class="record" id="KwA1jhz_zcg">6. Ghost Man On Third</li>
            <li class="record" id="sVPooKsLxII">Underoath - Desperate Times, Desperate Measures</li>
            <li class="record" id="KXww3-b8d0A">Hands Like Houses - This Ain't No Place For Animals</li>
            <li class="record" id="kTOmx4rdOY0">Scary kids scaring kids - the world as we know it + LYRICS</li>
            <li class="record" id="L1h0ZlEYlnY">Hail The Sun - Ready Or Not, There I Go</li>
            <li class="record" id="bukD0KQDwIY">Pianos Become the Teeth - Hiding</li>
            <li class="record" id="zntsH1ceN5I">The Used - Take It Away (Video)</li>
            <li class="record" id="ds6j_zr2hQQ">Emarosa - VERSUS: Pt. 1</li>
            <li class="record" id="mqGwM5AutLc">La Dispute - Last Blues For Bloody Knuckles Lyrics</li>
            <li class="record" id="eW6DbMqzlYU">Hawthorne Heights - Saying Sorry (lyrics)</li>
            <li class="record" id="o_yaIUp-5fs">Alexisonfire-Control</li>
            <li class="record" id="jIphw9saJJE">Emery - I Got Taken for a Bath (2014 Rough/Demo Mix)</li>
            <li class="record" id="-qq2BRnJ1fI">Our Last Night - "Fate" (Acoustic)</li>
            <li class="record" id="HOnWgdHo2eY">At The Drive-In - Quarantined</li>
            <li class="record" id="KHtkipuQgTM">Exist:Avail-"White Noise"</li>
            <li class="record" id="lk_eVHh7dCI">Chiodos - Behvis Bullock</li>
            <li class="record" id="sLe7nVz-WLw">A Day To Remember - Colder Than My Heart If You Can Imagine</li>
            <li class="record" id="fLqNbCjAj74">Chiodos - Teeth The Size Of Piano Keys</li>
            <li class="record" id="BpKT_oooX9o">The Afterimage - The Unseen ( Famined Records )</li>
            <li class="record" id="nbYgSZzBpAw">Senses Fail - Rum Is For Drinking Not For Burning</li>
            <li class="record" id="nj9QFAUkYFw">Silverstein - Red Light Pledge</li>
            <li class="record" id="bR0eiIbOCTg">Finch- The Casket of Roderick Usher</li>
            <li class="record" id="kyfZ5bmx7Ng">Jet Black New Year - by Thursday</li>
            <li class="record" id="IYMfofV65f4">Outline In Color - "I Ain't Afraid Of No Ghost" ft. Matty Mullins</li>
            <li class="record" id="WumCI56iYUk">Pierce The Veil - Bulls in the Bronx</li>
            <li class="record" id="SwzUs0Tsao4">Senses Fail - Ali for Cody</li>
            <li class="record" id="UbONRHjtKb8">Vices By: Brand New</li>
            <li class="record" id="pEodkt4tVMQ">ALESANA - Nevermore (Lyric Video)</li>
            <li class="record" id="n1Artex1E0o">Silverstein - Arrivals/Departures</li>
            <li class="record" id="loZTy5T8rBk">Silverstein - In Silent Seas We Drown</li>
            <li class="record" id="O87wl6N1dBs">Emery - Playing With Fire</li>
            <li class="record" id="cbR1Jzrtvdk">La Dispute - Then again maybe you were Right</li>
            <li class="record" id="zYOyjpTQv7Y">Chiodos - 3 AM</li>
            <li class="record" id="F6C-zbPt6jI">Dance Gavin Dance - Honey Revenge (First time live!) Chico, CA</li>
            <li class="record" id="VkgIae2KiLo">Silverstein - This Is How The Wind Shifts (Official Music Video)</li>
            <li class="record" id="j86gIAFTBXo">Emery - Returning The Smile You Have Had From The Start</li>
            <li class="record" id="vNqB4cLWbTY">A Lot Like Birds - "A Satire of a Satire of a Satire is Tiring"</li>
            <li class="record" id="0tvFaVT9JEg">Thrice - Red Sky</li>
            <li class="record" id="P4FYEwlJ1f8">TSOAF 3-22-2014 NYC</li>
            <li class="record" id="WztcAhQldOw">Pink Lemonade out MAY 9TH!!!#$%^&$&^* - Closure In Moscow</li>
            <li class="record" id="rkHLeKa1V8c">Miss Fortune - Chasing Dreams (Official Music Video)</li>
            <li class="record" id="c460bNygMKs">FINCH - Grey Matter (Live)</li>
            <li class="record" id="f1BdbkwSqMw">A Lot Like Birds - Sesame Street Is No Place For Vengeance - Plan B - Lyrics (2009) HQ</li>
            <li class="record" id="nXA0haRRMJY">A Lot Like Birds "Connector"</li>
            <li class="record" id="Sq-DDlnLuKI">Lower Definition - Miami Nights</li>
            <li class="record" id="zO8bpRnwcHw">Slaves featuring Jonny Craig</li>
            <li class="record" id="TQIKN9TW2KE">Dance Gavin Dance- Strawberry Swisher Pt. 1 (Vocal Cover)</li>
            <li class="record" id="UJVGAlo9WM8">Touché Amoré- Nine</li>
            <li class="record" id="q8Junn_nXT4">Chiodos - A Letter From Janelle</li>
            <li class="record" id="kGcUR1J9AJY">Saosin - I Never Wanted To</li>
            <li class="record" id="0SMwRWsj80g">Cloud Nothings - No Sentiment</li>
            <li class="record" id="2iijmj5nB6I">The Fall of Troy - F.C.P.R.E.M.I.X.</li>
            <li class="record" id="plaOSeKynBw">Give 'Em Hell, Kid ~ My Chemical Romance</li>
            <li class="record" id="3mTZuD5zdmc">Rochelle Rochelle - "Absentia" Official Music Video</li>
            <li class="record" id="j1k8QaKQGXE">Dance Gavin Dance - Blue Dream</li>
            <li class="record" id="vEzzqR1RqmE">Emery - Fractions</li>
            <li class="record" id="Tuqbf3bUZe0">Thrice - Don't Tell And We Won't Ask</li>
            <li class="record" id="zXR6KUt6-mg">Sianvar - Your Tongue Ties</li>
            <li class="record" id="eWDz-rATQoY">Tilian - Honey's Revenge Acoustic (Dance Gavin Dance Cover) Brisbane - 15th Feb</li>
    </ol>
</div>

<div class="container">
<a href="/genre/posthardcore/">Post Hardcore</a> archive:
    <a href="/genre/posthardcore/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'posthardcore';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>