<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Blues playlist for 1/2012 | Punk'n'Roll</title>
        <meta name="description" content="Including: "The Sky Is Crying", Bjorn Berge, Crossroad Blues, John Lee Hooker, Junior Kimbrough, Marc O'Reilly, Mississippi Fred Mcdowell, Peg Leg Sam, Scott H. Biram, Son House.">
        <meta property="og:image" content="https://i.ytimg.com/vi/QA8-ZOuKetU/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/blues/2012/1/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li><a href="/playlist/">Playlists</a></li>
                <li><a href="https://www.mixcloud.com/punknroll/">Podcast</a></li>
            </ul>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">▶</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="QA8-ZOuKetU">SON HOUSE - Grinnin' In Your Face</li>
            <li class="record" id="BkvC31FHe9c">Crossroad Blues - Robert Johnson  立山 青</li>
            <li class="record" id="0iYdFNkEq0Y">John Lee Hooker - Serves Me Right To Suffer</li>
            <li class="record" id="6s9M-52fRGU">The Sky Is Crying- Stevie Ray Vaughan [High Quality No vid]</li>
            <li class="record" id="3aq66E7aX2w">John Lee Hooker - I'll never get out of these blues alive</li>
            <li class="record" id="uzDsEScYRsQ">Key to the Highway Eric Clapton 古澤剛 Takeshi Furusawa Gibson 1963 J-50</li>
            <li class="record" id="tdtHaZW7jAY">Marc O'Reilly - Get Back (Rubysessions)</li>
            <li class="record" id="PBVSBg2XQgY">12.29.2011 Darwin's Blues Jam</li>
            <li class="record" id="YLzuk-vJmpY">Junior Kimbrough - Burn In hell</li>
            <li class="record" id="NZxCPQmb2MQ">SCOTT H. BIRAM - I can't be satisfied (Muddy Waters cover - FD Session)</li>
            <li class="record" id="L3Wtf-HuKyQ">Bjorn Berge - Am I wrong</li>
            <li class="record" id="a9rjROqIWN8">Mississippi Fred McDowell - Goin' Down To The River</li>
            <li class="record" id="O9xjUZJWHOg">Mississippi Fred McDowell - Highway 61</li>
            <li class="record" id="snLe-f1g8IY">Have you ever heard true voice of "Robert Johnson"?</li>
            <li class="record" id="l-6JsVx30AU">Napolian Strickland: Diddley-bow medley (1978)</li>
            <li class="record" id="OciGRpwJfkI">Peg leg sam born for hard luck</li>
            <li class="record" id="G27VKWgJeUE">Tab Benoit - Darkness</li>
            <li class="record" id="txjIAfiw18I">Sprout @ Cold Spring 2</li>
            <li class="record" id="K-p214l5QLI">Mississippi John Hurt - Pay Day</li>
            <li class="record" id="aKo80b-QfK0">Dust My Broom - Elmore James</li>
            <li class="record" id="tzw806Nx_Vg">Me Playing a 1930 Stella Gambler I Once Owned</li>
            <li class="record" id="CXKQlCQKtIg">Ry Cooder, Terry Evans - Down In Mississippi</li>
            <li class="record" id="QxFC0e_Fb38">Junior Watson - Jr's Bounce</li>
            <li class="record" id="acfUSv_C6eg">We Going Round The Mountain How Long That Evening Train Been Gone? Sam Chatmon & Eugene Powell</li>
            <li class="record" id="x0d1HilfLxA">Robin Trower Bridge Of Sighs</li>
            <li class="record" id="QokWC6noEjg">Johnny Winter - Dust My Broom @ BB King Blues Club - New York City - 1/10/12</li>
            <li class="record" id="G7qvae_EdVk">james taylor - Steamroller Blues - Live</li>
            <li class="record" id="cSmMyTO3XtQ">" Ragged And Dirty " WILLIE BROWN (1942) Delta Blues Guitar Legend</li>
            <li class="record" id="PY5HNsDHKiY">Cedric Burnside live @ Criminal Records</li>
            <li class="record" id="Vny6NQBcOKw">Gomni (Ali Farka Toure)</li>
            <li class="record" id="Z5vehZvTKCs">Michael Scott sings the blues.</li>
            <li class="record" id="oJBegAYVYoA">John Mayer "Mercy" 8/27/08 BEST YET!!</li>
            <li class="record" id="85sBsJb5yp0">Albert King - Match Box Blues, 1973</li>
            <li class="record" id="oq1lYJoUg3k">'My Road Is Rough And Rocky' SAM COLLINS, Delta Blues Guitar Legend</li>
            <li class="record" id="sg8y80751K0">Rick Holmstrom Lillehammer Blues Festival 30/03/07</li>
            <li class="record" id="BEw-T-kCpzA">Show-biz Blues (Green)</li>
            <li class="record" id="46mVXglpw7Y">Reverend Gary Davis - You Got to Move</li>
            <li class="record" id="rAiflh4LWK4">James Harman and Hollywood Fats - PART1</li>
            <li class="record" id="1cTw51JkPNc">little walter- off the wall ( His Best, Chess 50th Anniversary  Collection) # 6</li>
            <li class="record" id="UI5LLuQJYl8">"Every Morning"</li>
            <li class="record" id="oiEBopPts1E">Muddy Waters  Wells Guy: That Same Thing</li>
            <li class="record" id="S2MMIIi-vp0">7 year old plays "Death Letter Blues" on a Republic Resolian guitar</li>
            <li class="record" id="zmKWs8rwqF0">B. B. & The Blues Shacks - THREE HANDED WOMAN</li>
            <li class="record" id="K_DOnKJ232M">R.L. Burnside: See My Jumper Hanging On the Line (1978)</li>
            <li class="record" id="zqP3Xs3Nr8Q">Seattle Psilocybin Talkin Blues</li>
            <li class="record" id="i5getrYOaaY">Magic Sam-Stop!You're Hurting Me</li>
            <li class="record" id="ug8s832PVw0">Lookin Good in The Seattle</li>
            <li class="record" id="siBQELrFo1Y">Dat's Da Blues. In The Key Of E as in Ecstacy</li>
            <li class="record" id="liXMn_YwThQ">B. B. & The Blues Shacks - Hustle Is On (Live in Hallsberg Sweden 100924)</li>
            <li class="record" id="PL886QQTPSQ">"Harmonica Whomp!"  Abe Reid</li>
    </ol>
</div>

<div class="container">
<a href="/genre/blues/">Blues</a> archive:
    <a href="/genre/blues/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/blues/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/blues/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/blues/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/blues/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/blues/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/blues/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/blues/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music for fans of garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'blues';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
</body>
</html>