<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Post Hardcore playlist for 5/2016 | Punk'n'Roll</title>
        <meta name="description" content="Including: Brand New, Chiodos, Closure In Moscow, Dance Gavin Dance, Enter Shikari, Hail The Sun, La Dispute, New Hail The Sun Song, Saosin, Thrice.">
        <meta property="og:image" content="https://i.ytimg.com/vi/P4MiC67seUY/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/posthardcore/2016/5/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li><a href="/playlist/">Playlists</a></li>
                <li><a href="https://www.mixcloud.com/punknroll/">Podcast</a></li>
            </ul>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">▶</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="P4MiC67seUY">Enter Shikari - Sorry You're Not A Winner (Official Music Video)</li>
            <li class="record" id="Oi8DAWKtTMU">Hail The Sun "Burn Nice and Slow (The Formative Years)"</li>
            <li class="record" id="zJALPNdJsHU">saosin - seven years</li>
            <li class="record" id="28YFesvcLS8">Brand New - "I Am A Nightmare"</li>
            <li class="record" id="9fX9OgSHHCc">Dance Gavin Dance - The Backwards Pumpkin Song</li>
            <li class="record" id="UesQmoU4nYw">I the Mighty "Playing Catch With .22"</li>
            <li class="record" id="IKUF3Z1x4zM">Saosin - Its Far Better to Learn</li>
            <li class="record" id="aNHLKCwXjos">Dance Gavin Dance - Carl Barker (Tree City Sessions)</li>
            <li class="record" id="YG-6m1y13Fk">Chiodos - Teeth The Size Of Piano Keys</li>
            <li class="record" id="Pi08y-A39S0">Closure In Moscow - Sweet#hart</li>
            <li class="record" id="ai0gyXCkfdk">La Dispute - The Most Beautiful Bitter Fruit w/ lyrics</li>
            <li class="record" id="wBIWht_2J2o">Hail The Sun "Words of Gratitude (Parents)"</li>
            <li class="record" id="2TiDTE1UyM0">Thrice - Death From Above [Audio]</li>
            <li class="record" id="SgY5SzqFAHE">In Shallow Seas We Sail - Emery + Lyrics</li>
            <li class="record" id="8DOFsV0lxtQ">Alesana - "The Thespian" (Video)</li>
            <li class="record" id="cvAQEx_Itfw">Circa Survive - Get Out (Video)</li>
            <li class="record" id="IAXaf1aES9Y">Escape The Fate ~ There's No Sympathy For The Dead [Full EP]</li>
            <li class="record" id="ocMunI5rMes">Escape The Fate - "The Day I Left The Womb" (Full Album Stream)</li>
            <li class="record" id="sjhHy2Wi3hU">Pierce The Veil - Today I Saw The Whole World</li>
            <li class="record" id="XnABRPS37hk">Coheed and Cambria - The Suffering</li>
            <li class="record" id="xx17gVtdptE">The Sleeping - Don't Hold Back</li>
            <li class="record" id="7-J-aqT8evw">Emarosa - The Past Should Stay Dead - Lyrics español - inglés</li>
            <li class="record" id="YU4hhNKsPog">AFI - Miss Murder (Long Version)</li>
            <li class="record" id="CsbnueiPYk0">The Used - Sound Effects and Overdramatics (High Quality)</li>
            <li class="record" id="xbeu_Pq_s6k">Glassjaw-Pink Roses</li>
            <li class="record" id="B7kg85_a5CM">Alexisonfire-Shark and Danger</li>
            <li class="record" id="3mKkMlcn0Go">Circa Survive - Living Together</li>
            <li class="record" id="vGDJPnI-f0M">Stolas - "Proving Grounds"</li>
            <li class="record" id="44DFkqwIYKc">Phantom Power and Ludicrous Speed</li>
            <li class="record" id="C9GTEsNf_GU">Thrice - Black Honey [Official Video]</li>
            <li class="record" id="eGN27TVwhOE">Secret Band - Carbon Copy</li>
            <li class="record" id="rKMqfXIf-W8">Pierce The Veil - Dive In</li>
            <li class="record" id="fllxYWMLLg0">At The Drive-In "One Armed Scissor (Live in Chicago on 05/20/16)"</li>
            <li class="record" id="jfOeFRu9-GU">Secret and Whisper Warrior (Southern Arrowwood) FULL SONG with lyrics</li>
            <li class="record" id="_sbIaWnb73Y">Dance Gavin Dance - Thug City (Tree City Sessions)</li>
            <li class="record" id="Un6gFHSRuis">Silverstein Call It Karma (Lyrics)</li>
            <li class="record" id="jYnqj9r4CPk">A Lot Like Birds - "The Blowtorch is Applied to the Sugar"</li>
            <li class="record" id="tIFJ7t705S0">He is Legend--Dinner With a Gypsy</li>
            <li class="record" id="HEhpYwlJSRY">The Fall of Troy - Auto Repeater</li>
            <li class="record" id="FS95lGKYrnk">Funeral For A friend - History (Final Live Song at O2 Forum Kentish Town London) 21/05/16</li>
            <li class="record" id="Zp5O6mRjDig">New Demo - Saosin ft. Tilian Pearson (Lyrics)</li>
            <li class="record" id="ICMw18N7DaM">Coheed and Cambria Devil in Jersey City</li>
            <li class="record" id="yBbr9n9JnZg">Pierce The Veil - Props & Mayhem (Track 6)</li>
            <li class="record" id="kbdOO1gVgIM">In Fear and Faith - The Taste of Regret</li>
            <li class="record" id="_x0Omar3nzo">Emarosa - Helpless</li>
            <li class="record" id="wWVtOSl8UmI">Emery - Cutthroat Collapse (Full Song)</li>
            <li class="record" id="DRYoWkLOD3E">Burn Nice and Slow (The Formative Years)</li>
            <li class="record" id="KXjzUmy32Sc">A Lot Like Birds - Hallows or Horcruxes?</li>
            <li class="record" id="ryJLZ_0s2p4">Emery-Studying Politics</li>
            <li class="record" id="WA1itpNnfBg">Feed Me To The Forest (HQ) (HD) (with lyrics) - The Blood Brothers</li>
            <li class="record" id="9fl23Xox8gE">The Sound of Animals Fighting - Act: 1 Chasing Suns</li>
            <li class="record" id="HSrtDc4LoZU">Noise and Kisses - The Used</li>
            <li class="record" id="97mPqHuQWIo">Tides of Man - Western Scene</li>
            <li class="record" id="wRb8lmsesSk">Tiny Moving Parts - "Common Cold" (Official Audio)</li>
            <li class="record" id="IChe7vLoU5M">Theres No Sympathy For The Dead - Escape the fate</li>
            <li class="record" id="t86T2ZKNmag">Pierce The Veil - Gold Medal Ribbon</li>
            <li class="record" id="eC3xaEw9PSM">Thrice - Hurricane [Audio]</li>
            <li class="record" id="_l82QIXoh60">MISS FORTUNE - Interstate 44</li>
            <li class="record" id="7e9tftvfG6o">Wolf & Bear - "Sight" (Official Music Video)</li>
            <li class="record" id="NN4YMZ7-D7c">A Lot Like Birds - "Vanity's Fair"</li>
            <li class="record" id="al2vneMjCAo">Artifex Pereo - Apeiron</li>
            <li class="record" id="Y11kbmM5Cg8">ALEXISONFIRE - Boiled Frogs [Live]</li>
            <li class="record" id="DPgOctu6qlc">Arcane Roots - If Nothing Breaks, Nothing Moves</li>
            <li class="record" id="txFg4kM03dk">Emery-The Weakest</li>
            <li class="record" id="Ro6Zo4BhMW4">Emarosa - Helpless (Official Music Video)</li>
            <li class="record" id="SRN_82HGDz8">Lower Definition - Pueblo Cicada</li>
            <li class="record" id="IBXSFoha550">Paris EP   Demon Limbs</li>
            <li class="record" id="X223XBeC_Bo">Hands Like Houses - Degrees of Separation (Official Music Video)</li>
            <li class="record" id="EAuxKwJW9xs">Scary Kids Scaring Kids - Set Sail</li>
            <li class="record" id="4BbvR24z8VQ">In Angles - "Anchorite" (Tour Video)</li>
            <li class="record" id="OeGUxfP-uIQ">Capsize "XX (Sew My Eyes)" (Official Music Video - HD)</li>
            <li class="record" id="NlWz3muhOoE">American Death - Senses Fail</li>
            <li class="record" id="NkAe30aEG5c">Refused - New Noise (video)</li>
            <li class="record" id="Ux_ZYXUemTU">Saosin - Translating the Name</li>
            <li class="record" id="F4wvGx4gue0">At The Drive In - Rolodex Propaganda</li>
            <li class="record" id="zYizw6wnBns">DayShell - Not Coming In</li>
            <li class="record" id="ZVpB8krFBVY">Hot Water On Wool</li>
            <li class="record" id="ojeNjpogoqk">Our Last Night - 'Same Old War' (OFFICIAL)</li>
            <li class="record" id="NvbepHjQfXw">A Static Lullaby - Lipgloss and Letdown</li>
            <li class="record" id="hkhgGyF8FPE">True North - "Who We Are Before We Die" (Playthrough Video)</li>
            <li class="record" id="7-xHaAZNw14">Pierce The Veil - Song For Isabelle</li>
            <li class="record" id="Gs5Xn0GHxwk">Stolas - Thief And The Hourglass</li>
            <li class="record" id="Vgevhi2pCIE">I See Stars - Break (Official Video)</li>
            <li class="record" id="7Ro2bWxfOXo">letlive. - "Reluctantly Dead" (Full Album Stream)</li>
            <li class="record" id="QsZIndPU8gY">Dive In</li>
            <li class="record" id="gcHhHX24dXg">Circa Survive - Frozen Creek</li>
            <li class="record" id="5g45-Fzl588">Glassjaw- Hotel Of The White Locust (Album Version)</li>
            <li class="record" id="kxumcOJwvmo">The Fall of Troy - 401k (Official Release)</li>
            <li class="record" id="Sq-DDlnLuKI">Lower Definition - Miami Nights</li>
            <li class="record" id="bUKtNgIGw6s">SAOSIN - Sore Distress (2016)(Video editing)</li>
            <li class="record" id="wioHThJwRck">Fear Before The March of Flames - Should Have Stayed In The Shallows (Original Demo)</li>
            <li class="record" id="N81iI393gUc">DayShell - Not Coming In (Official Lyric Video)</li>
            <li class="record" id="3mDjIK0dBHU">Enlarge Your Hearts - Before Today</li>
            <li class="record" id="mqZq2kkvS1k">I never met another gemini - The Bled</li>
            <li class="record" id="vbK30WINGPQ">Million Dead - I Am The Party</li>
            <li class="record" id="wTLmO8ynyAc">Enter Shikari - Zzzonked</li>
            <li class="record" id="9WfRPam1IWY">Hail The Sun - Orion</li>
            <li class="record" id="B2om9XTunPE">Thursday - Dying In New Brunswick (Demo)</li>
            <li class="record" id="TtnzCoMJbg8">The Legion Of Doom - Incorporated (2007) [Full Album]</li>
            <li class="record" id="D1f1-hrFAng">Escape The Fate - Make up [demo version]</li>
    </ol>
</div>

<div class="container">
<a href="/genre/posthardcore/">Post Hardcore</a> archive:
    <a href="/genre/posthardcore/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/posthardcore/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music for fans of garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'posthardcore';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
</body>
</html>