<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Animals As Leaders, Between The Buried And Me, Coheed And Cambria, Sikth, You Must Play This | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/34_dTOK_2NY/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/progmetal/2011/5/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="34_dTOK_2NY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/34_dTOK_2NY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Between the Buried and Me - Drum Solo - Blake Richardson - Filmed May 3rd 2011</h2>
                    <p><strong>Score:</strong> <span class="rd-score">38</span> - <a href="https://www.reddit.com/h8mpi">BTBAM Epic Drum Solo - Blake Richardson</a>
<br>
                        submitted <span class="muted">2011-05-11 02:42</span> by <a href="https://www.reddit.com/user/DontTaseMeBrah">/u/DontTaseMeBrah</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ihqT1aA4Q88">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ihqT1aA4Q88/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tosin Abasi of Animals As Leaders performs, "Song of Solomon" on EMGtv</h2>
                    <p><strong>Score:</strong> <span class="rd-score">35</span> - <a href="https://www.reddit.com/hlnlx">Animals As Leaders - Song of Solomon</a>
<br>
                        submitted <span class="muted">2011-05-27 17:26</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SKa5mEyZ6Ok">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SKa5mEyZ6Ok/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Paul Waggoner [BETWEEN THE BURIED AND ME] - Boot Dagger Boogie</h2>
                    <p><strong>Score:</strong> <span class="rd-score">30</span> - <a href="https://www.reddit.com/hf04c">An Instrumental from Paul Waggoner of BTBAM.</a>
<br>
                        submitted <span class="muted">2011-05-19 12:54</span> by <a href="https://www.reddit.com/user/WhatInTheSamHell">/u/WhatInTheSamHell</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OxowWo_XV_c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OxowWo_XV_c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Coheed and Cambria - In Keeping Secrets of Silent Earth: 3</h2>
                    <p><strong>Score:</strong> <span class="rd-score">25</span> - <a href="https://www.reddit.com/hknc3">Any love for Coheed here? In Keeping (Live)</a>
<br>
                        submitted <span class="muted">2011-05-26 13:56</span> by <a href="https://www.reddit.com/user/multipleorganism">/u/multipleorganism</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5HTe3Av2b0A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5HTe3Av2b0A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">SIKTH - "Sanguine Seas of Bigotry" w/ Lyrics</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/h7wzb">An oldie but a goodie... SikTh - Sanguine Seas of Bigotry</a>
<br>
                        submitted <span class="muted">2011-05-10 05:12</span> by <a href="https://www.reddit.com/user/xiamhunterx">/u/xiamhunterx</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JDoTJuIdfmA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JDoTJuIdfmA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">You Must Play This - LEVEL 2 Demo</h2>
                    <p><strong>Score:</strong> <span class="rd-score">23</span> - <a href="https://www.reddit.com/h1eos">Indie shoot-em-up game "Level 2" has action dynamically set to the album of the same name by Last Chance to Reason [x-post from r/gaming]</a>
<br>
                        submitted <span class="muted">2011-05-01 14:57</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uv5t1KsVqnA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uv5t1KsVqnA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Isis-Ghost Key</h2>
                    <p><strong>Score:</strong> <span class="rd-score">22</span> - <a href="https://www.reddit.com/h4h2u">Isis - Ghost Key</a>
<br>
                        submitted <span class="muted">2011-05-05 01:49</span> by <a href="https://www.reddit.com/user/Miasma133">/u/Miasma133</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="rWjhxnVcmgg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/rWjhxnVcmgg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Isis - Holy tears</h2>
                    <p><strong>Score:</strong> <span class="rd-score">21</span> - <a href="https://www.reddit.com/h6vfb">TIL Isis had music videos: Holy Tears (from "In The Absence of Truth) [x-post from /r/metal]</a>
<br>
                        submitted <span class="muted">2011-05-08 22:02</span> by <a href="https://www.reddit.com/user/beneathsands">/u/beneathsands</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7QtLbXeQkV8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7QtLbXeQkV8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">SYMPHONY X - "Dehumanized" from Iconoclast (OFFICIAL VIDEO)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">19</span> - <a href="https://www.reddit.com/h5ir4">SYMPHONY X - Dehumanized (from upcoming, this 
June, new "Iconoclast" album)</a>
<br>
                        submitted <span class="muted">2011-05-06 10:22</span> by <a href="https://www.reddit.com/user/curson">/u/curson</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1N5AJxxL8hA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1N5AJxxL8hA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cloudkicker - We're goin' in. We're going down.</h2>
                    <p><strong>Score:</strong> <span class="rd-score">19</span> - <a href="https://www.reddit.com/hmolr">Cloudkicker - We're Going In, We're Going Down</a>
<br>
                        submitted <span class="muted">2011-05-29 05:52</span> by <a href="https://www.reddit.com/user/ethereal_cereal">/u/ethereal_cereal</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Y7Yh8axByVM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Y7Yh8axByVM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Point Of No Return Part 1 - Haken</h2>
                    <p><strong>Score:</strong> <span class="rd-score">19</span> - <a href="https://www.reddit.com/hnxwh">Haken - The Point Of No Return</a>
<br>
                        submitted <span class="muted">2011-05-31 03:19</span> by <a href="https://www.reddit.com/user/Slyvr89">/u/Slyvr89</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="14Rn09k6DqU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/14Rn09k6DqU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Keith Merrow- Heart of the Sea Nymph (feat. Jeff Loomis)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/h8o9v">Keith Merrow - Heart of the Sea Nymph</a>
<br>
                        submitted <span class="muted">2011-05-11 03:58</span> by <a href="https://www.reddit.com/user/xiamhunterx">/u/xiamhunterx</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9sooYd9iiyw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9sooYd9iiyw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Liquorworks - deranged organ of intoxicated organist</h2>
                    <p><strong>Score:</strong> <span class="rd-score">15</span> - <a href="https://www.reddit.com/h44pp">Liquorworks: Very cool instrumental prog. similar to Chimp Spanner.  Enjoy!</a>
<br>
                        submitted <span class="muted">2011-05-04 17:21</span> by <a href="https://www.reddit.com/user/soundsofentropy">/u/soundsofentropy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2Z_UJ0_biJw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2Z_UJ0_biJw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Devin Townsend - Life</h2>
                    <p><strong>Score:</strong> <span class="rd-score">14</span> - <a href="https://www.reddit.com/hi184">Devin Townsend - Life</a>
<br>
                        submitted <span class="muted">2011-05-23 13:42</span> by <a href="https://www.reddit.com/user/roguegambit">/u/roguegambit</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="P82mCWBRxtk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/P82mCWBRxtk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Haunted Shores - Passenger (ft. Spencer Sotelo)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/hh7gs">Haunted Shores Passenger feat Spencer Sotello</a>
<br>
                        submitted <span class="muted">2011-05-22 07:56</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LduXtT3edlI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LduXtT3edlI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dream Theater - 20th Anniversary Documentary (Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/h2iyz">As a big fan of Dream Theater, stumbling upon this documentary was a real treat. Sorry if it's a repost.</a>
<br>
                        submitted <span class="muted">2011-05-02 20:07</span> by <a href="https://www.reddit.com/user/megakerstin">/u/megakerstin</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mT65gAmIgoo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mT65gAmIgoo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Madder Mortem - Where Dream  & Day Collide</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/hfigl">Madder Mortem - Where Dream &amp; Day Collide.  (I'm curious how many others like this band besides me)</a>
<br>
                        submitted <span class="muted">2011-05-20 01:08</span> by <a href="https://www.reddit.com/user/Slyvr89">/u/Slyvr89</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1gjDH8JNhG8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1gjDH8JNhG8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Elemental Wrath- Becoming The Archetype</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/h8mjb">Becoming the Archetype - Elemental Wrath [Prog Death]</a>
<br>
                        submitted <span class="muted">2011-05-11 02:35</span> by <a href="https://www.reddit.com/user/Tacopwn3r">/u/Tacopwn3r</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Ccgqj3KDaVY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Ccgqj3KDaVY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gorod - Disavow Your God</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/ho8r9">Gorod - Disavow Your God</a>
<br>
                        submitted <span class="muted">2011-05-31 14:30</span> by <a href="https://www.reddit.com/user/Giblaz">/u/Giblaz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="VvoZBB79h58">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/VvoZBB79h58/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cryptopsy - Benedictine Convulsions</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/haxab">Cyptopsy - Benedictine Convulsions (brutal technical death metal)</a>
<br>
                        submitted <span class="muted">2011-05-13 23:41</span> by <a href="https://www.reddit.com/user/whats8">/u/whats8</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QGx8PCl_Bjw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QGx8PCl_Bjw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Vildhjarta - Shiver</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/h4hc1">Vildhjarta: Metal from Sweden.</a>
<br>
                        submitted <span class="muted">2011-05-05 02:00</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="PctXAYeYtC4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/PctXAYeYtC4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">IVAN MIHALJEVIC - Cascading mirrors</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/hkg3p">Ivan Mihaljevic-Cascading Mirrors. Some metal from my homeland Croatia.</a>
<br>
                        submitted <span class="muted">2011-05-26 06:22</span> by <a href="https://www.reddit.com/user/Blutigen">/u/Blutigen</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7PYvRv9YCDM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7PYvRv9YCDM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Del Mare Alla Luna - In Tormentata Quiete</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/h2yd8">In Tormentata Quiete - Del Mare alla Luna</a>
<br>
                        submitted <span class="muted">2011-05-03 06:22</span> by <a href="https://www.reddit.com/user/NihilCredo">/u/NihilCredo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="4UsGlM5f_l0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/4UsGlM5f_l0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">ELITIST - ODEON (HD)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/h46v4">Elitist - Odeon</a>
<br>
                        submitted <span class="muted">2011-05-04 18:37</span> by <a href="https://www.reddit.com/user/AugustSun">/u/AugustSun</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XUVxfOEoWUg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XUVxfOEoWUg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">DIGITAL PINBALL Necronomicon Prologue</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/hl3fg">TIL that John Petrucci wrote two songs on a sega 
saturn game called Digital PinBall:Necronimicon</a>
<br>
                        submitted <span class="muted">2011-05-27 00:13</span> by <a href="https://www.reddit.com/user/thetaste">/u/thetaste</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tQoFGTtKRG0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tQoFGTtKRG0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">"Wretched Sovereign" - Original progressive metal song by J. Rush</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/hn9p9">Two youngish Instrumental Guitarists</a>
<br>
                        submitted <span class="muted">2011-05-30 04:56</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Pv_J1PWAmDw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Pv_J1PWAmDw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">"Trudging Forward" - Original song by Abolish the Echelon</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/hn9u8">Abolish the Echelon - Trudging Forward</a>
<br>
                        submitted <span class="muted">2011-05-30 05:04</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/progmetal/">Prog Metal</a> archive:
    <a href="/genre/progmetal/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/progmetal/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'progmetal';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>