<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Cannibal Corpse, Cryptopsy, Death, Hate Eternal, Suffocation | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/7j8vUbMmOwM/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/deathmetal/2014/8/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="7j8vUbMmOwM">DEATH - "Lack Of Comprehension" (Remixed)</li>
            <li class="record" id="fQ9d0G6M2EU">Cannibal Corpse - Stripped, Raped and Strangled</li>
            <li class="record" id="YepbZ90amLY">Suffocation - Pierced from Within (Studio)</li>
            <li class="record" id="PluKQiJ50iY">Cryptopsy - Cold Hate, Warm Blood</li>
            <li class="record" id="iZY_tqAxsG0">Cryptopsy - Slit Your Guts (with lyrics)</li>
            <li class="record" id="ZWeMcPly6mI">Hate Eternal - The Victorious Reign</li>
            <li class="record" id="p54FjzigGz0">Dying Fetus - In The Trenches (Live at Amnesia Rockfest)</li>
            <li class="record" id="-LSXYtu37X0">Decapitated - Babylon's Pride</li>
            <li class="record" id="dCHTe-J9h20">Artificial Brain - "Labyrinth Constellation" Full Album</li>
            <li class="record" id="ALnZLkR04Oc">Putrid Pile - Necroneat-o</li>
            <li class="record" id="m9gxkD7ikLI">Immolation -Bring Them Down</li>
            <li class="record" id="mBV1D1bgW4o">Quo Vadis - On The Shores Of Ithaka</li>
            <li class="record" id="viPMwmLuKB4">Gorguts - Dormant Misery</li>
            <li class="record" id="7-KjcNBtPow">Cytotoxin - Radiophobia (2012) [Unique Leader Records]</li>
            <li class="record" id="I1qxhFNR6vA">Vehemence - Murdered By The Earth</li>
            <li class="record" id="qHbOKnbYUVg">Skinless - Tampon Lollipops HQ</li>
            <li class="record" id="CCQj66YQ1rw">Suffocation - Infecting the Crypts Live 2013 ( John Gallagher Dying Fetus on vocals )</li>
            <li class="record" id="kW-8DupDuPQ">ABYSMAL DAWN - "Inanimate" Official Track</li>
            <li class="record" id="_I0cQMbPPvw">Neuraxis - Oracle</li>
            <li class="record" id="tvxvRpEfvgs">MISERY INDEX- 7th Cavalry</li>
            <li class="record" id="FIXtyOvHcMU">Katalepsy - Taedium Vitae</li>
            <li class="record" id="BSFpPNRBwAE">Ejaculation of the wicked - Torture Division</li>
            <li class="record" id="vrfC1ifAOGg">Lvcifyre - Liber Lilith</li>
            <li class="record" id="clQ_cc9HWpE">Jungle Rot - Ruthless Omnipotence</li>
            <li class="record" id="jN79KreFSC8">God Dethroned - Hating Life</li>
            <li class="record" id="snDfSqcPHWk">OBSCURA - "Septuagint"</li>
            <li class="record" id="aL2B4nuth84">Immolation - Unholy Cult</li>
            <li class="record" id="IJ2MITXDYkk">Nailgun Massacre - Cadaverous Lay</li>
            <li class="record" id="roVBNQc0Sew">Defeated Sanity - The Purging</li>
            <li class="record" id="v9w_DvG4HrY">Gorgasm-Dirty Cunt Beatdown</li>
            <li class="record" id="gPpzDkswvJQ">Immolation - Reluctant Messiah</li>
            <li class="record" id="xdY3ZnETzAU">Lykathea Aflame - "Land Where Sympathy is Air" remastered</li>
            <li class="record" id="bb_cBf_7UMs">Eucharist - Dissolving</li>
            <li class="record" id="8w7dXhAGel4">The Faceless - Ten Billion Years</li>
            <li class="record" id="S0EZ_1leSYU">DISKORD - 'Horrid Engine'</li>
            <li class="record" id="X8K-vk7I0sg">Prayed and Betrayed - World Surreal</li>
            <li class="record" id="Xw7x5MDbiHM">Pungent Stench - For God Your Soul... For Me Your Flesh (Full Album) 1990</li>
            <li class="record" id="wruV45fgFcw">ICHOR - The beasts approach // NEW SONG 2014 | www.pitcam.tv</li>
            <li class="record" id="Ah8wtUVCLBo">Carcass - Lavaging Expectorate Of Lysergide Composition</li>
            <li class="record" id="0FaqwGiHnIw">Anata - Dance to the Song of Apathy</li>
            <li class="record" id="PVvxf-A1Ejo">Proclamation - Messiah Of Darkness And Impurity</li>
            <li class="record" id="AM-98tNGS6M">Pungent Stench - Tony</li>
            <li class="record" id="f9yb88fa4MA">Obituary - Don't Care (official Music Video)</li>
            <li class="record" id="EIY-39Jo0TI">INNSMOUTH - The Shadow Over Innsmouth (2014) //Official promotion track// Crime Records</li>
            <li class="record" id="uzcOWknFytI">Condemn the Infected "Deny Existence" [Full Album] 2014</li>
            <li class="record" id="mN30-oltvT0">Condemn the Infected - The Hosting</li>
            <li class="record" id="hOlcp560tE8">Runemagick - Doomed (Studio Version)</li>
            <li class="record" id="pQGdXsxCpuM">A Band Of Orcs - StormBringer</li>
            <li class="record" id="M2xaZZROhp8">Skinless - Foreshadowing Our Demise HQ</li>
            <li class="record" id="o5rRjBIOUIc">Revocation "Deathless" (OFFICIAL)</li>
            <li class="record" id="Yg9N4kvLL2s">Ageless Oblivion - Wolf's Head (Penthos 2014)</li>
            <li class="record" id="RN7HMG4tVI0">THE HAUNTED - Cutting Teeth (OFFICIAL VIDEO)</li>
            <li class="record" id="xqLImQTYma8">Membraneous - Undying Inc</li>
            <li class="record" id="GH4OfemisSg">Avulsed - Blessed By Gore</li>
            <li class="record" id="7okPiWet0dE">THOSE WHO BRING THE TORTURE - Under Twin Suns</li>
            <li class="record" id="gYNOHRi-b0M">Pungent Stench - Splatterday Night Fever</li>
            <li class="record" id="ooPAG9z-AEc">The Monolith Deathcult - Drugs, Thugs and Machetes</li>
            <li class="record" id="8C-VxIGi9JI">The Chasm - Architects of Melancholic Apocalypse</li>
            <li class="record" id="JY9o_NqxzyM">Dark Millennium - Below the Holy Fatherlands</li>
            <li class="record" id="OMudBiQnXu8">Gojira - Space Time</li>
            <li class="record" id="JU7FiyrOPBA">KILLITOROUS // FECAL FELLATIO // OFFICIAL MUSIC VIDEO</li>
            <li class="record" id="Xv0MaU-o8II">SPEARHEAD-when the pillars fall</li>
            <li class="record" id="k-SvOE_pyks">Cianide-Gates Of Slumber</li>
            <li class="record" id="6CSB07XPbCw">TYRANTS OF HELL - Play Fast Or Die Slow</li>
            <li class="record" id="tXKHwJVXxnA">Carcass - Burnt To a Crisp (Lyrics)</li>
            <li class="record" id="jdLuqyv7nRE">MALEVOLENT CREATION - Joe Black (OFFICIAL LIVE)</li>
            <li class="record" id="-JiaqjC_G2E">TROGLODYTE - Nowhere to Hide</li>
            <li class="record" id="w0JX4SRKy5c">Iniquity  - Inhale the Ghost</li>
            <li class="record" id="FaiXklUnmNM">Avulsed - Ace of Spades (Motorhead cover)</li>
            <li class="record" id="JxLccFvIP3Q">Sabbat - Evoke (1992) [Full Album]</li>
            <li class="record" id="O3a58OYfUKM">Cryptophobism - People That No-One Will Miss</li>
            <li class="record" id="STvJeB0GA9M">Unmoored - Spit forth from Failure [Lyrics] HD</li>
            <li class="record" id="y4Nd9wFsp4o">Domains  - Towards Pleroma</li>
            <li class="record" id="WZpFGnt2rxk">BEFALLEN 'Carnal Adherence' Drum Video</li>
            <li class="record" id="5_6R7kRFx6o">Embedded - Stench Of Burning Flesh</li>
            <li class="record" id="9zfjmYlYPUo">Mutala - In My Temple</li>
            <li class="record" id="AEP8L1_f7A4">MAGNA MORTALIS "Radiative Benediction"</li>
            <li class="record" id="q_zxNFq5pyw">Mortal Decay - Soaking In Entrails</li>
            <li class="record" id="chLnltNUjDk">Goat the Head - Fetus Stuffed With Feces</li>
            <li class="record" id="UhPLA1qvDVM">Disastrous Murmur - Extra-Uterine Pregnancy [1989]</li>
            <li class="record" id="tbgFBh1_meo">The Zenith Passage pre-production song "Simulated Reality"</li>
            <li class="record" id="nCjnFWvjXLI">Pangaea - "Contagion"</li>
            <li class="record" id="q9QadZ89ERk">Brutality - Cries of the Forsaken</li>
            <li class="record" id="5CL2AlOv-Us">Splatterhouse- Night of the creeps</li>
            <li class="record" id="ru-5I-c7Kxc">Unmoored - Morndraper [Lyrics] HD</li>
            <li class="record" id="mHPh_aUfGD8">MORTALS - "View From A Tower" Official Music Video</li>
            <li class="record" id="zKaHTVMiN-w">Rings Of Saturn - Corpses Thrown Across The Sky</li>
            <li class="record" id="GCD2s1qJlis">Waking The Cadaver - Boss Status</li>
            <li class="record" id="vvFxSj4CQNs">Evocation 招魂 - Abracadabra (FULL ALBUM)</li>
            <li class="record" id="_rsZdjGzOpA">Opeth - Live @ Rock am Ring 2014 (Full Show, Pro Shot) [HD]</li>
    </ol>
</div>

<div class="container">
<a href="/genre/deathmetal/">Death Metal</a> archive:
    <a href="/genre/deathmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/deathmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/deathmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/deathmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/deathmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/deathmetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/deathmetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'deathmetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>