<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Neil Young, Neil Young & Crazy Horse, Tool, U2, Winger | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/07pLGIgyfjw/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/rock/2014/1/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="07pLGIgyfjw">
                    <td><img src="https://i.ytimg.com/vi/07pLGIgyfjw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tool - Stinkfist [hq - fullscreen]</td>
                </tr>
                <tr class="record" id="y1gxkRve4Q0">
                    <td><img src="https://i.ytimg.com/vi/y1gxkRve4Q0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Neil Young & Crazy Horse - Down By The River</td>
                </tr>
                <tr class="record" id="wKQOFkpMD0o">
                    <td><img src="https://i.ytimg.com/vi/wKQOFkpMD0o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">AC/DC Who Made Who 1986</td>
                </tr>
                <tr class="record" id="jfcQ13iQzn8">
                    <td><img src="https://i.ytimg.com/vi/jfcQ13iQzn8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">U2 - Hold Me, Thrill Me, Kiss Me, Kill Me</td>
                </tr>
                <tr class="record" id="GlN3oEjMpUQ">
                    <td><img src="https://i.ytimg.com/vi/GlN3oEjMpUQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Winger - Seventeen</td>
                </tr>
                <tr class="record" id="v-A5Kf-SqXk">
                    <td><img src="https://i.ytimg.com/vi/v-A5Kf-SqXk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dire Straits   Lady Writer   YouTube</td>
                </tr>
                <tr class="record" id="qJ6hmupAtIg">
                    <td><img src="https://i.ytimg.com/vi/qJ6hmupAtIg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Neil Young - Crime in the City (Sixty to Zero Part I)</td>
                </tr>
                <tr class="record" id="OqPVz101nd0">
                    <td><img src="https://i.ytimg.com/vi/OqPVz101nd0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Muse - Uprising HQ</td>
                </tr>
                <tr class="record" id="22GEvDupWGo">
                    <td><img src="https://i.ytimg.com/vi/22GEvDupWGo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Doors - Peace Frog</td>
                </tr>
                <tr class="record" id="bT0VV6Zl8VQ">
                    <td><img src="https://i.ytimg.com/vi/bT0VV6Zl8VQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lethal Dose - If I Want To Run</td>
                </tr>
                <tr class="record" id="OA7711eRE-A">
                    <td><img src="https://i.ytimg.com/vi/OA7711eRE-A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Aerosmith-  Round And Round</td>
                </tr>
                <tr class="record" id="mgud7aqieqY">
                    <td><img src="https://i.ytimg.com/vi/mgud7aqieqY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mark Knopfler- Gravy Train</td>
                </tr>
                <tr class="record" id="_7yTgprRPw4">
                    <td><img src="https://i.ytimg.com/vi/_7yTgprRPw4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kent Carlevi - Van Halen Aint Talking Bout Love</td>
                </tr>
                <tr class="record" id="YWBbYtJcR4g">
                    <td><img src="https://i.ytimg.com/vi/YWBbYtJcR4g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bridge To Grace - The Fold</td>
                </tr>
                <tr class="record" id="AP92NNe8Tkw">
                    <td><img src="https://i.ytimg.com/vi/AP92NNe8Tkw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mark Knopfler - You Don't Know You're Born + lyrics</td>
                </tr>
                <tr class="record" id="SKj6gNLNGvA">
                    <td><img src="https://i.ytimg.com/vi/SKj6gNLNGvA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Oasis - The Hindu Times</td>
                </tr>
                <tr class="record" id="hbiQn4-1qv8">
                    <td><img src="https://i.ytimg.com/vi/hbiQn4-1qv8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SARATOGA - Si amaneciera [LIVE]</td>
                </tr>
                <tr class="record" id="iUWHG5W8gdg">
                    <td><img src="https://i.ytimg.com/vi/iUWHG5W8gdg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">KoЯn- Here To Stay (guitar cover)</td>
                </tr>
                <tr class="record" id="YiB5ps2vTWA">
                    <td><img src="https://i.ytimg.com/vi/YiB5ps2vTWA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">VaTFurnace - Snapshot</td>
                </tr>
                <tr class="record" id="64Ozpbxgzds">
                    <td><img src="https://i.ytimg.com/vi/64Ozpbxgzds/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dire Straits - Skateaway [Making Movies, 1980]</td>
                </tr>
                <tr class="record" id="DP01GkvvjBo">
                    <td><img src="https://i.ytimg.com/vi/DP01GkvvjBo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Accidents - There's Always Money In The Banana Stand (Official Music Video)</td>
                </tr>
                <tr class="record" id="0hDeEIHlvwI">
                    <td><img src="https://i.ytimg.com/vi/0hDeEIHlvwI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">train in vain the clash</td>
                </tr>
                <tr class="record" id="cdrFBwwWJ44">
                    <td><img src="https://i.ytimg.com/vi/cdrFBwwWJ44/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Elton John-The Bitch Is Back</td>
                </tr>
                <tr class="record" id="usGObvP42GM">
                    <td><img src="https://i.ytimg.com/vi/usGObvP42GM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">George Harrison - Wah-Wah</td>
                </tr>
                <tr class="record" id="_7ljxK7zApg">
                    <td><img src="https://i.ytimg.com/vi/_7ljxK7zApg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Flow - Emptiness</td>
                </tr>
                <tr class="record" id="d7eHKokDxIs">
                    <td><img src="https://i.ytimg.com/vi/d7eHKokDxIs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">KTULU - Makinal (Promo nuevo CD)</td>
                </tr>
                <tr class="record" id="4lTJy1TSxt8">
                    <td><img src="https://i.ytimg.com/vi/4lTJy1TSxt8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gone Baby Gone- Boom Boom Boom at Griffin Xmas Show</td>
                </tr>
                <tr class="record" id="hRMlWx89k4s">
                    <td><img src="https://i.ytimg.com/vi/hRMlWx89k4s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Like Bridges We Burn - Hey Indiana</td>
                </tr>
                <tr class="record" id="--hSyC4l7Tg">
                    <td><img src="https://i.ytimg.com/vi/--hSyC4l7Tg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pole Graduation Performance - The Doll</td>
                </tr>
                <tr class="record" id="Qx-CtbQvSqo">
                    <td><img src="https://i.ytimg.com/vi/Qx-CtbQvSqo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Peter Gabriel Youssou N'Dour, in your eyes, lay your hand on me.live 1987 vost</td>
                </tr>
                <tr class="record" id="OlEsY8lgF9k">
                    <td><img src="https://i.ytimg.com/vi/OlEsY8lgF9k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hounds & Horns - Why oh why?</td>
                </tr>
                <tr class="record" id="h9Tbhl9cWXQ">
                    <td><img src="https://i.ytimg.com/vi/h9Tbhl9cWXQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DISSOLUTES - Storm Gonna Lock You Up ** Official Music Video</td>
                </tr>
                <tr class="record" id="cyU83VSWtzg">
                    <td><img src="https://i.ytimg.com/vi/cyU83VSWtzg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pre-war Businesswear | Gloria Adios</td>
                </tr>
                <tr class="record" id="OuubAzCnELc">
                    <td><img src="https://i.ytimg.com/vi/OuubAzCnELc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Yuma Sun - Third Revelation (Official Video)</td>
                </tr>
                <tr class="record" id="TOshuN1Bt9w">
                    <td><img src="https://i.ytimg.com/vi/TOshuN1Bt9w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">FOX JAW - 'Kerosene' (Official Music Video)</td>
                </tr>
                <tr class="record" id="nBLjJf1Pe4Y">
                    <td><img src="https://i.ytimg.com/vi/nBLjJf1Pe4Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Argos - Libre [VIDEO OFICIAL]</td>
                </tr>
                <tr class="record" id="tKHo9qULtHs">
                    <td><img src="https://i.ytimg.com/vi/tKHo9qULtHs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Interactive (Avant Garde Version) 2014</td>
                </tr>
                <tr class="record" id="zGf6GmZaZ64">
                    <td><img src="https://i.ytimg.com/vi/zGf6GmZaZ64/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Let's See Action - Pete Townshend Demo</td>
                </tr>
                <tr class="record" id="eywfJh7IGik">
                    <td><img src="https://i.ytimg.com/vi/eywfJh7IGik/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Boston More Than A Feeling Guitar Cover with solo</td>
                </tr>
                <tr class="record" id="AtwyHFMQLhI">
                    <td><img src="https://i.ytimg.com/vi/AtwyHFMQLhI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Jamhouse Riot - "Talking To A Brick Wall"</td>
                </tr>
                <tr class="record" id="tHqfM2kwQ1I">
                    <td><img src="https://i.ytimg.com/vi/tHqfM2kwQ1I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">U2 - Electrical Storm (original)</td>
                </tr>
                <tr class="record" id="zAHxAD6X-Ng">
                    <td><img src="https://i.ytimg.com/vi/zAHxAD6X-Ng/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Paul Oakenfold - Ready Steady Go (Korean Style)</td>
                </tr>
                <tr class="record" id="dO_KA9EHJA0">
                    <td><img src="https://i.ytimg.com/vi/dO_KA9EHJA0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mark Knopfler - Golden Heart + lyrics</td>
                </tr>
                <tr class="record" id="pD8-uczf3sk">
                    <td><img src="https://i.ytimg.com/vi/pD8-uczf3sk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Paul McCartney - Queenie Eye - 2013 NEW Album</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/rock/">Rock</a> archive:
    <a href="/genre/rock/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/rock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/rock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'rock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>