<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Elmore James, Gary Clark Jr., Junior Kimbrough, Stevie Ray Vaughan, Taj Mahal | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/gYXMDCNjl8M/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/blues/2017/1/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="gYXMDCNjl8M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/gYXMDCNjl8M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gary Clark Jr. - When My Train Pulls In</h2>
                    <p><strong>Score:</strong> <span class="rd-score">82</span> - <a href="https://www.reddit.com/5o4h4a">Gary Clark Jr. - When My Train Pulls In</a>
<br>
                        submitted <span class="muted">2017-01-15 15:35</span> by <a href="https://www.reddit.com/user/rootboyslim">/u/rootboyslim</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0dlzernK0Ms">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0dlzernK0Ms/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Junior Kimbrough Most Things Haven't Worked Out</h2>
                    <p><strong>Score:</strong> <span class="rd-score">77</span> - <a href="https://www.reddit.com/5r1ocb">Seemed like Junior was a hit here, so: Most things haven't worked out</a>
<br>
                        submitted <span class="muted">2017-01-30 16:14</span> by <a href="https://www.reddit.com/user/ElectricW1zard">/u/ElectricW1zard</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="YckJy0kgENw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/YckJy0kgENw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Stevie Ray Vaughan - Life by the Drop (HD)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">69</span> - <a href="https://www.reddit.com/5lyc5x">Stevie Ray Vaughan - Life by the Drop</a>
<br>
                        submitted <span class="muted">2017-01-04 10:05</span> by <a href="https://www.reddit.com/user/JaxTeller1235">/u/JaxTeller1235</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RyFs13mMtPo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RyFs13mMtPo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gary Clark Jr and John Mayer - Born Under A Bad Sign</h2>
                    <p><strong>Score:</strong> <span class="rd-score">57</span> - <a href="https://www.reddit.com/5qaevs">Gary Clark Jr and John Mayer - Born Under A Bad Sign</a>
<br>
                        submitted <span class="muted">2017-01-26 14:26</span> by <a href="https://www.reddit.com/user/rootboyslim">/u/rootboyslim</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WAa-lCowVMY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WAa-lCowVMY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Elmore James - It Hurts Me Too</h2>
                    <p><strong>Score:</strong> <span class="rd-score">56</span> - <a href="https://www.reddit.com/5n914t">Elmore James - It Hurts Me Too</a>
<br>
                        submitted <span class="muted">2017-01-11 01:03</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BSJmt2Eimhs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BSJmt2Eimhs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Keep Your Hands Off Her</h2>
                    <p><strong>Score:</strong> <span class="rd-score">52</span> - <a href="https://www.reddit.com/5qpi3h">Junior Kimbrough - Keep Your Hands Off Her</a>
<br>
                        submitted <span class="muted">2017-01-28 19:53</span> by <a href="https://www.reddit.com/user/charliewr">/u/charliewr</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="fQMU1S8FhKg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/fQMU1S8FhKg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Taj Mahal : Statesboro Blues</h2>
                    <p><strong>Score:</strong> <span class="rd-score">44</span> - <a href="https://www.reddit.com/5md72k">Taj Mahal - Statesboro Blues</a>
<br>
                        submitted <span class="muted">2017-01-06 12:00</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-0VBMEdJAzw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-0VBMEdJAzw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gary Clark Jr. | "Our Love" Live at Telluride Blues & Brews Festival</h2>
                    <p><strong>Score:</strong> <span class="rd-score">44</span> - <a href="https://www.reddit.com/5mmo3f">Gary Clark Jr. - "Our Love" (Live at Telluride Blues &amp; Brews Festival)</a>
<br>
                        submitted <span class="muted">2017-01-07 20:44</span> by <a href="https://www.reddit.com/user/yousickduck">/u/yousickduck</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8cn_tbUGvdU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8cn_tbUGvdU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Time Out Live: Jerron "Blind Boy" Paxton plays "Mississippi Bottom"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">38</span> - <a href="https://www.reddit.com/5qvp4x">Jerron "Blind Boy" Paxton - Mississippi Bottom, blues like it's meant to sound</a>
<br>
                        submitted <span class="muted">2017-01-29 19:52</span> by <a href="https://www.reddit.com/user/neeria">/u/neeria</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jiU5hUyixK4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jiU5hUyixK4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Allman Brothers Band - Hey Bartender - 4/20/1979 - Capitol Theatre (Official)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">35</span> - <a href="https://www.reddit.com/5pwjei">The Allman Brothers Band &amp; John Belushi - Hey Bartender (Live in 1979) Happy Birthday, John! Still Miss Ya!</a>
<br>
                        submitted <span class="muted">2017-01-24 14:58</span> by <a href="https://www.reddit.com/user/yousickduck">/u/yousickduck</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="N3iwPJTDhd0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/N3iwPJTDhd0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black Joe Lewis & The Honeybears - She's So Scandalous (Audio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">30</span> - <a href="https://www.reddit.com/5qhorl">Black Joe Lewis &amp; The Honeybears - She's So Scandalous (Audio)</a>
<br>
                        submitted <span class="muted">2017-01-27 15:26</span> by <a href="https://www.reddit.com/user/ruthlessreuben">/u/ruthlessreuben</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="AfNrN5zlIME">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/AfNrN5zlIME/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bo Diddley - Before You Accuse Me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">29</span> - <a href="https://www.reddit.com/5pk6l9">Bo Diddley - Before You Accuse Me</a>
<br>
                        submitted <span class="muted">2017-01-22 22:24</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SKQG-JGyn7U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SKQG-JGyn7U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Vestapol - Elizabeth Cotten</h2>
                    <p><strong>Score:</strong> <span class="rd-score">28</span> - <a href="https://www.reddit.com/5llsci">Vestapol - Elizabeth Cotten</a>
<br>
                        submitted <span class="muted">2017-01-02 15:38</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-vf6bufoWuU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-vf6bufoWuU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Reverend Peyton: "Blues in America is at an absolute low point"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/5m96bi">The Reverend Peyton: "Blues in America is at an absolute low point"</a>
<br>
                        submitted <span class="muted">2017-01-05 21:23</span> by <a href="https://www.reddit.com/user/RealDBCooper">/u/RealDBCooper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BATlJwKB8ts">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BATlJwKB8ts/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lightnin' Hopkins - Woke Up This Morning</h2>
                    <p><strong>Score:</strong> <span class="rd-score">22</span> - <a href="https://www.reddit.com/5ldivg">First comes the lightning..,then...</a>
<br>
                        submitted <span class="muted">2017-01-01 04:27</span> by <a href="https://www.reddit.com/user/Lickingmonitors">/u/Lickingmonitors</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="AdzLeOubQx0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/AdzLeOubQx0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Eric Clapton Have You Ever Loved a Woman 1970</h2>
                    <p><strong>Score:</strong> <span class="rd-score">22</span> - <a href="https://www.reddit.com/5nrqpd">Eric Clapton - Have You Ever Loved a Woman</a>
<br>
                        submitted <span class="muted">2017-01-13 16:56</span> by <a href="https://www.reddit.com/user/Im_the_dude_">/u/Im_the_dude_</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9UG6hxbOMAE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9UG6hxbOMAE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">That Did It   Tedeschi Trucks Live Fillmore</h2>
                    <p><strong>Score:</strong> <span class="rd-score">19</span> - <a href="https://www.reddit.com/5mgiz2">That Did It - Tedeschi Trucks Band</a>
<br>
                        submitted <span class="muted">2017-01-06 22:02</span> by <a href="https://www.reddit.com/user/Man_your_harpoons">/u/Man_your_harpoons</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="swhEa8vuP6U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/swhEa8vuP6U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Kansas Joe McCoy and Memphis Minnie When the Levee Breaks - Famous 1927 Mississippi River Flood</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/5mdytw">When the Levee Breaks - Kansas Joe McCoy and Memphis Minnie</a>
<br>
                        submitted <span class="muted">2017-01-06 14:56</span> by <a href="https://www.reddit.com/user/RegressToTheMean">/u/RegressToTheMean</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FqjYW0LdB1I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FqjYW0LdB1I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tab Benoit 2016 04 23 Jazz Fest New Orleans, LA AXSTV</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/5oxusj">Tab Benoit - New Orleans Jazz &amp; Heritage Festival 2016 Set</a>
<br>
                        submitted <span class="muted">2017-01-19 17:21</span> by <a href="https://www.reddit.com/user/yousickduck">/u/yousickduck</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="S9HgAgeeX-4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/S9HgAgeeX-4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">ERIC GALES + JOANNE SHAW TAYLOR  Red House  GUITARE EN SCENE FESTIVAL 2016</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/5m7ttb">Eric Gales &amp; Joanne Shaw Taylor - Red House (Guitare en Scene Festival 2016)</a>
<br>
                        submitted <span class="muted">2017-01-05 17:48</span> by <a href="https://www.reddit.com/user/yousickduck">/u/yousickduck</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KvGsV8Trl8o">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KvGsV8Trl8o/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Songhoy Blues - Al Hassidi Terei (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/5q4n22">Songhoy Blues - Al Hassidi Terei : African BLues</a>
<br>
                        submitted <span class="muted">2017-01-25 17:49</span> by <a href="https://www.reddit.com/user/IDKin2016">/u/IDKin2016</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0Sl8JH2jq0g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0Sl8JH2jq0g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Snowy White - Midnight Blues</h2>
                    <p><strong>Score:</strong> <span class="rd-score">15</span> - <a href="https://www.reddit.com/5rblxd">Snowy white - midnight blues</a>
<br>
                        submitted <span class="muted">2017-01-31 22:46</span> by <a href="https://www.reddit.com/user/LAULitics">/u/LAULitics</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZCdKKao5JUk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZCdKKao5JUk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">How to ARRANGE a song (basic arrangement - piano, keyboard, band or whatever :-))</h2>
                    <p><strong>Score:</strong> <span class="rd-score">14</span> - <a href="https://www.reddit.com/5nku3w">Building a 12 bar blues arrangement (with several instruments) step by step...</a>
<br>
                        submitted <span class="muted">2017-01-12 17:56</span> by <a href="https://www.reddit.com/user/simplysimonpiano">/u/simplysimonpiano</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="yWCzsB46CA8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/yWCzsB46CA8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Charley Patton - Going to Move to Alabama</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/5m00gf">Charley Patton - Going to Move to Alabama (1929)</a>
<br>
                        submitted <span class="muted">2017-01-04 16:21</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="iRzHCyygJ-c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/iRzHCyygJ-c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">1 Guitar 4 Hands Blues Jam</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/5p5ws6">1 Guitar 2 people Blues Jam</a>
<br>
                        submitted <span class="muted">2017-01-20 19:08</span> by <a href="https://www.reddit.com/user/korvvonmos">/u/korvvonmos</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8CEWyHC-iAk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8CEWyHC-iAk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">R.L.Burnside & Jon Spencer Blues Explosion - Shake'em On Down [HQ]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/5qd9mo">R.L.Burnside &amp;amp; Jon Spencer Blues Explosion - Shake'em On Down</a>
<br>
                        submitted <span class="muted">2017-01-26 22:18</span> by <a href="https://www.reddit.com/user/ragabooty">/u/ragabooty</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bb_RmgWRQNM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bb_RmgWRQNM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Albert King- Born Under a Bad Sign (Loop Pedal Guitar Jam)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/5mape9">Born Under a Bad Sign cover/jam</a>
<br>
                        submitted <span class="muted">2017-01-06 01:49</span> by <a href="https://www.reddit.com/user/attacktheradical">/u/attacktheradical</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="63v5sO-z-qE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/63v5sO-z-qE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Boom Boom Gordon - Red Rocking chair/ Sugar Babe</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/5lfrem">Red rocking chair played in the style of henry thomas</a>
<br>
                        submitted <span class="muted">2017-01-01 16:22</span> by <a href="https://www.reddit.com/user/BalboBigguns">/u/BalboBigguns</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="_d1SpEfRBr0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_d1SpEfRBr0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Brownie McGhee - Born and Livin' With The Blues</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/5mz4cq">Brownie McGhee (And Sonny Terry) Don't get enough love around here- Born and Livin' With The Blues</a>
<br>
                        submitted <span class="muted">2017-01-09 17:51</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3gXpqpcnfIQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3gXpqpcnfIQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Little Red Rooster  - Howlin' Wolf</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/5ray6a">Howlin' Wolf - Little Red Rooster</a>
<br>
                        submitted <span class="muted">2017-01-31 21:00</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="l4fWmV64-QA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/l4fWmV64-QA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Harry Manx - Tijuana</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/5p8hb8">Tijuana - Harry Manx (Live - J.J Cale cover)</a>
<br>
                        submitted <span class="muted">2017-01-21 03:12</span> by <a href="https://www.reddit.com/user/gratefulfloyd67">/u/gratefulfloyd67</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="l20UuvdbYVs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/l20UuvdbYVs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Taste - Catfish (Studio Version)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/5mc3u1">Taste-CatfisH (Rory Gallagher)</a>
<br>
                        submitted <span class="muted">2017-01-06 06:36</span> by <a href="https://www.reddit.com/user/SeeYouInBlack">/u/SeeYouInBlack</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="GE5n7S5UpMc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/GE5n7S5UpMc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Albert King - The Blues Don't Change</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/5mqfiz">Albert King - 'The Blues Don't Change' [1974]. He's right...</a>
<br>
                        submitted <span class="muted">2017-01-08 11:22</span> by <a href="https://www.reddit.com/user/BlackJackKetchum">/u/BlackJackKetchum</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7KbjWK6kTQg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7KbjWK6kTQg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Mystery Train - Junior Parker</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/5p7mj6">Junior Parker - Mystery Train</a>
<br>
                        submitted <span class="muted">2017-01-21 00:10</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="64eCtQ8wBjo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/64eCtQ8wBjo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">If You Don't Want Me - the Piedmont Bluz Acoustic Duo</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/5psibi">The Piedmont Bluz Acoustic Duo - If You Don't Want Me</a>
<br>
                        submitted <span class="muted">2017-01-23 23:21</span> by <a href="https://www.reddit.com/user/MonotoneCreeper">/u/MonotoneCreeper</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="d-Z79ll9KR4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/d-Z79ll9KR4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">8 Reasons To Love John Mayer</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/5quss0">John mayer is great, yay or nay?</a>
<br>
                        submitted <span class="muted">2017-01-29 17:14</span> by <a href="https://www.reddit.com/user/Lvl99FatBoio">/u/Lvl99FatBoio</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="eUtkmPGzyPM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/eUtkmPGzyPM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">WALKING BASS Patterns for piano left hand (for Jazz, Blues, Swing, Stride, Boogie-Woogie, etc.)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5n676e">essential WALKING BASS patterns for piano (or any other instrument) that can be used for Blues, Jazz, etc.</a>
<br>
                        submitted <span class="muted">2017-01-10 17:06</span> by <a href="https://www.reddit.com/user/simplysimonpiano">/u/simplysimonpiano</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="v8wgBlDjFlE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/v8wgBlDjFlE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">LEE MICHAELS - stormy monday</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5oqgp5">LEE MICHAELS - stormy monday</a>
<br>
                        submitted <span class="muted">2017-01-18 16:51</span> by <a href="https://www.reddit.com/user/rootboyslim">/u/rootboyslim</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tHXWD951pKg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tHXWD951pKg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">How to play Boogie Woogie Piano: "Twinkle Twinkle Little Star"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5qkf83">Me, playing some Boogie Woogie on "Twinkle Twinkle Little Star" :)</a>
<br>
                        submitted <span class="muted">2017-01-27 23:13</span> by <a href="https://www.reddit.com/user/simplysimonpiano">/u/simplysimonpiano</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8T7kh9ExH-A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8T7kh9ExH-A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Fred McDowell- Soon One Mornin'</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5liflr">Fred McDowell - Soon One Mornin'</a>
<br>
                        submitted <span class="muted">2017-01-02 01:13</span> by <a href="https://www.reddit.com/user/Beerplifiers">/u/Beerplifiers</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tcYj9akpPoo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tcYj9akpPoo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Awek "It Hurts me" // Blues Café Live</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5miecb">Awek "It Hurts me" // French blues group</a>
<br>
                        submitted <span class="muted">2017-01-07 03:58</span> by <a href="https://www.reddit.com/user/ArnaudF">/u/ArnaudF</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9gHrNxeaZqA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9gHrNxeaZqA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bobby "Guitar" Bennet ~ when girls do it</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5obeu2">Bobby "Guitar" Bennet ~ when girls do it</a>
<br>
                        submitted <span class="muted">2017-01-16 15:31</span> by <a href="https://www.reddit.com/user/desperatejournalism">/u/desperatejournalism</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="CNiEApUERNI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/CNiEApUERNI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">TJ Zajac - Outward</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5p2cte">TJ Zajac - Outward(2017)</a>
<br>
                        submitted <span class="muted">2017-01-20 06:25</span> by <a href="https://www.reddit.com/user/scrillaman9000">/u/scrillaman9000</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7QLbi4E3-hI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7QLbi4E3-hI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Marc Ribot - Dark Was The Night (Cold Was The Ground)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5phyfm">Marc Ribot - Dark Was The Night (Cold Was The Ground) [2003]</a>
<br>
                        submitted <span class="muted">2017-01-22 16:46</span> by <a href="https://www.reddit.com/user/ta_rondo">/u/ta_rondo</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hfRqTQyHMTM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hfRqTQyHMTM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">J.B. Lenoir - Alabama Blues</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5lz4xc">J.B. Lenoir - Alabama Blues</a>
<br>
                        submitted <span class="muted">2017-01-04 13:35</span> by <a href="https://www.reddit.com/user/JConstantin1">/u/JConstantin1</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xP_136-zoqM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xP_136-zoqM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Reverend Gary Davis - Live at Newport (Full Album)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5psbhw">Reverend Gary Davis - Live at Newport (Full Album)</a>
<br>
                        submitted <span class="muted">2017-01-23 22:49</span> by <a href="https://www.reddit.com/user/Pavillon">/u/Pavillon</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8eBHNZ8lIBw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8eBHNZ8lIBw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">B.B. King Style Blues - improvisation</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5py4va">Improvisation solo : I Use interface lexicon alpha studio+ guitar ibanez grg170dx+ program GUITAR RIG 5. I hope you like it !!!</a>
<br>
                        submitted <span class="muted">2017-01-24 19:24</span> by <a href="https://www.reddit.com/user/rafi1795">/u/rafi1795</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="atu9v8W9h2Q">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/atu9v8W9h2Q/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Night And Day Blues (Blind Blake, May 1931) [Remastered]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5rbrkb">Blind Blake - Night And Day Blues</a>
<br>
                        submitted <span class="muted">2017-01-31 23:12</span> by <a href="https://www.reddit.com/user/JayWalken">/u/JayWalken</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vLHcHWDvgfQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vLHcHWDvgfQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jeff Buckley - Lover, You Should've Come Over</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5m9t5j">Not entirely sure if this should go here, but it needs to go somewhere.</a>
<br>
                        submitted <span class="muted">2017-01-05 23:05</span> by <a href="https://www.reddit.com/user/poperay32">/u/poperay32</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZJRFACJUtOA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZJRFACJUtOA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Fred McDowell, Sidney Carter And Rose Hemphill - When The Train Comes Along</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5p67zv">Fred McDowell, Sidney Carter And Rose Hemphill - When The Train Comes Along</a>
<br>
                        submitted <span class="muted">2017-01-20 19:59</span> by <a href="https://www.reddit.com/user/ragabooty">/u/ragabooty</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="snA5PL3mzvE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/snA5PL3mzvE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black Country Woman (Led Zeppelin Cover)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5lv9lu">Black Country Woman (Led Zeppelin Cover)</a>
<br>
                        submitted <span class="muted">2017-01-03 23:11</span> by <a href="https://www.reddit.com/user/gittlesriddles">/u/gittlesriddles</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3qJ8bT3W1D0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3qJ8bT3W1D0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Joe Bonamassa - 'Mountain Climbing' - OFFICIAL Music Video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5lxc54">Joe Bonamassa - Mountain ClimbinG</a>
<br>
                        submitted <span class="muted">2017-01-04 05:38</span> by <a href="https://www.reddit.com/user/JaxTeller1235">/u/JaxTeller1235</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="s7v0ci3bZ9A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/s7v0ci3bZ9A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">You Can Run (But You Can't Hide)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5n9ldm">The Chambers Brothers - You Can Run</a>
<br>
                        submitted <span class="muted">2017-01-11 02:51</span> by <a href="https://www.reddit.com/user/El_Pinguino">/u/El_Pinguino</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7FfmNTdIyRs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7FfmNTdIyRs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Meek Mill - Blue Notes (Theodore Kidd Version)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5o9nmb">Meek Mill - Blue Notes (Theodore Kidd Version)</a>
<br>
                        submitted <span class="muted">2017-01-16 08:00</span> by <a href="https://www.reddit.com/user/Theodore_Kidd">/u/Theodore_Kidd</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="2fJHB4lkiBg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/2fJHB4lkiBg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Rev. John Wilkins: "Prodigal Son"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5p8l46">Rev. John Wilkins: "Prodigal Son"</a>
<br>
                        submitted <span class="muted">2017-01-21 03:37</span> by <a href="https://www.reddit.com/user/j3434">/u/j3434</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="orebLeI8U-c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/orebLeI8U-c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ouroboros -E. Gamble with Robby Walton, Christian McCowen</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5q4lq0">E. GAMBLE - OUROBOROS</a>
<br>
                        submitted <span class="muted">2017-01-25 17:42</span> by <a href="https://www.reddit.com/user/Spaghetti007">/u/Spaghetti007</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5RfU0HjHWKk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5RfU0HjHWKk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">"Busking in Auckland", with Matt Montez.</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5m9r9i">percussive slap BLUES guitar, busking on the streets of Auckland</a>
<br>
                        submitted <span class="muted">2017-01-05 22:57</span> by <a href="https://www.reddit.com/user/montezband">/u/montezband</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="gdYNwC0WpPI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/gdYNwC0WpPI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Vaudevillian Saloon Sessions - Yo Yo Blues</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5nmnfa">The Vaudevillian - YoYo Blues (2016)</a>
<br>
                        submitted <span class="muted">2017-01-12 22:48</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="D4MWIyYT7Pw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/D4MWIyYT7Pw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">SUNDAY BLUES</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5o471x">SUNDAY BLUES</a>
<br>
                        submitted <span class="muted">2017-01-15 14:35</span> by <a href="https://www.reddit.com/user/Jim_Pugh">/u/Jim_Pugh</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pba_yw-tp68">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pba_yw-tp68/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">#200: Action Kick Johnny - "Automatic" #BatCaveFiles</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5o7yw8">Action Kick Johnny - "Automatic"</a>
<br>
                        submitted <span class="muted">2017-01-16 01:46</span> by <a href="https://www.reddit.com/user/reasonone">/u/reasonone</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="DyPC3cBoScg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DyPC3cBoScg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">What Is The Blues ?</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5oie54">What is the blues ? (VLOG)</a>
<br>
                        submitted <span class="muted">2017-01-17 14:39</span> by <a href="https://www.reddit.com/user/BluesMusicMaster">/u/BluesMusicMaster</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QcWaTTpTj64">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QcWaTTpTj64/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hcien Ft Adele - Hello (cover)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5p305u">Hcien Ft Adele - Hello (cover)</a>
<br>
                        submitted <span class="muted">2017-01-20 09:37</span> by <a href="https://www.reddit.com/user/lucaswells">/u/lucaswells</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="GtRxJDb3vlw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/GtRxJDb3vlw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sonny Boy Williamson  - Keep it to Yourself</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5ph8ez">Sonny Boy Williamson - Keep it to Yourself</a>
<br>
                        submitted <span class="muted">2017-01-22 14:40</span> by <a href="https://www.reddit.com/user/durhauz">/u/durhauz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pM8_HuQ0b34">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pM8_HuQ0b34/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Muddy Waters - You need love - 1963</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5q0bg6">Muddy Waters - You need love - 1963 [Way down inside ....]</a>
<br>
                        submitted <span class="muted">2017-01-25 01:32</span> by <a href="https://www.reddit.com/user/j3434">/u/j3434</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="5VP2I_WTk6E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/5VP2I_WTk6E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Meredith Axelrod sings "I Can't Get Him Off of My Mind"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5q4p40">Meredith Axelrod - I Can't Get Him Off of My Mind</a>
<br>
                        submitted <span class="muted">2017-01-25 17:58</span> by <a href="https://www.reddit.com/user/JayWalken">/u/JayWalken</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FTCHfocY_Fc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FTCHfocY_Fc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">RL Burnside Stole My Check</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5qzq7f">RL Burnside Stole My Check</a>
<br>
                        submitted <span class="muted">2017-01-30 09:31</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="yN9k-ZRCCSQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/yN9k-ZRCCSQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tiago Lageira | LIVE | "No Woman No Cry" (Guitar Octaves Solo)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/5luori">Guitar solo on "No Woman No Cry"</a>
<br>
                        submitted <span class="muted">2017-01-03 21:36</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/blues/">Blues</a> archive:
    <a href="/genre/blues/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/blues/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/blues/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/blues/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/blues/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/blues/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/blues/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/blues/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'blues';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>