<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Btk, Check The O.R., Kim Mitchell, The Tea Party, The Tragically Hip | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/9B6ZLM7yK8c/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/canadianmusic/2017/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="9B6ZLM7yK8c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9B6ZLM7yK8c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Tragically Hip - Three Pistols</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/61psj6">The Tragically Hip — Three Pistols</a>
<br>
                        submitted <span class="muted">2017-03-27 03:08</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JCye7v79Tz0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JCye7v79Tz0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Tea Party - The Bazaar</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/61rdjz">The Tea Party — The Bazaar</a>
<br>
                        submitted <span class="muted">2017-03-27 10:33</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sc-INN_BC74">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sc-INN_BC74/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Check the O.R. - Organized Rhyme Tom Green</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/5x9zw1">Organized Rhyme - Check the O.R.</a>
<br>
                        submitted <span class="muted">2017-03-03 12:10</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XSCYXfpcuSs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XSCYXfpcuSs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shadowy Men on A Shadowy Planet - Having an Average Weekend</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/618hux">Shadowy Men on A Shadowy Planet - Having an Average Weekend</a>
<br>
                        submitted <span class="muted">2017-03-24 11:59</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="b2qEwePLQgI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/b2qEwePLQgI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">BTK - Peppyrock</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/625ymn">BTK - Peppyrock</a>
<br>
                        submitted <span class="muted">2017-03-29 11:09</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JLsCZo4xLdY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JLsCZo4xLdY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Kim Mitchell - All We Are</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/5y00tw">Kim Mitchell - All We Are</a>
<br>
                        submitted <span class="muted">2017-03-07 12:21</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="prFTCAdx-qc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/prFTCAdx-qc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Glass Tiger - Thin Red Line</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/5yy6zh">Glass Tiger - Thin Red Line</a>
<br>
                        submitted <span class="muted">2017-03-12 11:01</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="CWxaC1ZpSTA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/CWxaC1ZpSTA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Doug & the Slugs-Tom Cat Prowl</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5y7u8e">Doug &amp; the Slugs - Tom Cat Prowl</a>
<br>
                        submitted <span class="muted">2017-03-08 13:18</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8mB7b8tkni0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8mB7b8tkni0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Killer Dwarfs   Keep The Spirit Alive Director's Cut 1986</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5ys65d">Killer Dwarfs - Keep The Spirit Alive</a>
<br>
                        submitted <span class="muted">2017-03-11 10:59</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="i2wOYxm9Pho">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/i2wOYxm9Pho/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">David Wilcox   Downtown Came Uptown</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/6078gk">David Wilcox Downtown Came Uptown</a>
<br>
                        submitted <span class="muted">2017-03-18 23:51</span> by <a href="https://www.reddit.com/user/blumhagen">/u/blumhagen</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JFxWrfl4SQE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JFxWrfl4SQE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Further Again - Staggered Crossing (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/60g3hz">Staggered Crossing - Further Again</a>
<br>
                        submitted <span class="muted">2017-03-20 12:05</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0ScgvyuJHMo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0ScgvyuJHMo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Land Of Talk - This Time</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/61h805">Land Of Talk - This Time</a>
<br>
                        submitted <span class="muted">2017-03-25 19:06</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ogzR6EhHiYQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ogzR6EhHiYQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">REPARTEE - DUKES (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/61h9qb">Repartee - Dukes (2016)</a>
<br>
                        submitted <span class="muted">2017-03-25 19:15</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mkB8eRK93D0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mkB8eRK93D0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Parachute Club At The Feet Of The Moon (1985)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5wvbuw">Parachute Club - At The Feet Of The Moon</a>
<br>
                        submitted <span class="muted">2017-03-01 12:09</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZggBxOLFleQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZggBxOLFleQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">SAGA   Wind Him Up Original Video Clip</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5xg5bf">Saga - Wind him up</a>
<br>
                        submitted <span class="muted">2017-03-04 09:14</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="EWlCD68oeu0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/EWlCD68oeu0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">RED RIDER - Light In The Tunnel/Human Race</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/60u5sh">Tom Cochrane &amp; Red Rider - Light In The Tunnel/Human Race</a>
<br>
                        submitted <span class="muted">2017-03-22 11:59</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ScSrPFyEWgQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ScSrPFyEWgQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">FROZEN GHOST "dream come true"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/61l1r4">Frozen Ghost - Dream Come True</a>
<br>
                        submitted <span class="muted">2017-03-26 11:02</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-O2Xt9OTM-8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-O2Xt9OTM-8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Rose Cousins | Like Trees | First Play Live</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/62b2o8">Rose Cousins | Like Trees | First Play Live</a>
<br>
                        submitted <span class="muted">2017-03-30 01:45</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-arVgLHTr10">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-arVgLHTr10/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Glorious Sons - White Noise (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5y606y">Glorious Sons one of my fav Canadian bands out there today</a>
<br>
                        submitted <span class="muted">2017-03-08 04:57</span> by <a href="https://www.reddit.com/user/swabbubba">/u/swabbubba</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vPQgfaB3S1c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vPQgfaB3S1c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Aldo Nova - Fantasy</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5yllx2">Aldo Nova - Fantasy</a>
<br>
                        submitted <span class="muted">2017-03-10 11:40</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zD77kyQYifc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zD77kyQYifc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gino Vannelli - Wild Horses</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5zj35f">Gino Vannelli - Wild Horses</a>
<br>
                        submitted <span class="muted">2017-03-15 12:37</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vubMfPh7URs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vubMfPh7URs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Spoons Romantic Traffic</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/5zq0mu">Spoons - Romantic Traffic</a>
<br>
                        submitted <span class="muted">2017-03-16 11:28</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="_X2LJ-BEBhY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_X2LJ-BEBhY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ron Sexsmith - Love Shines (official lyric video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/60q4o5">Ron Sexsmith - Love Shines</a>
<br>
                        submitted <span class="muted">2017-03-21 20:33</span> by <a href="https://www.reddit.com/user/samwiseguit">/u/samwiseguit</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="GFJ2J7b5C1A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/GFJ2J7b5C1A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Helix-Make me do anything you want</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/611bu8">Helix - Make me do anything you want</a>
<br>
                        submitted <span class="muted">2017-03-23 11:42</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="aHqQmCNyuy0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/aHqQmCNyuy0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Flatliners - Indoors</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/61br7d">The Flatliners - Indoors</a>
<br>
                        submitted <span class="muted">2017-03-24 21:20</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7dzo2u0U8ek">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7dzo2u0U8ek/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Tanzania, Africa (HD) - Oasis by Thinkers Rave.</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5yem5m">ThinkersRave - Oasis ft.Dark Evil by Bobby Cole.</a>
<br>
                        submitted <span class="muted">2017-03-09 11:48</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="croo0nF_pGc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/croo0nF_pGc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Leif Vollebekk - All Night Sedans | Acoustic live session in Paris</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5ym130">Leif Vollebekk - All Night Sedans (Acoustic live session in Paris)</a>
<br>
                        submitted <span class="muted">2017-03-10 13:25</span> by <a href="https://www.reddit.com/user/SocrateFlagrant">/u/SocrateFlagrant</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ddvQWSBBydM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ddvQWSBBydM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Stampeders - Playin' In The Band</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5z4nnb">Stampeders - Playin' In The Band</a>
<br>
                        submitted <span class="muted">2017-03-13 12:18</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="lCRZCEQpOqY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/lCRZCEQpOqY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">She-Devils - The World Laughs</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5z713s">She-Devils - The World Laughs</a>
<br>
                        submitted <span class="muted">2017-03-13 19:16</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mIn-otaqriw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mIn-otaqriw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">GOWAN - Cosmetics</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/5zbq6r">Gowan - Cosmetics</a>
<br>
                        submitted <span class="muted">2017-03-14 12:07</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="h66Lvzlj1Uk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/h66Lvzlj1Uk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Feist - Pleasure</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/60137j">New Music: Feist - Pleasure</a>
<br>
                        submitted <span class="muted">2017-03-17 23:34</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0Y_3K6uQkZI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0Y_3K6uQkZI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">PAUL JANZ - Go To Pieces</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/603loy">Paul Janz - Go To Pieces</a>
<br>
                        submitted <span class="muted">2017-03-18 11:09</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="kctPw3qi6Qw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/kctPw3qi6Qw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">John Legend's Penthouse Floor - Childish Gambino's Redbone and Bj the Chicago Kid in 1 song?</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/60e9lo">John Legend - Penthouse Floor | BJ Chicago Kid - Turnin' Me Up| Childish Gambino -Redbone MASHUP</a>
<br>
                        submitted <span class="muted">2017-03-20 03:23</span> by <a href="https://www.reddit.com/user/DeidraRobertson">/u/DeidraRobertson</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xV1o9o5fkj4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xV1o9o5fkj4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Keshia Chanté - RedLight</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/615p0c">(New Music) Keshia Chanté - RedLight</a>
<br>
                        submitted <span class="muted">2017-03-24 00:05</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OQ1PEG-9L8Y">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OQ1PEG-9L8Y/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bruce Cockburn - Tokyo</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/61f1gm">Bruce Cockburn - Tokyo</a>
<br>
                        submitted <span class="muted">2017-03-25 11:07</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QhU_NTnbGuU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QhU_NTnbGuU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Images In Vogue - In The House (HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/61rh0h">Images In Vogue - In The House</a>
<br>
                        submitted <span class="muted">2017-03-27 11:01</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="45TGNqfBIuc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/45TGNqfBIuc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">LOU CANON - 'Coma' [Official Video]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/627nmg">Lou Canon - Coma</a>
<br>
                        submitted <span class="muted">2017-03-29 16:22</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bLAQEssYNjA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bLAQEssYNjA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Men Without Hats - Sideways</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/62de8t">Men Without Hats - Sideways</a>
<br>
                        submitted <span class="muted">2017-03-30 11:35</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Tw4cfaSv8JE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Tw4cfaSv8JE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">IAN THOMAS   HARMONY 1985</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/62lc9p">Ian Thomas - Harmony</a>
<br>
                        submitted <span class="muted">2017-03-31 14:00</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="RMxk1hVoup8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/RMxk1hVoup8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">John James - I Wanna Know</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5yeuwk">John James - I Wanna Know</a>
<br>
                        submitted <span class="muted">2017-03-09 12:49</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3Iw7wqvbQ-M">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3Iw7wqvbQ-M/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Venetian Snares & Daniel Lanois - Night</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5z18k0">Venetian Snares &amp; Daniel Lanois - Night (Live, 2017)</a>
<br>
                        submitted <span class="muted">2017-03-12 21:57</span> by <a href="https://www.reddit.com/user/PsychedelicFrogFarm">/u/PsychedelicFrogFarm</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="DFFvAN_CPMg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DFFvAN_CPMg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Big Dave McLean  - Feel Like Going Home</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/5zwd3b">Big Dave McLean - Feel Like Going Home</a>
<br>
                        submitted <span class="muted">2017-03-17 08:01</span> by <a href="https://www.reddit.com/user/samwiseguit">/u/samwiseguit</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="AYRjw_8GnDE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/AYRjw_8GnDE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ralph - Tease</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/602jeo">Ralph - Tease</a>
<br>
                        submitted <span class="muted">2017-03-18 05:00</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="wsYP0mKToBc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/wsYP0mKToBc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">ICELANDIA - Holy Ghost (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/60cnjs">ICELANDIA - Holy Ghost</a>
<br>
                        submitted <span class="muted">2017-03-19 21:54</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="f9gfqGoPGaU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/f9gfqGoPGaU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">NAV - Myself</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/60y0sh">NAV - Myself</a>
<br>
                        submitted <span class="muted">2017-03-22 22:42</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9cgzlSAOphw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9cgzlSAOphw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">"Forever Fool" [Official Video] - The Harpoonist & The Axe Murderer</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/60y26r">The Harpoonist &amp; The Axe Murderer - Forever Fool</a>
<br>
                        submitted <span class="muted">2017-03-22 22:49</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JJGLy43qIQE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JJGLy43qIQE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Teenage Head - Teenage Beer Drinking Party from Some Kind of Fun</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/61ejo1">Teenage Head - Teenage Beer Drinking Party</a>
<br>
                        submitted <span class="muted">2017-03-25 07:57</span> by <a href="https://www.reddit.com/user/CustomRodTele">/u/CustomRodTele</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="XwzTtAks7aU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/XwzTtAks7aU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lydia Ainsworth - Afterglow</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/61h879">Lydia Ainsworth - Afterglow</a>
<br>
                        submitted <span class="muted">2017-03-25 19:07</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="iMDIgR7ytZA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/iMDIgR7ytZA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shannon Moan Trio - I Will</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/61nq13">Shannon Moan Trio- I will [4:46]</a>
<br>
                        submitted <span class="muted">2017-03-26 20:23</span> by <a href="https://www.reddit.com/user/northernmusic">/u/northernmusic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bKBdoA9pf0Q">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bKBdoA9pf0Q/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Sun Harmonic - Rivers Will Rise (a Winter song)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/61tmld">The Sun Harmonic - Rivers Will Rise [Rock/Folk/Jazz] A piano song from my all-Canadian concept album, Winter.</a>
<br>
                        submitted <span class="muted">2017-03-27 17:35</span> by <a href="https://www.reddit.com/user/thesunharmonic">/u/thesunharmonic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sEpcu0B66nc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sEpcu0B66nc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">TRIUMPH - Just One Night (OFFICIAL VIDEO)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/61ysup">Triumph - Just One Night</a>
<br>
                        submitted <span class="muted">2017-03-28 11:38</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Ykp1tXcYXkc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Ykp1tXcYXkc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Mac DeMarco // This Old Dog (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/62iixx">New Video: Mac DeMarco - This Old Dog</a>
<br>
                        submitted <span class="muted">2017-03-31 02:15</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="qf22lhKxYv0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/qf22lhKxYv0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Leif Vollebekk - All Night Sedans (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/62n2go">Leif Vollebekk - All Night Sedans (Official Video)</a>
<br>
                        submitted <span class="muted">2017-03-31 18:30</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NrCOWoYTdcI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NrCOWoYTdcI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">One to One - There Was a Time (When We Were Young)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5x2unu">One to One - There Was a Time (When We Were Young)</a>
<br>
                        submitted <span class="muted">2017-03-02 12:09</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="75QP7dfWdgI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/75QP7dfWdgI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">[HOT] Loren Dayle - Nightmare (Part 1)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5xhhyk">Loren Dayle - Nightmare [NEW]</a>
<br>
                        submitted <span class="muted">2017-03-04 15:54</span> by <a href="https://www.reddit.com/user/Jouzik">/u/Jouzik</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7vwuXl4Px0o">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7vwuXl4Px0o/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Esquires (Man from Adano) 1963</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5xthjh">The Esquires - Man from Adano</a>
<br>
                        submitted <span class="muted">2017-03-06 14:30</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uhkY-ArVSAg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uhkY-ArVSAg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jacques Greene - True ft How To Dress Well (Audio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5yoqeu">Jacques Greene - True (ft How To Dress Well)</a>
<br>
                        submitted <span class="muted">2017-03-10 21:07</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LcZeCqDJW2U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LcZeCqDJW2U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lisa LeBlanc - City Slickers and Country Boys</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5yor1r">Lisa LeBlanc - City Slickers and Country Boys</a>
<br>
                        submitted <span class="muted">2017-03-10 21:10</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IRksCA77HNA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IRksCA77HNA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shannon Moan Trio - Wilderness</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5zd7bo">Shannon Moan Trio - Wilderness [folk] (x-post /r/canada)</a>
<br>
                        submitted <span class="muted">2017-03-14 16:38</span> by <a href="https://www.reddit.com/user/Tronologic">/u/Tronologic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="j6CWxSxZCC4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/j6CWxSxZCC4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Peter Peter - Loving Game</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/608g8m">Peter Peter - Loving Game (English and French lyrics)</a>
<br>
                        submitted <span class="muted">2017-03-19 04:31</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NyUS5FIZYuc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NyUS5FIZYuc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Aeternam - Damascus Gate - Official Video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/608k12">Aeternam - Damascus Gate</a>
<br>
                        submitted <span class="muted">2017-03-19 05:01</span> by <a href="https://www.reddit.com/user/fiveMagicsRIP">/u/fiveMagicsRIP</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="n1QOxms_yvI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/n1QOxms_yvI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Corey Hart - Eurasian Eyes Official Video</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/609pq8">Corey Hart - Eurasian Eyes</a>
<br>
                        submitted <span class="muted">2017-03-19 11:55</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="lKUKYQ1Zz7I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/lKUKYQ1Zz7I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">David Wilcox - The Natural Edge</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/60n9ui">David Wilcox - The Natural Edge</a>
<br>
                        submitted <span class="muted">2017-03-21 12:25</span> by <a href="https://www.reddit.com/user/m0rris0n_hotel">/u/m0rris0n_hotel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="kqwgjxG_pys">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/kqwgjxG_pys/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Hidden Cameras - Mississauga Goddam</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/60yijk">The Hidden Cameras - Mississauga Goddam</a>
<br>
                        submitted <span class="muted">2017-03-23 00:09</span> by <a href="https://www.reddit.com/user/wassmatta">/u/wassmatta</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="O76ZzS67y-0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/O76ZzS67y-0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Close Talker - Okay Hollywood (official)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/627mx2">Close Talker - Okay Hollywood</a>
<br>
                        submitted <span class="muted">2017-03-29 16:19</span> by <a href="https://www.reddit.com/user/itchyscratchy4545">/u/itchyscratchy4545</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LQ0dmnor9aw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LQ0dmnor9aw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Through The Gates - by Post Death Soundtrack</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/5xgk25">Post Death Soundtrack - Through The Gates [Experimental Rock] [2016]</a>
<br>
                        submitted <span class="muted">2017-03-04 11:46</span> by <a href="https://www.reddit.com/user/mattattack88">/u/mattattack88</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/canadianmusic/">Canadian Music</a> archive:
    <a href="/genre/canadianmusic/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/canadianmusic/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'canadianmusic';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>