<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">65Daysofstatic, Chalk Tv: Toe, Pelican, The Samuel Jackson Five, Tycho | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/QX5XKFn7Ngo/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/postrock/2014/2/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="QX5XKFn7Ngo">
                    <td><img src="https://i.ytimg.com/vi/QX5XKFn7Ngo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tycho - Montana</td>
                </tr>
                <tr class="record" id="WneDU-K3Sww">
                    <td><img src="https://i.ytimg.com/vi/WneDU-K3Sww/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">65daysofstatic - Retreat! Retreat!</td>
                </tr>
                <tr class="record" id="UQXTEf3LGUc">
                    <td><img src="https://i.ytimg.com/vi/UQXTEf3LGUc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pelican - City of Echoes - Bliss in Concrete</td>
                </tr>
                <tr class="record" id="8QabfRVxdDc">
                    <td><img src="https://i.ytimg.com/vi/8QabfRVxdDc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Samuel Jackson Five - If You Show Off the Milk, Who's Gonna Buy the Cow?</td>
                </tr>
                <tr class="record" id="4dkQHMdYl18">
                    <td><img src="https://i.ytimg.com/vi/4dkQHMdYl18/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">God is an Astronaut Ireland AM</td>
                </tr>
                <tr class="record" id="v3Q7cHFwyD0">
                    <td><img src="https://i.ytimg.com/vi/v3Q7cHFwyD0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">This Will Destroy You & Lymbyc Systym - Field Studies (Full Album)</td>
                </tr>
                <tr class="record" id="9BwqCVHWW5E">
                    <td><img src="https://i.ytimg.com/vi/9BwqCVHWW5E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Chalk TV: toe - "Past and Language"</td>
                </tr>
                <tr class="record" id="Iw6j_etAiW0">
                    <td><img src="https://i.ytimg.com/vi/Iw6j_etAiW0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dirty Three - Authentic Celestial Music</td>
                </tr>
                <tr class="record" id="bp1aP_CEq44">
                    <td><img src="https://i.ytimg.com/vi/bp1aP_CEq44/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thee Silver Mt Zion Memorial Orchestra - What We Loved Was Not Enough</td>
                </tr>
                <tr class="record" id="dYw4meRWGd4">
                    <td><img src="https://i.ytimg.com/vi/dYw4meRWGd4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GoPro: Red Bull Stratos - The Full Story</td>
                </tr>
                <tr class="record" id="tvnTU1atBQI">
                    <td><img src="https://i.ytimg.com/vi/tvnTU1atBQI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ghost in the Shell Medley - hazards of swimming naked - Making of.wmv</td>
                </tr>
                <tr class="record" id="wQoF-ofxJVs">
                    <td><img src="https://i.ytimg.com/vi/wQoF-ofxJVs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Moving Mountains - "Seasonal" [Telegraph Sessions]</td>
                </tr>
                <tr class="record" id="oYzL0HEsCpw">
                    <td><img src="https://i.ytimg.com/vi/oYzL0HEsCpw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Oceansize - I Haven't Been the Claw for Ages</td>
                </tr>
                <tr class="record" id="LVdU_bLD2-M">
                    <td><img src="https://i.ytimg.com/vi/LVdU_bLD2-M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BREADCRUMB TRAIL - THEATRICAL TEASER</td>
                </tr>
                <tr class="record" id="qmE8rnHtAiM">
                    <td><img src="https://i.ytimg.com/vi/qmE8rnHtAiM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tides Of Man "Young And Courageous" FULL ALBUM STREAM</td>
                </tr>
                <tr class="record" id="82ApXQYS_kQ">
                    <td><img src="https://i.ytimg.com/vi/82ApXQYS_kQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Caspian - The Heart That Fed (Live 2014)</td>
                </tr>
                <tr class="record" id="KYfd-2wcJvs">
                    <td><img src="https://i.ytimg.com/vi/KYfd-2wcJvs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Square Peg Round Hole - "Bats!" OFFICIAL MUSIC VIDEO</td>
                </tr>
                <tr class="record" id="PjO-JL-X5dw">
                    <td><img src="https://i.ytimg.com/vi/PjO-JL-X5dw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Toundra - Bizancio / Byzantium</td>
                </tr>
                <tr class="record" id="mFJSM3kvBQ4">
                    <td><img src="https://i.ytimg.com/vi/mFJSM3kvBQ4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lantlôs - Melting Sun I: Azure Chimes</td>
                </tr>
                <tr class="record" id="ex2OZTTNeeM">
                    <td><img src="https://i.ytimg.com/vi/ex2OZTTNeeM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">If These Trees Could Talk - Barren Lands Of The Modern Dinosaur</td>
                </tr>
                <tr class="record" id="p0iBcNEhqMU">
                    <td><img src="https://i.ytimg.com/vi/p0iBcNEhqMU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">*shels - Plains of the Purple Buffalo (Part 1&2)</td>
                </tr>
                <tr class="record" id="DLpKc4Gks3Q">
                    <td><img src="https://i.ytimg.com/vi/DLpKc4Gks3Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Last Lungs - 33</td>
                </tr>
                <tr class="record" id="6H22lajS4GE">
                    <td><img src="https://i.ytimg.com/vi/6H22lajS4GE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">My Sleeping Karma - Ephedra</td>
                </tr>
                <tr class="record" id="SvSHYQasO_Y">
                    <td><img src="https://i.ytimg.com/vi/SvSHYQasO_Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wozniak - MFMB</td>
                </tr>
                <tr class="record" id="FqfBdWFNHg4">
                    <td><img src="https://i.ytimg.com/vi/FqfBdWFNHg4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Chalk TV: toe - "Esoteric"</td>
                </tr>
                <tr class="record" id="Z-a_dw_vg-0">
                    <td><img src="https://i.ytimg.com/vi/Z-a_dw_vg-0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Loop improvisation</td>
                </tr>
                <tr class="record" id="whKRrR8IdiI">
                    <td><img src="https://i.ytimg.com/vi/whKRrR8IdiI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Need a Name - All You Searched For</td>
                </tr>
                <tr class="record" id="I8WV4Vvfp4s">
                    <td><img src="https://i.ytimg.com/vi/I8WV4Vvfp4s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cold Body Radiation - Make Believe</td>
                </tr>
                <tr class="record" id="Vnyv--sJUd0">
                    <td><img src="https://i.ytimg.com/vi/Vnyv--sJUd0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Caspian (Interview)</td>
                </tr>
                <tr class="record" id="N-_QF5p93TY">
                    <td><img src="https://i.ytimg.com/vi/N-_QF5p93TY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mono - Unseen Harbor</td>
                </tr>
                <tr class="record" id="2alicpzZSpY">
                    <td><img src="https://i.ytimg.com/vi/2alicpzZSpY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sjáumst í Virginíu - For a Minor Reflection.</td>
                </tr>
                <tr class="record" id="kpke3iDI9Dk">
                    <td><img src="https://i.ytimg.com/vi/kpke3iDI9Dk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">History Channel</td>
                </tr>
                <tr class="record" id="j4OSxc9XYRc">
                    <td><img src="https://i.ytimg.com/vi/j4OSxc9XYRc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bark Psychosis - Absent Friend</td>
                </tr>
                <tr class="record" id="t2xprLZAVbk">
                    <td><img src="https://i.ytimg.com/vi/t2xprLZAVbk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dirty Three - I Remember A Time When Once You Used To Love Me</td>
                </tr>
                <tr class="record" id="88QUY9b3ahU">
                    <td><img src="https://i.ytimg.com/vi/88QUY9b3ahU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cerberus Shoal - Myrrh (Reprise)</td>
                </tr>
                <tr class="record" id="tKONNhMvPtI">
                    <td><img src="https://i.ytimg.com/vi/tKONNhMvPtI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Meniscus - 130 (Earth - Time Lapse View from Space, Fly Over - NASA, ISS)  High Definition</td>
                </tr>
                <tr class="record" id="_WJhcVJEYN4">
                    <td><img src="https://i.ytimg.com/vi/_WJhcVJEYN4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lost In The Riots - Pearl River Delta</td>
                </tr>
                <tr class="record" id="AdRNg3y0kIA">
                    <td><img src="https://i.ytimg.com/vi/AdRNg3y0kIA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Your Plane Leaves Tomorrow - Oceans</td>
                </tr>
                <tr class="record" id="FK015MS6Yyk">
                    <td><img src="https://i.ytimg.com/vi/FK015MS6Yyk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">East Of The River - Wilderness Is Their Home Now</td>
                </tr>
                <tr class="record" id="Dk_9BXwocNk">
                    <td><img src="https://i.ytimg.com/vi/Dk_9BXwocNk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Eleanor - How the west was one</td>
                </tr>
                <tr class="record" id="mv-6fkwFN6A">
                    <td><img src="https://i.ytimg.com/vi/mv-6fkwFN6A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BUR / The Shaking Sensations - our hearts were young and gay</td>
                </tr>
                <tr class="record" id="FDjF2NoAjj8">
                    <td><img src="https://i.ytimg.com/vi/FDjF2NoAjj8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fragile - 花火</td>
                </tr>
                <tr class="record" id="pX8dR_ML5B4">
                    <td><img src="https://i.ytimg.com/vi/pX8dR_ML5B4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Codes In The Clouds - Don't Go Awash In This Digital Landscape (Official Music Video)</td>
                </tr>
                <tr class="record" id="2nu53hNzXBs">
                    <td><img src="https://i.ytimg.com/vi/2nu53hNzXBs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Disco Inferno- Footprints in Snow</td>
                </tr>
                <tr class="record" id="Dt0t3afyOmo">
                    <td><img src="https://i.ytimg.com/vi/Dt0t3afyOmo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Moving Mountains - "Eastern Leaves" [Telegraph Sessions]</td>
                </tr>
                <tr class="record" id="XVoY2dkozFc">
                    <td><img src="https://i.ytimg.com/vi/XVoY2dkozFc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">For A Minor Reflection - Ókyrrð</td>
                </tr>
                <tr class="record" id="RqTCpbHmhVw">
                    <td><img src="https://i.ytimg.com/vi/RqTCpbHmhVw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">the Soil & the Sun - I Know It (I Feel It, Too) - Audiotree Live</td>
                </tr>
                <tr class="record" id="It4WxQ6dnn0">
                    <td><img src="https://i.ytimg.com/vi/It4WxQ6dnn0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Brian Eno - An Ending (Ascent) [1080 HD]</td>
                </tr>
                <tr class="record" id="_cakZ3-eX8c">
                    <td><img src="https://i.ytimg.com/vi/_cakZ3-eX8c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">We made god - Gizmo (Official audio)</td>
                </tr>
                <tr class="record" id="8GSL8Dm00hg">
                    <td><img src="https://i.ytimg.com/vi/8GSL8Dm00hg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tides From Nebula - The Fall of Leviathan</td>
                </tr>
                <tr class="record" id="HP-7uoIO2hs">
                    <td><img src="https://i.ytimg.com/vi/HP-7uoIO2hs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Calm Blue Sea - Mary Ann Nichols [Gravity]</td>
                </tr>
                <tr class="record" id="ZN3pF-c3S9w">
                    <td><img src="https://i.ytimg.com/vi/ZN3pF-c3S9w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Eleanor - Stargazers</td>
                </tr>
                <tr class="record" id="f0Y_o61buPs">
                    <td><img src="https://i.ytimg.com/vi/f0Y_o61buPs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">LEG of LAMB - USA out of Vietnam</td>
                </tr>
                <tr class="record" id="3yv2dto9pj8">
                    <td><img src="https://i.ytimg.com/vi/3yv2dto9pj8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Best of POST-ROCK | January 2014 | One Hour MIX [HD/FREE DL] #88</td>
                </tr>
                <tr class="record" id="yQIeo60vBhU">
                    <td><img src="https://i.ytimg.com/vi/yQIeo60vBhU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hollow Ran "From" live / TRIRILLA SESSIONS</td>
                </tr>
                <tr class="record" id="wD7GjjgXcpA">
                    <td><img src="https://i.ytimg.com/vi/wD7GjjgXcpA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sisters of... - In A Sea Of Red Strands</td>
                </tr>
                <tr class="record" id="tBKi77O2_oM">
                    <td><img src="https://i.ytimg.com/vi/tBKi77O2_oM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">MONTE - CASCADES</td>
                </tr>
                <tr class="record" id="bmbps7B-L5A">
                    <td><img src="https://i.ytimg.com/vi/bmbps7B-L5A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Codes in the Clouds - We Anchor In Hope</td>
                </tr>
                <tr class="record" id="Gmbwb706JH8">
                    <td><img src="https://i.ytimg.com/vi/Gmbwb706JH8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"A History Of Sport Fishing" - Thee More Shallows</td>
                </tr>
                <tr class="record" id="9zQagyuNPT4">
                    <td><img src="https://i.ytimg.com/vi/9zQagyuNPT4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Loss Of A Child - A Talk With A Cat Farmer</td>
                </tr>
                <tr class="record" id="qCbYh811QOU">
                    <td><img src="https://i.ytimg.com/vi/qCbYh811QOU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Parhelia - Our Ship Has Sailed</td>
                </tr>
                <tr class="record" id="zaL8iFTUWyc">
                    <td><img src="https://i.ytimg.com/vi/zaL8iFTUWyc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">It will all happen the way it should (official)</td>
                </tr>
                <tr class="record" id="YV4ARJ0DTz4">
                    <td><img src="https://i.ytimg.com/vi/YV4ARJ0DTz4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mesozoic - Sanguine (Album Teaser)</td>
                </tr>
                <tr class="record" id="oRPqUbUWDuk">
                    <td><img src="https://i.ytimg.com/vi/oRPqUbUWDuk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">IWKC - Hard Times</td>
                </tr>
                <tr class="record" id="r2O-ILPS8cw">
                    <td><img src="https://i.ytimg.com/vi/r2O-ILPS8cw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">incognita sperans - Χιροσιμα</td>
                </tr>
                <tr class="record" id="3JRgYXMJ-PE">
                    <td><img src="https://i.ytimg.com/vi/3JRgYXMJ-PE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CraveOnstage: Hot Karate perform "Bolillos"</td>
                </tr>
                <tr class="record" id="CKLJE0zlqrk">
                    <td><img src="https://i.ytimg.com/vi/CKLJE0zlqrk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Yarmulke -  One Theater In Square</td>
                </tr>
                <tr class="record" id="qlpD8F-fstc">
                    <td><img src="https://i.ytimg.com/vi/qlpD8F-fstc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Glorie - Water Drops</td>
                </tr>
                <tr class="record" id="ZZ8bJu-0FGM">
                    <td><img src="https://i.ytimg.com/vi/ZZ8bJu-0FGM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Friends In The Mountains - Avenue Of The Giants</td>
                </tr>
                <tr class="record" id="_2Yj2NdEoAU">
                    <td><img src="https://i.ytimg.com/vi/_2Yj2NdEoAU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Last Vote - There Is Sound</td>
                </tr>
                <tr class="record" id="TMDErP4uUeE">
                    <td><img src="https://i.ytimg.com/vi/TMDErP4uUeE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ganger - Now We Have You</td>
                </tr>
                <tr class="record" id="hH7M1BroQ3w">
                    <td><img src="https://i.ytimg.com/vi/hH7M1BroQ3w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Underwater Escape from the Black Hole - Summer Triangle</td>
                </tr>
                <tr class="record" id="HHebrV5ZflA">
                    <td><img src="https://i.ytimg.com/vi/HHebrV5ZflA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">A Ninja Slob Drew Me - Valles Marineris</td>
                </tr>
                <tr class="record" id="Orh7rDCrcJk">
                    <td><img src="https://i.ytimg.com/vi/Orh7rDCrcJk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Miaou - Morning Sun</td>
                </tr>
                <tr class="record" id="7sZqhICN4NU">
                    <td><img src="https://i.ytimg.com/vi/7sZqhICN4NU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Inuit - 'The Staybright' Live</td>
                </tr>
                <tr class="record" id="pcPZ_jJzghw">
                    <td><img src="https://i.ytimg.com/vi/pcPZ_jJzghw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CraveOnstage: Hot Karate perform "Diluwar"</td>
                </tr>
                <tr class="record" id="PzvRrVXtBdM">
                    <td><img src="https://i.ytimg.com/vi/PzvRrVXtBdM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Undone - Stop All the Clocks</td>
                </tr>
                <tr class="record" id="PX13CmeLCKA">
                    <td><img src="https://i.ytimg.com/vi/PX13CmeLCKA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">RED REITER - Opening/The Gift</td>
                </tr>
                <tr class="record" id="1wrwr2U5epo">
                    <td><img src="https://i.ytimg.com/vi/1wrwr2U5epo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Televisión - Luzparís - Sesión Desde el Mar - por Cuatro40 en El Bunker Estudio - HD</td>
                </tr>
                <tr class="record" id="dEIK6Se94L0">
                    <td><img src="https://i.ytimg.com/vi/dEIK6Se94L0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Symphony Novel Live @Blue Frog 28.01.14  Promo Video</td>
                </tr>
                <tr class="record" id="XmZ6lHD7_pM">
                    <td><img src="https://i.ytimg.com/vi/XmZ6lHD7_pM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dorena - Her Comforting Touch / On or Off Kolektyw #26</td>
                </tr>
                <tr class="record" id="t8U8UyJ49qM">
                    <td><img src="https://i.ytimg.com/vi/t8U8UyJ49qM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">【PV】dinner- re:peat</td>
                </tr>
                <tr class="record" id="ZA2l-5iwO2c">
                    <td><img src="https://i.ytimg.com/vi/ZA2l-5iwO2c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BARROWS - "Beyond" Live in Studio</td>
                </tr>
                <tr class="record" id="uig-iE_kzfc">
                    <td><img src="https://i.ytimg.com/vi/uig-iE_kzfc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Celestial Wolves - Corporal Wojtek</td>
                </tr>
                <tr class="record" id="dtwHA7V1qzc">
                    <td><img src="https://i.ytimg.com/vi/dtwHA7V1qzc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Speed Of A Life video - Those Amongst Us Are Wolves</td>
                </tr>
                <tr class="record" id="tdCGFy-4M_M">
                    <td><img src="https://i.ytimg.com/vi/tdCGFy-4M_M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Klimt 1918 - Atget</td>
                </tr>
                <tr class="record" id="rdxZ4eoLMn4">
                    <td><img src="https://i.ytimg.com/vi/rdxZ4eoLMn4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Physics House Band - Abraxical Solapse</td>
                </tr>
                <tr class="record" id="2OQ9hGH-1bU">
                    <td><img src="https://i.ytimg.com/vi/2OQ9hGH-1bU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Monomyth</td>
                </tr>
                <tr class="record" id="KBKPK03Pzas">
                    <td><img src="https://i.ytimg.com/vi/KBKPK03Pzas/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">aswekeepsearching - Growing Suspicions (FULL ALBUM STREAM)</td>
                </tr>
                <tr class="record" id="NkOe-K59198">
                    <td><img src="https://i.ytimg.com/vi/NkOe-K59198/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">U137 - Let Me Keep This Memory</td>
                </tr>
                <tr class="record" id="A-y1N29vH2Y">
                    <td><img src="https://i.ytimg.com/vi/A-y1N29vH2Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Meshuggah Face of Wall Street</td>
                </tr>
                <tr class="record" id="M5rAlrlsQCQ">
                    <td><img src="https://i.ytimg.com/vi/M5rAlrlsQCQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pet Slimmers Of The Year - Weir</td>
                </tr>
                <tr class="record" id="6ZHZ8--Nzgw">
                    <td><img src="https://i.ytimg.com/vi/6ZHZ8--Nzgw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Buffalo Daughter - Autobacs Live at Fuji Rock Festival</td>
                </tr>
                <tr class="record" id="pieI3ctfMfM">
                    <td><img src="https://i.ytimg.com/vi/pieI3ctfMfM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Cult's "She Sells Sanctuary"</td>
                </tr>
                <tr class="record" id="ldbTo3xQrpM">
                    <td><img src="https://i.ytimg.com/vi/ldbTo3xQrpM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mackenzie -  My Grandfather Buried her in the dirt (dog days are no more) - Binger Days (2012)</td>
                </tr>
                <tr class="record" id="lWOwLKcqb40">
                    <td><img src="https://i.ytimg.com/vi/lWOwLKcqb40/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Three Trapped Tigers - Reset</td>
                </tr>
                <tr class="record" id="N-5Ooa2XEsk">
                    <td><img src="https://i.ytimg.com/vi/N-5Ooa2XEsk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Arms of Tripoli - 10th Graders Forever</td>
                </tr>
                <tr class="record" id="VoYgL97ONKE">
                    <td><img src="https://i.ytimg.com/vi/VoYgL97ONKE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Inventions - Trailer #2</td>
                </tr>
                <tr class="record" id="Ql6sOL0sSJ0">
                    <td><img src="https://i.ytimg.com/vi/Ql6sOL0sSJ0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Sea and Cake - The Argument</td>
                </tr>
                <tr class="record" id="15eu7ar5EKM">
                    <td><img src="https://i.ytimg.com/vi/15eu7ar5EKM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Eric Johnson - Cliffs of Dover</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/postrock/">Post Rock</a> archive:
    <a href="/genre/postrock/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/postrock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'postrock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>