<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Airiel, Alvvays, Ride, Swervediver, 揺らぎ | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/iV_sIFSgqr0/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/shoegaze/2017/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="iV_sIFSgqr0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/iV_sIFSgqr0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">HAVE A NICE LIFE @ The Middle East - Cambridge, MA - 6/24/2017</h2>
                    <p><strong>Score:</strong> <span class="rd-score">62</span> - <a href="https://www.reddit.com/6jke1t">Have a Nice Life recently played their first show in 7 years and someone recorded and uploaded their entire set.</a>
<br>
                        submitted <span class="muted">2017-06-26 11:01</span> by <a href="https://www.reddit.com/user/rhetoricsff">/u/rhetoricsff</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-tWhPv2U6aQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-tWhPv2U6aQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Slowdive: NPR Music Field Recordings</h2>
                    <p><strong>Score:</strong> <span class="rd-score">55</span> - <a href="https://www.reddit.com/6h4s2s">Some slowdive.</a>
<br>
                        submitted <span class="muted">2017-06-14 02:48</span> by <a href="https://www.reddit.com/user/autistictanks">/u/autistictanks</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="goDET8EFMcU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/goDET8EFMcU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Airiel - Firefly</h2>
                    <p><strong>Score:</strong> <span class="rd-score">41</span> - <a href="https://www.reddit.com/6eqkt9">Airiel - Firefly</a>
<br>
                        submitted <span class="muted">2017-06-01 23:08</span> by <a href="https://www.reddit.com/user/SargeantSaxophone">/u/SargeantSaxophone</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="knXIYXDFh4U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/knXIYXDFh4U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Alvvays - In Undertow [Official Audio]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">40</span> - <a href="https://www.reddit.com/6fn8jz">Alvvays - In Undertow [new single][pretty gazey]</a>
<br>
                        submitted <span class="muted">2017-06-06 17:18</span> by <a href="https://www.reddit.com/user/Clarinetaphoner">/u/Clarinetaphoner</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xgMD6efugcU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xgMD6efugcU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">揺らぎ - night life e. p. [HQ]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">37</span> - <a href="https://www.reddit.com/6fkhu5">揺らぎ - Night Life EP (good Japanese shoegaze)</a>
<br>
                        submitted <span class="muted">2017-06-06 08:28</span> by <a href="https://www.reddit.com/user/communityslugs">/u/communityslugs</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Wf2_GwDcGas">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Wf2_GwDcGas/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lannoy Point (Official audio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">35</span> - <a href="https://www.reddit.com/6g14wd">Ride - Lannoy Point (NEW SONG)</a>
<br>
                        submitted <span class="muted">2017-06-08 14:04</span> by <a href="https://www.reddit.com/user/machinegaze">/u/machinegaze</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="EPpsuPKikUU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/EPpsuPKikUU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">DREAMPOP // PSYCHEDELIC // SHOEGAZE COMPILATION VOL 1 (1 hour playlist)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">30</span> - <a href="https://www.reddit.com/6ewi6u">DREAMPOP // PSYCHEDELIC // SHOEGAZE COMPILATION VOL 1 (1 hour playlist)</a>
<br>
                        submitted <span class="muted">2017-06-02 19:16</span> by <a href="https://www.reddit.com/user/Topo_Chica">/u/Topo_Chica</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZbPgfd9HH5Y">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZbPgfd9HH5Y/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Duel</h2>
                    <p><strong>Score:</strong> <span class="rd-score">30</span> - <a href="https://www.reddit.com/6gukid">Swervediver - Duel</a>
<br>
                        submitted <span class="muted">2017-06-12 19:36</span> by <a href="https://www.reddit.com/user/fishydrake49">/u/fishydrake49</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BgQE-OKi718">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BgQE-OKi718/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shoegaze irl</h2>
                    <p><strong>Score:</strong> <span class="rd-score">26</span> - <a href="https://www.reddit.com/6evb1n">I made a meme of us (please don't kill me)</a>
<br>
                        submitted <span class="muted">2017-06-02 16:06</span> by <a href="https://www.reddit.com/user/Thedarklordofbork">/u/Thedarklordofbork</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="AVFVE2OUcRE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/AVFVE2OUcRE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Starflyer 59 - 2 - Monterey - Silver (1994)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">25</span> - <a href="https://www.reddit.com/6hymkb">Starflyer 59 - Monterey</a>
<br>
                        submitted <span class="muted">2017-06-18 08:15</span> by <a href="https://www.reddit.com/user/vampirewalrusboy">/u/vampirewalrusboy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dPhMKCqzjQE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dPhMKCqzjQE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Stoned Seahorse - Huh</h2>
                    <p><strong>Score:</strong> <span class="rd-score">23</span> - <a href="https://www.reddit.com/6ivid1">So excited to learn about Shoegaze bands from my country of India, I present you Stoned Seahorse - Huh</a>
<br>
                        submitted <span class="muted">2017-06-22 18:38</span> by <a href="https://www.reddit.com/user/newaccountbitches">/u/newaccountbitches</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="lD97PHt4Lvw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/lD97PHt4Lvw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">A Sunny Day In Glasgow - Game Of Pricks</h2>
                    <p><strong>Score:</strong> <span class="rd-score">19</span> - <a href="https://www.reddit.com/6jfxin">A Sunny Day In Glasgow - Game Of Pricks</a>
<br>
                        submitted <span class="muted">2017-06-25 18:38</span> by <a href="https://www.reddit.com/user/jones_maltsberger">/u/jones_maltsberger</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FI6wLtQla1E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FI6wLtQla1E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">All Natural Lemon & Lime Flavors - Your Imagination</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/6fzt2c">All Natural Lemon &amp; Lime Flavors - Your Imagination</a>
<br>
                        submitted <span class="muted">2017-06-08 09:02</span> by <a href="https://www.reddit.com/user/vampirewalrusboy">/u/vampirewalrusboy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="z6J-qS4eLWY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/z6J-qS4eLWY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ringo Deathstarr - So High</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/6hyd26">Ringo Deathstarr - So High</a>
<br>
                        submitted <span class="muted">2017-06-18 06:46</span> by <a href="https://www.reddit.com/user/vampirewalrusboy">/u/vampirewalrusboy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Ay9oWB3xdbI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Ay9oWB3xdbI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pale Saints - Throwing Back the Apple</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/6hyf7o">Pale Saints - Throwing Back the Apple</a>
<br>
                        submitted <span class="muted">2017-06-18 07:06</span> by <a href="https://www.reddit.com/user/vampirewalrusboy">/u/vampirewalrusboy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="67FTkS4fJ40">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/67FTkS4fJ40/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Verve - Beautiful Mind Live in England 28-05-93</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/6g97lw">The Verve- Beautiful Mind (Live 1993)</a>
<br>
                        submitted <span class="muted">2017-06-09 15:44</span> by <a href="https://www.reddit.com/user/ANorthwesternSoul">/u/ANorthwesternSoul</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Fh_EWqIFpQQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Fh_EWqIFpQQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Chapterhouse - Falling Down</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/6gwqxj">Chapterhouse - Falling Down (1990) - [3:57]</a>
<br>
                        submitted <span class="muted">2017-06-13 01:40</span> by <a href="https://www.reddit.com/user/nate500">/u/nate500</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hPSNZuEQ0vg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hPSNZuEQ0vg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Widowspeak // Dog (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/6k1amz">Widowspeak - Dog</a>
<br>
                        submitted <span class="muted">2017-06-28 15:31</span> by <a href="https://www.reddit.com/user/JustSmall">/u/JustSmall</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9JXk_oV4nbo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9JXk_oV4nbo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Kitchens of Distinction - Drive That Fast</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/6gbzc5">Kitchens of Distinction - Drive That Fast. Really, really good early 90's UK Shoegaze that sprouted from the same scene as Ride in Oxford.</a>
<br>
                        submitted <span class="muted">2017-06-09 23:11</span> by <a href="https://www.reddit.com/user/TonyFuckingDanza">/u/TonyFuckingDanza</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="brpUYfnWlwI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/brpUYfnWlwI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Wye Oak - Mary is Mary</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/6gi29t">Mary is Mary - Wye Oak's most shoegaze dirge</a>
<br>
                        submitted <span class="muted">2017-06-10 22:35</span> by <a href="https://www.reddit.com/user/partybeef">/u/partybeef</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1dzkS77KoiM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1dzkS77KoiM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">My Bloody Valentine - Thorn</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/6go2gy">My Bloody Valentine - Thorn</a>
<br>
                        submitted <span class="muted">2017-06-11 21:48</span> by <a href="https://www.reddit.com/user/NarrowPPHole">/u/NarrowPPHole</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zthv_-DDlvU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zthv_-DDlvU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jefre Cantu-Ledesma - Where You End And I Begin</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/6ipvvp">Jefre Cantu-Ledesma - Where You End And I Begin</a>
<br>
                        submitted <span class="muted">2017-06-22 00:10</span> by <a href="https://www.reddit.com/user/imercy">/u/imercy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="V1manzHQCSo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/V1manzHQCSo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cosmicdust - Snow Noise Assemblage(Full Album HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/6j0n1p">Cosmicdust - Snow Noise Assemblage(full album) (Noise pop/shoegaze/ noise)</a>
<br>
                        submitted <span class="muted">2017-06-23 11:39</span> by <a href="https://www.reddit.com/user/Kiljeaden">/u/Kiljeaden</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3g6eDjzCqmk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3g6eDjzCqmk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Oeil - Urban Twilight EP (Full Album HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/6ijq7l">Oeil - Urban Twilight EP</a>
<br>
                        submitted <span class="muted">2017-06-21 05:11</span> by <a href="https://www.reddit.com/user/vampirewalrusboy">/u/vampirewalrusboy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="nfh_2a-QWo0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/nfh_2a-QWo0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Stargazer Lilies // Del Rey Mar</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/6fm6iy">The Stargazer Lilies "Del Ray Mar"</a>
<br>
                        submitted <span class="muted">2017-06-06 14:41</span> by <a href="https://www.reddit.com/user/foxystoat69">/u/foxystoat69</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3diz8I0AVVk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3diz8I0AVVk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cocteau Twins - Lorelei</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/6ij29r">Cocteau Twins - Lorelei</a>
<br>
                        submitted <span class="muted">2017-06-21 02:57</span> by <a href="https://www.reddit.com/user/meme_forcer">/u/meme_forcer</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pKNlcOSWjaI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pKNlcOSWjaI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Sunshine Factory - "Twisted and Clover" (PopMatters Premiere)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6f6xtw">The Sunshine Factory - "Twisted and Clover"</a>
<br>
                        submitted <span class="muted">2017-06-04 11:42</span> by <a href="https://www.reddit.com/user/jones_maltsberger">/u/jones_maltsberger</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0aREW18Vk5o">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0aREW18Vk5o/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Deafcult - Summertime (Official)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6h3b1x">Deafcult - Summertime (Official)</a>
<br>
                        submitted <span class="muted">2017-06-13 22:15</span> by <a href="https://www.reddit.com/user/iamthewoodwork">/u/iamthewoodwork</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="wC9umlj2M7o">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/wC9umlj2M7o/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Verve - south pacific</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6k2wjs">The Verve - South Pacific [1993]</a>
<br>
                        submitted <span class="muted">2017-06-28 19:21</span> by <a href="https://www.reddit.com/user/jaimelecocain">/u/jaimelecocain</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hbKC5ladiFQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hbKC5ladiFQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Highspire - Standing On An Empire</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/6ftjpi">Highspire "Standing On An Empire"</a>
<br>
                        submitted <span class="muted">2017-06-07 13:52</span> by <a href="https://www.reddit.com/user/foxystoat69">/u/foxystoat69</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WteWchmIafI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WteWchmIafI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">elliot hawthorne - sorry eyes</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/6i0mjb">new project - give feedback please &lt;3 going for teen suicide/salvia plath vibe</a>
<br>
                        submitted <span class="muted">2017-06-18 16:47</span> by <a href="https://www.reddit.com/user/cwooz73">/u/cwooz73</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="K_YCXWSgIOI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/K_YCXWSgIOI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Alison's Halo // Dozen</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/6ivlh6">Alison's Halo - Dozen</a>
<br>
                        submitted <span class="muted">2017-06-22 18:50</span> by <a href="https://www.reddit.com/user/spacespunk">/u/spacespunk</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Z6r54CSL3sA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Z6r54CSL3sA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Acid Ghost - Hide my face</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/6jggu7">Acid Ghost -- Hide my Face</a>
<br>
                        submitted <span class="muted">2017-06-25 20:14</span> by <a href="https://www.reddit.com/user/NarrowPPHole">/u/NarrowPPHole</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="wpoq9wlcttI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/wpoq9wlcttI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jefre Cantu-Ledesma - Tenderness [Official Video]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/6hmb41">Jefre Cantu-Ledesma - Tenderness</a>
<br>
                        submitted <span class="muted">2017-06-16 12:48</span> by <a href="https://www.reddit.com/user/add-delay">/u/add-delay</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dDDbyZitCew">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dDDbyZitCew/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Debutante - No Mirrors</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6fa8we">Debutante - No Mirrors (Drone Pop/Shoegaze about dysphoria)</a>
<br>
                        submitted <span class="muted">2017-06-04 22:28</span> by <a href="https://www.reddit.com/user/rhetoricsff">/u/rhetoricsff</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hAms1YoKMUc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hAms1YoKMUc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Post-Rock "Microscope"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6k5nfg">Gravity Sound - Microscope</a>
<br>
                        submitted <span class="muted">2017-06-29 03:05</span> by <a href="https://www.reddit.com/user/CanadianHerb">/u/CanadianHerb</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="x5wmbgvoQq4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/x5wmbgvoQq4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">DOCUMENT - ALICE (OFFICIAL AUDIO)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6fb5ct">Document - Alice</a>
<br>
                        submitted <span class="muted">2017-06-05 01:22</span> by <a href="https://www.reddit.com/user/wildpatterns">/u/wildpatterns</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zm636VSQXUU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zm636VSQXUU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Wild Nothing - "Paradise" (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6h0omq">Wild Nothing - Paradise</a>
<br>
                        submitted <span class="muted">2017-06-13 15:44</span> by <a href="https://www.reddit.com/user/LegDayEveryDay">/u/LegDayEveryDay</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hNDou11_W8k">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hNDou11_W8k/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Deafcult - Rubix</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6hg3fy">Deafcult - Rubix</a>
<br>
                        submitted <span class="muted">2017-06-15 16:27</span> by <a href="https://www.reddit.com/user/_my_music_">/u/_my_music_</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3FBRAvRtCAE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3FBRAvRtCAE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">An Autumn For Crippled Children - I Beg Thee Not To Spare Me.wmv</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6i3cav">An Autumn for Crippled Children - I Beg Thee Not To Spare Me</a>
<br>
                        submitted <span class="muted">2017-06-19 01:17</span> by <a href="https://www.reddit.com/user/russiakun">/u/russiakun</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jrGllK2O8gA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jrGllK2O8gA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Static - Greg Nunn</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6i6z3q">I made a new song, let me know what you think</a>
<br>
                        submitted <span class="muted">2017-06-19 15:05</span> by <a href="https://www.reddit.com/user/greg1998">/u/greg1998</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZJGu-PJfICU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZJGu-PJfICU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">My Dead Girlfriend - Watashi no Aishita Manatsu no Shinigami 【english subtitles】</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6igoev">My Dead Girlfriend - Watashi no Aishita Manatsu no Shinigami</a>
<br>
                        submitted <span class="muted">2017-06-20 20:14</span> by <a href="https://www.reddit.com/user/Thanatopsis_">/u/Thanatopsis_</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Bqf9gbuSc_E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Bqf9gbuSc_E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">solar powered people-commercial flight</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6eonet">Solar Powered People - Commercial Flight</a>
<br>
                        submitted <span class="muted">2017-06-01 18:20</span> by <a href="https://www.reddit.com/user/tornintwo190">/u/tornintwo190</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="MgKouMG_1xY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MgKouMG_1xY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">shoegaze song 6</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6g3ru9">Shoegaze song 6</a>
<br>
                        submitted <span class="muted">2017-06-08 20:54</span> by <a href="https://www.reddit.com/user/greg1998">/u/greg1998</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zGuPsA-MDe8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zGuPsA-MDe8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Little Jungles - Winter Was Warmer</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6gk9ge">Little Jungles - Winter was Warmer (if you love Pearl by Chapterhouse)</a>
<br>
                        submitted <span class="muted">2017-06-11 07:43</span> by <a href="https://www.reddit.com/user/dreambop">/u/dreambop</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="W1WIQQ6K9c0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/W1WIQQ6K9c0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Foxxxy Mulder - In the Shadows (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6hdgg7">Foxxxy Mulder - In the Shadows [2017]</a>
<br>
                        submitted <span class="muted">2017-06-15 07:05</span> by <a href="https://www.reddit.com/user/oe1234">/u/oe1234</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="F2R2nGmJZQY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/F2R2nGmJZQY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Crash City Saints - Lighting Out For The Territories</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6i7g7d">Crash City Saints - Lighting Out For The Territories</a>
<br>
                        submitted <span class="muted">2017-06-19 16:18</span> by <a href="https://www.reddit.com/user/maninocean">/u/maninocean</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Qh9JhppuYkQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Qh9JhppuYkQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lily</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6igb85">Mhhh....</a>
<br>
                        submitted <span class="muted">2017-06-20 19:21</span> by <a href="https://www.reddit.com/user/Wazzawazzawaz">/u/Wazzawazzawaz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BIE5mggljSM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BIE5mggljSM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hundredth - Rare - ALBUM REVIEW</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6iir71">Hundredth - Rare - ALBUM REVIEW</a>
<br>
                        submitted <span class="muted">2017-06-21 02:02</span> by <a href="https://www.reddit.com/user/Waterinmyass">/u/Waterinmyass</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BtcYTekwvEs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BtcYTekwvEs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Large K Podcast #8: Tennis System Interview</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6jjkge">Tennis System Interview on Large K Podcast</a>
<br>
                        submitted <span class="muted">2017-06-26 07:01</span> by <a href="https://www.reddit.com/user/ragekeiji">/u/ragekeiji</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bx_jewfu_ms">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bx_jewfu_ms/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Working for a Nuclear Free City - Je Suis Le Vent (1080p HD)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6ke0tu">Working for a Nuclear Free City - Je Suis Le Vent [2007]</a>
<br>
                        submitted <span class="muted">2017-06-30 05:34</span> by <a href="https://www.reddit.com/user/Artichokeslam">/u/Artichokeslam</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JAfierSMN1Q">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JAfierSMN1Q/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Blankenberge - Hopeless</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6kie94">Blankenberge - Hopeless</a>
<br>
                        submitted <span class="muted">2017-06-30 19:58</span> by <a href="https://www.reddit.com/user/StanLey96">/u/StanLey96</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="p6EaISLVCVg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/p6EaISLVCVg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Blushing - Mess</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6ekxdc">Blushing - Mess</a>
<br>
                        submitted <span class="muted">2017-06-01 06:16</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Z8BvBhntlTc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Z8BvBhntlTc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">kid ESP - Morning Ritual</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6fm60g">kid ESP - Morning Ritual</a>
<br>
                        submitted <span class="muted">2017-06-06 14:39</span> by <a href="https://www.reddit.com/user/wxpduck">/u/wxpduck</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="a4JZ5gDkexo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/a4JZ5gDkexo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Durutti Column selection part 1</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6g80lm">Durutti Column selection part 1</a>
<br>
                        submitted <span class="muted">2017-06-09 12:11</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="f8rkARf6vR4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/f8rkARf6vR4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">watterson - zzz</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6gfyif">watterson - zzz (virginia shoegaze)</a>
<br>
                        submitted <span class="muted">2017-06-10 16:00</span> by <a href="https://www.reddit.com/user/Farquaadtho">/u/Farquaadtho</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8baNHrpuNko">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8baNHrpuNko/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Glare - Blank</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6gr69t">Awesome shoegaze track, you'll love this!</a>
<br>
                        submitted <span class="muted">2017-06-12 09:31</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tID9-l179c0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tID9-l179c0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Byul - Pacific</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6hhzx2">Byul - Pacific (electrogaze from South Korea)</a>
<br>
                        submitted <span class="muted">2017-06-15 21:12</span> by <a href="https://www.reddit.com/user/dreambop">/u/dreambop</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dRwFnBuRnrc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dRwFnBuRnrc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Funeral Advantage - Demo</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6hqj8w">Gazey feeling,love them!</a>
<br>
                        submitted <span class="muted">2017-06-17 00:43</span> by <a href="https://www.reddit.com/user/realET7">/u/realET7</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="q9JHVi2UxZ8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/q9JHVi2UxZ8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Whirr - Color Change</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6hw8i8">Whirr- Color change. Also story in comments</a>
<br>
                        submitted <span class="muted">2017-06-17 22:23</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Dl8Zetd2Qa8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Dl8Zetd2Qa8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Whispering Sons - Insights</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6ic7xq">Whispering Sons - Insights (2015)</a>
<br>
                        submitted <span class="muted">2017-06-20 06:09</span> by <a href="https://www.reddit.com/user/earthsworld">/u/earthsworld</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="50zDIvgfH-I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/50zDIvgfH-I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Oeil - Monster's Film</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6ij4tf">Oeil - Monster's Film</a>
<br>
                        submitted <span class="muted">2017-06-21 03:09</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="M6PpLn_6Sa4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/M6PpLn_6Sa4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Turnover - "Super Natural" (Official Audio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6ilq5r">Turnover - Super Natural</a>
<br>
                        submitted <span class="muted">2017-06-21 13:12</span> by <a href="https://www.reddit.com/user/themateofmates">/u/themateofmates</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZGK_Axaydfc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZGK_Axaydfc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lightfoils - Take Care Tonight</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6ivipo">Lightfoils - Take Care Tonight</a>
<br>
                        submitted <span class="muted">2017-06-22 18:39</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Cm-tflQulzk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Cm-tflQulzk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Languis - Times Are Changing</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6iw1mj">Languis - Times Are Changing</a>
<br>
                        submitted <span class="muted">2017-06-22 19:58</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="qX9Xeh7qgXY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/qX9Xeh7qgXY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jack Colwell – Beneather (Jesu Remix)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6j5uhz">JESU (Justin Broadrick) – new shoegaze remix – Jack Colwell "Beneather"</a>
<br>
                        submitted <span class="muted">2017-06-24 02:49</span> by <a href="https://www.reddit.com/user/danfstapleton">/u/danfstapleton</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="c_3ULB4MwKc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/c_3ULB4MwKc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black - Chinese Persuasion</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6j6a4y">Black - Chinese Persuasion</a>
<br>
                        submitted <span class="muted">2017-06-24 04:29</span> by <a href="https://www.reddit.com/user/blacqueeeee">/u/blacqueeeee</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="e1NUr_d5ANI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/e1NUr_d5ANI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Amusement Parks on Fire - Cut to Future Shock. BEST QUALITY</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/6hyk3w">Amusement Parks on Fire - Cut to Future Shock</a>
<br>
                        submitted <span class="muted">2017-06-18 07:52</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NTsz6NZxiAU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NTsz6NZxiAU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">BABA GRIS | "Espacio Infinito" | EXEcutions</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/6jivfj">Baba Gris - 'Espacio Infinito' Live Session</a>
<br>
                        submitted <span class="muted">2017-06-26 04:06</span> by <a href="https://www.reddit.com/user/dimas410">/u/dimas410</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Tp8W1vYy_-w">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Tp8W1vYy_-w/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Adventures in Vinyl Land Episode 14 - Ladies and Gentlemen We Are Floating In Space by Spiritualized</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/6jzpwu">Adventures in Vinyl-Land Episode 14 - Ladies And Gentlemen We Are Floating In Space by Spiritualized</a>
<br>
                        submitted <span class="muted">2017-06-28 10:32</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/shoegaze/">Shoegaze</a> archive:
    <a href="/genre/shoegaze/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'shoegaze';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>