<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Chevelle, Led Zeppelin, Pink Floyd, Queens Of The Stone Age, Slipknot | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/_xvTmpc4eX4/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/rock/2016/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="_xvTmpc4eX4">
                    <td><img src="https://i.ytimg.com/vi/_xvTmpc4eX4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Led Zeppelin- Heartbreaker</td>
                </tr>
                <tr class="record" id="qw2LU1yS7aw">
                    <td><img src="https://i.ytimg.com/vi/qw2LU1yS7aw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slipknot - Before I Forget [OFFICIAL VIDEO]</td>
                </tr>
                <tr class="record" id="ko9foVh-VxU">
                    <td><img src="https://i.ytimg.com/vi/ko9foVh-VxU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Skin On Skin</td>
                </tr>
                <tr class="record" id="Ezc4HdLGxg4">
                    <td><img src="https://i.ytimg.com/vi/Ezc4HdLGxg4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pink Floyd - Louder Than Words - Official Music Video</td>
                </tr>
                <tr class="record" id="ByU_jsIdSRM">
                    <td><img src="https://i.ytimg.com/vi/ByU_jsIdSRM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Joyride (Omen)</td>
                </tr>
                <tr class="record" id="2Ch9DNVw90U">
                    <td><img src="https://i.ytimg.com/vi/2Ch9DNVw90U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Goodbye Forever</td>
                </tr>
                <tr class="record" id="5EieHafkHbU">
                    <td><img src="https://i.ytimg.com/vi/5EieHafkHbU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Led Zeppelin - Dazed And Confused "1969" [ Good Quality ]</td>
                </tr>
                <tr class="record" id="fCAFq9oSxdk">
                    <td><img src="https://i.ytimg.com/vi/fCAFq9oSxdk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Led Zeppelin - Bron-Yr-Aur (Physical Graffiti)</td>
                </tr>
                <tr class="record" id="UVlL3gwVuoA">
                    <td><img src="https://i.ytimg.com/vi/UVlL3gwVuoA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pink Floyd - Live at Pompeii 1971 - Celestial Voices</td>
                </tr>
                <tr class="record" id="teetvAUcG_E">
                    <td><img src="https://i.ytimg.com/vi/teetvAUcG_E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nirvana - Breed</td>
                </tr>
                <tr class="record" id="BFj02G_ewOw">
                    <td><img src="https://i.ytimg.com/vi/BFj02G_ewOw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Red Hot Chili Peppers MASHUP- Dani Californication</td>
                </tr>
                <tr class="record" id="M8ybWaIvmaM">
                    <td><img src="https://i.ytimg.com/vi/M8ybWaIvmaM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thom Yorke "Harrowdown Hill"</td>
                </tr>
                <tr class="record" id="P0v9vd4JEeo">
                    <td><img src="https://i.ytimg.com/vi/P0v9vd4JEeo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nick Cave - To Be By Your Side</td>
                </tr>
                <tr class="record" id="C9GTEsNf_GU">
                    <td><img src="https://i.ytimg.com/vi/C9GTEsNf_GU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thrice - Black Honey [Official Video]</td>
                </tr>
                <tr class="record" id="WFXTTmP6QMQ">
                    <td><img src="https://i.ytimg.com/vi/WFXTTmP6QMQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pink Floyd  " Jugband Blues " Syd Barrett</td>
                </tr>
                <tr class="record" id="Ke2dpWAhUCY">
                    <td><img src="https://i.ytimg.com/vi/Ke2dpWAhUCY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Аквариум- Песни вычерпывающих людей</td>
                </tr>
                <tr class="record" id="LhgCfkp2q8o">
                    <td><img src="https://i.ytimg.com/vi/LhgCfkp2q8o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Angry 88- We The Infamous Live</td>
                </tr>
                <tr class="record" id="60nGLuBPQQ8">
                    <td><img src="https://i.ytimg.com/vi/60nGLuBPQQ8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Angry 88 - Reckless Driving</td>
                </tr>
                <tr class="record" id="U_qHU_6Ofc0">
                    <td><img src="https://i.ytimg.com/vi/U_qHU_6Ofc0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">James Gang - Funk #49</td>
                </tr>
                <tr class="record" id="F17EUZ2y6BQ">
                    <td><img src="https://i.ytimg.com/vi/F17EUZ2y6BQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Anemic - Made From The Stars</td>
                </tr>
                <tr class="record" id="3s8l7kbarvQ">
                    <td><img src="https://i.ytimg.com/vi/3s8l7kbarvQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Girls Like Us / Not Enough (raw)</td>
                </tr>
                <tr class="record" id="OTvc-bEP35I">
                    <td><img src="https://i.ytimg.com/vi/OTvc-bEP35I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mark Knopfler - Sailing To Philadelphia</td>
                </tr>
                <tr class="record" id="KrZHPOeOxQQ">
                    <td><img src="https://i.ytimg.com/vi/KrZHPOeOxQQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bon Jovi - You Give Love A Bad Name</td>
                </tr>
                <tr class="record" id="SVV9kbi0b1c">
                    <td><img src="https://i.ytimg.com/vi/SVV9kbi0b1c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dave Alvin & The Guilty Ones "Johnny Ace Is Dead"</td>
                </tr>
                <tr class="record" id="9Nt0Cat5RO8">
                    <td><img src="https://i.ytimg.com/vi/9Nt0Cat5RO8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slipknot - Psychosocial - Lyrics (letra) Full</td>
                </tr>
                <tr class="record" id="_efRRY-f6JU">
                    <td><img src="https://i.ytimg.com/vi/_efRRY-f6JU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cry Honey</td>
                </tr>
                <tr class="record" id="I6R9WSClRfE">
                    <td><img src="https://i.ytimg.com/vi/I6R9WSClRfE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Brian Jonestown Massacre / Anemone (Unofficial Video)</td>
                </tr>
                <tr class="record" id="2oJQqj9Q5RQ">
                    <td><img src="https://i.ytimg.com/vi/2oJQqj9Q5RQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DEAD LORD - Don't Give A Damn (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="q9_sGE54wo4">
                    <td><img src="https://i.ytimg.com/vi/q9_sGE54wo4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Black Sabbath Wicked World</td>
                </tr>
                <tr class="record" id="2aPzV6pWdGM">
                    <td><img src="https://i.ytimg.com/vi/2aPzV6pWdGM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cypress Hill - i ain't goin' out like that (The Grave) HD Trailer 2013</td>
                </tr>
                <tr class="record" id="W8OaFKck5Dk">
                    <td><img src="https://i.ytimg.com/vi/W8OaFKck5Dk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Green Day & Radiohead MASHUP - Creep/ Time Of Your Life</td>
                </tr>
                <tr class="record" id="OZqPSST5Apk">
                    <td><img src="https://i.ytimg.com/vi/OZqPSST5Apk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kamikaze Scotsmen - Anemone</td>
                </tr>
                <tr class="record" id="-bOYg1sU9iI">
                    <td><img src="https://i.ytimg.com/vi/-bOYg1sU9iI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DAVID BOWIE Life On Mars (live)</td>
                </tr>
                <tr class="record" id="149pgg9PknI">
                    <td><img src="https://i.ytimg.com/vi/149pgg9PknI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Robert Tepper - No Easy Way Out [Full Band Cover] Rocky IV OST by Alberto Grau [Year 2x05]</td>
                </tr>
                <tr class="record" id="mPzoHbpGNx0">
                    <td><img src="https://i.ytimg.com/vi/mPzoHbpGNx0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">King Krule - Foreign 2</td>
                </tr>
                <tr class="record" id="xFqL42o6mUc">
                    <td><img src="https://i.ytimg.com/vi/xFqL42o6mUc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nova Incepta - New Initiatives (FULL EP STREAM)</td>
                </tr>
                <tr class="record" id="rMt54B9Z2nw">
                    <td><img src="https://i.ytimg.com/vi/rMt54B9Z2nw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">My Friend: Little Richard</td>
                </tr>
                <tr class="record" id="cNTkez069QU">
                    <td><img src="https://i.ytimg.com/vi/cNTkez069QU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Static-X Skinnyman</td>
                </tr>
                <tr class="record" id="6fVE8kSM43I">
                    <td><img src="https://i.ytimg.com/vi/6fVE8kSM43I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slipknot - Duality [OFFICIAL VIDEO]</td>
                </tr>
                <tr class="record" id="ZtQRa_0k-vQ">
                    <td><img src="https://i.ytimg.com/vi/ZtQRa_0k-vQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sophie Zelmani and Freddie Wadling - Once (Solo)</td>
                </tr>
                <tr class="record" id="UJbwM-F0Nk0">
                    <td><img src="https://i.ytimg.com/vi/UJbwM-F0Nk0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Elvis Costello - Jimmie Standing In The Rain (Detour)</td>
                </tr>
                <tr class="record" id="Eu6MfEMVtdo">
                    <td><img src="https://i.ytimg.com/vi/Eu6MfEMVtdo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">OTHERWISE - Coming For The Throne (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="7xY1hgUPD1o">
                    <td><img src="https://i.ytimg.com/vi/7xY1hgUPD1o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"Red, Red, Red" - Fiona Apple</td>
                </tr>
                <tr class="record" id="tGXMoIwM-qk">
                    <td><img src="https://i.ytimg.com/vi/tGXMoIwM-qk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Virginmarys - Motherless Land (Official Video)</td>
                </tr>
                <tr class="record" id="-LjhvNUq3tQ">
                    <td><img src="https://i.ytimg.com/vi/-LjhvNUq3tQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Zed - Om352</td>
                </tr>
                <tr class="record" id="w8QCz4QFwaM">
                    <td><img src="https://i.ytimg.com/vi/w8QCz4QFwaM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Throw The Fight - When the World Stops Spinning</td>
                </tr>
                <tr class="record" id="FH7bRGDAR4U">
                    <td><img src="https://i.ytimg.com/vi/FH7bRGDAR4U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Niverlare - Roots (FULL EP STREAM)</td>
                </tr>
                <tr class="record" id="nFUCpXN70Pk">
                    <td><img src="https://i.ytimg.com/vi/nFUCpXN70Pk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fast Car - Tracy Chapman vs. Sam Smith - Uncovered #24</td>
                </tr>
                <tr class="record" id="eFRIHhlFa5c">
                    <td><img src="https://i.ytimg.com/vi/eFRIHhlFa5c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sixfold Rejects - High on you (Official Music Video)</td>
                </tr>
                <tr class="record" id="Kmr11RBHG5I">
                    <td><img src="https://i.ytimg.com/vi/Kmr11RBHG5I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nova Incepta - New Initiatives FULL EP Stream</td>
                </tr>
                <tr class="record" id="Ja3R-mJ9Wtg">
                    <td><img src="https://i.ytimg.com/vi/Ja3R-mJ9Wtg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">POP EVIL TALKS NEW DRUMMER IN EXCLUSIVE INTERVIEW</td>
                </tr>
                <tr class="record" id="lcTjlmaRWng">
                    <td><img src="https://i.ytimg.com/vi/lcTjlmaRWng/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">2000s Rock Power Hour Drinking Game</td>
                </tr>
                <tr class="record" id="yC6lWEvFueg">
                    <td><img src="https://i.ytimg.com/vi/yC6lWEvFueg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">1990-2010 Rock Power Hour Drinking Game</td>
                </tr>
                <tr class="record" id="m-lMphQKtR8">
                    <td><img src="https://i.ytimg.com/vi/m-lMphQKtR8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THE THRILL IS GONE</td>
                </tr>
                <tr class="record" id="Az3SHeMHC6c">
                    <td><img src="https://i.ytimg.com/vi/Az3SHeMHC6c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Today is the Day - Yo La Tengo</td>
                </tr>
                <tr class="record" id="S-XaFi6tWck">
                    <td><img src="https://i.ytimg.com/vi/S-XaFi6tWck/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Austin City Limits Web Exclusive: Nick Cave & The Bad Seeds "Higgs Boson Blues"</td>
                </tr>
                <tr class="record" id="YoRG2y9v5KI">
                    <td><img src="https://i.ytimg.com/vi/YoRG2y9v5KI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">lead sheet - rockschool</td>
                </tr>
                <tr class="record" id="qKxQ61N_7Rk">
                    <td><img src="https://i.ytimg.com/vi/qKxQ61N_7Rk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Beasts - Annie</td>
                </tr>
                <tr class="record" id="RroVxJO-kng">
                    <td><img src="https://i.ytimg.com/vi/RroVxJO-kng/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rage Against The Machine ON SHOVEL</td>
                </tr>
                <tr class="record" id="-gKPuxV3MkY">
                    <td><img src="https://i.ytimg.com/vi/-gKPuxV3MkY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Eric Clapton - Spiral</td>
                </tr>
                <tr class="record" id="mqAdCrvy0gc">
                    <td><img src="https://i.ytimg.com/vi/mqAdCrvy0gc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">INNERPULSE  - FULL ALBUM [2016]</td>
                </tr>
                <tr class="record" id="DqMV9gFBDhY">
                    <td><img src="https://i.ytimg.com/vi/DqMV9gFBDhY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Daddy Lion - The End of Time</td>
                </tr>
                <tr class="record" id="76itSz-QEcE">
                    <td><img src="https://i.ytimg.com/vi/76itSz-QEcE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rocket Man - Elton John 1972.wmv</td>
                </tr>
                <tr class="record" id="vo0FSl3wOU4">
                    <td><img src="https://i.ytimg.com/vi/vo0FSl3wOU4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bill Callahan - "Heaven Help the Child" (Mickey Newbury Cover)</td>
                </tr>
                <tr class="record" id="ECGve9FuO60">
                    <td><img src="https://i.ytimg.com/vi/ECGve9FuO60/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gravity Rain - Join (Official 3D Lyric Video)</td>
                </tr>
                <tr class="record" id="4-OlYiH1DXI">
                    <td><img src="https://i.ytimg.com/vi/4-OlYiH1DXI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Overseer - Doomsday</td>
                </tr>
                <tr class="record" id="nqiVvOXotyw">
                    <td><img src="https://i.ytimg.com/vi/nqiVvOXotyw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Static-X - I'm With Stupid (Full Length Video)</td>
                </tr>
                <tr class="record" id="GNohq2JJMQY">
                    <td><img src="https://i.ytimg.com/vi/GNohq2JJMQY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Static-X - Cold (Video)</td>
                </tr>
                <tr class="record" id="B39ZjlmWN5w">
                    <td><img src="https://i.ytimg.com/vi/B39ZjlmWN5w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Static-x: Dirthouse lyrics</td>
                </tr>
                <tr class="record" id="H-61dmgWh90">
                    <td><img src="https://i.ytimg.com/vi/H-61dmgWh90/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DE@D P@RTY NEW UNDERGROUND ROCK YUNG DRAMA</td>
                </tr>
                <tr class="record" id="n3x0PtxAVso">
                    <td><img src="https://i.ytimg.com/vi/n3x0PtxAVso/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">David Coverdale - Time and again</td>
                </tr>
                <tr class="record" id="EKQYkkrJKEI">
                    <td><img src="https://i.ytimg.com/vi/EKQYkkrJKEI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sanitarium - Metallic Assault ( a tribute to metallica)</td>
                </tr>
                <tr class="record" id="W4pEIqWWAmI">
                    <td><img src="https://i.ytimg.com/vi/W4pEIqWWAmI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sad Side Of The Road</td>
                </tr>
                <tr class="record" id="-UsGhAdqgbA">
                    <td><img src="https://i.ytimg.com/vi/-UsGhAdqgbA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Monsters of Rock Loreley 2016 -  Rainbow - Stargazer</td>
                </tr>
                <tr class="record" id="Kt0LlDKWFjs">
                    <td><img src="https://i.ytimg.com/vi/Kt0LlDKWFjs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">St. John's Wood - Now, Later, Beyond [UA Recording] 60's Psych 45</td>
                </tr>
                <tr class="record" id="5oxZ3bei6to">
                    <td><img src="https://i.ytimg.com/vi/5oxZ3bei6to/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lou Doillon - ICU</td>
                </tr>
                <tr class="record" id="HYLc4AKQQTA">
                    <td><img src="https://i.ytimg.com/vi/HYLc4AKQQTA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gone Is Gone - Starlight (Official Music Video)</td>
                </tr>
                <tr class="record" id="lV0Lm9b7HKE">
                    <td><img src="https://i.ytimg.com/vi/lV0Lm9b7HKE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">I Want To Dank Free- Queen Parody  (LEGALIZATION SONG) [FUNNY 2016]</td>
                </tr>
                <tr class="record" id="zdTJptlnyiA">
                    <td><img src="https://i.ytimg.com/vi/zdTJptlnyiA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jorn - "You're the Voice" (Official Music Video)</td>
                </tr>
                <tr class="record" id="u4aCLVgZsIw">
                    <td><img src="https://i.ytimg.com/vi/u4aCLVgZsIw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SERUM 114 - Die Nacht Mein Freund (Official Video) | Napalm Records</td>
                </tr>
                <tr class="record" id="9FNivuboBBg">
                    <td><img src="https://i.ytimg.com/vi/9FNivuboBBg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HAPPY SUMMER ROCK MUSIC</td>
                </tr>
                <tr class="record" id="qjpKvpkf1yo">
                    <td><img src="https://i.ytimg.com/vi/qjpKvpkf1yo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Difficult To Cure (Live At The Tokyo Budokan)</td>
                </tr>
                <tr class="record" id="dbkmoCT7Ykc">
                    <td><img src="https://i.ytimg.com/vi/dbkmoCT7Ykc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rock Background Music - Sport Rave - Royalty Free</td>
                </tr>
                <tr class="record" id="b0i3-V-GJqk">
                    <td><img src="https://i.ytimg.com/vi/b0i3-V-GJqk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mason - Orlando We Are One</td>
                </tr>
                <tr class="record" id="g_ZLhLzuhKs">
                    <td><img src="https://i.ytimg.com/vi/g_ZLhLzuhKs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Black Francis - Threshold Apprehension [Rock] (2008)</td>
                </tr>
                <tr class="record" id="ciYOrGeanAw">
                    <td><img src="https://i.ytimg.com/vi/ciYOrGeanAw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rocked: All Time Favorite Albums: Deftones – White Pony</td>
                </tr>
                <tr class="record" id="fumO0FnPYPE">
                    <td><img src="https://i.ytimg.com/vi/fumO0FnPYPE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bill Bailey - Leg Of Time</td>
                </tr>
                <tr class="record" id="H99NWPmO-0c">
                    <td><img src="https://i.ytimg.com/vi/H99NWPmO-0c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GROUNDLIFT   Psycho Live @ Coffeehouse</td>
                </tr>
                <tr class="record" id="IuLG6wIYLp0">
                    <td><img src="https://i.ytimg.com/vi/IuLG6wIYLp0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Greenhornes - There Is An End</td>
                </tr>
                <tr class="record" id="rG_P5emPs4E">
                    <td><img src="https://i.ytimg.com/vi/rG_P5emPs4E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rise Against & The Fray MASHUP - Savior/ Over My Head (Cable Car)</td>
                </tr>
                <tr class="record" id="SVBN2K6n3TQ">
                    <td><img src="https://i.ytimg.com/vi/SVBN2K6n3TQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GRIMAZE - Dreammares</td>
                </tr>
                <tr class="record" id="DoyZKUEXTNc">
                    <td><img src="https://i.ytimg.com/vi/DoyZKUEXTNc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dancing On Nails Vocal Cover</td>
                </tr>
                <tr class="record" id="qk9zL-kiRyE">
                    <td><img src="https://i.ytimg.com/vi/qk9zL-kiRyE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Burnin' For You - Blue Öyster Cult vs. Shiny Toy Guns - Uncovered #25</td>
                </tr>
                <tr class="record" id="YsT0d72JobY">
                    <td><img src="https://i.ytimg.com/vi/YsT0d72JobY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Queen & Tears For Fears MASHUP - Under Pressure/ Everybody Wants to Rule the World</td>
                </tr>
                <tr class="record" id="Ifjpm0BsJMc">
                    <td><img src="https://i.ytimg.com/vi/Ifjpm0BsJMc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Video Killed the Radio Star - The Buggles vs. Presidents of the United States - Uncovered #26</td>
                </tr>
                <tr class="record" id="B1zCN0YhW1s">
                    <td><img src="https://i.ytimg.com/vi/B1zCN0YhW1s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slipknot - Wait And Bleed [OFFICIAL VIDEO]</td>
                </tr>
                <tr class="record" id="Ow_qI_F2ZJI">
                    <td><img src="https://i.ytimg.com/vi/Ow_qI_F2ZJI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bring Me The Horizon - Throne</td>
                </tr>
                <tr class="record" id="RTOtCoVqgbs">
                    <td><img src="https://i.ytimg.com/vi/RTOtCoVqgbs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jim Steinman - Rock and Roll Dreams Come Through</td>
                </tr>
                <tr class="record" id="EH9meoWmAOM">
                    <td><img src="https://i.ytimg.com/vi/EH9meoWmAOM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Coldplay - Talk</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/rock/">Rock</a> archive:
    <a href="/genre/rock/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/rock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/rock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'rock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>