<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Jeromes Dream, Neil Perry, On The Might Of Princes, Raccoon City, Ten Grand | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/V07G4nutaB0/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/emoscreamo/2017/8/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="V07G4nutaB0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/V07G4nutaB0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jeromes Dream - A Present For Those Who Are Present (With Lyrics)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">29</span> - <a href="https://www.reddit.com/6vl5fh">Jeromes Dream - A Present For Those Who Are Present</a>
<br>
                        submitted <span class="muted">2017-08-23 18:57</span> by <a href="https://www.reddit.com/user/triggaparty">/u/triggaparty</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Q_qFvlQnHgk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Q_qFvlQnHgk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Neil Perry - A Friend Is A Lesson To Be Learned</h2>
                    <p><strong>Score:</strong> <span class="rd-score">27</span> - <a href="https://www.reddit.com/6s1zd4">Neil Perry - A Friend Is A Lesson To Be Learned</a>
<br>
                        submitted <span class="muted">2017-08-07 00:08</span> by <a href="https://www.reddit.com/user/guunklord">/u/guunklord</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="emUpXoo8Qt8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/emUpXoo8Qt8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">the Vidablue-the Face I Make While You're Crying</h2>
                    <p><strong>Score:</strong> <span class="rd-score">25</span> - <a href="https://www.reddit.com/6sp2zb">Ten Grand - the Face I Make While You're Crying</a>
<br>
                        submitted <span class="muted">2017-08-09 22:33</span> by <a href="https://www.reddit.com/user/planemistakenforstar">/u/planemistakenforstar</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="j3HfBVpwYG8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/j3HfBVpwYG8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">1000 Travels of Jawaharlal - The End Never Comes</h2>
                    <p><strong>Score:</strong> <span class="rd-score">25</span> - <a href="https://www.reddit.com/6vcgdn">1000 Travels of Jawaharlal - The End Never Comes</a>
<br>
                        submitted <span class="muted">2017-08-22 17:09</span> by <a href="https://www.reddit.com/user/ERDA_NYC">/u/ERDA_NYC</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="oXLbpSfdvM8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/oXLbpSfdvM8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">On The Might Of Princes - Where You Are And Where You Want To Be</h2>
                    <p><strong>Score:</strong> <span class="rd-score">24</span> - <a href="https://www.reddit.com/6t1hnq">On The Might Of Princes - Where You Are And Where You Want To Be (Full Album)</a>
<br>
                        submitted <span class="muted">2017-08-11 14:27</span> by <a href="https://www.reddit.com/user/planemistakenforstar">/u/planemistakenforstar</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3M4XRKO5FRs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3M4XRKO5FRs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Raccoon City - The Known Road</h2>
                    <p><strong>Score:</strong> <span class="rd-score">19</span> - <a href="https://www.reddit.com/6tr1ry">Raccoon City Police Department - The Known Road</a>
<br>
                        submitted <span class="muted">2017-08-15 01:29</span> by <a href="https://www.reddit.com/user/TheReflexTester">/u/TheReflexTester</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Ugzttl4A6Tk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Ugzttl4A6Tk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Various - Ghost Dance</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/6twyy9">First emo record I ever bought - Various - Ghost Dance (Indian Summer, From Ashes Of, Third Rail Rhyme, Embassy, Cap'n Jazz, Braid)</a>
<br>
                        submitted <span class="muted">2017-08-15 20:34</span> by <a href="https://www.reddit.com/user/mcscottmc">/u/mcscottmc</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="oxAtWUVjteI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/oxAtWUVjteI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Nation of Ulysses - Hex-proof</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/6um87e">Nation of Ulysses - Hex Proof (1992)</a>
<br>
                        submitted <span class="muted">2017-08-19 01:21</span> by <a href="https://www.reddit.com/user/VCCassidy">/u/VCCassidy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9X7482bkBo4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9X7482bkBo4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lincoln - Video 1 of 2 - Morgantown Band</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/6rxl4g">Lincoln - Benchwarmer (live, 1993)</a>
<br>
                        submitted <span class="muted">2017-08-06 09:57</span> by <a href="https://www.reddit.com/user/VCCassidy">/u/VCCassidy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="UrqQXdhOm6g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/UrqQXdhOm6g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Honeywell  - You And Me Screaming, Numb Ears</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/6wy24r">Honeywell - You And Me Screaming, Numb Ears</a>
<br>
                        submitted <span class="muted">2017-08-30 09:42</span> by <a href="https://www.reddit.com/user/VCCassidy">/u/VCCassidy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="kSGKfFuygcg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/kSGKfFuygcg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Unwound - Antifreeze</h2>
                    <p><strong>Score:</strong> <span class="rd-score">13</span> - <a href="https://www.reddit.com/6uge4s">Unwound - Antifreeze (1995)</a>
<br>
                        submitted <span class="muted">2017-08-18 07:52</span> by <a href="https://www.reddit.com/user/VCCassidy">/u/VCCassidy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JD8bUGouqHA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JD8bUGouqHA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Flowers in December "Fragile" (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/6thyp9">Flowers in December - Fragile. This is a song off my bands new EP that is coming out on Friday!</a>
<br>
                        submitted <span class="muted">2017-08-13 21:38</span> by <a href="https://www.reddit.com/user/d356e93c7">/u/d356e93c7</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="aEzlorGsImQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/aEzlorGsImQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">LO- 'Spring' (2008 full album)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/6vnpkk">Stumbled upon some screamo from South Korea</a>
<br>
                        submitted <span class="muted">2017-08-24 01:49</span> by <a href="https://www.reddit.com/user/LIVE_BAIT_HOAGIES">/u/LIVE_BAIT_HOAGIES</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="40FomU3iv1g">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/40FomU3iv1g/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Iwontstopwonderinguntilyoustopbreathing- S/T</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6rg3rj">Iwontstopwonderinguntilyoustopbreathing- S/T</a>
<br>
                        submitted <span class="muted">2017-08-03 22:32</span> by <a href="https://www.reddit.com/user/SunshineRecording">/u/SunshineRecording</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="YfOowfdbH7E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/YfOowfdbH7E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">L'Antietam - Outro (A Safe One)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6tx1jf">L'Antietam - Outro (A Safe One)</a>
<br>
                        submitted <span class="muted">2017-08-15 20:44</span> by <a href="https://www.reddit.com/user/Slow_Doe">/u/Slow_Doe</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sJx6_9PFWDA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sJx6_9PFWDA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Stars Hollow - Participation Award (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6u29of">Participation Award- Stars Hollow</a>
<br>
                        submitted <span class="muted">2017-08-16 14:09</span> by <a href="https://www.reddit.com/user/grilledpbandj">/u/grilledpbandj</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="P46Dk6F9LuU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/P46Dk6F9LuU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Agna Moraine's Autobiography - Uncharted Waters</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/6vfgpp">Agna Moraine's Autobiography - Uncharted Waters</a>
<br>
                        submitted <span class="muted">2017-08-23 00:50</span> by <a href="https://www.reddit.com/user/mysticrealmz">/u/mysticrealmz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="lnIEFooTFL4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/lnIEFooTFL4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Vices - Wither//Collapse</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6rox5f">Vices - Wither//Collapse</a>
<br>
                        submitted <span class="muted">2017-08-05 01:17</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="YacbQglJTiw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/YacbQglJTiw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Horror City - We Are the Tide</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6uwzmv">Horror City - We Are the Tide</a>
<br>
                        submitted <span class="muted">2017-08-20 17:26</span> by <a href="https://www.reddit.com/user/Slow_Doe">/u/Slow_Doe</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="46oqs3YF-N4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/46oqs3YF-N4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">She's HIT- Untitled</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6qu79l">Underrated, 3 Saetia members and 1 from Orchid noobs</a>
<br>
                        submitted <span class="muted">2017-08-01 05:27</span> by <a href="https://www.reddit.com/user/angryemonerd">/u/angryemonerd</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sO7q9g_vaug">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sO7q9g_vaug/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">White Out</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6rcliq">Joan Of Arc - White Out (some emo tracks in their earlier works)</a>
<br>
                        submitted <span class="muted">2017-08-03 14:21</span> by <a href="https://www.reddit.com/user/_my_music_">/u/_my_music_</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BWO64HKY3EY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BWO64HKY3EY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">#226: Inferni - "I should really be going soon" #BatcaveFiles</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6resxe">Inferni - "I should really be going soon"</a>
<br>
                        submitted <span class="muted">2017-08-03 19:31</span> by <a href="https://www.reddit.com/user/reasonone">/u/reasonone</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pfibGqjEQGQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pfibGqjEQGQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dreamwell - To Dust</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6tumqd">My band has a new single out from our upcoming record! FFO: Pianos, Touche, Frameworks</a>
<br>
                        submitted <span class="muted">2017-08-15 14:58</span> by <a href="https://www.reddit.com/user/eadenoth">/u/eadenoth</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QK5yGQVMuQ8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QK5yGQVMuQ8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Disembarked - Pulled Apart</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6x28du">Disembarked - Pulled Apart</a>
<br>
                        submitted <span class="muted">2017-08-30 21:05</span> by <a href="https://www.reddit.com/user/thewhitebells">/u/thewhitebells</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vZltuSGAUTo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vZltuSGAUTo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">nouns - i still want to make you proud</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6syl8h">Nouns</a>
<br>
                        submitted <span class="muted">2017-08-11 03:31</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3NBRBzK61Mg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3NBRBzK61Mg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Daniel. - Yeah, I Guess It's Alright</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6tj0z5">Amazing new Emo artist and a great video as well!</a>
<br>
                        submitted <span class="muted">2017-08-14 00:46</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="MQ8Ve4xkOgw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/MQ8Ve4xkOgw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">BRAND NEW - "SCIENCE  FICTION" NEW ALBUM (2017)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6usxls">BRAND NEW - "SCIENCE FICTION" NEW ALBUM (2017)</a>
<br>
                        submitted <span class="muted">2017-08-20 01:17</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="DcAbK2wXS2E">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DcAbK2wXS2E/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Night I Drove Alone (Citizen Cover)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6w0c1s">The Night I Drove Alone (Citizen Cover)</a>
<br>
                        submitted <span class="muted">2017-08-25 18:24</span> by <a href="https://www.reddit.com/user/ForTheOracle">/u/ForTheOracle</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="DFRXtk0hMuc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DFRXtk0hMuc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dog Grooming Coolangatta Qld Tweed Heads NSW</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6w30q2">Dog Grooming Coolangatta Qld Tweed Heads NSW - YouTube</a>
<br>
                        submitted <span class="muted">2017-08-26 02:08</span> by <a href="https://www.reddit.com/user/fernandaconnell">/u/fernandaconnell</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/emoscreamo/">Emo Screamo</a> archive:
    <a href="/genre/emoscreamo/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/emoscreamo/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/emoscreamo/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/emoscreamo/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/emoscreamo/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/emoscreamo/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/emoscreamo/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'emoscreamo';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>