<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Down, Highly Suspect, Nirvana, Red Hot Chili Peppers, Wolf Alice | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/DNTWqdSjJnA/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/rock/2015/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="DNTWqdSjJnA">Nirvana  - Unplugged - Come as you are</li>
            <li class="record" id="qv96yJYhk3M">Nirvana - You Know You're Right</li>
            <li class="record" id="Zay8kCgci2E">Down - Bury Me In Smoke (NOLA)</li>
            <li class="record" id="zRwCB1CLqvE">Nirvana - Where Did You Sleep Last Night (unplugged in new york).mp4</li>
            <li class="record" id="rn_YodiJO6k">Red Hot Chili Peppers - Otherside [Official Music Video]</li>
            <li class="record" id="ev-bR9ii7Gs">Highly Suspect - Lydia [Official Video]</li>
            <li class="record" id="z71df68qLp0">Wolf Alice - Moaning Lisa Smile</li>
            <li class="record" id="g0RCbndWlCI">Royal Blood - Out Of The Black</li>
            <li class="record" id="cuQl0egTQ2A">Get Born Again-Alice in Chains with lyrics</li>
            <li class="record" id="kp92nKzW4BM">02-Silvertide- Devil's Daughter - Hq Sound+Lyrics</li>
            <li class="record" id="MF5fQXVZGug">Cream - Crossroads [Live at Winterland 1968] HQ</li>
            <li class="record" id="koFxntg7b1g">Ankh's Trouble - Hatred & Love [OFFICIAL VIDEO]</li>
            <li class="record" id="l3rf_HiisrQ">DEFTONES - DIAMOND EYES (Drum Cover)</li>
            <li class="record" id="E2z0q2xzr4E">Meat Loaf - Rock N' Roll Mercenaries</li>
            <li class="record" id="lG0U7H58IhI">Black Label Society - Queen of Sorrow</li>
            <li class="record" id="Bm2P3EV3nMI">Heroic - Charity for nothing</li>
            <li class="record" id="NTxbkQwzzMQ">Zakk Wylde Performs (Rust-Acoustic)</li>
            <li class="record" id="x7tG6-BDd_o">Down - Bury Me In Smoke</li>
            <li class="record" id="mij_1lxDBwM">Down - Rehab</li>
            <li class="record" id="jpFNn_aYf88">Down - Stone The Crow (NOLA)</li>
            <li class="record" id="mMJtrPIzCII">Iced Earth - Watching Over Me (Acoustic Cover #3)</li>
            <li class="record" id="FMvppW6kfIE">Ra- Do You Call My Name</li>
            <li class="record" id="pLA5LC0b6I4">2014 Hits Covered In Rock Medley (The Madcap) Pop Music Metalized #2</li>
            <li class="record" id="wIsU3dNfesg">The Black Keys - The Breaks</li>
            <li class="record" id="1DUxVMo5FbQ">Paint it Gray by The Social Bandits LIVE</li>
            <li class="record" id="tMdgNbC40M8">Pantera- Domination (HQ)</li>
            <li class="record" id="o2hQZdpSwko">Kids In The Way - Fiction</li>
            <li class="record" id="_u_qWXp7Oog">AIN'T NO GRAVE - AWAKENING FT. AARON GILLESPIE</li>
            <li class="record" id="CDZCPTTfqpY">JOURNEY 1979 "CITY OF THE ANGELS"</li>
            <li class="record" id="_pB2ER-W34E">Signal-to-Noise -- Biologic</li>
            <li class="record" id="TmS-oqkZPXI">Rivals</li>
            <li class="record" id="Mv08R993G3Y">BLACK STAR RIDERS - 'The Killer Instinct' (OFFICIAL LYRIC VIDEO)</li>
            <li class="record" id="Kkzp1Hr43eo">Britney Spears  - Hit Me Baby One More Time (The Madcap Hard Rock Cover) Pop Music Metalized #11</li>
            <li class="record" id="TkwphxSgnu8">Nepotism - Televisions (Audio)</li>
            <li class="record" id="v2yoq-WTA7s">HALESTORM - I Miss The Misery (The Madcap) Rock Songs Performed #3</li>
            <li class="record" id="QanrdXSytLI">Public Image Ltd - Cruel</li>
            <li class="record" id="a9zxrQiTNZ0">Boddah Diciro - Someone Like Him</li>
            <li class="record" id="68hq6-ryev8">Carnival Kids - Here They Have Guns (Official Video)</li>
            <li class="record" id="Vsyrli3Y0-g">CHRIS CORNELL - follow my way (Euphoria Morning)</li>
            <li class="record" id="Msk6yyrDpr0">Signal-to-Noise - Biologic [Live at Civilizations]</li>
            <li class="record" id="Qu_rItLPTXc">Peter, Paul and Mary -Puff The Magic Dragon</li>
            <li class="record" id="-LlpZrKxQEE">Black Label Society-Just Killing Time</li>
            <li class="record" id="uwWWdpMsOPU">The Police - Roxanne (Cover) by Faux Reality</li>
            <li class="record" id="ik9ZU2BzxSY">Avenue of the Giants - #FTW (For The Win) Official Music Video</li>
            <li class="record" id="AButZihObJ8">D.T. Buffkin "Watching All the Girls"</li>
            <li class="record" id="TMETa77dUrg">The Sisters Of Mercy - Temple Of Love (Feat. Ofra Haza)</li>
            <li class="record" id="FIOFVB0U7GQ">Musikfestival Rock im Park geräumt | UNWETTER IN BAYERN</li>
            <li class="record" id="tRHRuXHmmmA">tricore.bandcamp.com -- facebook.com/zediforder</li>
            <li class="record" id="liZWJg7cWJ8">The One and Only PPL MVR "Let's Take This Outside"</li>
            <li class="record" id="-tic-THxVKs">Psychotic 4 - Breaking Out</li>
            <li class="record" id="WNyKthUuwTo">Santa Cruz - Aiming High</li>
            <li class="record" id="vALAmMVtHdI">SkyBurnsRed - Pens Down</li>
            <li class="record" id="EFHMGTgiz-k">Trouble Tribe - Here Comes Trouble</li>
            <li class="record" id="wfcBfLogsOA">Night Ranger - 7 Wishes Tour 1985 [Full Concert]</li>
            <li class="record" id="TSLRdYr891M">Bohemian Embassy   Hoochie Coochie</li>
            <li class="record" id="KRoUW-5unzM">SET FOR THE SKY - Live Like You're on Fire (feat. Luke Edwards)</li>
            <li class="record" id="DHBkLY-0UKo">Sweet jesus zakk wylde</li>
            <li class="record" id="-pBrDjSFT_E">Nirvana Where did you sleep last night unplugged HQ VERSION</li>
            <li class="record" id="opyVdN8GZtc">Pantera - The Great SOUTHERN Trendkill</li>
    </ol>
</div>

<div class="container">
<a href="/genre/rock/">Rock</a> archive:
    <a href="/genre/rock/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/rock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/rock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/rock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/rock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/rock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/rock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/rock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/rock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5/dist/vue-resource.min.js"></script>
<script>
var genre = 'rock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>