<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Delta Sleep, Enemies, Gogo Penguin, Metatron, See-Through | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/QRAbTgHVDaQ/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/mathrock/2017/4/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="QRAbTgHVDaQ">See-through - original</li>
            <li class="record" id="SBFQfHWP3R4">Perfect Pillow by Chon flute cover</li>
            <li class="record" id="eH0mQE5HqVI">Delta Sleep - Strongthany (Japan Version)</li>
            <li class="record" id="zAF-j5BAFVA">Metatron - The Mars Volta</li>
            <li class="record" id="N3ypjyCw4qE">Math Rock Playlist 2017</li>
            <li class="record" id="02Fl1sT2r4g">Enemies - Robert Reid (Official)</li>
            <li class="record" id="xNMrTl8cJsM">Enemies: Final Show, Final Song</li>
            <li class="record" id="RPnQXLq8w_Q">GoGo Penguin - Fort</li>
            <li class="record" id="3R28h-tOklk">Hikes-Tinker Creek</li>
            <li class="record" id="Tfn575rvSf4">The Brain Dance</li>
            <li class="record" id="2emt1FTUkEM">Either/Or - Outer Space</li>
            <li class="record" id="ZQIa_grcoe8">mouse on the keys - Saigo No Bansan - Live From Lincoln Hall</li>
            <li class="record" id="K7Bn_qjKVUs">tricot "DeDeDe" MV</li>
            <li class="record" id="SAPP-qWEdds">Subtleties</li>
            <li class="record" id="cxb38JvXi2M">Pretend - Those Luminous Noises Are God</li>
            <li class="record" id="3pvTiwJeb7M">4-28-17 Two Knights, Sorority Noise</li>
            <li class="record" id="StFvZLqv74I">math rock guitar tapping song 15</li>
            <li class="record" id="oE-UMb7N38M">Jack Nash - Fortitude (acoustic)</li>
            <li class="record" id="HDOtpFzDl8I">The Kraken Quartet - House 11</li>
            <li class="record" id="MJu70XcZpkE">Agent Fresco - Bemoan: Tóti's piano playthrough w. sheet music</li>
            <li class="record" id="OaSIqoEPU3o">jizue「shiori」【Official Music Video】</li>
            <li class="record" id="YVijElBY55Y">math rock guitar tapping song 14</li>
            <li class="record" id="eDvbeOfKPlA">The Bulletproof Tiger - Franko Spanko's Greatest Hit</li>
            <li class="record" id="-nidDc1qE7s">ichika - a bell is not a bell (Official Music Video)</li>
            <li class="record" id="Iy0kfX1zcAM">CHON - Story | 8-Bit</li>
            <li class="record" id="HCovtyUWhVg">Incandescent - Math Rock - Midwest Emo</li>
            <li class="record" id="1b9VH99Rjy4">Tiny Moving Parts - "Minnesota" (Guitar Playthrough)</li>
            <li class="record" id="Aba8SMXFEa4">Memória de Peixe Live for Europe Day at AB - Ancienne Belgique</li>
            <li class="record" id="rP9RmmzFpBM">Tom's Story - Dream/Catcher</li>
            <li class="record" id="MdrH7LvdJgk">THE EARTH AND I - And Now for a Slight Departure (Instrumental)</li>
            <li class="record" id="nnghG4k7cRA">TOAST - 05. God Made Television For A Reason, Pt.1</li>
            <li class="record" id="DHPrguyIWq4">Adam Betts - Aneek - Live @ The Garage</li>
            <li class="record" id="COgv7niaNhA">LITE - D - Live From Lincoln Hall</li>
            <li class="record" id="cxTdX6iSvSc">Andy McKee and Joe Kye - Ebon Coast</li>
            <li class="record" id="anyCK3Hzn5g">Writing New Flicker Rate Material (Math Rock Guitar Tapping)</li>
            <li class="record" id="xEgzGqrXjMM">PinioL - Pogne - Live at Ca fait zizir 2016</li>
            <li class="record" id="o2534dpY5NI">The Venus De Melos - Fatty (Guitar Playthrough)</li>
            <li class="record" id="Dwx37ahHmKA">Valerian Swing - 7. Seven Cliffs [NIGHTS, 2017]</li>
            <li class="record" id="9fZMCJ6D7VQ">Renaissance Sound - Streets Without Lights</li>
            <li class="record" id="4fRQvQejXN8">a-tota-so - Double Deaf - Live @ The Garage</li>
            <li class="record" id="EfWjK_UPQ2Y">Tabar - Go Dingoes</li>
            <li class="record" id="kTjF47FsjPM">Black Palace</li>
            <li class="record" id="7nPpuH6W2OA">You Break, You Buy - Infinity Coats - Live @ Birthdays</li>
            <li class="record" id="oG52hUKEic4">EarthQuaker Device's Bit commander + Montreal Assembly Count To Five</li>
            <li class="record" id="smo0s2IUwek">02. Chasing The Strobe - Houdan the Mystic</li>
            <li class="record" id="aMUOVCL_ce4">LoOmis - "Sphyrna" (Live from the Kitchen)</li>
            <li class="record" id="HqxyEd0c4pw">New Paramore and Riot Fest Lineup With Jawbreaker! | Thank Punk It's Friday #58</li>
            <li class="record" id="nfh6ZzRpue4">Vaga-lume - Air Zoom Odyssey - Live @ Birthdays</li>
            <li class="record" id="bKqBVNik56Y">Memory of Elephants - I Just Karate Shit My Pants - Live @ The Garage</li>
            <li class="record" id="ADolJ7xs_0I">Space Blood - "Cemetery School" (Official Music Video)</li>
            <li class="record" id="_Fxh_fX8jRo">Born an Eskimo, Die an Eskimo - Things At The End Of Your Feet [MV]</li>
            <li class="record" id="FoSXDOLsOr8">Fond Han - "Fanged" (Pallet Session)</li>
            <li class="record" id="0Dzeu_pUJ64">MASZYNY I MOTYLE - Inercja (official video)</li>
            <li class="record" id="IfKR3n4-4G4">Gaston - Zapalki</li>
            <li class="record" id="V3lR-N1awNw">Math Rock Guitar Tapping Collaboration (Flicker Rate / Dan James Griffin) Strandberg Boden OS 8</li>
            <li class="record" id="BXUyREyG6Dk">Paris death Hilton - 192 tentacles(Live Recording)</li>
            <li class="record" id="7VGBIa679d0">Nugatory Podcast /// Track 10: Banana Oil</li>
            <li class="record" id="BES2U1zPbjI">Brontide 'Sans Souci (illuminé)' // BeatCast Coach Road Sessions</li>
            <li class="record" id="nohQReM7BpI">Galactic Empire - Star Wars - The Imperial March</li>
            <li class="record" id="7DOHRn7wL1Y">Riding Pânico - Rosa Mota</li>
            <li class="record" id="0W_q9fMukR4">Kitsune - Uninvited (Official Audio)</li>
            <li class="record" id="PuTw3KxNxoA">Kabobo - Bula - Live @ New River Studios</li>
            <li class="record" id="pMhHZPammjA">Pulled Punches</li>
            <li class="record" id="bqSbcVYkejY">Napoleon triangle</li>
            <li class="record" id="48vIUCvp6Dg">Mononucleosis - Odradek @ Garage Studio (15/8/2014)</li>
            <li class="record" id="zlLD40QdfbI">Kindergarten Snack - A Species Of Trees</li>
            <li class="record" id="biumRL8G_Ik">Dreamy Guitar Chord Tapping // Post Rock / Math Rock (Scale The Summit influences)</li>
            <li class="record" id="8h19h6zLqbo">Mental Math Tips | Multiply Any Two Digit Numbers | Life Hacks for Math | Youngest CEO | Best tutor</li>
    </ol>
</div>

<div class="container">
<a href="/genre/mathrock/">Math Rock</a> archive:
    <a href="/genre/mathrock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/mathrock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'mathrock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>