<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Desert Sessions, Fu Manchu, High On Fire, Kyuss, The Sword | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/U_t2gE1EsKU/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/stonerrock/2014/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="U_t2gE1EsKU">Kyuss - Supa Scoopa & Mighty Scoop</li>
            <li class="record" id="z_hzbI_I9mM">Uncle Acid & the deadbeats - Death's Door (BBC Session)</li>
            <li class="record" id="dEICgnxoPMQ">THE SWORD - Apocryphon</li>
            <li class="record" id="AqYeedwEA4E">Fu Manchu - Evil Eye</li>
            <li class="record" id="w5qmjNe7RVE">SLEEP live at Hellfest 2013</li>
            <li class="record" id="fWgZ59_J1ZE">High On Fire - 04 - Madness Of An Architect</li>
            <li class="record" id="14-3VzEBVmA">Desert Sessions - I Wanna Make It Wit Chu</li>
            <li class="record" id="Hn4SGvOPri0">RED FANG - "No Hope" Playthrough Video</li>
            <li class="record" id="Q9Z--qRwtA0">WITCHCRAFT - No Angel or Demon (ACOUSTIC)</li>
            <li class="record" id="tGjD81pL9yg">Witchcraft - Witchcraft</li>
            <li class="record" id="f5von-_FI0U">Witch - Seer</li>
            <li class="record" id="AMnTQE68Xts">Kylesa - Scapegoat</li>
            <li class="record" id="QkFKV6TAJK0">Fall Of An Empire "Vagrant Blues"</li>
            <li class="record" id="2b940y_gMsg">Elder - Spires Burn</li>
            <li class="record" id="BAxFEJMbbvw">Sungrazer - Common Believer</li>
            <li class="record" id="rH2BAn8gZr4">Elder - Dead Roots Stirring</li>
            <li class="record" id="GRP07oJDwCs">Mount Carmel - "Still Listening"</li>
            <li class="record" id="pNZX0Lz-Iuk">Boris - Huge</li>
            <li class="record" id="iGcFBwnheqY">Kadavar - Black Sun (Video)</li>
            <li class="record" id="fVR3Z_ybCN8">Orange Goblin - Blue Snow</li>
            <li class="record" id="hOLsGJS7c-k">MELVINS - Halo of Flies (Alice Cooper cover @ House of Blues, 2003)</li>
            <li class="record" id="PZwQeZh6rP0">Godspeed You! Black Emperor - Lift Your Skinny Fists Like Antennas to Heaven [FULL ALBUM]</li>
            <li class="record" id="0yFGGXMFp0w">Sir Lord Baltimore - Kingdom Come</li>
            <li class="record" id="OfNmc9dvhUw">Monster Truck - Old Train [Official Video]</li>
            <li class="record" id="APfHg1w2Xuw">U.S. Christmas - Master of the Universe (Hawkwind cover)</li>
            <li class="record" id="6aipIYnwJjU">Black Math Horseman - Deerslayer</li>
            <li class="record" id="auDYSiaaQw8">WO FAT LIve in Vera, Groningen ( NL )</li>
            <li class="record" id="8k8kMRlwhQw">Valient Thorr - "Exit Strategy" Volcom Entertainment</li>
            <li class="record" id="mUSWuPVcFiI">Skraeckoedlan - Fagelsang</li>
            <li class="record" id="uMew_l5Q4mM">Sasquatch - The Judge (HQ Audio)</li>
            <li class="record" id="UfmFHOWJc1Q">Black Pyramid  -  Caravan</li>
            <li class="record" id="TPpTpJMvY_o">Zoroaster "Spirit Molecule" | indieATL session</li>
            <li class="record" id="ZMKxpVQvyyI">Screaming Trees - End Of The Universe</li>
            <li class="record" id="DEN1YKL6iEI">Wo Fat - Lost Highway</li>
            <li class="record" id="5hQojtF1ZAA">Orchid - No One Makes A Sound - (Official)</li>
            <li class="record" id="_K-FES3tElg">Clutch - Big News I & II</li>
            <li class="record" id="GzOLCBB2v2A">Jex Thoth - Nothing left to die</li>
            <li class="record" id="Ijmnqb6IoIY">The Re-Stoned - Crystals</li>
            <li class="record" id="MNNeJNV9ft0">SASQUATCH - Smoke Signal (IV) 8mm HD1280x720</li>
            <li class="record" id="j1DuC3b58BM">Greenleaf - Dreamcatcher</li>
            <li class="record" id="8cLlQ1oNsXk">STONE AXE - "King Of Everything"  live at rocket records 7/19/09</li>
            <li class="record" id="MZMJBQWNQSA">Brant Bjork - Automatic Fantastic</li>
            <li class="record" id="90WxK-vh7wo">Twingiant - Cloaked in Black</li>
            <li class="record" id="GHU5_orgTog">35007 - Powertruth</li>
            <li class="record" id="09RbGsUkRIc">All Them Witches - The Marriage Of Coyote Woman</li>
            <li class="record" id="5Cnh-NGKC0E">Mother Engine - Weltraumwolf</li>
            <li class="record" id="WNGItWw6oy0">Karma To Burn-Nineteen</li>
            <li class="record" id="Z4tWek34CrM">Doomriders - Crooked Path</li>
            <li class="record" id="nQtSR-11Eek">Monkey3 - Icarus (2013)</li>
            <li class="record" id="9jidJ6DnElc">Kamchatka - Somedays ( OFFICIAL VIDEO )</li>
            <li class="record" id="HITHygbE_BA">Earthless - Lost in the Cold Sun</li>
            <li class="record" id="C0-TJqooHy0">STONE AXE riders of the night</li>
            <li class="record" id="ac8IYp3a8Ok">Monster Magnet - Three Kingfishers</li>
            <li class="record" id="n-uiG_DQcy8">Liquid Sound Company - Acid Music for Acid People (Full Album)</li>
            <li class="record" id="RBsvz4A0sG0">Stoner Kebab - Superdoom</li>
            <li class="record" id="RchVucNFgJ8">Still - "Loveless" (Studio Version) 1997 (with echolyn members)</li>
            <li class="record" id="QrQ9yclWg8w">MARS RED SKY - Arcadia - 2014</li>
            <li class="record" id="O2qLY4KHCYE">Horn Of The Rhino - Speaking In Tongues</li>
            <li class="record" id="S1-K_dw8vck">Bandito</li>
            <li class="record" id="A-4C7FhRNSU">Hypnopilot - Middle Of Nowhere</li>
            <li class="record" id="_EAn0wIEpFg">The Cosmic Dead - The Mass Of Betelgeuse</li>
            <li class="record" id="gTXf0Rtp98s">Dead Meadow - "What Needs Must Be"</li>
            <li class="record" id="jBiPoh6An7A">The Devils Blood - Christ Or Cocaine</li>
            <li class="record" id="dxa3dK0igWI">Solar Corona - Holy Wisdom</li>
            <li class="record" id="6HuyjbHMOQ4">The Machine - The Doors to Infinity</li>
            <li class="record" id="2J7gwM7NXwI">MONKEY3 - Pintao</li>
            <li class="record" id="lr4LVeNmIbk">Causa Sui: Red Valley - Live at Freak Valley</li>
            <li class="record" id="nxEaJtLc2Tw">DOPELORD - Acid Trippin'</li>
            <li class="record" id="img6i7hXf3A">Planet Of Zeus - Space Loop 430</li>
            <li class="record" id="WsxOQKr_fUY">Huffer - Walk in the Park</li>
            <li class="record" id="6CpunJ_dU98">Enos - Collisions</li>
            <li class="record" id="TYuztsz3GsI">Sleep - Holy Mountain live 1993 in Germany</li>
            <li class="record" id="LcH2fPLUJDk">Mountain Dust - Dead Queen (@l'esco)</li>
            <li class="record" id="k47MYALIxFA">Isaak [Breaking Balance] Secret Show</li>
            <li class="record" id="4HPLXiZTjms">Unida - Left us to Mold</li>
            <li class="record" id="HSOr-6STfhQ">Graveyard "Evil Ways" Live at Earshot 2008</li>
            <li class="record" id="b23Zo508sbU">1000Mods - Vidage (Acoustic)</li>
            <li class="record" id="VsuAuOTwwDw">Sun @ Verket 22/3 Sweden Psychedelic Heavy Rock</li>
            <li class="record" id="kJCGtWQiXF4">Dopefight- Stonk</li>
            <li class="record" id="0GK8c3kb_hg">Velvet Elvis "Wizard Whistle"</li>
            <li class="record" id="pkpNs_B-2CQ">Yuri Gagarin "First Orbit"</li>
            <li class="record" id="5sv5jr2c_No">Mother Mars "Spacegirl"</li>
            <li class="record" id="JRD2Lqifmpg">The Mushroom River Band - My Vote Is Blank</li>
            <li class="record" id="WeyCZS1xLJU">Nomega - Mountain Tusk</li>
            <li class="record" id="rClzjXNAB9M">Demo 2</li>
            <li class="record" id="V70wqqieh6Q">Lo-Pan -  Bleeding Out (HQ Audio)</li>
            <li class="record" id="OiF7DBcjisM">Doktor - Wolf Serenade</li>
            <li class="record" id="Ww3-tx_nzYU">Thulsa Doom - Birthday Pony</li>
            <li class="record" id="EN-lKmYEDzA">DieselBurner - Pavlov's Dog</li>
            <li class="record" id="kDhchaMpoCo">Brave Black Sea -  The Five Visitors (Official Lyric Video)</li>
            <li class="record" id="KhVgjq3XQcc">:Twingiant: "Pelisneros"</li>
            <li class="record" id="rKykJOPhzJM">Slabdragger - Bab el-Mandeb</li>
            <li class="record" id="fC6c2OS5jkA">THE KEEPAWAYS - PROBS TURN UP DEAD // DEMON TAPE #3</li>
            <li class="record" id="mlCQbsO7eWQ">Drunk Horse "Whipping Post" Live at GAMH Pt. 1</li>
            <li class="record" id="U3DDhGw5p4Q">Drug Mother - Death</li>
            <li class="record" id="yoxZSf_hDLI">Hair of the Dog - Stranger in the Darkness</li>
            <li class="record" id="txi9hTfCH0s">VIC - krasi</li>
            <li class="record" id="zJ10Gvl3Y-s">VIDUNDER - Into Her Grave (OFFICIAL MUSIC VIDEO)</li>
            <li class="record" id="4XAHG720UA8">Orange Goblin - Quincy The Pigboy</li>
            <li class="record" id="Pw0qlRjCxIY">shooter jennings - all of this could have been yours - Sons Of Anarchy (s04e03)</li>
    </ol>
</div>

<div class="container">
<a href="/genre/stonerrock/">Stoner Rock</a> archive:
    <a href="/genre/stonerrock/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/stonerrock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'stonerrock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>