<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Bongripper, Pallbearer, Weedeater, Witch, Witchcraft | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/CewX_OFf8Us/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/doommetal/2013/5/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="CewX_OFf8Us">Pallbearer - Foreigner</li>
            <li class="record" id="ywQ620PLZKo">Witch - Black Saint</li>
            <li class="record" id="ne2ZNn08uqA">Weedeater - God luck and good speed</li>
            <li class="record" id="tGjD81pL9yg">Witchcraft - Witchcraft</li>
            <li class="record" id="ME6Bieu0RWc">Bongripper - Zero Talent</li>
            <li class="record" id="sTA5m7NIG_g">Boris - Ganbou-Ki</li>
            <li class="record" id="l3dt3RpQ0Rc">Meth Drinker - 731</li>
            <li class="record" id="3s85SHXYFYg">Red Fang - Into The Eye</li>
            <li class="record" id="MrAvwd_UHUI">Jex Thoth - The Four of Us Are Dying</li>
            <li class="record" id="FbtbRFIR7fk">Souls at Zero - Neurosis - Souls at Zero - 1992</li>
            <li class="record" id="XjYjvAIZYG0">Samsara Blues Experiment - For The Lost Souls</li>
            <li class="record" id="kNqr_b1e9pw">The Cosmic Dead - Serpent Coils The Earth</li>
            <li class="record" id="9s_oAV9LtJE">Jefferson Airplane - The House At Pooneil Corners</li>
            <li class="record" id="T_wsmTd6_6k">Shooting Gallery  - Saint Vitus (Heavier Than Thou 1991)</li>
            <li class="record" id="Z_IHItcjNto">Woods of Ypres - Silver (2012)</li>
            <li class="record" id="rWNsL1OhF_c">Melvins - Leech</li>
            <li class="record" id="DQN5ZDtSeR4">True Widow: Jackyl</li>
            <li class="record" id="WvasZcJoPXw">Toner Low - Seven</li>
            <li class="record" id="vLdcpao8QO8">Coffinworm - High On The Reek of Your Burning Remains</li>
            <li class="record" id="emYvFeMEIl8">The Lamp Of Thoth - Sing As You Slay</li>
            <li class="record" id="FowpTgGVg2Q">Stonehelm - Zombie Apocalypse 420</li>
            <li class="record" id="eYRnx2LsF48">COFFINS - "The Vacant Pale Vessel" Brand New Song (Official Lyrics Video)</li>
            <li class="record" id="7RK2Gz8J8JA">Electric Moon - Lost and Found Souls</li>
            <li class="record" id="D6IB2NysTl0">Church of Misery Brother Bishop (Gary Heidnik) OFFICIAL PROMO</li>
            <li class="record" id="vojjieJIgxk">The Melvins Residency LIVE - Your Blessened - Bullhead 6 7 2011 NYC Brooklyn</li>
            <li class="record" id="l-sxFr_B13w">Minsk - The Orphans of Piety</li>
            <li class="record" id="_1DHl_sIEtk">Crypt Lurker - Shadowclad, Pale</li>
            <li class="record" id="MtPH6433Yn0">Evoken - Omniscient</li>
            <li class="record" id="u0PYwPMnUCM">Jesu - Friends Are Evil</li>
            <li class="record" id="izVIwOcewx8">Ohmu - Uppsala 17/5</li>
            <li class="record" id="lflaWsP3dyk">LORD DYING - "Summoning the Faithless" (Official Lyric Video)</li>
            <li class="record" id="JDxPcNL5brs">Valfader "Green Sleeps"</li>
            <li class="record" id="ig2AplP-VR0">Orchid-Falling away</li>
            <li class="record" id="1d7wXZjfv4I">Dark Castle (Spirited Migration) - 06. Flight Beyond</li>
            <li class="record" id="lGTZ67zFg1I">The Body - Worship</li>
            <li class="record" id="JyrZLlx5u2Y">Amarok ~ I</li>
            <li class="record" id="FbnKIIOGYCA">Oak - 1. October Sunrise - Caress Of Darkness Demo</li>
            <li class="record" id="bIyCx2M3rQg">Budgie - 01 - Guts</li>
            <li class="record" id="bMbE1P-pzOM">Officium Triste - Like Atlas</li>
            <li class="record" id="jiBbvhCF0X8">Extorian - Down In The Shadow</li>
            <li class="record" id="Z_lZ-X0Olyw">World Spins Out Of Key</li>
            <li class="record" id="hNOOi58lzq0">Inferno (XII) - The Illusion of Blake</li>
            <li class="record" id="e4F9lyW17iY">Count Raven-in the name of rock n' roll</li>
            <li class="record" id="oFBSPcatr9M">Funeral Circle - Scion of Infinity</li>
            <li class="record" id="7PSJ5T2GeQY">SOLACE - Six-Year Trainwreck</li>
            <li class="record" id="o4j5uJl0U2M">3. Bell Witch - Longing (the River of Ash)</li>
            <li class="record" id="hkWZC3CHqSk">Space Witch - Hang the Witch - Video</li>
            <li class="record" id="vWgpi2_LeZs">Mountain Of Judgement - Neptunes Reign (HQ)</li>
            <li class="record" id="Ob9mABrACA4">Saturnalia Temple-ancient sorceries</li>
            <li class="record" id="ofl61F9jv6o">Three Eyes Left "La Danse Macabre"</li>
            <li class="record" id="U9Z4c-S1Mg8">Necromandus - 03 - A Black Solitude</li>
            <li class="record" id="sKuoQRN4roE">DOOM:VS - The Crawling Insects</li>
            <li class="record" id="G4PpEwfJjwg">Abyssphere - О ней... (About Her)</li>
            <li class="record" id="L3Y5Xss8k3M">My Dying Bride - The Manuscript (Montage)</li>
            <li class="record" id="3aGQ8Mbt1gQ">HJARNIDAUDI - Noise</li>
            <li class="record" id="4b0v_F9-OVI">Romero - Couch Lock</li>
            <li class="record" id="XlcXbBIK5L8">EGYPT - Blood Temple Hymn (Totem Cat Records 2013)</li>
            <li class="record" id="KtAQov_QEBc">In the Company of Serpents | "Of the Flock" album teaser</li>
            <li class="record" id="INEhUiX8QzE">Throne On Mars - Loss Of The Axis</li>
            <li class="record" id="FmnRlOAesAA">Cruevo - To kill the Dawn.wmv</li>
            <li class="record" id="K8G8MoRiHmQ">Sadhus, the Smoking Community - Foondamentalist (2011, Miss Fortune...)</li>
            <li class="record" id="DBJ4IILjqvc">BRETUS - Sitting On The Grave</li>
            <li class="record" id="C2PBUubvHp4">Heaven and Hell- Atom and Evil w/ lyrics</li>
            <li class="record" id="3S7JK4KVkKs">CortisoL - Boots</li>
            <li class="record" id="CYtTllVmwiY">The Ocean Collective - Hadean/Archaean</li>
            <li class="record" id="tH2w6Oxx0kQ">Kansas - Dust in the Wind (Official Video)</li>
            <li class="record" id="gj1pdg3_DxY">Theatre Of Tragedy - On Whom The Moon Doth Shine</li>
            <li class="record" id="mxbK96ztrh0">The Ocean - Hadean</li>
            <li class="record" id="HLJbwe1u95g">Mizar - March The Desert, 2013</li>
            <li class="record" id="uXIx1E4Md50">Samothrace - La Llorona</li>
            <li class="record" id="KVHexz38ZvE">The Lumberjack Feedback 'Hand of Glory ' (trailer)</li>
            <li class="record" id="WQPfQvLIseA">RED FANG - "Wires" (Official Music Video)</li>
    </ol>
</div>

<div class="container">
<a href="/genre/doommetal/">Doom Metal</a> archive:
    <a href="/genre/doommetal/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/doommetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'doommetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>