<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Shoegaze playlist for 4/2015 | Punk'n'Roll</title>
        <meta name="description" content="Including: A Place To Bury Strangers, Catherine Wheel, Chapterhouse, Duster, Night School, No Joy, Ride, Tamaryn, Whirr, Yuck.">
        <meta property="og:image" content="https://i.ytimg.com/vi/B2B1WrFuAHg/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/shoegaze/2015/4/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li><a href="/playlist/">Playlists</a></li>
                <li><a href="https://www.mixcloud.com/punknroll/">Podcast</a></li>
            </ul>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">▶</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="B2B1WrFuAHg">Ride performing "Leave Them All Behind" Live on KCRW</li>
            <li class="record" id="kPeU5mMwgT8">No Joy - "More Faithful" [Official Album Trailer]</li>
            <li class="record" id="AzNOzRZU6tA">Yuck - Rubber (live)</li>
            <li class="record" id="cF7UMEgou48">Catherine Wheel - I Want To Touch You</li>
            <li class="record" id="OB6Zh5I7Qzc">Shoegaze Pedal Board into Tape Deck (Trinity Reverb)</li>
            <li class="record" id="PkyYAECAzHA">A Place to Bury Strangers - Full Performance (Live on KEXP)</li>
            <li class="record" id="hzUhaY_nLuE">Tamaryn - Mild Confusion</li>
            <li class="record" id="KJnKmPl2cgA">Whirr - Sway [Full Album]</li>
            <li class="record" id="ZaYUz0vzI0Y">Duster - Echo, Bravo</li>
            <li class="record" id="-vJghdFjk7g">Chapterhouse-Something More</li>
            <li class="record" id="UKMFZyCmIjg">I Was A Teenage Satan Worshipper - The World</li>
            <li class="record" id="gXHNXijb-jY">Night School - Unkind</li>
            <li class="record" id="doImY60VgLk">Autolux - Plantlife</li>
            <li class="record" id="zXZ0-emoZfc">Cloakroom - "Lossed Over" / "Moon Funeral" Live at Little Elephant (1/2)</li>
            <li class="record" id="acvNF-WhvR8">Kazuma - I Am Waiting Last Summer</li>
            <li class="record" id="NmwsUWXK8hE">Mountain States - Hologram</li>
            <li class="record" id="jxoP1ZhsWNc">:: cool angels :: ~are u real~ ft. stef hodapp</li>
            <li class="record" id="xVINPPdk9bw">No Joy - Moon In My Mouth [Official Single]</li>
            <li class="record" id="LAysiYeVYuU">Run For Cover - Small Talk with Nick Bassett (Whirr/Nothing)</li>
            <li class="record" id="Ys7zMBTZSn0">Broken Little Sister - Memories, Violet & Demons (Full Album HQ)</li>
            <li class="record" id="JSAgD2dfZ-o">heavïness  -  frippest  whim  (official 2015)</li>
            <li class="record" id="nKSidApDmTc">Velour 100 - Flourish</li>
            <li class="record" id="yMhCv7AGcU4">Should - Sarah Missing</li>
            <li class="record" id="xRyYTvzTSTs">Ride performing "Seagull" Live on KCRW</li>
            <li class="record" id="QkdsVpGbMhM">Lemon's Chair - I Hate? I Hope? (Full Album HQ)</li>
            <li class="record" id="TyIq52V5YXo">Air Formation - Lunar (S/t Debut CD, 2000) shoegaze</li>
            <li class="record" id="Kd_NPHco6_E">Plastic Tree「Thirteenth Friday」4/6発売ALアンモナイトより（PVフル）</li>
            <li class="record" id="nZefJL96_uI">Tears Run Rings - Mind the Wires</li>
            <li class="record" id="ciZU6c1es18">"Jazzy Song," live at Rhythm & Brews 3/28/2015 by Jay Sia</li>
            <li class="record" id="P9eROUtwMec">Manual - Afterimages</li>
            <li class="record" id="kbwdqw3QqGA">Haris Pilton & The Spring Breakers - Fuck Steady Life</li>
            <li class="record" id="7D1l0u3Er_c">Boyfriend's Dead - Here She Comes</li>
            <li class="record" id="Sn8mV2WD2UI">Slow Beach - Lover Lover</li>
            <li class="record" id="VIKKXG6xhyU">Youthmemory - Darlin</li>
            <li class="record" id="sCH3naDqVqs">Atlas Sound - Quick Canal (w/Laetitia Sadier)</li>
            <li class="record" id="s69UTa6HfwQ">Dreamtiger - Waves & Tides</li>
            <li class="record" id="mc8ajweGsS4">mash / bury  （japanese shoegazer）</li>
            <li class="record" id="j9FCCEV6R6M">Half - Mind Laps (Music Video)</li>
            <li class="record" id="tyuqpZYyLfM">civic / innocent</li>
            <li class="record" id="Bk0Pw7EHaiY">AMOEBA/VIDEO</li>
            <li class="record" id="2HTG7EqKGko">civic / toilet paper</li>
            <li class="record" id="8KKYXq0jNRk">▲THE NOVEMBERS 「Romancé」- Normal Ver -▲</li>
            <li class="record" id="1vQZ547vig8">Sexores - Shinigami</li>
            <li class="record" id="BxUCBkliRHs">'Stretchy'  - Chokobo</li>
            <li class="record" id="kgK7Lh7g2Q4">Ask for Tiger @ Fuzz Fest</li>
            <li class="record" id="1ZMvOeK8fq8">Liphemra - "Young" (Session) | Mouser</li>
            <li class="record" id="BZHjK7jrSTM">Bellyache - Dreams</li>
            <li class="record" id="BIOGFA6XQEE">Morella's Forest - Hang Out</li>
            <li class="record" id="c99SZIiOrG4">Weekend - Coma Summer</li>
            <li class="record" id="oBJrA1ddFwE">Averkiou - Girl Go Out</li>
            <li class="record" id="Lx9YHN8j6TE">Black Mustangs - Now Is The Time</li>
            <li class="record" id="890d0S1uMHk">The Mites - "Marjorie's Injury"</li>
            <li class="record" id="dCp4P8s0NCA">Tamaryn - Hands All Over Me [Official Audio]</li>
            <li class="record" id="eP_MG3kaogU">My Bloody Valentine - Only Shallow (Original)</li>
            <li class="record" id="TzLoChVCTus">Soda Stereo - Toma La Ruta HD - Fax en concierto - Dynamo</li>
            <li class="record" id="lJyDBE0nrwI">wideness</li>
            <li class="record" id="7hKiIC3MP9Q">Best Kevin Shields Fails Comp Ever!!</li>
            <li class="record" id="VDWthZY6pbA">This Social Coil - Underwater Sea Walk</li>
    </ol>
</div>

<div class="container">
<a href="/genre/shoegaze/">Shoegaze</a> archive:
    <a href="/genre/shoegaze/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/shoegaze/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music for fans of garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'shoegaze';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
</body>
</html>