<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Arsis, Gorod, Sentenced To Dissection, Sleep Terror, Spawn Of Possession | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/H5Ek3W8R7yU/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/technicaldeathmetal/2012/2/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="H5Ek3W8R7yU">
                    <td><img src="https://i.ytimg.com/vi/H5Ek3W8R7yU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Arsis - Failing  Winds of Hopeless Greed</td>
                </tr>
                <tr class="record" id="898nYYqS4Bg">
                    <td><img src="https://i.ytimg.com/vi/898nYYqS4Bg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">GOROD - Birds of Sulphur</td>
                </tr>
                <tr class="record" id="vUNxjpwORDQ">
                    <td><img src="https://i.ytimg.com/vi/vUNxjpwORDQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Obscura drummer plays Blotted Science Song</td>
                </tr>
                <tr class="record" id="Rp0FN5XOna0">
                    <td><img src="https://i.ytimg.com/vi/Rp0FN5XOna0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sentenced to Dissection - Astral Projection</td>
                </tr>
                <tr class="record" id="kRWVkg9jeRc">
                    <td><img src="https://i.ytimg.com/vi/kRWVkg9jeRc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Spawn of Possession - Where angels go demons follow</td>
                </tr>
                <tr class="record" id="XSv0TxmOiqs">
                    <td><img src="https://i.ytimg.com/vi/XSv0TxmOiqs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sleep Terror - Somatoform Vortex</td>
                </tr>
                <tr class="record" id="_WQMNwu3h90">
                    <td><img src="https://i.ytimg.com/vi/_WQMNwu3h90/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Allegaeon "Tartessos: The Hidden Xenocryst" (OFFICIAL)</td>
                </tr>
                <tr class="record" id="58UD1iGUDog">
                    <td><img src="https://i.ytimg.com/vi/58UD1iGUDog/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Soma Ras   "NOVUS ORDO SECLORUM"</td>
                </tr>
                <tr class="record" id="OcsntAinwYM">
                    <td><img src="https://i.ytimg.com/vi/OcsntAinwYM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HIDEOUS DIVINITY - The Servant's Speech (Unique Leader Records)</td>
                </tr>
                <tr class="record" id="plZakmEzH1E">
                    <td><img src="https://i.ytimg.com/vi/plZakmEzH1E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cerebral Bore "Maniacal Miscreation" [Official Music Video]</td>
                </tr>
                <tr class="record" id="tfGlnLn52rM">
                    <td><img src="https://i.ytimg.com/vi/tfGlnLn52rM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deeds Of Flesh-Of What's To Come-Virvum</td>
                </tr>
                <tr class="record" id="h4wKboUbqQw">
                    <td><img src="https://i.ytimg.com/vi/h4wKboUbqQw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">New Cerebral Bore song! ( 1st premier!! )</td>
                </tr>
                <tr class="record" id="Mp1DwMvC6Rw">
                    <td><img src="https://i.ytimg.com/vi/Mp1DwMvC6Rw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Derelict - Perpetuation (Technical Death Metal)</td>
                </tr>
                <tr class="record" id="ajnYNAj70fE">
                    <td><img src="https://i.ytimg.com/vi/ajnYNAj70fE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Die  - Execution Room</td>
                </tr>
                <tr class="record" id="TSjiGoifrW8">
                    <td><img src="https://i.ytimg.com/vi/TSjiGoifrW8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Xenocide - Galactic Oppression</td>
                </tr>
                <tr class="record" id="luoqNDY7HeQ">
                    <td><img src="https://i.ytimg.com/vi/luoqNDY7HeQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Burning The Masses "Immersed Entity"</td>
                </tr>
                <tr class="record" id="vqgYPY6HqCI">
                    <td><img src="https://i.ytimg.com/vi/vqgYPY6HqCI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Benighted - Let the Blood Spill between My Broken Teeth</td>
                </tr>
                <tr class="record" id="pYkk_drOZVU">
                    <td><img src="https://i.ytimg.com/vi/pYkk_drOZVU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BIG END BOLT - Grip Vice Torture (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="uQYzahkFMnA">
                    <td><img src="https://i.ytimg.com/vi/uQYzahkFMnA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Canonical Dysfunction - Among Complex Systems</td>
                </tr>
                <tr class="record" id="tIOmX4tFFT4">
                    <td><img src="https://i.ytimg.com/vi/tIOmX4tFFT4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SHRED Abnormal Thought Patterns EP Clip.wmv</td>
                </tr>
                <tr class="record" id="Rj50NIlTjes">
                    <td><img src="https://i.ytimg.com/vi/Rj50NIlTjes/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">7 H.TARGET - 'Fast-Slow Demolition' 4-track promo tape (2012) FULL</td>
                </tr>
                <tr class="record" id="ILFx4yIa3ZU">
                    <td><img src="https://i.ytimg.com/vi/ILFx4yIa3ZU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">LOGIC OF DENIAL - RAVENOUS PATTERNS OF OBLIVION (PROMO 2011)</td>
                </tr>
                <tr class="record" id="8u530KtEE_c">
                    <td><img src="https://i.ytimg.com/vi/8u530KtEE_c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Beneath the Massacre - Light - Incongruous (2012)</td>
                </tr>
                <tr class="record" id="svV9usWliLk">
                    <td><img src="https://i.ytimg.com/vi/svV9usWliLk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Obscura - The Flesh and the Power it holds (2012)</td>
                </tr>
                <tr class="record" id="wfp7MNtSxi0">
                    <td><img src="https://i.ytimg.com/vi/wfp7MNtSxi0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">FORCEPS - Transmutation Of Internal Organs</td>
                </tr>
                <tr class="record" id="PtkIjOvQGIs">
                    <td><img src="https://i.ytimg.com/vi/PtkIjOvQGIs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Obscura - 'Piece of Time' (Atheist Cover) (2012)</td>
                </tr>
                <tr class="record" id="eDRL6z5-aoc">
                    <td><img src="https://i.ytimg.com/vi/eDRL6z5-aoc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slaughterbox - Arrogance And The Loss Of Human Dignity</td>
                </tr>
                <tr class="record" id="AAyVeYuuH54">
                    <td><img src="https://i.ytimg.com/vi/AAyVeYuuH54/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hour of Penance - the making of "Sedition," part 1</td>
                </tr>
                <tr class="record" id="7nIYrv5tqjQ">
                    <td><img src="https://i.ytimg.com/vi/7nIYrv5tqjQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Incarnal - Where Evil Has Its Beginning</td>
                </tr>
                <tr class="record" id="MfGPKnMiO-w">
                    <td><img src="https://i.ytimg.com/vi/MfGPKnMiO-w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rivers of Nihil - (sin)chronos</td>
                </tr>
                <tr class="record" id="YX0c_bsWDT8">
                    <td><img src="https://i.ytimg.com/vi/YX0c_bsWDT8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lost Soul - Godstate</td>
                </tr>
                <tr class="record" id="wKo9BjENpm8">
                    <td><img src="https://i.ytimg.com/vi/wKo9BjENpm8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Summer Slaughter 2007 DVD (Necrophagist, The Faceless, Beneath The Massacre & more)</td>
                </tr>
                <tr class="record" id="jy2MLw_JMJk">
                    <td><img src="https://i.ytimg.com/vi/jy2MLw_JMJk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BORN OF OSIRIS - Follow The Signs (Official Music Video)</td>
                </tr>
                <tr class="record" id="ahLP-gdBFDM">
                    <td><img src="https://i.ytimg.com/vi/ahLP-gdBFDM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Antikythera - "Element Nexus" (Official Video)</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/technicaldeathmetal/">Technical Death Metal</a> archive:
    <a href="/genre/technicaldeathmetal/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/technicaldeathmetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'technicaldeathmetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>