<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Against Me!, Authority Zero, Hot Water Music, Ponk, The Menzingers | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/0dsUxGGfbR4/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/acousticpunkrock/2014/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="0dsUxGGfbR4">
                    <td><img src="https://i.ytimg.com/vi/0dsUxGGfbR4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Menzingers - Good Things - CARDINAL SESSIONS</td>
                </tr>
                <tr class="record" id="t5Qx2PNfSp4">
                    <td><img src="https://i.ytimg.com/vi/t5Qx2PNfSp4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Laura Jane Grace of Against Me! - Black Me Out (Nervous Energies session)</td>
                </tr>
                <tr class="record" id="5OvzoWttPDI">
                    <td><img src="https://i.ytimg.com/vi/5OvzoWttPDI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Against Me! - Pints of Guinness Make You Strong - Acoustic</td>
                </tr>
                <tr class="record" id="2v5RFUeJfAU">
                    <td><img src="https://i.ytimg.com/vi/2v5RFUeJfAU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hot Water Music - State Of Grace - CARDINAL SESSIONS</td>
                </tr>
                <tr class="record" id="-KonLHmuvrI">
                    <td><img src="https://i.ytimg.com/vi/-KonLHmuvrI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ponk - Step By Step</td>
                </tr>
                <tr class="record" id="Ga8RDpg4uDI">
                    <td><img src="https://i.ytimg.com/vi/Ga8RDpg4uDI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Against Me! "High Pressure Low" Acoustic (High Quality)</td>
                </tr>
                <tr class="record" id="yHkLiUHZzD0">
                    <td><img src="https://i.ytimg.com/vi/yHkLiUHZzD0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Authority Zero "Crash Land" Live & Acoustic @ Arizona Mills f.y.e. 6-22-2010</td>
                </tr>
                <tr class="record" id="e9vVE6ulhBs">
                    <td><img src="https://i.ytimg.com/vi/e9vVE6ulhBs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Roots Radicals Acoustic</td>
                </tr>
                <tr class="record" id="AVSfnQxRdFE">
                    <td><img src="https://i.ytimg.com/vi/AVSfnQxRdFE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Chuck Ragan - Bedroll Lullaby - CARDINAL SESSIONS</td>
                </tr>
                <tr class="record" id="h9TQ5RCzxno">
                    <td><img src="https://i.ytimg.com/vi/h9TQ5RCzxno/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Matt Skiba - Angel of Deaf - Double Door 8.7.2012</td>
                </tr>
                <tr class="record" id="P5xsB0_0tho">
                    <td><img src="https://i.ytimg.com/vi/P5xsB0_0tho/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Frank Turner - Recovery (Acoustic) (Live on 89.3 The Current)</td>
                </tr>
                <tr class="record" id="jTzS3jM8UrI">
                    <td><img src="https://i.ytimg.com/vi/jTzS3jM8UrI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mary Prankster (1) Dec 28, 2002 Underdogs Harrisburg, PA</td>
                </tr>
                <tr class="record" id="XRLehs7P_f8">
                    <td><img src="https://i.ytimg.com/vi/XRLehs7P_f8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Against Me! - "True Trans Soul Rebel" (Folk-O-Rama Session)</td>
                </tr>
                <tr class="record" id="TdasGqIz1KA">
                    <td><img src="https://i.ytimg.com/vi/TdasGqIz1KA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Drunken Wobblies - Rise Up</td>
                </tr>
                <tr class="record" id="v0dUnoecoZ0">
                    <td><img src="https://i.ytimg.com/vi/v0dUnoecoZ0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Days N Daze - Misanthropic Drunken Loner [Official Music Video]</td>
                </tr>
                <tr class="record" id="hBuiOFEMyC4">
                    <td><img src="https://i.ytimg.com/vi/hBuiOFEMyC4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Front Bottoms "Bathtub"</td>
                </tr>
                <tr class="record" id="8pxbQTsr9X4">
                    <td><img src="https://i.ytimg.com/vi/8pxbQTsr9X4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Front Bottoms Flashlight</td>
                </tr>
                <tr class="record" id="suOdBLVgF8I">
                    <td><img src="https://i.ytimg.com/vi/suOdBLVgF8I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Andrew Cream - Leaving It Behind (Unreleased)</td>
                </tr>
                <tr class="record" id="t_-cPehvb9A">
                    <td><img src="https://i.ytimg.com/vi/t_-cPehvb9A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Zock of Astpai and Chris of the Flatliners - Honest or Sentimental (Acoustic) in Asbury Park, NJ</td>
                </tr>
                <tr class="record" id="EVqhagscV1o">
                    <td><img src="https://i.ytimg.com/vi/EVqhagscV1o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wicklow Atwater and The Fallen Flame - I Wanna Be Yer Man</td>
                </tr>
                <tr class="record" id="q2OnQR6VMwU">
                    <td><img src="https://i.ytimg.com/vi/q2OnQR6VMwU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Billy Bragg: NPR Music Tiny Desk Concert</td>
                </tr>
                <tr class="record" id="VuEX-GrTnGI">
                    <td><img src="https://i.ytimg.com/vi/VuEX-GrTnGI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">UNIFORMS - "Schoolboy Errors" (acoustic)</td>
                </tr>
                <tr class="record" id="wAqCToAvAeI">
                    <td><img src="https://i.ytimg.com/vi/wAqCToAvAeI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Billy Liar - "The Coast Is Clear"</td>
                </tr>
                <tr class="record" id="1h5sJH_79HQ">
                    <td><img src="https://i.ytimg.com/vi/1h5sJH_79HQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BILLY LIAR - What We've Got (live)</td>
                </tr>
                <tr class="record" id="EsF9mnMY5ao">
                    <td><img src="https://i.ytimg.com/vi/EsF9mnMY5ao/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">[WAM] Acoustic #8 - The Roughneck Riot</td>
                </tr>
                <tr class="record" id="G2MbYsYQDBQ">
                    <td><img src="https://i.ytimg.com/vi/G2MbYsYQDBQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">[WAM] Acoustic #17 - Reservoir Coots</td>
                </tr>
                <tr class="record" id="mC_QZM4OzRw">
                    <td><img src="https://i.ytimg.com/vi/mC_QZM4OzRw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ATP! Acoustic Session: Mixtapes - "Hey Ma, PT. 2"</td>
                </tr>
                <tr class="record" id="F6XDnzLSDGY">
                    <td><img src="https://i.ytimg.com/vi/F6XDnzLSDGY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fighting Fiction - 'A Common Enemy' (Hard Luck Session)</td>
                </tr>
                <tr class="record" id="MLCV2COa36g">
                    <td><img src="https://i.ytimg.com/vi/MLCV2COa36g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Patrick Blakey - DN36 4NE (Hard Luck Session)</td>
                </tr>
                <tr class="record" id="4foVMw_ws_0">
                    <td><img src="https://i.ytimg.com/vi/4foVMw_ws_0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">500 channels ( choking victim cover with piano )</td>
                </tr>
                <tr class="record" id="GJzSzf50x-0">
                    <td><img src="https://i.ytimg.com/vi/GJzSzf50x-0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Joe McMahon - Filter</td>
                </tr>
                <tr class="record" id="rLdWJTHL-yw">
                    <td><img src="https://i.ytimg.com/vi/rLdWJTHL-yw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Brendan Kelly - Quincentuple Your Money</td>
                </tr>
                <tr class="record" id="yo1YRFlLEUw">
                    <td><img src="https://i.ytimg.com/vi/yo1YRFlLEUw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THT - "Talk About The Weather" live @ Book Yer Ane Fest V</td>
                </tr>
                <tr class="record" id="1dvuKTai8gg">
                    <td><img src="https://i.ytimg.com/vi/1dvuKTai8gg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Billy Liar - Live @ Book Yer Ane Fest VII</td>
                </tr>
                <tr class="record" id="RUOwLCyIfhE">
                    <td><img src="https://i.ytimg.com/vi/RUOwLCyIfhE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BILLY LIAR - Come Back To Edinburgh (live - Edinburgh Festival)</td>
                </tr>
                <tr class="record" id="8OpVEBPayUY">
                    <td><img src="https://i.ytimg.com/vi/8OpVEBPayUY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">TV Smith - Generation Y (live)</td>
                </tr>
                <tr class="record" id="zS3up1SDM24">
                    <td><img src="https://i.ytimg.com/vi/zS3up1SDM24/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tragical History Tour - "Schoolboy Errors" (Uniforms) - Live in Dundee</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/acousticpunkrock/">Acoustic Punk Rock</a> archive:
    <a href="/genre/acousticpunkrock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/acousticpunkrock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/acousticpunkrock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/acousticpunkrock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/acousticpunkrock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'acousticpunkrock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>