<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Noise Rock playlist for 3/2014 | Punk'n'Roll</title>
        <meta name="description" content="Including: Arab On Radar, Brainbombs, Child Abuse, Drunkdriver, Helms Alee, Pissed Jeans, Rapeman, Ruins Alone, Sun City Girls, Unsane.">
        <meta property="og:image" content="https://i.ytimg.com/vi/3mS6Gb9B6b4/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/noiserock/2014/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li><a href="/playlist/">Playlists</a></li>
                <li><a href="https://www.mixcloud.com/punknroll/">Podcast</a></li>
            </ul>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div v-if="!video_ids.length">If no playlist is loaded, you may need to turn off Content Blocking for this site. Click on the 🛈 in the browser address bar to change the setting. Otherwise request limits may have been exceeded.</div>
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">▶</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="3mS6Gb9B6b4">Arab on Radar - Menstruating Thrills</li>
            <li class="record" id="0B2Gww3ywDA">Pissed Jeans - Bathroom Laughter [OFFICIAL VIDEO]</li>
            <li class="record" id="pizmUzeilr8">Rapeman - Trouser Minnow</li>
            <li class="record" id="5FVW0yIB5IM">Unsane - Out</li>
            <li class="record" id="qUhjx7kNU-4">Sun City Girls ~ Esta Susan En Casa?</li>
            <li class="record" id="kH6m_h7x6SM">RUINS Alone - whole set 5/4/12@ Hemlock Tavern SF</li>
            <li class="record" id="h6fm0oWPLmY">Drunkdriver-Choking Hazard</li>
            <li class="record" id="voNghRkt5k8">Helms Alee - Pretty As Pie (Live on KEXP)</li>
            <li class="record" id="F4Eurcq_A4k">Drunkdriver - Women (The Blues)</li>
            <li class="record" id="vD0UJPSMsU4">Brainbombs Better Rule in Hell from their new LP Disposal of a Dead Body</li>
            <li class="record" id="5haFnmvCIzE">vinyl terror and horror</li>
            <li class="record" id="rrNQvQ6ntlI">pissed jeans - ugly twin</li>
            <li class="record" id="Onng8rIp05M">Child Abuse - Bebe</li>
            <li class="record" id="vmULHlULd4w">Trumans Water - Empty Queen II</li>
            <li class="record" id="LQ0vGDjkkfY">BULBUL - Genderman Can</li>
            <li class="record" id="bhk9UBhl3so">Song 25 by The Austerity Program</li>
            <li class="record" id="IdwrsPfhE0E">"Knucklewagon" - Knucklewagon</li>
            <li class="record" id="Ql5OHk4J9FU">Tinsel Teeth - The Warden</li>
            <li class="record" id="d5qk2hfk5Pw">AHKUBA: Live From The Living Room</li>
            <li class="record" id="dFF2fHJ7sUI">AFCGT 2 27 2010 COMET TAVERN non record release party</li>
            <li class="record" id="AN3tFuUMJ0k">Voodoo Gangster - Space Hotel</li>
            <li class="record" id="gfQljgzAtRE">Sun City Girls - Space Prophet Dogon</li>
    </ol>
</div>

<div class="container">
<a href="/genre/noiserock/">Noise Rock</a> archive:
    <a href="/genre/noiserock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/noiserock/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music for fans of garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/merchandise/" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merchandise</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.5.1/dist/vue-resource.min.js"></script>
<script>
var genre = 'noiserock';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>
</body>
</html>