<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Iceage, Killing Joke, Orange Juice, The Wipers, Throbbing Gristle | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/JPctNq3W9Uo/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/postpunk/2013/2/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="JPctNq3W9Uo">
                    <td><img src="https://i.ytimg.com/vi/JPctNq3W9Uo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Throbbing Gristle - Discipline</td>
                </tr>
                <tr class="record" id="ESy-Z8vqMrE">
                    <td><img src="https://i.ytimg.com/vi/ESy-Z8vqMrE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Orange Juice - Rip it Up (Official Video) (1983)</td>
                </tr>
                <tr class="record" id="coVPmp3lmKk">
                    <td><img src="https://i.ytimg.com/vi/coVPmp3lmKk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iceage - 'Coalition'</td>
                </tr>
                <tr class="record" id="x1U1Ue_5kq8">
                    <td><img src="https://i.ytimg.com/vi/x1U1Ue_5kq8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Killing Joke - Eighties</td>
                </tr>
                <tr class="record" id="GX0uXZVafSw">
                    <td><img src="https://i.ytimg.com/vi/GX0uXZVafSw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Wipers - Youth of America</td>
                </tr>
                <tr class="record" id="2wq9B6KaIRQ">
                    <td><img src="https://i.ytimg.com/vi/2wq9B6KaIRQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Shivers - Boys Next Door</td>
                </tr>
                <tr class="record" id="UoYxWqoc_rA">
                    <td><img src="https://i.ytimg.com/vi/UoYxWqoc_rA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THE CHURCH - reptile (1988)</td>
                </tr>
                <tr class="record" id="QSFAtieNonE">
                    <td><img src="https://i.ytimg.com/vi/QSFAtieNonE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Men - Animal</td>
                </tr>
                <tr class="record" id="2NTmgFNSLtA">
                    <td><img src="https://i.ytimg.com/vi/2NTmgFNSLtA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">gang of four- anthrax</td>
                </tr>
                <tr class="record" id="3VQ46a0Mf_k">
                    <td><img src="https://i.ytimg.com/vi/3VQ46a0Mf_k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sonic Youth - I Dreamed I Dream</td>
                </tr>
                <tr class="record" id="CjutMbn6yEE">
                    <td><img src="https://i.ytimg.com/vi/CjutMbn6yEE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Cigarettes - You were so young(1979)</td>
                </tr>
                <tr class="record" id="yV92zpVrz2Y">
                    <td><img src="https://i.ytimg.com/vi/yV92zpVrz2Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dead Can Dance - Frontier</td>
                </tr>
                <tr class="record" id="iaV4pqd7IL8">
                    <td><img src="https://i.ytimg.com/vi/iaV4pqd7IL8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Disco Inferno - 01 - In Sharky Water</td>
                </tr>
                <tr class="record" id="XUClCmgBn5g">
                    <td><img src="https://i.ytimg.com/vi/XUClCmgBn5g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Fall - Put Away (live)</td>
                </tr>
                <tr class="record" id="tqDFGpd845Y">
                    <td><img src="https://i.ytimg.com/vi/tqDFGpd845Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">XTC - Respectable Street</td>
                </tr>
                <tr class="record" id="mRhQ5OLz0oo">
                    <td><img src="https://i.ytimg.com/vi/mRhQ5OLz0oo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Wake - Melancholy Man (Here Comes Everybody) 1985.wmv</td>
                </tr>
                <tr class="record" id="9-HaDEmoRAI">
                    <td><img src="https://i.ytimg.com/vi/9-HaDEmoRAI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Cure - Primary [Extended] *[RARE]*</td>
                </tr>
                <tr class="record" id="xhDwuNIAh2o">
                    <td><img src="https://i.ytimg.com/vi/xhDwuNIAh2o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gang of Four - Damaged Goods - Live, Atlanta 1980</td>
                </tr>
                <tr class="record" id="anbpUr2p7bY">
                    <td><img src="https://i.ytimg.com/vi/anbpUr2p7bY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Siglo XX - Calculated Mystakes (LMT.ED 1981).wmv</td>
                </tr>
                <tr class="record" id="pwbex34o0vI">
                    <td><img src="https://i.ytimg.com/vi/pwbex34o0vI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">pissed jeans - closet marine</td>
                </tr>
                <tr class="record" id="eHd7QDJyvNA">
                    <td><img src="https://i.ytimg.com/vi/eHd7QDJyvNA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Television Personalities - The Glittering Prizes</td>
                </tr>
                <tr class="record" id="A9sMZ_5NjM8">
                    <td><img src="https://i.ytimg.com/vi/A9sMZ_5NjM8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THE HEIGHT OF GOTH: 1984: A Night at the Xclusiv Nightclub: Batley, West Yorkshire UK</td>
                </tr>
                <tr class="record" id="AMndHXgswBY">
                    <td><img src="https://i.ytimg.com/vi/AMndHXgswBY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ludus - I Can't Swim I Have Nightmares</td>
                </tr>
                <tr class="record" id="IpwZPNIUG-w">
                    <td><img src="https://i.ytimg.com/vi/IpwZPNIUG-w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">MX-80 Sound - Facts-Facts</td>
                </tr>
                <tr class="record" id="y-pHcgRx4vU">
                    <td><img src="https://i.ytimg.com/vi/y-pHcgRx4vU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">A Certain Ratio - Flight - Peel Session  1979</td>
                </tr>
                <tr class="record" id="UtFrAzphYEI">
                    <td><img src="https://i.ytimg.com/vi/UtFrAzphYEI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sad Lovers and Giants /  Imagination</td>
                </tr>
                <tr class="record" id="JpQH-u4L8Qs">
                    <td><img src="https://i.ytimg.com/vi/JpQH-u4L8Qs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Desperate Bicycles - Don't back the front</td>
                </tr>
                <tr class="record" id="VZX1dgveIYY">
                    <td><img src="https://i.ytimg.com/vi/VZX1dgveIYY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Mushy - Faded Heart</td>
                </tr>
                <tr class="record" id="9tY71ph2Kx8">
                    <td><img src="https://i.ytimg.com/vi/9tY71ph2Kx8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Meat Whiplash - She comes tommorow</td>
                </tr>
                <tr class="record" id="xasgLK8hrDI">
                    <td><img src="https://i.ytimg.com/vi/xasgLK8hrDI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Martial Canterel   some days</td>
                </tr>
                <tr class="record" id="25jygDynHLU">
                    <td><img src="https://i.ytimg.com/vi/25jygDynHLU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THE MEKONS trevira trousers 1979</td>
                </tr>
                <tr class="record" id="uIugzE28Zcw">
                    <td><img src="https://i.ytimg.com/vi/uIugzE28Zcw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cold Showers "I Don't Mind"</td>
                </tr>
                <tr class="record" id="108ePC35rWI">
                    <td><img src="https://i.ytimg.com/vi/108ePC35rWI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kekko Bravo - Je Laisse Mes Marques</td>
                </tr>
                <tr class="record" id="FONqP2rnCKo">
                    <td><img src="https://i.ytimg.com/vi/FONqP2rnCKo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">UT evangelist 1988</td>
                </tr>
                <tr class="record" id="IvtxZUGHUK4">
                    <td><img src="https://i.ytimg.com/vi/IvtxZUGHUK4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">clockcleaner chinese town video</td>
                </tr>
                <tr class="record" id="u35rc8efDNY">
                    <td><img src="https://i.ytimg.com/vi/u35rc8efDNY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Τρυπες - Artistz</td>
                </tr>
                <tr class="record" id="7tgYMuAzESA">
                    <td><img src="https://i.ytimg.com/vi/7tgYMuAzESA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Family Fodder - Dinosaur Sex</td>
                </tr>
                <tr class="record" id="0WGVgfjnLqc">
                    <td><img src="https://i.ytimg.com/vi/0WGVgfjnLqc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ian Dury - Hit Me With Your Rhythm Stick [Official Video]</td>
                </tr>
                <tr class="record" id="V4pKz8_5P50">
                    <td><img src="https://i.ytimg.com/vi/V4pKz8_5P50/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Last Drive - Valley Of Death</td>
                </tr>
                <tr class="record" id="c8xA1SAZC-U">
                    <td><img src="https://i.ytimg.com/vi/c8xA1SAZC-U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Vinyl Grind - More Fiends (RAVE)</td>
                </tr>
                <tr class="record" id="ZpE1FL2ijIo">
                    <td><img src="https://i.ytimg.com/vi/ZpE1FL2ijIo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Terror Visions - Taste It (Face)</td>
                </tr>
                <tr class="record" id="H5Kkw-Puhho">
                    <td><img src="https://i.ytimg.com/vi/H5Kkw-Puhho/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">She Past Away - Rituel</td>
                </tr>
                <tr class="record" id="JOgJFik9C1k">
                    <td><img src="https://i.ytimg.com/vi/JOgJFik9C1k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blue Hollow - Blue Hollow</td>
                </tr>
                <tr class="record" id="xmd9eUpSE5g">
                    <td><img src="https://i.ytimg.com/vi/xmd9eUpSE5g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Parade Ground - Moans (1987)</td>
                </tr>
                <tr class="record" id="u9uVSvjQhS4">
                    <td><img src="https://i.ytimg.com/vi/u9uVSvjQhS4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Sound Adrian Borland</td>
                </tr>
                <tr class="record" id="jxhkQbfA0fI">
                    <td><img src="https://i.ytimg.com/vi/jxhkQbfA0fI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Martin Dupont - " just because " ( coldwave french 1984 )</td>
                </tr>
                <tr class="record" id="ITOzMnekaOU">
                    <td><img src="https://i.ytimg.com/vi/ITOzMnekaOU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Twelve Cubic Feet-The Almshouse</td>
                </tr>
                <tr class="record" id="A4XiZ2hlYIc">
                    <td><img src="https://i.ytimg.com/vi/A4XiZ2hlYIc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Quailbones - Crane Wilbur</td>
                </tr>
                <tr class="record" id="VY-fMDUf45E">
                    <td><img src="https://i.ytimg.com/vi/VY-fMDUf45E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Velvet Condom - never ever</td>
                </tr>
                <tr class="record" id="1ibX0JrJLHw">
                    <td><img src="https://i.ytimg.com/vi/1ibX0JrJLHw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">A Witness - Dipping Bird</td>
                </tr>
                <tr class="record" id="bdgxsyWfAT4">
                    <td><img src="https://i.ytimg.com/vi/bdgxsyWfAT4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pissed Jeans - Bathroom Laughter (not the video)</td>
                </tr>
                <tr class="record" id="-qzOOg4pxw8">
                    <td><img src="https://i.ytimg.com/vi/-qzOOg4pxw8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slow Club 'Giving Up On Love' - official video</td>
                </tr>
                <tr class="record" id="rfTru5_lWlU">
                    <td><img src="https://i.ytimg.com/vi/rfTru5_lWlU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Yo La Tengo - Full Performance (Live on KEXP)</td>
                </tr>
                <tr class="record" id="Hy1z1akMT9w">
                    <td><img src="https://i.ytimg.com/vi/Hy1z1akMT9w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Young Charlatans - She's Not The Chosen One</td>
                </tr>
                <tr class="record" id="e8ajpx03sKQ">
                    <td><img src="https://i.ytimg.com/vi/e8ajpx03sKQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deafear - Fear of Tears</td>
                </tr>
                <tr class="record" id="gPHaS3mzhYU">
                    <td><img src="https://i.ytimg.com/vi/gPHaS3mzhYU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tora! Tora! Torrance! - I Thought This Was A Punk Show</td>
                </tr>
                <tr class="record" id="lMQYDQNj8MI">
                    <td><img src="https://i.ytimg.com/vi/lMQYDQNj8MI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Tokeleys - Mausoleum</td>
                </tr>
                <tr class="record" id="njk3NyymAzo">
                    <td><img src="https://i.ytimg.com/vi/njk3NyymAzo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kaito Driving Manual Auto</td>
                </tr>
                <tr class="record" id="GzZSWh3u9_c">
                    <td><img src="https://i.ytimg.com/vi/GzZSWh3u9_c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Digital Leather 'Blackness'</td>
                </tr>
                <tr class="record" id="doyj11R8yxo">
                    <td><img src="https://i.ytimg.com/vi/doyj11R8yxo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Ex - Live in Moscow - 12 may 2011</td>
                </tr>
                <tr class="record" id="IpBVic-yJh8">
                    <td><img src="https://i.ytimg.com/vi/IpBVic-yJh8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">half string - lolligag (demo version)</td>
                </tr>
                <tr class="record" id="GW4uQPqmbqU">
                    <td><img src="https://i.ytimg.com/vi/GW4uQPqmbqU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PRESENT MOMENT - Cheap Thrills</td>
                </tr>
                <tr class="record" id="bKPZEBMul00">
                    <td><img src="https://i.ytimg.com/vi/bKPZEBMul00/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Happy Flowers - Jenny Tried To Kiss Me At Recess</td>
                </tr>
                <tr class="record" id="B7ZNC8h8Mmw">
                    <td><img src="https://i.ytimg.com/vi/B7ZNC8h8Mmw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dead Can Dance - The Protagonist</td>
                </tr>
                <tr class="record" id="psSqhcWLJDU">
                    <td><img src="https://i.ytimg.com/vi/psSqhcWLJDU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blessure Grave - Mirror</td>
                </tr>
                <tr class="record" id="Fpp_j6NJhVs">
                    <td><img src="https://i.ytimg.com/vi/Fpp_j6NJhVs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SIMPLE MINDS Chelsea Girl</td>
                </tr>
                <tr class="record" id="KvyiMaQK2Pk">
                    <td><img src="https://i.ytimg.com/vi/KvyiMaQK2Pk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Henry Rollins - 06 - A Man And A Woman</td>
                </tr>
                <tr class="record" id="XTWXX6_NHUA">
                    <td><img src="https://i.ytimg.com/vi/XTWXX6_NHUA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Drums - Book of Revelation</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/postpunk/">Post Punk</a> archive:
    <a href="/genre/postpunk/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/postpunk/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'postpunk';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>