<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Crystal X, Making It Big, Meg Myers, The Kills, V' Bel | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/0kVHiqEyyPE/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/womenrock/2016/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="0kVHiqEyyPE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0kVHiqEyyPE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Making It Big - Introducing Abbie</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/4bx6oy">Abbie Jolliffe - Attention Ho snippet (from her introduction on Making It Big)</a>
<br>
                        submitted <span class="muted">2016-03-25 16:30</span> by <a href="https://www.reddit.com/user/Irishboy_on_the_move">/u/Irishboy_on_the_move</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="498zUzNGQxY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/498zUzNGQxY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Kills - Doing It To Death (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/48z3m5">The Kills - Doing It To Death</a>
<br>
                        submitted <span class="muted">2016-03-04 20:21</span> by <a href="https://www.reddit.com/user/ShoelessHooligan">/u/ShoelessHooligan</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Xvh_0CuMMtM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Xvh_0CuMMtM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Meg Myers - Heart Heart Head [Music Video]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4bppr9">Heart Heart Head - Meg Myers. Actually RAW</a>
<br>
                        submitted <span class="muted">2016-03-24 02:01</span> by <a href="https://www.reddit.com/user/serena_blue6969">/u/serena_blue6969</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SC36_Za2So4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SC36_Za2So4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">V' Bel - Rage The Storm</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4a377j">When storm comes, we take no umbrella; we rage it. When trouble comes, we fight it like there will be no tomorrow. Have a listen: V' Bel - Rage The Storm.</a>
<br>
                        submitted <span class="muted">2016-03-12 09:02</span> by <a href="https://www.reddit.com/user/vapostrophebel">/u/vapostrophebel</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vH2tVgT1ym8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vH2tVgT1ym8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">CRYSTAL X - "Good Girl" Promo</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4brmwb">Crystal X - Good Girl [video]</a>
<br>
                        submitted <span class="muted">2016-03-24 13:55</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/womenrock/">Women Rock</a> archive:
    <a href="/genre/womenrock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/womenrock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/womenrock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/womenrock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/womenrock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/womenrock/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'womenrock';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>