<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Cracker, L7, She, Stone Temple Pilots, The Offspring | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/VrZ4sMRYimw/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/90salternative/2014/7/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="VrZ4sMRYimw">
                    <td><img src="https://i.ytimg.com/vi/VrZ4sMRYimw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Offspring - The Kids Aren't Alright</td>
                </tr>
                <tr class="record" id="PKLETNBTGx8">
                    <td><img src="https://i.ytimg.com/vi/PKLETNBTGx8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">L7 - Pretend We're Dead (Official Video)</td>
                </tr>
                <tr class="record" id="OnF0pkWD2Tc">
                    <td><img src="https://i.ytimg.com/vi/OnF0pkWD2Tc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">She - Green Day</td>
                </tr>
                <tr class="record" id="KocIL7w6m2I">
                    <td><img src="https://i.ytimg.com/vi/KocIL7w6m2I/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Stone Temple Pilots- Sour Girl</td>
                </tr>
                <tr class="record" id="gYdlqjiQPAc">
                    <td><img src="https://i.ytimg.com/vi/gYdlqjiQPAc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cracker - Low</td>
                </tr>
                <tr class="record" id="rmHDhAohJlQ">
                    <td><img src="https://i.ytimg.com/vi/rmHDhAohJlQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Prodigy - 'Breathe'</td>
                </tr>
                <tr class="record" id="953PkxFNiko">
                    <td><img src="https://i.ytimg.com/vi/953PkxFNiko/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Primus - My Name Is Mud</td>
                </tr>
                <tr class="record" id="bZgtMchcOy0">
                    <td><img src="https://i.ytimg.com/vi/bZgtMchcOy0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nirvana - Frances Farmer Will Have Her Revenge on Seattle [Lyrics]</td>
                </tr>
                <tr class="record" id="ly_xcbBSAxA">
                    <td><img src="https://i.ytimg.com/vi/ly_xcbBSAxA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">01 Stone Temple Pilots  Dead & Bloated</td>
                </tr>
                <tr class="record" id="zcC-cH-xfRk">
                    <td><img src="https://i.ytimg.com/vi/zcC-cH-xfRk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Weezer - The World Has Turned And Left Me Here</td>
                </tr>
                <tr class="record" id="0AXrBXzSFZ4">
                    <td><img src="https://i.ytimg.com/vi/0AXrBXzSFZ4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nirvana - Molly's Lips</td>
                </tr>
                <tr class="record" id="6Ejga4kJUts">
                    <td><img src="https://i.ytimg.com/vi/6Ejga4kJUts/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Cranberries - Zombie</td>
                </tr>
                <tr class="record" id="PHjpWo4edfw">
                    <td><img src="https://i.ytimg.com/vi/PHjpWo4edfw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Primus - Shake Hands With Beef</td>
                </tr>
                <tr class="record" id="CTKsywYMro8">
                    <td><img src="https://i.ytimg.com/vi/CTKsywYMro8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sonic Youth - My friend Goo</td>
                </tr>
                <tr class="record" id="hVg9GcUDArQ">
                    <td><img src="https://i.ytimg.com/vi/hVg9GcUDArQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Nurse Who Loved Me</td>
                </tr>
                <tr class="record" id="57kHFXElTVI">
                    <td><img src="https://i.ytimg.com/vi/57kHFXElTVI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PORNO FOR PYROS - Tahitian Moon (Video)</td>
                </tr>
                <tr class="record" id="QiZbDp1JOCM">
                    <td><img src="https://i.ytimg.com/vi/QiZbDp1JOCM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hum - Stars (music video) [HQ]</td>
                </tr>
                <tr class="record" id="Fx5bfLI5slU">
                    <td><img src="https://i.ytimg.com/vi/Fx5bfLI5slU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PLACEBO - Teenage Angst</td>
                </tr>
                <tr class="record" id="GyxoQIQaogE">
                    <td><img src="https://i.ytimg.com/vi/GyxoQIQaogE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nirvana - Scentless Apprentice [Lyrics]</td>
                </tr>
                <tr class="record" id="NUTGr5t3MoY">
                    <td><img src="https://i.ytimg.com/vi/NUTGr5t3MoY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Green Day - Basket Case [Official Music Video]</td>
                </tr>
                <tr class="record" id="it1aZBPuH4w">
                    <td><img src="https://i.ytimg.com/vi/it1aZBPuH4w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">No Doubt - Excuse Me Mr.</td>
                </tr>
                <tr class="record" id="C-Naa1HXeDQ">
                    <td><img src="https://i.ytimg.com/vi/C-Naa1HXeDQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Matchbox Twenty - 3AM [Official Video]</td>
                </tr>
                <tr class="record" id="r4OhIU-PmB8">
                    <td><img src="https://i.ytimg.com/vi/r4OhIU-PmB8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Primus - Tommy The Cat</td>
                </tr>
                <tr class="record" id="AYSbztCCTlA">
                    <td><img src="https://i.ytimg.com/vi/AYSbztCCTlA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Smashing Pumpkins - Thirty-Three</td>
                </tr>
                <tr class="record" id="H2NZhXoEu6o">
                    <td><img src="https://i.ytimg.com/vi/H2NZhXoEu6o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hole - Asking For it</td>
                </tr>
                <tr class="record" id="Yr_s6-Q7f00">
                    <td><img src="https://i.ytimg.com/vi/Yr_s6-Q7f00/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ben Folds Five - Army</td>
                </tr>
                <tr class="record" id="wsdy_rct6uo">
                    <td><img src="https://i.ytimg.com/vi/wsdy_rct6uo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Spin Doctors - Two Princes</td>
                </tr>
                <tr class="record" id="U8b88US-6ts">
                    <td><img src="https://i.ytimg.com/vi/U8b88US-6ts/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Faith No More - Midlife Crisis (Official Music Video)</td>
                </tr>
                <tr class="record" id="1ClCpfeIELw">
                    <td><img src="https://i.ytimg.com/vi/1ClCpfeIELw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deep Blue Something - Breakfast At Tiffany's</td>
                </tr>
                <tr class="record" id="O-YHU6BwPR0">
                    <td><img src="https://i.ytimg.com/vi/O-YHU6BwPR0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">R E M - Nightswimming</td>
                </tr>
                <tr class="record" id="zfRNZucoCyw">
                    <td><img src="https://i.ytimg.com/vi/zfRNZucoCyw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Geggy Tah - Whoever You Are</td>
                </tr>
                <tr class="record" id="RrxePKps87k">
                    <td><img src="https://i.ytimg.com/vi/RrxePKps87k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nick Cave & The Bad Seeds - Red Right Hand</td>
                </tr>
                <tr class="record" id="xsJ4O-nSveg">
                    <td><img src="https://i.ytimg.com/vi/xsJ4O-nSveg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Live - Lightning Crashes</td>
                </tr>
                <tr class="record" id="IlZlst4NBVw">
                    <td><img src="https://i.ytimg.com/vi/IlZlst4NBVw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Guided By Voices // Game of Pricks</td>
                </tr>
                <tr class="record" id="eKbk7BPXBa4">
                    <td><img src="https://i.ytimg.com/vi/eKbk7BPXBa4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Toadies - Tyler</td>
                </tr>
                <tr class="record" id="uxugaMpt1vU">
                    <td><img src="https://i.ytimg.com/vi/uxugaMpt1vU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Beck - The New Pollution</td>
                </tr>
                <tr class="record" id="Chr2Hg5qNl4">
                    <td><img src="https://i.ytimg.com/vi/Chr2Hg5qNl4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Pearl Jam- Nothingman (with Lyrics)</td>
                </tr>
                <tr class="record" id="WL1ly1GMwwc">
                    <td><img src="https://i.ytimg.com/vi/WL1ly1GMwwc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Elliott Smith : Waltz#2</td>
                </tr>
                <tr class="record" id="gthcClVkYAk">
                    <td><img src="https://i.ytimg.com/vi/gthcClVkYAk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Weezer - Mykel and Carli</td>
                </tr>
                <tr class="record" id="6FExyoAh6Ng">
                    <td><img src="https://i.ytimg.com/vi/6FExyoAh6Ng/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bush - Greedy Fly</td>
                </tr>
                <tr class="record" id="GNDt5IFecpo">
                    <td><img src="https://i.ytimg.com/vi/GNDt5IFecpo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Red Hot Chili Peppers - If You Have to Ask (Album Version)</td>
                </tr>
                <tr class="record" id="P-r2BARj6Oo">
                    <td><img src="https://i.ytimg.com/vi/P-r2BARj6Oo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Lemonheads - The Outdoor Type</td>
                </tr>
                <tr class="record" id="rBqZHPTCV58">
                    <td><img src="https://i.ytimg.com/vi/rBqZHPTCV58/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sugar - Hoover Dam (1992)</td>
                </tr>
                <tr class="record" id="dJhL3VOOatA">
                    <td><img src="https://i.ytimg.com/vi/dJhL3VOOatA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Marcy Playground - Sherry Fraser</td>
                </tr>
                <tr class="record" id="WAGsrMaQrVg">
                    <td><img src="https://i.ytimg.com/vi/WAGsrMaQrVg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Letter To Cleo - I want You To Want Me</td>
                </tr>
                <tr class="record" id="VNsVpL8TDLA">
                    <td><img src="https://i.ytimg.com/vi/VNsVpL8TDLA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Stabbing Westward - What Do I Have To Do?</td>
                </tr>
                <tr class="record" id="qGVzyby5kcU">
                    <td><img src="https://i.ytimg.com/vi/qGVzyby5kcU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lush - Hypocrite (Official Video)</td>
                </tr>
                <tr class="record" id="QrqVLh-LVeI">
                    <td><img src="https://i.ytimg.com/vi/QrqVLh-LVeI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Veruca Salt/Shimmer Like A Girl & 25 at The Independent San Francsico 26 June 2014</td>
                </tr>
                <tr class="record" id="HMj0ogLTweU">
                    <td><img src="https://i.ytimg.com/vi/HMj0ogLTweU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Beck - Nicotine & Gravy</td>
                </tr>
                <tr class="record" id="gjX2NtjKVck">
                    <td><img src="https://i.ytimg.com/vi/gjX2NtjKVck/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Frente! - What's Come Over Me</td>
                </tr>
                <tr class="record" id="_m0bI82Rz_k">
                    <td><img src="https://i.ytimg.com/vi/_m0bI82Rz_k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Collective Soul - Shine (Video)</td>
                </tr>
                <tr class="record" id="447o9LvWWc4">
                    <td><img src="https://i.ytimg.com/vi/447o9LvWWc4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">swans - will we survive</td>
                </tr>
                <tr class="record" id="NzUsNATPDB4">
                    <td><img src="https://i.ytimg.com/vi/NzUsNATPDB4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">7 Year Bitch - Miss Understood</td>
                </tr>
                <tr class="record" id="NoFMmNM9H70">
                    <td><img src="https://i.ytimg.com/vi/NoFMmNM9H70/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sublime - D.J.s</td>
                </tr>
                <tr class="record" id="Yn1WbBaWTdc">
                    <td><img src="https://i.ytimg.com/vi/Yn1WbBaWTdc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Blind Melon - Change</td>
                </tr>
                <tr class="record" id="MkN_qkN5JLQ">
                    <td><img src="https://i.ytimg.com/vi/MkN_qkN5JLQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sloan - Underwhelmed (Music Video)</td>
                </tr>
                <tr class="record" id="F2Bih5NYKVE">
                    <td><img src="https://i.ytimg.com/vi/F2Bih5NYKVE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cottonmouth - Throwing Muses  - Counting Backwards EP 1991</td>
                </tr>
                <tr class="record" id="TB1zPYKQCCY">
                    <td><img src="https://i.ytimg.com/vi/TB1zPYKQCCY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Live - Run To The Water</td>
                </tr>
                <tr class="record" id="hyERK55GlFc">
                    <td><img src="https://i.ytimg.com/vi/hyERK55GlFc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Curve - Fait Accompli</td>
                </tr>
                <tr class="record" id="eA5l1Xz14f4">
                    <td><img src="https://i.ytimg.com/vi/eA5l1Xz14f4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Elliott Smith - Twilight (Song + Lyrics)</td>
                </tr>
                <tr class="record" id="1lyu1KKwC74">
                    <td><img src="https://i.ytimg.com/vi/1lyu1KKwC74/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Verve - Bitter Sweet Symphony</td>
                </tr>
                <tr class="record" id="HixSmLYu_28">
                    <td><img src="https://i.ytimg.com/vi/HixSmLYu_28/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Henry's Dress [03] Sally Wants</td>
                </tr>
                <tr class="record" id="JUoVQ-kB7DQ">
                    <td><img src="https://i.ytimg.com/vi/JUoVQ-kB7DQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Oasis - Shakermaker (Official Video)</td>
                </tr>
                <tr class="record" id="IHtTz-J9JgU">
                    <td><img src="https://i.ytimg.com/vi/IHtTz-J9JgU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heres to the man- Sausage (FULL VERSION)</td>
                </tr>
                <tr class="record" id="bkivf7SUdiw">
                    <td><img src="https://i.ytimg.com/vi/bkivf7SUdiw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Flaiming Lips -You Have To Be Joking Autopsy O 08</td>
                </tr>
                <tr class="record" id="HpJotf2skSU">
                    <td><img src="https://i.ytimg.com/vi/HpJotf2skSU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Modest Mouse - Novocain Stain</td>
                </tr>
                <tr class="record" id="zIehnGiRqaI">
                    <td><img src="https://i.ytimg.com/vi/zIehnGiRqaI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Soul Asylum - New World</td>
                </tr>
                <tr class="record" id="ra9TYFbycfc">
                    <td><img src="https://i.ytimg.com/vi/ra9TYFbycfc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Econoline Crush - Home PV</td>
                </tr>
                <tr class="record" id="Cn-0x02bAGs">
                    <td><img src="https://i.ytimg.com/vi/Cn-0x02bAGs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Supergrass - Strange Ones</td>
                </tr>
                <tr class="record" id="T_owc6AfSOw">
                    <td><img src="https://i.ytimg.com/vi/T_owc6AfSOw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lemon Tree   Fool's garden</td>
                </tr>
                <tr class="record" id="-2w6yQPDFPM">
                    <td><img src="https://i.ytimg.com/vi/-2w6yQPDFPM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Deep Blue Something -  Dr. Crippen</td>
                </tr>
                <tr class="record" id="Db_2ER0yy6M">
                    <td><img src="https://i.ytimg.com/vi/Db_2ER0yy6M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">TELEVISION -  CALL MR LEE</td>
                </tr>
                <tr class="record" id="oFiKlH8me1c">
                    <td><img src="https://i.ytimg.com/vi/oFiKlH8me1c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Radial Spangle - Caf, 'fine</td>
                </tr>
                <tr class="record" id="BsEMJ8bZQh8">
                    <td><img src="https://i.ytimg.com/vi/BsEMJ8bZQh8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Everclear - World of Noise - Sick and Tired</td>
                </tr>
                <tr class="record" id="KYk72c5mu98">
                    <td><img src="https://i.ytimg.com/vi/KYk72c5mu98/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Madder Rose - Car Song</td>
                </tr>
                <tr class="record" id="NlOO_QPxTg4">
                    <td><img src="https://i.ytimg.com/vi/NlOO_QPxTg4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Henry's Dress - Winter '94</td>
                </tr>
                <tr class="record" id="gY1WyUIabCc">
                    <td><img src="https://i.ytimg.com/vi/gY1WyUIabCc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tears For Fears - Goodnight Song</td>
                </tr>
                <tr class="record" id="4fINpWTj-Bw">
                    <td><img src="https://i.ytimg.com/vi/4fINpWTj-Bw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lilys - A Nanny In Manhattan Promo</td>
                </tr>
                <tr class="record" id="k2kId1qiusQ">
                    <td><img src="https://i.ytimg.com/vi/k2kId1qiusQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Trash Can Sinatras - Earlies</td>
                </tr>
                <tr class="record" id="6tkY81YGB44">
                    <td><img src="https://i.ytimg.com/vi/6tkY81YGB44/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Moist - Tangerine</td>
                </tr>
                <tr class="record" id="wGezg4vgUN8">
                    <td><img src="https://i.ytimg.com/vi/wGezg4vgUN8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dispatch - "Railway" (Official Audio)</td>
                </tr>
                <tr class="record" id="Ja2ndcIzOsE">
                    <td><img src="https://i.ytimg.com/vi/Ja2ndcIzOsE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The go team - 935 patterson</td>
                </tr>
                <tr class="record" id="9UU_qZnUMi8">
                    <td><img src="https://i.ytimg.com/vi/9UU_qZnUMi8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">go team - treasure hunt</td>
                </tr>
                <tr class="record" id="okKiO3eBqgc">
                    <td><img src="https://i.ytimg.com/vi/okKiO3eBqgc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Gene Loves Jezebel - Any Anxious Color</td>
                </tr>
                <tr class="record" id="UzWHE32IxUc">
                    <td><img src="https://i.ytimg.com/vi/UzWHE32IxUc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lenny Kravitz - American Woman</td>
                </tr>
                <tr class="record" id="_aY89GQbLcc">
                    <td><img src="https://i.ytimg.com/vi/_aY89GQbLcc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Uncrushworthy - Courtney Love (Lois Maffeo + Pat Maley band)  *Audio*</td>
                </tr>
                <tr class="record" id="UIuOWv-mLP4">
                    <td><img src="https://i.ytimg.com/vi/UIuOWv-mLP4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Faith No More - Midlife Crisis (With Lyric Subtitles)</td>
                </tr>
                <tr class="record" id="Ni632sTHZWU">
                    <td><img src="https://i.ytimg.com/vi/Ni632sTHZWU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Weird Al's Alternative Polka</td>
                </tr>
                <tr class="record" id="X7bIYSVpYSU">
                    <td><img src="https://i.ytimg.com/vi/X7bIYSVpYSU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Radiohead - Idioteque  (From Kid A, track 8)</td>
                </tr>
                <tr class="record" id="yQOBUrRaPU0">
                    <td><img src="https://i.ytimg.com/vi/yQOBUrRaPU0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Goo Goo Dolls - "Name" [Official Video]</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/90salternative/">90s Alternative</a> archive:
    <a href="/genre/90salternative/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/90salternative/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = '90salternative';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>