<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">16, Clown, Deftones, Linkin Park, Spineshank | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/pmUTBDuUGz8/hqdefault.jpg">
    <link rel="canonical" href="https://punknrollnet.github.io/genre/numetal/2014/7/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="pmUTBDuUGz8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pmUTBDuUGz8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Linkin Park - One Step Closer (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/2a6ff5">Linkin Park - One Step Closer</a>
<br>
                        submitted <span class="muted">2014-07-08 21:01</span> by <a href="https://www.reddit.com/user/msphere2">/u/msphere2</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="fmMfzwB5d1s">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/fmMfzwB5d1s/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Deftones - "Swerve City" (Official Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">16</span> - <a href="https://www.reddit.com/2aos1r">Deftones - "Swerve City"</a>
<br>
                        submitted <span class="muted">2014-07-14 18:26</span> by <a href="https://www.reddit.com/user/WelisSat">/u/WelisSat</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uyqNx1oDLCs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uyqNx1oDLCs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">SoulFly- Pain HD</h2>
                    <p><strong>Score:</strong> <span class="rd-score">14</span> - <a href="https://www.reddit.com/2c4aam">Soulfly- "Pain" (Feat. Chino Moreno)</a>
<br>
                        submitted <span class="muted">2014-07-30 06:10</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="eeRaGG1W8zY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/eeRaGG1W8zY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Spineshank The Height of Callousness</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/2c5yel">Spineshank - The Height Of Callousness</a>
<br>
                        submitted <span class="muted">2014-07-30 18:44</span> by <a href="https://www.reddit.com/user/howardcjones">/u/howardcjones</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="_c9NL2psyYQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_c9NL2psyYQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">16 - Know Forever - Mudvayne (HD)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/2akdzc">Mudvayne - (k)now F(orever) [7:06]</a>
<br>
                        submitted <span class="muted">2014-07-13 05:33</span> by <a href="https://www.reddit.com/user/Anarchistnation">/u/Anarchistnation</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="xK2FkhnA6f0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/xK2FkhnA6f0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Last Ten Seconds of Life - Break Stuff Ft. Ron Gilbert From Float Face Down (limp bizkit cover)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/2am3ii">Do you guys like covers? The Last 10 Seconds Of Life - Break Stuff (Limp Bizkit cover)</a>
<br>
                        submitted <span class="muted">2014-07-13 21:49</span> by <a href="https://www.reddit.com/user/woizard">/u/woizard</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-4rAmGEojOw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-4rAmGEojOw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Spineshank - Full Circle</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/2bdg77">Spineshank - Full Circle</a>
<br>
                        submitted <span class="muted">2014-07-22 06:40</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="fwD1ESkrQ3s">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/fwD1ESkrQ3s/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">All Your Ugly</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/29t2sj">Clown - All Your Ugly [Lesser Known Nu Metal]</a>
<br>
                        submitted <span class="muted">2014-07-04 06:09</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="iF5FhoNlg6w">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/iF5FhoNlg6w/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">EBofficial | Emil Bulls - Leaving You With This</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/29v0uf">Emil Bulls - Leaving You With This [German Nu Metal]</a>
<br>
                        submitted <span class="muted">2014-07-04 23:03</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="LFm8XPLwxxo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/LFm8XPLwxxo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">20 Dead Flower Children - Dyna Drone</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/29y2kq">20 Dead Flower Children - Dyna Drone [Underground Nu Metal]</a>
<br>
                        submitted <span class="muted">2014-07-06 04:09</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uEIznlQfEPo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uEIznlQfEPo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Mudbox - Face In The Crowd</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/2bwzcz">Mudbox - Face In The Crowd [Underground Nu Metal]</a>
<br>
                        submitted <span class="muted">2014-07-28 04:09</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="TRsXzPvBIqQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/TRsXzPvBIqQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Adrenachrome - Blame Me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/29woov">Adrenachrome - Blame Me [Underground Nu Metal]</a>
<br>
                        submitted <span class="muted">2014-07-05 17:05</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NwpLLxr2F0I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NwpLLxr2F0I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Seo Tai-ji - Internet wars(M/V), 서태지 - 인터넷 전쟁(뮤비), Music Camp 20001209</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/2an6ym">Seo Taiji - Internet War</a>
<br>
                        submitted <span class="muted">2014-07-14 05:29</span> by <a href="https://www.reddit.com/user/neoGeneva">/u/neoGeneva</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NK4okTCLozw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NK4okTCLozw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">[Nu Metal] Fear The Masses- Protector</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/2aafk9">Fear The Masses- Protector [Fans of Skindred would love this]</a>
<br>
                        submitted <span class="muted">2014-07-10 00:33</span> by <a href="https://www.reddit.com/user/the_7_maskims">/u/the_7_maskims</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WQvqG-DI0XQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WQvqG-DI0XQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Method 51 - Marked</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/29y2p8">Method 51 - Marked [Underground Nu Metal]</a>
<br>
                        submitted <span class="muted">2014-07-06 04:11</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zLBldGfQPJU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zLBldGfQPJU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Over-Reactor | The Gangbangers</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/2a13o1">Over-reactor - The Gangbangers [3:34]</a>
<br>
                        submitted <span class="muted">2014-07-07 06:53</span> by <a href="https://www.reddit.com/user/Jurrahcane">/u/Jurrahcane</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KJZuEuSxGIc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KJZuEuSxGIc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hate Grenade - Reload (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/2auz9s">Hate Grenade - Reload</a>
<br>
                        submitted <span class="muted">2014-07-16 14:28</span> by <a href="https://www.reddit.com/user/nssone">/u/nssone</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SFjue6nZnmQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SFjue6nZnmQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sinisstar Electric</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/2c5qse">Sinisstar - Electric [How were these guys so overlooked?]</a>
<br>
                        submitted <span class="muted">2014-07-30 17:41</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jt4H824qcQw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jt4H824qcQw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Djerv - Headstone [Official Video]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/29t3o3">Djerv - Headstone</a>
<br>
                        submitted <span class="muted">2014-07-04 06:23</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="T0JO6ce3dnk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/T0JO6ce3dnk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Psycore - You Made A Monster</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/29za3s">Psycore - You Made A Monster</a>
<br>
                        submitted <span class="muted">2014-07-06 17:30</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IBD3Gg8xupw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IBD3Gg8xupw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">V Shape Mind - Gravity</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/29za8u">V Shape Mind - Gravity</a>
<br>
                        submitted <span class="muted">2014-07-06 17:31</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="P6Iz5HCprkk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/P6Iz5HCprkk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Full Devil Jacket - Green Iron Fist</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/2c5qwi">Full Devil Jacket - Green Iron Fist</a>
<br>
                        submitted <span class="muted">2014-07-30 17:42</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JISRXPEX5PE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JISRXPEX5PE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Korn - No One's There</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/2a0teu">Korn - No One's There</a>
<br>
                        submitted <span class="muted">2014-07-07 04:17</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dzL8rdkzPv4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dzL8rdkzPv4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Zeromind - Face Down</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/2a2ntd">Zeromind - Face Down [Rap Metal]</a>
<br>
                        submitted <span class="muted">2014-07-07 19:12</span> by <a href="https://www.reddit.com/user/DetoxCom">/u/DetoxCom</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="M32mOJYR3VM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/M32mOJYR3VM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">KoRn - Make Me Bad Live Rock Am Ring 2000</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/2a3y8i">Korn - Make Me Bad (Live)</a>
<br>
                        submitted <span class="muted">2014-07-08 02:46</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QWi-YMmUHL0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QWi-YMmUHL0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Korn- My Gift To You</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/2a4tr8">Korn - My Gift To You</a>
<br>
                        submitted <span class="muted">2014-07-08 10:55</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="4EhhtuYfJnY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/4EhhtuYfJnY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Charming Timur - Falling Down (Official Music Video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/2arhh4">Charming Timur Music Video</a>
<br>
                        submitted <span class="muted">2014-07-15 14:09</span> by <a href="https://www.reddit.com/user/CharmingTimur">/u/CharmingTimur</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/numetal/">Nu Metal</a> archive:
    <a href="/genre/numetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/numetal/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://www.teepublic.com/stores/punknroll">Punk'n'Roll Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = 'numetal';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>