<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Angry Samoans, Hüsker Dü, No Trend, Ptl Klub, Sorry | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/_igsAuZNJHM/hqdefault.jpg">
    <link rel="canonical" href="https://punknrollnet.github.io/genre/80shardcorepunk/2014/1/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="_igsAuZNJHM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/_igsAuZNJHM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Angry Samoans - Back From Samoa ( Full Album )</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/1wer9h">Angry Samoans - Back From Samoa ( 1982 -Full Album )</a>
<br>
                        submitted <span class="muted">2014-01-28 22:30</span> by <a href="https://www.reddit.com/user/datavistic">/u/datavistic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NgqAPstUoVs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NgqAPstUoVs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hüsker Dü - Blah Blah Blah</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/1w6iu4">Hüsker Dü - Blah Blah Blah (1982)</a>
<br>
                        submitted <span class="muted">2014-01-26 07:50</span> by <a href="https://www.reddit.com/user/sleepwhatsthat">/u/sleepwhatsthat</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="1g778pbgesI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/1g778pbgesI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">No Trend - Teen Love</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/1ukcq7">No Trend - Teen Love (1983)</a>
<br>
                        submitted <span class="muted">2014-01-06 20:46</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="cxIETBNaft4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/cxIETBNaft4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sorry - My Word</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/1umr4x">Sorry - My Word (from the album Imaginary Friend, 1984)</a>
<br>
                        submitted <span class="muted">2014-01-07 16:28</span> by <a href="https://www.reddit.com/user/datavistic">/u/datavistic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tvIXTGlmYyE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tvIXTGlmYyE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">No Trend ~ Teen Love 7" (Full Album)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/1uu63f">No Trend - Teen Love 7" (1983)</a>
<br>
                        submitted <span class="muted">2014-01-09 23:29</span> by <a href="https://www.reddit.com/user/idiot_guy">/u/idiot_guy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ixOn4welRhE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ixOn4welRhE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">PTL Klub - What's Wrong</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/1vayc9">PTL Klub - What's Wrong</a>
<br>
                        submitted <span class="muted">2014-01-15 21:03</span> by <a href="https://www.reddit.com/user/datavistic">/u/datavistic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bsDOBOa9E4w">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bsDOBOa9E4w/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">CONTROPOTERE - demoni e dei</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/1vmopu">Contropotere - Demoni e dei (1988)</a>
<br>
                        submitted <span class="muted">2014-01-20 00:03</span> by <a href="https://www.reddit.com/user/idiot_guy">/u/idiot_guy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tOgt-7BoDyA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tOgt-7BoDyA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Verbal Assault - Trial</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/1vyqb4">Verbal Assault - Trial (1987)</a>
<br>
                        submitted <span class="muted">2014-01-23 19:21</span> by <a href="https://www.reddit.com/user/datavistic">/u/datavistic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="4UcPE9v3NTs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/4UcPE9v3NTs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Puke - Back To The 30's</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/1v4bv5">Puke - Back To The 30's (1985) -- 5 song EP</a>
<br>
                        submitted <span class="muted">2014-01-13 17:42</span> by <a href="https://www.reddit.com/user/datavistic">/u/datavistic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="c1jHpBvwDow">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/c1jHpBvwDow/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Mink Capital Terror-Drugs And Pornography</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/1uga09">Mink Capital Terror - Drugs &amp; Pornography (1988)</a>
<br>
                        submitted <span class="muted">2014-01-05 09:28</span> by <a href="https://www.reddit.com/user/sleepwhatsthat">/u/sleepwhatsthat</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="DPQtOdwy4Lw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DPQtOdwy4Lw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">DIE KREUZEN - live on public access TV 1983</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/1uq6nq">DIE KREUZEN - live on public access TV 1983</a>
<br>
                        submitted <span class="muted">2014-01-08 18:21</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="GAnh8uJ2rkA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/GAnh8uJ2rkA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">B.G.K. - Jonestown Aloha (FULL ALBUM)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/1vcpa8">B.G.K. - Jonestown Aloha LP (1983)</a>
<br>
                        submitted <span class="muted">2014-01-16 10:03</span> by <a href="https://www.reddit.com/user/sleepwhatsthat">/u/sleepwhatsthat</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NgM-Ec2UPoQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NgM-Ec2UPoQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">PAP SMEAR DEMOS (JEFF HANNEMAN'S PUNK SIDE PROJECT)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/1uke4y">Pap Smear - Demo (1986)</a>
<br>
                        submitted <span class="muted">2014-01-06 21:00</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="b4CMJwwZrkY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/b4CMJwwZrkY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Braille Party - let it burn</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/1ukgro">Braille Party - Let It Burn (1985)</a>
<br>
                        submitted <span class="muted">2014-01-06 21:27</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="pEp-knPcSqk">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/pEp-knPcSqk/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">ONE WAY SYSTEM - no return</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/1weopu">One Way System - No Return (1983)</a>
<br>
                        submitted <span class="muted">2014-01-28 22:07</span> by <a href="https://www.reddit.com/user/datavistic">/u/datavistic</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="48BvSgcNsEg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/48BvSgcNsEg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">White Cross - Fascist</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/1uauhr">White Cross - Fascist (1982 )</a>
<br>
                        submitted <span class="muted">2014-01-03 08:59</span> by <a href="https://www.reddit.com/user/sleepwhatsthat">/u/sleepwhatsthat</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FO51kPJUs44">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FO51kPJUs44/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">GUT INSTINCT baltymora old school "Rat Bastards"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/1uki5z">Gut Instinct - Rat Bastard (1989)</a>
<br>
                        submitted <span class="muted">2014-01-06 21:40</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FJGYmcXOcR0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FJGYmcXOcR0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dissent-Shut My Eyes</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/1uscoi">Dissent - Shut My Eyes (1988)</a>
<br>
                        submitted <span class="muted">2014-01-09 09:38</span> by <a href="https://www.reddit.com/user/sleepwhatsthat">/u/sleepwhatsthat</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="FG1NrQYXjLU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/FG1NrQYXjLU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Billy Idol - Dancing With Myself</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/1vjh0e">Billy Idol Dancing With Myself 1980 Listen to this</a>
<br>
                        submitted <span class="muted">2014-01-18 19:31</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/80shardcorepunk/">80s Hardcore Punk</a> archive:
    <a href="/genre/80shardcorepunk/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/80shardcorepunk/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/80shardcorepunk/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/80shardcorepunk/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.26/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script>
var genre = '80shardcorepunk';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>