<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Black Sabbath, Crimson Glory, Diamond Head, Pagan Altar, Satan | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/pHgLJ99r5l4/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/classicmetal/2013/8/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="pHgLJ99r5l4">Crimson Glory - Painted Skies</li>
            <li class="record" id="oO6uBQJ35N0">Black Sabbath - The Mob Rules [studio version w/ intro]</li>
            <li class="record" id="ipJDHL-QkgU">Satan - Avalanche Of A Million Hearts (Lyrics)</li>
            <li class="record" id="vpavSXoAPC0">Diamond Head - The Prince</li>
            <li class="record" id="qSpWRtln1zU">Pagan Altar - Judgement of the Dead(1982)</li>
            <li class="record" id="zVPD9HHwyhE">Tank - Turn Your Head Around (HQ audio)</li>
            <li class="record" id="n4CSG5EXQbA">Dokken - Breaking the Chains</li>
            <li class="record" id="ODtIbv_oN2k">King Diamond - At The Graves (with lyrics) - HD</li>
            <li class="record" id="BT1ircqQklo">Triumph - Fight The Good Fight</li>
            <li class="record" id="TYrW3yONR44">Rainbow - Light in the black</li>
            <li class="record" id="RFtcOcX99Jc">tysondog - hammerhead</li>
            <li class="record" id="whsX6ftHYDo">Iron Maiden - Juanita HQ (The Best Quality)</li>
            <li class="record" id="kFyEjUXGE2I">Gun - Race With The Devil (Album Version) - HD</li>
            <li class="record" id="6B-2HXf4SkQ">Riot - Bloodstreets</li>
            <li class="record" id="Lm5MVYtC8S0">Sortilège - Amazone</li>
            <li class="record" id="v5NCBaPE3k0">Sanctuary - Future Tense</li>
            <li class="record" id="kyXz6eMCj2k">Nazareth - Hair of the Dog</li>
            <li class="record" id="yRxHTSU79qI">Sorcery - Immortality Given</li>
            <li class="record" id="VZ-6jyXPJOM">Sacrifice - 02 Soldiers Of Misfortune</li>
            <li class="record" id="_UWM_j6aYK0">DEMOLITION HAMMER - Hydrophobia</li>
            <li class="record" id="W9_cbW16dUE">Powermad-The Madness Begins-Terminator</li>
            <li class="record" id="bE_bihb_vC8">Nasty Savage - 08 The Morgue</li>
            <li class="record" id="tcemZF2f76Q">Unleashed - The Utter Dark Revenge</li>
            <li class="record" id="d8o3oAt9Db8">Amorphis - Black Winter Day</li>
            <li class="record" id="10J-qJD69Mo">NIFELHEIM - Black Curse</li>
            <li class="record" id="J2kHNTstth8">Törr - Armageddon</li>
            <li class="record" id="HIcnORVWjHs">Metal Ed.: Dark Heart - Don't Break The Circle</li>
            <li class="record" id="swtW0HMYXbc">ORIGINAL SIN - Conjuration Of The Watcher</li>
            <li class="record" id="Hli3LPGKc18">Absu- The Sun Of Tiphareth</li>
            <li class="record" id="9LvX4yzTIbk">Savage - Cry Wolf</li>
            <li class="record" id="T0HN7TC4Xak">Dragonfly (UK) - 03 - Spacebound</li>
            <li class="record" id="Oc88DU8dzQg">Chastain - Voice of the cult</li>
            <li class="record" id="9MZfNOUji-I">Metal Church-Fake Healer</li>
            <li class="record" id="fbVxLW_lW4w">Pluto - Down and Out (1971)</li>
            <li class="record" id="ISFx8RUo8LI">Arkangel - Zombie (1982)</li>
    </ol>
</div>

<div class="container">
<a href="/genre/classicmetal/">Classic Metal</a> archive:
    <a href="/genre/classicmetal/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/classicmetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5/dist/vue-resource.min.js"></script>
<script>
var genre = 'classicmetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>