<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Be'Lakor, Dark Tranquillity, Eluveitie, Insomnium, Scar Symmetry | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/SZMWKCgvaDY/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/melodicdeathmetal/2017/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="SZMWKCgvaDY">
                    <td><img src="https://i.ytimg.com/vi/SZMWKCgvaDY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">INSOMNIUM - One For Sorrow (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="hoBsLPWo0M0">
                    <td><img src="https://i.ytimg.com/vi/hoBsLPWo0M0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Scar Symmetry - The Illusionist</td>
                </tr>
                <tr class="record" id="iXthg-3m3E0">
                    <td><img src="https://i.ytimg.com/vi/iXthg-3m3E0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">BE'LAKOR - Roots To Sever (Audio) | Napalm Records</td>
                </tr>
                <tr class="record" id="iijKLHCQw5o">
                    <td><img src="https://i.ytimg.com/vi/iijKLHCQw5o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ELUVEITIE - Inis Mona (OFFICIAL MUSIC VIDEO)</td>
                </tr>
                <tr class="record" id="Nkhv1MUV9yQ">
                    <td><img src="https://i.ytimg.com/vi/Nkhv1MUV9yQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DARK TRANQUILLITY - Final Resistance [LIVE IN MILAN] (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="RGSdSpcqv-Q">
                    <td><img src="https://i.ytimg.com/vi/RGSdSpcqv-Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SHYLMAGOGHNAR - As All Must Come to Pass Vocal and Guitar (Teaser) | Napalm Records</td>
                </tr>
                <tr class="record" id="FacMCI6YE0s">
                    <td><img src="https://i.ytimg.com/vi/FacMCI6YE0s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Soilwork - Enter Dog of Pavlov + Lyrics</td>
                </tr>
                <tr class="record" id="Ik6yluvHzOs">
                    <td><img src="https://i.ytimg.com/vi/Ik6yluvHzOs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Omnium Gatherum -The Great Liberation</td>
                </tr>
                <tr class="record" id="SqcxCQPa1YA">
                    <td><img src="https://i.ytimg.com/vi/SqcxCQPa1YA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Flames - Morphing Into Primal (HQ)</td>
                </tr>
                <tr class="record" id="1iie7LbVVxU">
                    <td><img src="https://i.ytimg.com/vi/1iie7LbVVxU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Amon Amarth - Asator lyrics/letra</td>
                </tr>
                <tr class="record" id="hgMScBVtp7w">
                    <td><img src="https://i.ytimg.com/vi/hgMScBVtp7w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Shade Empire - Ash Statues</td>
                </tr>
                <tr class="record" id="XWlw4mcBsfU">
                    <td><img src="https://i.ytimg.com/vi/XWlw4mcBsfU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sybreed - Decoy</td>
                </tr>
                <tr class="record" id="Fvrllx0xDPU">
                    <td><img src="https://i.ytimg.com/vi/Fvrllx0xDPU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wintersun - Live at Nummirock 2017 FULL 4k</td>
                </tr>
                <tr class="record" id="s4DCBxgwLJ8">
                    <td><img src="https://i.ytimg.com/vi/s4DCBxgwLJ8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Heaven Shall Burn-Forlorn Skies</td>
                </tr>
                <tr class="record" id="9VG_KkELmlE">
                    <td><img src="https://i.ytimg.com/vi/9VG_KkELmlE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Slumber - Distress (lyrics)</td>
                </tr>
                <tr class="record" id="VrFT84FIxBU">
                    <td><img src="https://i.ytimg.com/vi/VrFT84FIxBU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fractal Gates - Timeless (feat. Sotiris - Septic Flesh)</td>
                </tr>
                <tr class="record" id="ATedj1ItciE">
                    <td><img src="https://i.ytimg.com/vi/ATedj1ItciE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Æther Realm - Death</td>
                </tr>
                <tr class="record" id="sn9ax0QFUjI">
                    <td><img src="https://i.ytimg.com/vi/sn9ax0QFUjI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Countless Skies - Solace</td>
                </tr>
                <tr class="record" id="4kJLB-JN6qw">
                    <td><img src="https://i.ytimg.com/vi/4kJLB-JN6qw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dark Tranquillity   Ego Drama</td>
                </tr>
                <tr class="record" id="Gj3I-krE68w">
                    <td><img src="https://i.ytimg.com/vi/Gj3I-krE68w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HAVAMAL - Jotun War</td>
                </tr>
                <tr class="record" id="pa5FSECbB80">
                    <td><img src="https://i.ytimg.com/vi/pa5FSECbB80/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Vain - To the Core</td>
                </tr>
                <tr class="record" id="x84d1yx1ru8">
                    <td><img src="https://i.ytimg.com/vi/x84d1yx1ru8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Skyfire - Misery's Supremacy</td>
                </tr>
                <tr class="record" id="EjINfktVHq0">
                    <td><img src="https://i.ytimg.com/vi/EjINfktVHq0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nightrage-Spiral</td>
                </tr>
                <tr class="record" id="oaev0S-JfWw">
                    <td><img src="https://i.ytimg.com/vi/oaev0S-JfWw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Evocation "Children of Stone" (OFFICIAL)</td>
                </tr>
                <tr class="record" id="99dsIMoVqng">
                    <td><img src="https://i.ytimg.com/vi/99dsIMoVqng/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Primalfrost - Distant Cries of War (NEW SONG 2013)</td>
                </tr>
                <tr class="record" id="ctYY3tDIgXc">
                    <td><img src="https://i.ytimg.com/vi/ctYY3tDIgXc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Abyssphere - Двери (HQ) 2017</td>
                </tr>
                <tr class="record" id="SQye-TXtw2w">
                    <td><img src="https://i.ytimg.com/vi/SQye-TXtw2w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THE HAUNTED - Brute Force (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="eimRwSbq2bk">
                    <td><img src="https://i.ytimg.com/vi/eimRwSbq2bk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">lykathea aflame - bringer of elvenefris flame</td>
                </tr>
                <tr class="record" id="LU8yNicF5DY">
                    <td><img src="https://i.ytimg.com/vi/LU8yNicF5DY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Shadow Of Intent - The Prophet's Beckoning (Feat. Tom Barber)</td>
                </tr>
                <tr class="record" id="B4Vd2lADsok">
                    <td><img src="https://i.ytimg.com/vi/B4Vd2lADsok/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Reverence - The Selected Breed (FULL ALBUM STREAM)</td>
                </tr>
                <tr class="record" id="6Jmjgxz-56g">
                    <td><img src="https://i.ytimg.com/vi/6Jmjgxz-56g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Flames - Insipid 2000</td>
                </tr>
                <tr class="record" id="gY-uSsJyXUs">
                    <td><img src="https://i.ytimg.com/vi/gY-uSsJyXUs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Withering Reign - Lethal Fate</td>
                </tr>
                <tr class="record" id="0xM_ynFwp3c">
                    <td><img src="https://i.ytimg.com/vi/0xM_ynFwp3c/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cipher System - Central Tunnel Eight</td>
                </tr>
                <tr class="record" id="iLqSvWmZ4y8">
                    <td><img src="https://i.ytimg.com/vi/iLqSvWmZ4y8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SYMPULS-E - "Silver Wings" [OFFICIAL TRACK]</td>
                </tr>
                <tr class="record" id="8uicPhhm7bs">
                    <td><img src="https://i.ytimg.com/vi/8uicPhhm7bs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">New Melodic Death Metal song 2017 | Hitwood - My Path to Nowhere (feat. Carlos Timaure)</td>
                </tr>
                <tr class="record" id="n2h5eBZBMwg">
                    <td><img src="https://i.ytimg.com/vi/n2h5eBZBMwg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Barren Earth - The Ritual of Dawn</td>
                </tr>
                <tr class="record" id="8rKZ39LxVkk">
                    <td><img src="https://i.ytimg.com/vi/8rKZ39LxVkk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fragments</td>
                </tr>
                <tr class="record" id="9584At62mHk">
                    <td><img src="https://i.ytimg.com/vi/9584At62mHk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Witheria - Paradox of Hope</td>
                </tr>
                <tr class="record" id="mQaMh7WO-80">
                    <td><img src="https://i.ytimg.com/vi/mQaMh7WO-80/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ravenous - Arch Enemy</td>
                </tr>
                <tr class="record" id="zgj0jCgxauQ">
                    <td><img src="https://i.ytimg.com/vi/zgj0jCgxauQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tomb of Finland - Death of the sun (New vocals)</td>
                </tr>
                <tr class="record" id="7mMqekKd6ME">
                    <td><img src="https://i.ytimg.com/vi/7mMqekKd6ME/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Flames - Episode 666 live (good quality)</td>
                </tr>
                <tr class="record" id="j-ljVovSqqA">
                    <td><img src="https://i.ytimg.com/vi/j-ljVovSqqA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">EZERATH - Overture: The Heir Apparent (FULL ALBUM STREAM)</td>
                </tr>
                <tr class="record" id="bbK0HnyYxdg">
                    <td><img src="https://i.ytimg.com/vi/bbK0HnyYxdg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">THE INTERBEING - Among the Amorphous (2017) Full Album</td>
                </tr>
                <tr class="record" id="2m9rGdDHg5E">
                    <td><img src="https://i.ytimg.com/vi/2m9rGdDHg5E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">NOCTURA - Als Dornröschen Mich Betrog OFFICIAL VIDEO</td>
                </tr>
                <tr class="record" id="LVq0kryGvrA">
                    <td><img src="https://i.ytimg.com/vi/LVq0kryGvrA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In Flames - World Of Promises - Clayman (HQ)</td>
                </tr>
                <tr class="record" id="0_uQgaaQTdQ">
                    <td><img src="https://i.ytimg.com/vi/0_uQgaaQTdQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Karybdis - Summon the Tides</td>
                </tr>
                <tr class="record" id="Av-t46SGPQM">
                    <td><img src="https://i.ytimg.com/vi/Av-t46SGPQM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CROWORD - The Mountain (Official Music Video)</td>
                </tr>
                <tr class="record" id="Ucp3ZI4CiRU">
                    <td><img src="https://i.ytimg.com/vi/Ucp3ZI4CiRU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lethargy</td>
                </tr>
                <tr class="record" id="W3T4f5CiRdU">
                    <td><img src="https://i.ytimg.com/vi/W3T4f5CiRdU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Malphas - The Conjuring</td>
                </tr>
                <tr class="record" id="YuVed39-p_A">
                    <td><img src="https://i.ytimg.com/vi/YuVed39-p_A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Hallatar: Mirrors (Official Music Video)</td>
                </tr>
                <tr class="record" id="KNKE3sLt5yk">
                    <td><img src="https://i.ytimg.com/vi/KNKE3sLt5yk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Devastating Enemy - At the Edge (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="TGga6jADrNs">
                    <td><img src="https://i.ytimg.com/vi/TGga6jADrNs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sins Of Spira - Bloodbent</td>
                </tr>
                <tr class="record" id="CW0jnVOdOKM">
                    <td><img src="https://i.ytimg.com/vi/CW0jnVOdOKM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Oculus - Names Without Faces (Official Lyric Video)</td>
                </tr>
                <tr class="record" id="3mTusIFhDLo">
                    <td><img src="https://i.ytimg.com/vi/3mTusIFhDLo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Virus of Ideals - For All My Earthly Days (Official Lyric Video)</td>
                </tr>
                <tr class="record" id="-MJY_qYwRYc">
                    <td><img src="https://i.ytimg.com/vi/-MJY_qYwRYc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Orpheus Omega - ResIllusion [HD]</td>
                </tr>
                <tr class="record" id="PF1JT2gP_K8">
                    <td><img src="https://i.ytimg.com/vi/PF1JT2gP_K8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Warbell - Distanced Music Video | MELODIC DEATH METAL</td>
                </tr>
                <tr class="record" id="Nm1ISORAltM">
                    <td><img src="https://i.ytimg.com/vi/Nm1ISORAltM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">In My Embrace - Black Waters Deep</td>
                </tr>
                <tr class="record" id="KVw55N9Nf68">
                    <td><img src="https://i.ytimg.com/vi/KVw55N9Nf68/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Red Moon Architect - Return of the Black Butterflies</td>
                </tr>
                <tr class="record" id="a5z-AOdCAx8">
                    <td><img src="https://i.ytimg.com/vi/a5z-AOdCAx8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">CHTHONIC - Defenders of Bú-Tik Palace -Official Video | 閃靈 [暮沉武德殿] MV</td>
                </tr>
                <tr class="record" id="NwosrhvxfLA">
                    <td><img src="https://i.ytimg.com/vi/NwosrhvxfLA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Evadne - Scars that Bleed Again</td>
                </tr>
                <tr class="record" id="PWxzu0ZAZxA">
                    <td><img src="https://i.ytimg.com/vi/PWxzu0ZAZxA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Empirine - The Revenant | Music Video</td>
                </tr>
                <tr class="record" id="P6XnTNgjidU">
                    <td><img src="https://i.ytimg.com/vi/P6XnTNgjidU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Spherical Obscenity - The Kings and the Rest (music video)</td>
                </tr>
                <tr class="record" id="AqMoT0dtW90">
                    <td><img src="https://i.ytimg.com/vi/AqMoT0dtW90/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Into Eternity - Fukushima (new single 2012)</td>
                </tr>
                <tr class="record" id="HXwZT9wD8CA">
                    <td><img src="https://i.ytimg.com/vi/HXwZT9wD8CA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">WINTERHORDE - Worms of Soul (Official video)</td>
                </tr>
                <tr class="record" id="G68RRV8w46E">
                    <td><img src="https://i.ytimg.com/vi/G68RRV8w46E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Voice Of Ruin - All Hail The King [HD]</td>
                </tr>
                <tr class="record" id="ACUVlpuP36A">
                    <td><img src="https://i.ytimg.com/vi/ACUVlpuP36A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Among the Torrent - "Smoke and Mirrors" (PRE-ORDER PROMO)</td>
                </tr>
                <tr class="record" id="KEdN7yltTeY">
                    <td><img src="https://i.ytimg.com/vi/KEdN7yltTeY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">VALLENFYRE – The Merciless Tide (Official Video)</td>
                </tr>
                <tr class="record" id="BcA6PloeFCE">
                    <td><img src="https://i.ytimg.com/vi/BcA6PloeFCE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Aether Realm - Tarot (Full Album) (2017)</td>
                </tr>
                <tr class="record" id="Ci5C45H-EnY">
                    <td><img src="https://i.ytimg.com/vi/Ci5C45H-EnY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Breach the Void - Falling (HQ)</td>
                </tr>
                <tr class="record" id="6yKCV3dWPQw">
                    <td><img src="https://i.ytimg.com/vi/6yKCV3dWPQw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Be'lakor - Held In Hollows</td>
                </tr>
                <tr class="record" id="vsXT177JqSM">
                    <td><img src="https://i.ytimg.com/vi/vsXT177JqSM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Violated - The Complexity</td>
                </tr>
                <tr class="record" id="gNPM2EpJYIk">
                    <td><img src="https://i.ytimg.com/vi/gNPM2EpJYIk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Exgenesis - Futile Horizon</td>
                </tr>
                <tr class="record" id="REfg3XDWxlU">
                    <td><img src="https://i.ytimg.com/vi/REfg3XDWxlU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Carach Angren - Charles Francis Coghlan (official video)</td>
                </tr>
                <tr class="record" id="zHnlVhlymJs">
                    <td><img src="https://i.ytimg.com/vi/zHnlVhlymJs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ethereal Frost of the Darkness</td>
                </tr>
                <tr class="record" id="gHFjQznssoY">
                    <td><img src="https://i.ytimg.com/vi/gHFjQznssoY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">IN FLAMES - Save me (OFFICIAL VIDEO)</td>
                </tr>
                <tr class="record" id="JhaAGhdtPOc">
                    <td><img src="https://i.ytimg.com/vi/JhaAGhdtPOc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sonic Syndicate - Crystalize 「New Song」</td>
                </tr>
                <tr class="record" id="i3wmULaC05s">
                    <td><img src="https://i.ytimg.com/vi/i3wmULaC05s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Withermoth - Delusion of Divinity [Free Single]</td>
                </tr>
                <tr class="record" id="OH7WwylwqwM">
                    <td><img src="https://i.ytimg.com/vi/OH7WwylwqwM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kingdom Hearts: Eggplant Edition</td>
                </tr>
                <tr class="record" id="V4aCGmPTNbY">
                    <td><img src="https://i.ytimg.com/vi/V4aCGmPTNbY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">SPETH - IN VAIN</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/melodicdeathmetal/">Melodic Death Metal</a> archive:
    <a href="/genre/melodicdeathmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/melodicdeathmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/melodicdeathmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/melodicdeathmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/melodicdeathmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/melodicdeathmetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/melodicdeathmetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'melodicdeathmetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>