<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Billy Don Burns, Hank Iii, Johnny Cash, Wayne Hancock, Willie Nelson | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/DgRVNjsuycQ/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/outlawcountry/2016/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="DgRVNjsuycQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/DgRVNjsuycQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">John Prine -Your Flag Decal Won't Get You Into Heaven Anymore</h2>
                    <p><strong>Score:</strong> <span class="rd-score">28</span> - <a href="https://www.reddit.com/4m2apa">John Prine -Your Flag Decal Won't Get You Into Heaven Anymore</a>
<br>
                        submitted <span class="muted">2016-06-01 17:05</span> by <a href="https://www.reddit.com/user/monteqzuma">/u/monteqzuma</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Gx6M-IoZYMI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Gx6M-IoZYMI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Willie Nelson  - "Blue Eyes Crying In The Rain"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">26</span> - <a href="https://www.reddit.com/4mpw18">Willie Nelson - "Blue Eyes Crying In The Rain"</a>
<br>
                        submitted <span class="muted">2016-06-05 22:53</span> by <a href="https://www.reddit.com/user/PabstyLoudmouth">/u/PabstyLoudmouth</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ABucCmjY_KA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ABucCmjY_KA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hank III - Gone But Not Forgotten</h2>
                    <p><strong>Score:</strong> <span class="rd-score">18</span> - <a href="https://www.reddit.com/4mzsmd">Hank III - Gone But Not Forgotten</a>
<br>
                        submitted <span class="muted">2016-06-07 16:11</span> by <a href="https://www.reddit.com/user/P1557">/u/P1557</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0-6JVjlIFnY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0-6JVjlIFnY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Runnin' Drugs Out of Mexico</h2>
                    <p><strong>Score:</strong> <span class="rd-score">12</span> - <a href="https://www.reddit.com/4merny">Billy Don Burns - Runnin' Drugs Out of Mexico</a>
<br>
                        submitted <span class="muted">2016-06-03 20:07</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KnlN48pXU1s">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KnlN48pXU1s/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Wayne Hancock - Happy Birthday Julie</h2>
                    <p><strong>Score:</strong> <span class="rd-score">11</span> - <a href="https://www.reddit.com/4lzp66">It's my ex's 31st, I'll be drinking for her regardless of how she thinks of me. Happy Birthday [Gabby] just the same.</a>
<br>
                        submitted <span class="muted">2016-06-01 05:29</span> by <a href="https://www.reddit.com/user/fucking_pizza_slut">/u/fucking_pizza_slut</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="F7_kpLa3fyI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/F7_kpLa3fyI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Johnny Cash - Spiritual</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/4n4x1f">Johnny Cash - Spiritual [Gospel] One of his most powerful vocal performances</a>
<br>
                        submitted <span class="muted">2016-06-08 13:06</span> by <a href="https://www.reddit.com/user/DeadPrateRoberts">/u/DeadPrateRoberts</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="EzGoDtmTllg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/EzGoDtmTllg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Johnny Paycheck - Take This Job and Shove It</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/4o859c">Johnny Paycheck - Take This Job and Shove It - Live</a>
<br>
                        submitted <span class="muted">2016-06-15 16:23</span> by <a href="https://www.reddit.com/user/instantcoffeereds">/u/instantcoffeereds</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0dVt2S1Ncjs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0dVt2S1Ncjs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Couldn't Do Nothin' Right - Jerry Jeff Walker</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/4pbkye">Couldn't Do Nothin' Right - Jerry Jeff Walker. This is my favorite version of this song</a>
<br>
                        submitted <span class="muted">2016-06-22 16:34</span> by <a href="https://www.reddit.com/user/chongrulz">/u/chongrulz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="NjnU3aWKnq4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/NjnU3aWKnq4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hank III Moonshiner's Life</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/4q7he2">Hank Williams III - Moonshiners life</a>
<br>
                        submitted <span class="muted">2016-06-28 03:52</span> by <a href="https://www.reddit.com/user/chongrulz">/u/chongrulz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="439NTPXCAxc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/439NTPXCAxc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pay No Attention To Alice</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/4m9u75">Tom T Hall - Pay No Attention To Alice</a>
<br>
                        submitted <span class="muted">2016-06-02 22:43</span> by <a href="https://www.reddit.com/user/Sonny_Zwack">/u/Sonny_Zwack</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="8qX5TSmTyHc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/8qX5TSmTyHc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Ray Wylie Hubbard - Conversation with the Devil</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/4p7kcd">Ray Wylie Hubbard - Conversation with the Devil</a>
<br>
                        submitted <span class="muted">2016-06-21 23:10</span> by <a href="https://www.reddit.com/user/Glip_Glop">/u/Glip_Glop</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jXuVV2ncRs8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jXuVV2ncRs8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shooter jennings And Lukas Nelson Mammas Don't Let Your Babies Grow Up to Be Cowboys</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4p6uw5">Shooter jennings And Lukas Nelson - Mammas Don't Let Your Babies Grow Up to Be Cowboys</a>
<br>
                        submitted <span class="muted">2016-06-21 20:47</span> by <a href="https://www.reddit.com/user/zeiler82">/u/zeiler82</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WCq3G40lxFU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WCq3G40lxFU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Curly Wolf - FIREBRAND (NEW SONG)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/4pjgud">The Curly Wolf - FIREBRAND</a>
<br>
                        submitted <span class="muted">2016-06-23 22:32</span> by <a href="https://www.reddit.com/user/professorcocknballz">/u/professorcocknballz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="TDVtCwmqHg8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/TDVtCwmqHg8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cafe Plus, Shelton, CT 06/11/2016 Part 3</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/4oa2yz">Cafe Plus, Shelton, CT 06/11/2016 Part 3</a>
<br>
                        submitted <span class="muted">2016-06-15 22:26</span> by <a href="https://www.reddit.com/user/jaygerr">/u/jaygerr</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7pIkQNO7hOA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7pIkQNO7hOA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cafe Plus, Shelton, CT June 11, 2016</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4o32b0">Cafe Plus, Shelton, CT June 11, 2016</a>
<br>
                        submitted <span class="muted">2016-06-14 19:06</span> by <a href="https://www.reddit.com/user/jaygerr">/u/jaygerr</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Z4JA34g8LTY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Z4JA34g8LTY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Cafe Plus, Shelton, CT June 11, 2016  Part two</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4o37l1">Cafe Plus, Shelton, CT June 11, 2016 Part two</a>
<br>
                        submitted <span class="muted">2016-06-14 19:34</span> by <a href="https://www.reddit.com/user/jaygerr">/u/jaygerr</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="G_pWEh0acmE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/G_pWEh0acmE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Sturgill Simpson "Life Of Sin"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/4pivfs">Sturgill Simpson - Life of Sin</a>
<br>
                        submitted <span class="muted">2016-06-23 20:27</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/outlawcountry/">Outlaw Country</a> archive:
    <a href="/genre/outlawcountry/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/outlawcountry/2016/">2016</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'outlawcountry';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>