<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Badlands, Blue Murder, Gojira, King'S X, Ozzy Osbourne | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/oPLSib2GtnU/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/hardrock/2017/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="oPLSib2GtnU">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/oPLSib2GtnU/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">King's X - Dogman (HQ)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/5zxgh1">King's X -Dogman (1994)</a>
<br>
                        submitted <span class="muted">2017-03-17 13:06</span> by <a href="https://www.reddit.com/user/Metal_Man_X">/u/Metal_Man_X</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="Mzyz2egx_0c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/Mzyz2egx_0c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Shot in the Dark</h2>
                    <p><strong>Score:</strong> <span class="rd-score">14</span> - <a href="https://www.reddit.com/60wecg">Ozzy Osbourne - Shot in the Dark</a>
<br>
                        submitted <span class="muted">2017-03-22 18:23</span> by <a href="https://www.reddit.com/user/HomelessJohnny2121">/u/HomelessJohnny2121</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ePo0gtjBFNs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ePo0gtjBFNs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Badlands - Dreams in the dark</h2>
                    <p><strong>Score:</strong> <span class="rd-score">10</span> - <a href="https://www.reddit.com/5xaxd1">Badlands - Dreams in the Dark (1989)</a>
<br>
                        submitted <span class="muted">2017-03-03 15:26</span> by <a href="https://www.reddit.com/user/Metal_Man_X">/u/Metal_Man_X</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-PgcTJyFVBg">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-PgcTJyFVBg/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Gojira - "Silvera" [guitar cover]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/5yxyc8">My guitar cover of "Silvera" by Gojira. Comments welcome.</a>
<br>
                        submitted <span class="muted">2017-03-12 09:31</span> by <a href="https://www.reddit.com/user/leperdog">/u/leperdog</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hfsZ4EzSn80">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hfsZ4EzSn80/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Blue Murder - Valley Of The Kings</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/61950r">Blue Murder - Valley of the Kings (1989)</a>
<br>
                        submitted <span class="muted">2017-03-24 14:11</span> by <a href="https://www.reddit.com/user/Metal_Man_X">/u/Metal_Man_X</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="UHy7fLvPFBc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/UHy7fLvPFBc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Wolfmother - Apple Tree(Lyrics)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/61j7b2">Wolfmother - Apple Tree</a>
<br>
                        submitted <span class="muted">2017-03-26 01:42</span> by <a href="https://www.reddit.com/user/jwool">/u/jwool</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="JCye7v79Tz0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/JCye7v79Tz0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Tea Party - The Bazaar</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/61wuge">The Tea Party — The Bazaar</a>
<br>
                        submitted <span class="muted">2017-03-28 02:55</span> by <a href="https://www.reddit.com/user/Vranak">/u/Vranak</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="uiuzTXuxMnM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/uiuzTXuxMnM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Warrant - "Only Broken Heart" (Official Audio)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/62eonz">Warrant -- "Only Broken Heart"</a>
<br>
                        submitted <span class="muted">2017-03-30 15:35</span> by <a href="https://www.reddit.com/user/Antistene">/u/Antistene</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IZWry1UmRKM">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IZWry1UmRKM/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Jacob Quint - Slay the Dragon</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/5xc9j5">Jacob Quint - Slay the Dragon. New Hard Rock from Philly</a>
<br>
                        submitted <span class="muted">2017-03-03 19:02</span> by <a href="https://www.reddit.com/user/quintjh">/u/quintjh</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="QZ4kS5EIy9I">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/QZ4kS5EIy9I/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Roki - Milan Aleppo (instrumental, first performance )</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/61m3ft">Roki - Milan Aleppo (Our band's new, unpolished song)</a>
<br>
                        submitted <span class="muted">2017-03-26 15:28</span> by <a href="https://www.reddit.com/user/Lilsem124">/u/Lilsem124</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SA3QGAVCUWs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SA3QGAVCUWs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Last Psalm</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5yf6p1">Marwood's Fall, "The Last Psalm"</a>
<br>
                        submitted <span class="muted">2017-03-09 14:00</span> by <a href="https://www.reddit.com/user/BrianAIGA">/u/BrianAIGA</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="41X6XeLfZeY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/41X6XeLfZeY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Orange Goblin - Alcofuel</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/5zcbng">Orange Goblin - Alcofuel</a>
<br>
                        submitted <span class="muted">2017-03-14 14:11</span> by <a href="https://www.reddit.com/user/Yuli-Ban">/u/Yuli-Ban</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WlaFvFk501Y">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WlaFvFk501Y/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Vinnie Vincent Invasion - That time of year</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/613d9q">Vinnie Vincent Invasion - That Time Of Year</a>
<br>
                        submitted <span class="muted">2017-03-23 17:44</span> by <a href="https://www.reddit.com/user/bogner0">/u/bogner0</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="BPLssBbrjNE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/BPLssBbrjNE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">LIVE! Alouth, Mora Tau, Dark Moon Apache, Swinging Riot, Skum City</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/60qcvs">Live @ Lucky 13 Saloon (Brooklyn, NY) Alouth, Mora Tau, Dark Moon Apache, Swinging Riot, Skum City FULL SHOW</a>
<br>
                        submitted <span class="muted">2017-03-21 21:11</span> by <a href="https://www.reddit.com/user/xrayultra">/u/xrayultra</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="-CtY2Ic-mDI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/-CtY2Ic-mDI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Up In the Eighties</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/61ger9">City Boy - Up In the Eighties - [04:14]</a>
<br>
                        submitted <span class="muted">2017-03-25 16:37</span> by <a href="https://www.reddit.com/user/WeirderGuitar">/u/WeirderGuitar</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="PUD3B5PAdB4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/PUD3B5PAdB4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">rough cutt - piece of  my heart</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/61id5j">Rough Cutt - Piece Of My Heart</a>
<br>
                        submitted <span class="muted">2017-03-25 22:45</span> by <a href="https://www.reddit.com/user/bogner0">/u/bogner0</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="ZML7NJfpGBI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/ZML7NJfpGBI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Life - Hard Rock\Glam Metal Ballad Music Video by Ebunny | Beautiful Timelapse Romantic Movie   2017</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/62h1y2">Ebunny - Life</a>
<br>
                        submitted <span class="muted">2017-03-30 21:45</span> by <a href="https://www.reddit.com/user/ebunny1984">/u/ebunny1984</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="yovBUPWC1wo">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/yovBUPWC1wo/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Watchlist - Stealin' Gas</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/608cka">Watchlist. CT rock</a>
<br>
                        submitted <span class="muted">2017-03-19 04:04</span> by <a href="https://www.reddit.com/user/Tom_Fleetwood">/u/Tom_Fleetwood</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="aWGaEiRUiAs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/aWGaEiRUiAs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Megadeth - "The Threat Is Real" [guitar cover]</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/609ljg">My guitar cover of "The Threat Is Real" by Megadeth. Feedback welcome.</a>
<br>
                        submitted <span class="muted">2017-03-19 11:17</span> by <a href="https://www.reddit.com/user/leperdog">/u/leperdog</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3xyQBxy5glE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3xyQBxy5glE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black Sabbath - Feels Good To Me</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/61dp5e">Black Sabbath - Feels Good To Me</a>
<br>
                        submitted <span class="muted">2017-03-25 03:46</span> by <a href="https://www.reddit.com/user/Mo0oG">/u/Mo0oG</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="65WPDS8cXZY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/65WPDS8cXZY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Naked Sweat Drips - Framed</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/5zcf40">The Naked Sweat Drips - Framed (from the album "Psycho Sister")</a>
<br>
                        submitted <span class="muted">2017-03-14 14:29</span> by <a href="https://www.reddit.com/user/GerardvM">/u/GerardvM</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="sQkmz4xVsXs">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/sQkmz4xVsXs/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Agora só falta você - Rita Lee.wmv</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/60ovg0">Agora só falta você - Rita Lee (Brazilian Hard Rock)</a>
<br>
                        submitted <span class="muted">2017-03-21 17:14</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="mu70HtxK_1Q">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/mu70HtxK_1Q/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Anik Singal Online Marketing Courses - Big Part of the Joy is Success - Be Successful Today!</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/60xgpc">Anik Singal Online Marketing Courses - Big Part of the Joy is Success - Be Successful Today! - YouT</a>
<br>
                        submitted <span class="muted">2017-03-22 21:10</span> by <a href="https://www.reddit.com/user/marianelaxvprus">/u/marianelaxvprus</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="CBEoBIwFtEQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/CBEoBIwFtEQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Creed - Fear</h2>
                    <p><strong>Score:</strong> <span class="rd-score">0</span> - <a href="https://www.reddit.com/606p80">Creed - Fear</a>
<br>
                        submitted <span class="muted">2017-03-18 22:04</span> by <a href="https://www.reddit.com/user/mikerichh">/u/mikerichh</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/hardrock/">Hard Rock</a> archive:
    <a href="/genre/hardrock/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/hardrock/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'hardrock';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>