<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Alice In Chains, Bikini Kill, Jerry Cantrell, Screaming Trees, Smashing Pumpkins | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/PE5f561Y1x4/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/grunge/2015/4/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="PE5f561Y1x4">Screaming Trees - Nearly Lost You</li>
            <li class="record" id="2D37POA11KY">Alice In Chains - Your Decision</li>
            <li class="record" id="1fkAMqprjZM">Smashing Pumpkins - Today (Live at Pinkpop Festival)</li>
            <li class="record" id="yx-i7EcF4W8">Jerry Cantrell - Pig Charmer</li>
            <li class="record" id="ODTv9Lt5WYs">Alice In Chains - I Stay Away</li>
            <li class="record" id="bOCWma5vOiQ">Bikini Kill - Rebel Girl</li>
            <li class="record" id="S62Hi8B2l6I">Stone Temple Pilots - Sin</li>
            <li class="record" id="EZ-uB3QulMk">Temple of the Dog - Four-Walled World (Seattle, 1990)</li>
            <li class="record" id="ap6O9fgsPmI">10SPM Grunge Isn't Dead, You Just Stopped Looking</li>
            <li class="record" id="agLbEoEQj58">Mudhoney live, c. 1988</li>
            <li class="record" id="Gni8LhGLx1U">Stone Temple Pilots: Sour Girl (Jay Leno, 2000)</li>
            <li class="record" id="LvmtDFHBaFM">SOUNDGARDEN - Gun - Lollapalooza '92 (WIDESCREEN)</li>
            <li class="record" id="9MJ9vN4C8cU">For Me - The Sours</li>
            <li class="record" id="Un7Bwp4xyqk">Stone Temple Pilots - Dead and Bloated</li>
            <li class="record" id="LRgFtYc3t-A">Pearl Jam - Alive (Eb tuning)</li>
            <li class="record" id="jk_hjsPE6T0">Gruntruck - Tribe</li>
            <li class="record" id="kzrAfkyq-xM">Violent Soho - Jesus Stole My Girlfriend</li>
            <li class="record" id="zxBSZW6P0dE">Melvins - See How Pretty, See How Smart</li>
            <li class="record" id="8v9XMYR6CTM">Royal Blood - Hole</li>
            <li class="record" id="NPcyTyilmYY">Alanis Morissette - You Oughta Know (OFFICIAL VIDEO)</li>
            <li class="record" id="CcmuWUCkfH8">Temple of the Dog - self-titled - full album vinyl-rip HQ</li>
            <li class="record" id="8U0sY2jCScE">Hey Butthead, what is "Teen Spirit"?</li>
            <li class="record" id="sQaVEh-Wc60">Soundgarden - Lollapalooza Brazil [full concert]</li>
            <li class="record" id="YFqOgVsLcrU">My Sister's Machine - Broken Land</li>
            <li class="record" id="q85H-5d27ZE">Pearl Jam - "4/20/2002"</li>
            <li class="record" id="GMDO4XcVMSE">Alice in Chains - Mural Amphitheatre, Seattle, WA, Aug 7. 1989 [FULL CONCERT]</li>
            <li class="record" id="ZoRXeN3yR3Q">Noiseheads - With My Halo</li>
            <li class="record" id="jLqOQthOxk8">Audioslave - Give</li>
            <li class="record" id="Ni-WNpEfsjs">Primus - Greet The Sacred Cow (live)</li>
            <li class="record" id="BVf46X-iLAM">7 Year Bitch : Can We Laugh Now? : AUDIO Punk Vinyl</li>
            <li class="record" id="5QsGYeKKHzY">Memory</li>
            <li class="record" id="KBU7zz4cfkQ">Unwound - Leaves Turn Inside You ( Full Album )</li>
            <li class="record" id="BZHjK7jrSTM">Bellyache - Dreams</li>
            <li class="record" id="F8LYpyXerDg">Sonic Youth-Kill Yr Idols</li>
            <li class="record" id="T9oiXU4oZ4o">Grama take me home nirvana</li>
            <li class="record" id="4xg-Wk2DEXs">This Is A Trent Reznor Song OFFICIAL MUSIC VIDEO with Freddy Scott</li>
            <li class="record" id="8CMOZM7h0kc">Soundgarden - Live on I-5 - Boot Camp (Lyrics)</li>
            <li class="record" id="BTpc_ppWbnk">Lithuania - "Pieces"</li>
            <li class="record" id="MUVbMnQqz_o">Stone Temple Pilots - Sour Girl (Alive in the Windy City DVD)</li>
            <li class="record" id="G081hD0nwWE">HDD and Floppy Music: Nirvana - Smells Like Teen Spirit</li>
            <li class="record" id="Rfbn3ieVUYU">Hum * Stars</li>
            <li class="record" id="hTWKbfoikeg">Nirvana - Smells Like Teen Spirit</li>
            <li class="record" id="N5IJXfrMMoU">Nirvana Scoff live at Kapu 1989.11.20 (Mix Cam) - NIRVANAenvivo</li>
            <li class="record" id="tPKqMzOBcq4">BACKWARDS MAN "Sound Knowledge" (Johnny Stixx)</li>
            <li class="record" id="g42WWDA3OVE">AlisonJames - No Excuses</li>
    </ol>
</div>

<div class="container">
<a href="/genre/grunge/">Grunge</a> archive:
    <a href="/genre/grunge/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5/dist/vue-resource.min.js"></script>
<script>
var genre = 'grunge';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>