<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Aborted Tortoise, Black Lips, Bobby Peru, Frantix, Paws | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/KSbC-eqDFIE/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/garagepunk/2017/5/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="stop"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot')" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new')" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <div class="row">
            <div class="column column-10">
                <img src="https://i.ytimg.com/vi/{{ current.youtube.id }}/default.jpg" alt="Video preview">
            </div>
            <div class="column">
                <h2 class="yt-title">{{ current.youtube.title }}</h2>
                <p><strong>Score:</strong> {{ current.score }} - <a href="https://www.reddit.com{{ current.permalink }}">{{ current.title }}</a><br>
                    submitted <span class="muted">{{ current.date }}</span> by <a href="https://www.reddit.com/user/{{ current.author }}">/u/{{ current.author }}</a>.</p>
            </div>
        </div>
    </div>
</div>

<div id="playlist" class="container searchable">
        <div class="record" id="KSbC-eqDFIE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KSbC-eqDFIE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Black Lips - Can't Hold On (official video)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">17</span> - <a href="https://www.reddit.com/69gds4">Black Lips - Can't Hold On (official video)</a>
<br>
                        submitted <span class="muted">2017-05-05 18:15</span> by <a href="https://www.reddit.com/user/selfheatingsoup">/u/selfheatingsoup</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="dXWQZexzW9c">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/dXWQZexzW9c/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Frantix - My Dad's A Fuckin' Alcoholic</h2>
                    <p><strong>Score:</strong> <span class="rd-score">9</span> - <a href="https://www.reddit.com/6b0iva">Frantix - My Dad's A Fuckin' Alcoholic (1983)</a>
<br>
                        submitted <span class="muted">2017-05-13 22:13</span> by <a href="https://www.reddit.com/user/MooseMalloy">/u/MooseMalloy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="hIKVAHk5GYc">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/hIKVAHk5GYc/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Paws - Bloodline</h2>
                    <p><strong>Score:</strong> <span class="rd-score">8</span> - <a href="https://www.reddit.com/6adrhl">Paws - "Bloodline" (2012)</a>
<br>
                        submitted <span class="muted">2017-05-10 16:13</span> by <a href="https://www.reddit.com/user/blurmageddon">/u/blurmageddon</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KjX73xsJE3A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KjX73xsJE3A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">ABORTED TORTOISE - An Beach (Aussie Garage Surf Punk!!)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">7</span> - <a href="https://www.reddit.com/694vaj">ABORTED TORTOISE - An Beach (Aussie Garage Surf Punk!!)</a>
<br>
                        submitted <span class="muted">2017-05-04 02:14</span> by <a href="https://www.reddit.com/user/MaxVolumeShow">/u/MaxVolumeShow</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="n-TwY2qIMaE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/n-TwY2qIMaE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bobby Peru - I'm Not a Sicko, There's a Plate in My Head (Oblivians cover)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/6b4w26">Bobby Peru - I'm Not a Sicko, There's a Plate in My Head (Oblivians cover)</a>
<br>
                        submitted <span class="muted">2017-05-14 16:54</span> by <a href="https://www.reddit.com/user/David_Gleffen">/u/David_Gleffen</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="0GhhZ42NQ7U">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/0GhhZ42NQ7U/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Really Red - I Was A Teenage Fuckup.wmv</h2>
                    <p><strong>Score:</strong> <span class="rd-score">6</span> - <a href="https://www.reddit.com/6djcbf">Really Red - "I Was A Teenage Fuckup"</a>
<br>
                        submitted <span class="muted">2017-05-26 20:06</span> by <a href="https://www.reddit.com/user/rapidadapter">/u/rapidadapter</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="9v79E_Zl2r0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/9v79E_Zl2r0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">El Tren Pasa Esta Noche - Los Shains</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/6cya3y">El Tren Pasa Esta Noche - Los Shains</a>
<br>
                        submitted <span class="muted">2017-05-23 23:08</span> by <a href="https://www.reddit.com/user/Frank_Sincatra">/u/Frank_Sincatra</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="OACxkaf2abQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/OACxkaf2abQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Lady Banana - I´m not you</h2>
                    <p><strong>Score:</strong> <span class="rd-score">5</span> - <a href="https://www.reddit.com/6dol48">Lady Banana - I'm Not You (2013)</a>
<br>
                        submitted <span class="muted">2017-05-27 16:30</span> by <a href="https://www.reddit.com/user/MooseMalloy">/u/MooseMalloy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="zEsyVcyd6Q4">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/zEsyVcyd6Q4/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Aborted Tortoise - Attention Whore (2016)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6954z4">Aborted Tortoise - Attention Whore (2016)</a>
<br>
                        submitted <span class="muted">2017-05-04 03:10</span> by <a href="https://www.reddit.com/user/MaxVolumeShow">/u/MaxVolumeShow</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="UQSqac0liiQ">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/UQSqac0liiQ/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Wheeler by SleepingBeauties</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/69ure6">Sleeping Beauties - Wheeler</a>
<br>
                        submitted <span class="muted">2017-05-08 00:11</span> by <a href="https://www.reddit.com/user/MooseMalloy">/u/MooseMalloy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="WXRey2--UG0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/WXRey2--UG0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">No Love For NOLA</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6am2ks">Vomettes - "No Love For NOLA" (2013)</a>
<br>
                        submitted <span class="muted">2017-05-11 18:38</span> by <a href="https://www.reddit.com/user/blurmageddon">/u/blurmageddon</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="lDFCEsJyIeY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/lDFCEsJyIeY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Hinds - Davey Crockett</h2>
                    <p><strong>Score:</strong> <span class="rd-score">4</span> - <a href="https://www.reddit.com/6drmi4">HINDS - Davey Crockett</a>
<br>
                        submitted <span class="muted">2017-05-28 02:50</span> by <a href="https://www.reddit.com/user/[deleted]">/u/[deleted]</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="vOons13sDb0">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/vOons13sDb0/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Moist Boy - I Don't Wanna Go Outside No More</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6a5mji">Moist Boy - I Don't Wanna Go Outside No More</a>
<br>
                        submitted <span class="muted">2017-05-09 14:10</span> by <a href="https://www.reddit.com/user/aunt_acid_tablet">/u/aunt_acid_tablet</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="3bdTk5k0cvI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/3bdTk5k0cvI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Pray For Surf</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6alii1">Dry Feet - "Pray For Surf" (2014)</a>
<br>
                        submitted <span class="muted">2017-05-11 17:13</span> by <a href="https://www.reddit.com/user/blurmageddon">/u/blurmageddon</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="IsnITOYHzWA">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/IsnITOYHzWA/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Dusty Mush - Bad Ideas</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6bgox4">Dusty Mush - Bad Ideas. Punk song with a pinch of psychedelic from France.</a>
<br>
                        submitted <span class="muted">2017-05-16 10:39</span> by <a href="https://www.reddit.com/user/LeRomz">/u/LeRomz</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="SXHb8o-L2fw">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/SXHb8o-L2fw/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Poison 13 "One Step Closer" (1984)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6bpqng">Poison 13 - "One Step Closer" (1984)</a>
<br>
                        submitted <span class="muted">2017-05-17 16:21</span> by <a href="https://www.reddit.com/user/rapidadapter">/u/rapidadapter</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="bdMyiKm_3ms">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/bdMyiKm_3ms/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Circle X   Tender</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6caqo2">Circle X - "Tender"</a>
<br>
                        submitted <span class="muted">2017-05-20 14:54</span> by <a href="https://www.reddit.com/user/rapidadapter">/u/rapidadapter</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="wWCRKTtUr84">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/wWCRKTtUr84/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Fur Coats "That's A Great Question!"</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6cbw97">The Fur Coats - "That's a Great Question!"</a>
<br>
                        submitted <span class="muted">2017-05-20 18:28</span> by <a href="https://www.reddit.com/user/MinuteMole">/u/MinuteMole</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="c0-KmTo33uE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/c0-KmTo33uE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">captain's 9 and the knickerbocker trio - goddammit i'm pissed</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6d3gew">Captain's 9 and The Knickerbocker Trio - "Goddammit I'm Pissed"</a>
<br>
                        submitted <span class="muted">2017-05-24 17:02</span> by <a href="https://www.reddit.com/user/rapidadapter">/u/rapidadapter</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="tSYeK0D8dkE">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/tSYeK0D8dkE/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">PINK STREET BOYS - WET (OFFICIAL VIDEO)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">3</span> - <a href="https://www.reddit.com/6ee3c4">PINK STREET BOYS - WET (Music Video)</a>
<br>
                        submitted <span class="muted">2017-05-31 10:31</span> by <a href="https://www.reddit.com/user/LeoViridis">/u/LeoViridis</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="q3ys0ld1-iY">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/q3ys0ld1-iY/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">VINTAGE CROP - TV Organs</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/691ayz">VINTAGE CROP - TV Organs</a>
<br>
                        submitted <span class="muted">2017-05-03 16:11</span> by <a href="https://www.reddit.com/user/MaxVolumeShow">/u/MaxVolumeShow</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="7cFZJ13HB28">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/7cFZJ13HB28/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">The Heartburns - Help Me Make It Through The Night</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6a0vp5">The Heartburns - Help Me Make It Through The Night (2008)</a>
<br>
                        submitted <span class="muted">2017-05-08 20:55</span> by <a href="https://www.reddit.com/user/blurmageddon">/u/blurmageddon</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="y59HhGhTqQI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/y59HhGhTqQI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Grandpa's Magick Pinecone Are You Sure You're Not a Cop</h2>
                    <p><strong>Score:</strong> <span class="rd-score">2</span> - <a href="https://www.reddit.com/6ccsg2">Grandpa's Magick Pinecone - Are You Sure You're Not a Cop? (1992)</a>
<br>
                        submitted <span class="muted">2017-05-20 21:15</span> by <a href="https://www.reddit.com/user/MooseMalloy">/u/MooseMalloy</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="jUhq05k87a8">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/jUhq05k87a8/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">SKIP CHURCH - Private Pleasures (2014 - Cassette Release)</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/694y1q">SKIP CHURCH - Private Pleasures (2014 - Cassette Release)</a>
<br>
                        submitted <span class="muted">2017-05-04 02:30</span> by <a href="https://www.reddit.com/user/MaxVolumeShow">/u/MaxVolumeShow</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="U7O8kiIvf3A">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/U7O8kiIvf3A/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bards In Bars Getting Beer EP 7: DONKNG Interview</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/69t6wo">DONKNG - Interview @ House Show Venue</a>
<br>
                        submitted <span class="muted">2017-05-07 19:24</span> by <a href="https://www.reddit.com/user/FestLover">/u/FestLover</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="KvSk5cmYw1Q">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/KvSk5cmYw1Q/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Doomsday Can't Come Soon Enough: Volume One of None</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6a4znk">The Last Words of YouTube Jimmy?</a>
<br>
                        submitted <span class="muted">2017-05-09 12:08</span> by <a href="https://www.reddit.com/user/rapidadapter">/u/rapidadapter</a>
.</p>
                </div>
            </div>
        </div>
        <div class="record" id="eSZlf08hqHI">
            <div class="row">
                    <div class="column column-10">
                        <img src="https://i.ytimg.com/vi/eSZlf08hqHI/default.jpg" alt="Video preview">
                    </div>
                <div class="column">
                    <h2 class="yt-title">Bards In Bars Getting Beer EP 8: Sports Reference Interview</h2>
                    <p><strong>Score:</strong> <span class="rd-score">1</span> - <a href="https://www.reddit.com/6douej">Sports Reference - Interview ( Gainesville punk band interview while drinking beer)</a>
<br>
                        submitted <span class="muted">2017-05-27 17:20</span> by <a href="https://www.reddit.com/user/FestLover">/u/FestLover</a>
.</p>
                </div>
            </div>
        </div>
</div>

<div class="container">
<a href="/genre/garagepunk/">Garage Punk</a> archive:
    <a href="/genre/garagepunk/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/garagepunk/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/garagepunk/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/garagepunk/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/garagepunk/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/garagepunk/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/garagepunk/2017/">2017</a>
</div>


<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/vue/1.0.28/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
<script>
var genre = 'garagepunk';
</script>
<script src="/compiled/player.js"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>