<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">80S Afterschool Special, Fugazi, Infected, Leftöver Crack, Refused | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/12kcpP-8jfM/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/punk/2015/4/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="12kcpP-8jfM">
                    <td><img src="https://i.ytimg.com/vi/12kcpP-8jfM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bad Religion- American Jesus</td>
                </tr>
                <tr class="record" id="nMmqk29m8h0">
                    <td><img src="https://i.ytimg.com/vi/nMmqk29m8h0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Leftover Crack- Nazi White Trash</td>
                </tr>
                <tr class="record" id="MXGn4We3AbM">
                    <td><img src="https://i.ytimg.com/vi/MXGn4We3AbM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Day My Kid Went Punk</td>
                </tr>
                <tr class="record" id="wRMXTvsCBwQ">
                    <td><img src="https://i.ytimg.com/vi/wRMXTvsCBwQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Refused - "Elektra"</td>
                </tr>
                <tr class="record" id="apuLs_ayKRM">
                    <td><img src="https://i.ytimg.com/vi/apuLs_ayKRM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fugazi - Shut The Door</td>
                </tr>
                <tr class="record" id="8S_lAB2WpTE">
                    <td><img src="https://i.ytimg.com/vi/8S_lAB2WpTE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Infected - Bad Religion - 1994</td>
                </tr>
                <tr class="record" id="m3cnPLahYwE">
                    <td><img src="https://i.ytimg.com/vi/m3cnPLahYwE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">A Wilhelm Scream - Skid Rock</td>
                </tr>
                <tr class="record" id="CNAkbbKycCM">
                    <td><img src="https://i.ytimg.com/vi/CNAkbbKycCM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Butthole Surfers - Who Was in My Room Last Night</td>
                </tr>
                <tr class="record" id="cfzhq1CjJG0">
                    <td><img src="https://i.ytimg.com/vi/cfzhq1CjJG0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Minutemen - History Lesson - Part II</td>
                </tr>
                <tr class="record" id="_bEK0s69pcM">
                    <td><img src="https://i.ytimg.com/vi/_bEK0s69pcM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Propagandhi - "Note To Self"</td>
                </tr>
                <tr class="record" id="aEUt4fXKdso">
                    <td><img src="https://i.ytimg.com/vi/aEUt4fXKdso/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jello Biafra's eulogy for Dave Brockie / Oderus Urungus</td>
                </tr>
                <tr class="record" id="0dX6LL7b8Y0">
                    <td><img src="https://i.ytimg.com/vi/0dX6LL7b8Y0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">+@ TITUS ANDRONICUS - "DIMED OUT" ( Official Lyric Video )</td>
                </tr>
                <tr class="record" id="nEoapQdUJ_M">
                    <td><img src="https://i.ytimg.com/vi/nEoapQdUJ_M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Lillingtons black hole in my mind</td>
                </tr>
                <tr class="record" id="rZUbHZzHF18">
                    <td><img src="https://i.ytimg.com/vi/rZUbHZzHF18/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Title Fight - Secret Society</td>
                </tr>
                <tr class="record" id="4hxw8QqSIvs">
                    <td><img src="https://i.ytimg.com/vi/4hxw8QqSIvs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Aus Rotten - Modern Day Witch Hunt</td>
                </tr>
                <tr class="record" id="MbD_KegM_mQ">
                    <td><img src="https://i.ytimg.com/vi/MbD_KegM_mQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jeff Rosenstock - You, In Weird Cities (Official Video)</td>
                </tr>
                <tr class="record" id="x7YHHK9WReY">
                    <td><img src="https://i.ytimg.com/vi/x7YHHK9WReY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Joe Strummer & The Mescaleros - Coma Girl</td>
                </tr>
                <tr class="record" id="OBFRekoeQE8">
                    <td><img src="https://i.ytimg.com/vi/OBFRekoeQE8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Turbonegro - Must Be Destroyed</td>
                </tr>
                <tr class="record" id="7GSM2pMAb2A">
                    <td><img src="https://i.ytimg.com/vi/7GSM2pMAb2A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Adicts You're All Fools</td>
                </tr>
                <tr class="record" id="LlnICnPQ9ag">
                    <td><img src="https://i.ytimg.com/vi/LlnICnPQ9ag/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Menzingers - Chamberlain Waits (Full Album)</td>
                </tr>
                <tr class="record" id="BrVqIKOUTcI">
                    <td><img src="https://i.ytimg.com/vi/BrVqIKOUTcI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">DEAD KENNEDYS - Too Drunk to Fuck</td>
                </tr>
                <tr class="record" id="hHNivx2RRFM">
                    <td><img src="https://i.ytimg.com/vi/hHNivx2RRFM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">AFI - Catch a Hot One</td>
                </tr>
                <tr class="record" id="UY_zmLeV0j4">
                    <td><img src="https://i.ytimg.com/vi/UY_zmLeV0j4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Smith Street Band - "The Arrogance of the Drunk Pedestrian" Live at Little Elephant (3/3)</td>
                </tr>
                <tr class="record" id="DXgfyJmD-oM">
                    <td><img src="https://i.ytimg.com/vi/DXgfyJmD-oM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ASOB - Royal Fuck Deluxe</td>
                </tr>
                <tr class="record" id="h3JEkDShKoc">
                    <td><img src="https://i.ytimg.com/vi/h3JEkDShKoc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Drive Like Jehu - Here Come The Rome Plows</td>
                </tr>
                <tr class="record" id="NJia6TEVnwQ">
                    <td><img src="https://i.ytimg.com/vi/NJia6TEVnwQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Alkaline Trio - I'm Dying Tomorrow [Live] - Atlanta 2009</td>
                </tr>
                <tr class="record" id="ba8VLnv-g4s">
                    <td><img src="https://i.ytimg.com/vi/ba8VLnv-g4s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Against All Authority - Just An Obstruction</td>
                </tr>
                <tr class="record" id="TtXu_7-NVR4">
                    <td><img src="https://i.ytimg.com/vi/TtXu_7-NVR4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dear Landlord - I Live In Hell</td>
                </tr>
                <tr class="record" id="h0qJu4q8yd8">
                    <td><img src="https://i.ytimg.com/vi/h0qJu4q8yd8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bad Brains-Pay To Cum (Original 7")</td>
                </tr>
                <tr class="record" id="Njc3FNvSBoQ">
                    <td><img src="https://i.ytimg.com/vi/Njc3FNvSBoQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Melvins - Singles 1-12 - Disk 1 - 01 - Lexicon Devil</td>
                </tr>
                <tr class="record" id="7-5OKvVb9ec">
                    <td><img src="https://i.ytimg.com/vi/7-5OKvVb9ec/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">NOFX-Cokie the Clown</td>
                </tr>
                <tr class="record" id="MWlr3CZ1720">
                    <td><img src="https://i.ytimg.com/vi/MWlr3CZ1720/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Melt-Banana - Uncontrollable Urge</td>
                </tr>
                <tr class="record" id="xXDiJYMdfKU">
                    <td><img src="https://i.ytimg.com/vi/xXDiJYMdfKU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Screeching Weasel - What We Hate</td>
                </tr>
                <tr class="record" id="A9ARqQxWh14">
                    <td><img src="https://i.ytimg.com/vi/A9ARqQxWh14/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cobra Skulls - Rebel Fate [Official Video]</td>
                </tr>
                <tr class="record" id="LYmoDjxcBrA">
                    <td><img src="https://i.ytimg.com/vi/LYmoDjxcBrA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Death Grips - Beyond Alive</td>
                </tr>
                <tr class="record" id="BUIaj338JoE">
                    <td><img src="https://i.ytimg.com/vi/BUIaj338JoE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">White Lung - Face Down (Official Video)</td>
                </tr>
                <tr class="record" id="iNTMgvJ7Y3g">
                    <td><img src="https://i.ytimg.com/vi/iNTMgvJ7Y3g/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Titus Andronicus - No Future Part Three Escape From No Future  (live Halifax Pop Explosion HD)</td>
                </tr>
                <tr class="record" id="Krv017YFKU0">
                    <td><img src="https://i.ytimg.com/vi/Krv017YFKU0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">HorrorPops - Where They Wander</td>
                </tr>
                <tr class="record" id="82fNG307NKQ">
                    <td><img src="https://i.ytimg.com/vi/82fNG307NKQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Hives - Well, Well, Well</td>
                </tr>
                <tr class="record" id="EOzxvLBlmcU">
                    <td><img src="https://i.ytimg.com/vi/EOzxvLBlmcU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Groovie Ghoulies - I Wanna Have Fun With You</td>
                </tr>
                <tr class="record" id="w8aIKBr4Hg8">
                    <td><img src="https://i.ytimg.com/vi/w8aIKBr4Hg8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">be your own pet - fill my pill</td>
                </tr>
                <tr class="record" id="hY2tv30d9RE">
                    <td><img src="https://i.ytimg.com/vi/hY2tv30d9RE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dinosaur Jr. - How'd You Pin That One on Me</td>
                </tr>
                <tr class="record" id="aY4pZlP6YtE">
                    <td><img src="https://i.ytimg.com/vi/aY4pZlP6YtE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Booze & Glory - "London Skinhead Crew" - Official Video (HD)</td>
                </tr>
                <tr class="record" id="Xyxx0v3B5xA">
                    <td><img src="https://i.ytimg.com/vi/Xyxx0v3B5xA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">American Punk Rocker fights yuppy</td>
                </tr>
                <tr class="record" id="iM-0hUHaq0k">
                    <td><img src="https://i.ytimg.com/vi/iM-0hUHaq0k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Middle School Madness</td>
                </tr>
                <tr class="record" id="6QtHBidyl20">
                    <td><img src="https://i.ytimg.com/vi/6QtHBidyl20/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">No Cash - Gasoline</td>
                </tr>
                <tr class="record" id="Q2I-7fQPP5w">
                    <td><img src="https://i.ytimg.com/vi/Q2I-7fQPP5w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">T.S.O.L. - In My Head</td>
                </tr>
                <tr class="record" id="EzzOEOSfa3Q">
                    <td><img src="https://i.ytimg.com/vi/EzzOEOSfa3Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Wipers - Tragedy</td>
                </tr>
                <tr class="record" id="1_KHWOqcuj0">
                    <td><img src="https://i.ytimg.com/vi/1_KHWOqcuj0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Boris The Sprinkler - (She Digs My) New Wave Records</td>
                </tr>
                <tr class="record" id="hks9pv06mO4">
                    <td><img src="https://i.ytimg.com/vi/hks9pv06mO4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Filthy Radicals - "Stay Filthy" (Official Music Video)</td>
                </tr>
                <tr class="record" id="mDzB-Eu8YeQ">
                    <td><img src="https://i.ytimg.com/vi/mDzB-Eu8YeQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Flipper - Life</td>
                </tr>
                <tr class="record" id="H_gx1dInakM">
                    <td><img src="https://i.ytimg.com/vi/H_gx1dInakM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Kill Your Idols - Right Now</td>
                </tr>
                <tr class="record" id="oBKMsXMs8mc">
                    <td><img src="https://i.ytimg.com/vi/oBKMsXMs8mc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Anti-Nowhere League - Streets Of London</td>
                </tr>
                <tr class="record" id="PbiZMASONk0">
                    <td><img src="https://i.ytimg.com/vi/PbiZMASONk0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Turtle Power - "Up All Night" (Offical Music Video)</td>
                </tr>
                <tr class="record" id="JKn0E6zzTcw">
                    <td><img src="https://i.ytimg.com/vi/JKn0E6zzTcw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Helicopter Lullaby - Double Dagger</td>
                </tr>
                <tr class="record" id="2vP1gvfZvEs">
                    <td><img src="https://i.ytimg.com/vi/2vP1gvfZvEs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Single Mothers - Nice Dresses</td>
                </tr>
                <tr class="record" id="pGewwjlRtsw">
                    <td><img src="https://i.ytimg.com/vi/pGewwjlRtsw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fear-The Mouth Don't Stop</td>
                </tr>
                <tr class="record" id="sIywtO0OY78">
                    <td><img src="https://i.ytimg.com/vi/sIywtO0OY78/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fugazi - Suggestion</td>
                </tr>
                <tr class="record" id="tlIb5jAEpgA">
                    <td><img src="https://i.ytimg.com/vi/tlIb5jAEpgA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bouncing Souls Hopeless Romantic Full Album</td>
                </tr>
                <tr class="record" id="IX31tvT2Br8">
                    <td><img src="https://i.ytimg.com/vi/IX31tvT2Br8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Smith Street Band - "I Don't Wanna Die Anymore" Live at Little Elephant (2/3)</td>
                </tr>
                <tr class="record" id="fNt1jWTUX88">
                    <td><img src="https://i.ytimg.com/vi/fNt1jWTUX88/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Conflict - Custom Rock (1986)</td>
                </tr>
                <tr class="record" id="rKvog--SOOc">
                    <td><img src="https://i.ytimg.com/vi/rKvog--SOOc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Flogging Molly - The Guns Of Jericho</td>
                </tr>
                <tr class="record" id="Fmebgonjj-A">
                    <td><img src="https://i.ytimg.com/vi/Fmebgonjj-A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">From Ashes Rise - Nightmares</td>
                </tr>
                <tr class="record" id="uv35_NLl1o4">
                    <td><img src="https://i.ytimg.com/vi/uv35_NLl1o4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">kortatu- Mierda de ciudad</td>
                </tr>
                <tr class="record" id="W_x5hD1cx3A">
                    <td><img src="https://i.ytimg.com/vi/W_x5hD1cx3A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lagwagon - In Your Wake (Official)</td>
                </tr>
                <tr class="record" id="d6vpYaL-V34">
                    <td><img src="https://i.ytimg.com/vi/d6vpYaL-V34/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Career Suicide - Cherry Beach</td>
                </tr>
                <tr class="record" id="DFcwY-EU_qs">
                    <td><img src="https://i.ytimg.com/vi/DFcwY-EU_qs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Germs - Lion's Share</td>
                </tr>
                <tr class="record" id="lUyEBQO_EGk">
                    <td><img src="https://i.ytimg.com/vi/lUyEBQO_EGk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Choking Victim-Money</td>
                </tr>
                <tr class="record" id="cYi7hrGB0bQ">
                    <td><img src="https://i.ytimg.com/vi/cYi7hrGB0bQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Real McKenzies - Catch Me (official video)</td>
                </tr>
                <tr class="record" id="H-UOz0e0dEk">
                    <td><img src="https://i.ytimg.com/vi/H-UOz0e0dEk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Vandals Play For U.S. Troops in Iraq. (Sadr City)- Nice Army Moshpit</td>
                </tr>
                <tr class="record" id="E6_x9we5buM">
                    <td><img src="https://i.ytimg.com/vi/E6_x9we5buM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Refused - New Noise (The Evidence Cover Version)</td>
                </tr>
                <tr class="record" id="kLngKfzwVQ8">
                    <td><img src="https://i.ytimg.com/vi/kLngKfzwVQ8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Full Song Tim Armstrong and Green Day Playing Knowledge and Radio at The House of Blues Cleveland O</td>
                </tr>
                <tr class="record" id="AE5yTEYwSX0">
                    <td><img src="https://i.ytimg.com/vi/AE5yTEYwSX0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Millencolin - "Bring Me Home"</td>
                </tr>
                <tr class="record" id="YsG5AGX8Jtk">
                    <td><img src="https://i.ytimg.com/vi/YsG5AGX8Jtk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jesse Michaels Punk Blog</td>
                </tr>
                <tr class="record" id="FVbVCZw5BPQ">
                    <td><img src="https://i.ytimg.com/vi/FVbVCZw5BPQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Iggy & The Stooges "I Got A Right"</td>
                </tr>
                <tr class="record" id="0z74aiepVHw">
                    <td><img src="https://i.ytimg.com/vi/0z74aiepVHw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Taxpayers - Everything is Awful music video</td>
                </tr>
                <tr class="record" id="4GzUh4PJVx8">
                    <td><img src="https://i.ytimg.com/vi/4GzUh4PJVx8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Discharge - Free Speech for the Dumb</td>
                </tr>
                <tr class="record" id="7M0dIj3krcI">
                    <td><img src="https://i.ytimg.com/vi/7M0dIj3krcI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Conflict- This Is the A.L.F</td>
                </tr>
                <tr class="record" id="jxq6S9mWQEA">
                    <td><img src="https://i.ytimg.com/vi/jxq6S9mWQEA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tartar Control - "Smoking Crack" Official Music Video</td>
                </tr>
                <tr class="record" id="cKcIoe47E5M">
                    <td><img src="https://i.ytimg.com/vi/cKcIoe47E5M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Turbonegro - No, I'm Alpha Male</td>
                </tr>
                <tr class="record" id="ofhqVLXQL4E">
                    <td><img src="https://i.ytimg.com/vi/ofhqVLXQL4E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Vandals: Disproportioned Head</td>
                </tr>
                <tr class="record" id="PdEuhqxHKwo">
                    <td><img src="https://i.ytimg.com/vi/PdEuhqxHKwo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Swellers Final US Show. April 4th, 2015 (Full Set)</td>
                </tr>
                <tr class="record" id="4VJ7zPoCyCA">
                    <td><img src="https://i.ytimg.com/vi/4VJ7zPoCyCA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Butthole Surfers - Goofy's concern</td>
                </tr>
                <tr class="record" id="zVMtZldTqoc">
                    <td><img src="https://i.ytimg.com/vi/zVMtZldTqoc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cockney Rejects - The Rocker</td>
                </tr>
                <tr class="record" id="wqnvmlGeCKk">
                    <td><img src="https://i.ytimg.com/vi/wqnvmlGeCKk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Husker Du - 22. Diane 9/5/81 7th Street Entry</td>
                </tr>
                <tr class="record" id="4aKdC_jyefg">
                    <td><img src="https://i.ytimg.com/vi/4aKdC_jyefg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Queers - I wanna be Happy.wmv</td>
                </tr>
                <tr class="record" id="AKSvucdmAWQ">
                    <td><img src="https://i.ytimg.com/vi/AKSvucdmAWQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Doom - Agree To Differ (No Security Split 1989)</td>
                </tr>
                <tr class="record" id="7OO1DpfRE00">
                    <td><img src="https://i.ytimg.com/vi/7OO1DpfRE00/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">I'm The One (Descendents Cover)</td>
                </tr>
                <tr class="record" id="pNgAVT1zZ7E">
                    <td><img src="https://i.ytimg.com/vi/pNgAVT1zZ7E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Queen City Punk</td>
                </tr>
                <tr class="record" id="UGfeLCP9SzE">
                    <td><img src="https://i.ytimg.com/vi/UGfeLCP9SzE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fuzz - Sleigh Ride, El Rey Theatre, Los Angeles 04/24/15</td>
                </tr>
                <tr class="record" id="TSHGJ89P3w8">
                    <td><img src="https://i.ytimg.com/vi/TSHGJ89P3w8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cerebral Ballzy - Don't Tell Me What To Do  Video (Uncensored)</td>
                </tr>
                <tr class="record" id="fQ2XXWBb1Vg">
                    <td><img src="https://i.ytimg.com/vi/fQ2XXWBb1Vg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Refused - Rather Be Dead (Bielefeld 1998 - Master)</td>
                </tr>
                <tr class="record" id="9X-r8zP-rnk">
                    <td><img src="https://i.ytimg.com/vi/9X-r8zP-rnk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Restarts - Frustration.wmv</td>
                </tr>
                <tr class="record" id="_XDQLmkegEc">
                    <td><img src="https://i.ytimg.com/vi/_XDQLmkegEc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">(high quality) New York hardcore -1986 on the Regis Philbin Morning show ABC - nyhc</td>
                </tr>
                <tr class="record" id="hqCi4gbhJ5o">
                    <td><img src="https://i.ytimg.com/vi/hqCi4gbhJ5o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Not Half Bad - Punk Rock Is A Full Time Job</td>
                </tr>
                <tr class="record" id="JSzM2aVD0X8">
                    <td><img src="https://i.ytimg.com/vi/JSzM2aVD0X8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Bennies - My Bike (Bike Mix)</td>
                </tr>
                <tr class="record" id="OOVUeGIOdNY">
                    <td><img src="https://i.ytimg.com/vi/OOVUeGIOdNY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tartar Control LIVE at The Observatory - FULL SET</td>
                </tr>
                <tr class="record" id="CwICLInIl8A">
                    <td><img src="https://i.ytimg.com/vi/CwICLInIl8A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Brand New - Mene</td>
                </tr>
                <tr class="record" id="TcB3vbig9oc">
                    <td><img src="https://i.ytimg.com/vi/TcB3vbig9oc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">COCK SPARRER IN NYC FOR FIRST TIME IN 15 YEARS</td>
                </tr>
                <tr class="record" id="00kMxJ2ATTo">
                    <td><img src="https://i.ytimg.com/vi/00kMxJ2ATTo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Betty Blowtorch - Love/Hate</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/punk/">Punk</a> archive:
    <a href="/genre/punk/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/punk/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/punk/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/punk/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/punk/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/punk/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/punk/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/punk/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/punk/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/punk/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'punk';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>