<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Alice In Chains, Audio Puppy, Nirvana, Red Fang, Screaming Trees | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/SBcADQziQWY/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/grunge/2014/9/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="SBcADQziQWY">Alice In Chains - Check My Brain</li>
            <li class="record" id="fPgIlDDIoRM">Nirvana - Even in His Youth [Lyrics]</li>
            <li class="record" id="a-BpExMqS9s">Alice In Chains - Nothin' song</li>
            <li class="record" id="hZS86c1dXlo">Alice In Chains-Man In The Box(Funk Version)</li>
            <li class="record" id="gCZ6A09I_jQ">Screaming Trees - Black Sun Morning</li>
            <li class="record" id="hShuw8gng-c">Chapels: In Session</li>
            <li class="record" id="6pn3OgHmd-I">Audio Puppy - "like a noisy BDSM session"</li>
            <li class="record" id="QD0D7IuriWQ">Nirvana - Aneurysm</li>
            <li class="record" id="pfmGAfYW1Yg">RED FANG - "Blood Like Cream" (Official Track)</li>
            <li class="record" id="HpffNpL80zk">Tales of Terror - Chambers of Horror</li>
            <li class="record" id="hTr8BNLqrOM">Soundgarden-Beyond The Wheel (Live) UNBELIEVABLE Performance</li>
            <li class="record" id="Qzdy_jaS4nw">City and Colour - Nutshell (Cover) by Alice in Chains</li>
            <li class="record" id="nZLxpU0WlUI">Wolves of Winter - Debut Album Teaser - 2014</li>
            <li class="record" id="yQHoNK4F5WM">Meat Puppets "Too high to die" (FULL ALBUM)</li>
            <li class="record" id="e3_2uhaWepY">I Am the Icarus - "El Contagioso!" A BlankTV World Premiere!</li>
            <li class="record" id="TBlCfwTragw">Tad - Dementia</li>
            <li class="record" id="frMcFDL4Tn8">The Jesus & Mary Chain - Snakedriver (Live)</li>
            <li class="record" id="PB9Gs2GgA-k">Baad Acid - Baad Acid</li>
            <li class="record" id="3taRRNzfpRU">Nirvana - Smells Like Teen Spirit (Sock Puppet Parody)</li>
            <li class="record" id="ButynXPrgCI">Lo Pan - Spartacus</li>
            <li class="record" id="sVeZ_n4buU4">coffin break - rupture - 08 - diane</li>
            <li class="record" id="A1_obuyzckk">Grunge. Imperfection band.Brazil</li>
            <li class="record" id="AfIxcFS9zEM">Grunge. Imperfection band.Brazil</li>
            <li class="record" id="QpiPKijmmsc">NANGILIMA lajv @ Pipeline, Sundsvall</li>
            <li class="record" id="H_-dRKva-qE">"Lithium" (Nirvana) - Acoustic Cover by Francesco Settesoldi</li>
            <li class="record" id="Js4c8mt_UNs">Violent Soho - Neighbour Neighbour (Official Video)</li>
            <li class="record" id="29MBGwzEhMc">Slint - Breadcrumb Trail</li>
            <li class="record" id="077UlBtrqWs">TCS - Robot Heart: Heart-Shaped Box - Nirvana (covered by Kawehi)</li>
            <li class="record" id="oBUu1G7S02o">Grunge. Imperfection band.Brazil</li>
            <li class="record" id="tWZ9ihZ_TUw">Babes In Toyland - "Bruise Violet"</li>
            <li class="record" id="FRe7CNapXD0">Pixel Adams - Say - Live at Sky City</li>
            <li class="record" id="zZbaHjtsc3c">Slide Fifty - Astray</li>
            <li class="record" id="W9FQ7eMV-CQ">The Wytches - Digsaw</li>
            <li class="record" id="cde9a22ear8">The Wytches - She's so far out</li>
            <li class="record" id="0sxQtSG7VCo">The Wytches - Robe For Juda</li>
            <li class="record" id="in3WpSGcsRI">Medication - Xanax</li>
            <li class="record" id="wsOIvi9Pu_8">Fangclub | Alkali</li>
    </ol>
</div>

<div class="container">
<a href="/genre/grunge/">Grunge</a> archive:
    <a href="/genre/grunge/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/grunge/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5/dist/vue-resource.min.js"></script>
<script>
var genre = 'grunge';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>