<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Eluveitie, Heidevolk, Korpiklaani, Tengger Cavalry (铁骑), Wintersun | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/oEGAdEGnqKA/hqdefault.jpg">
    <link rel="canonical" href="https://punknroll.net/genre/folkmetal/2015/3/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>
    <div class="controls">
        <a class="button" @click="youtube.previousVideo()">⏮</a>
        <a class="button" @click="youtube.playVideo()">⏵</i></a>
        <a class="button" @click="youtube.pauseVideo()">⏸</a>
        <a class="button" @click="youtube.stopVideo()">⏹</i></a>
        <a class="button" @click="youtube.nextVideo()">⏭</a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions">🔥</a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions">⏲</a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <ol>
            <li class="record" id="oEGAdEGnqKA">Korpiklaani - Beer, Beer</li>
            <li class="record" id="yaY-SYPDFdE">heidevolk - vulgaris  magistralis</li>
            <li class="record" id="S4fIpPmXemg">WINTERSUN live 2015 ~Forest~ Paganfest Oberhausen</li>
            <li class="record" id="9kaKdzDwkwc">Tengger Cavalry (铁骑) - Tengger Cavalry (OFFICIAL TRACK) | 2015</li>
            <li class="record" id="GWCowljfU0s">KORPIKLAANI - Lempo (OFFICIAL LYRIC VIDEO)</li>
            <li class="record" id="XowK6hNRPJc">Tarvos</li>
            <li class="record" id="TVNSJVIuN1o">Korpiklaani - Northern Fall (with lyrics)</li>
            <li class="record" id="zRk08ZkuKuA">Týr - The Wild Rover [04]</li>
            <li class="record" id="okZpD1O2kmI">Kivimetsän Druidi-Tuoppein'nostelulaulu</li>
            <li class="record" id="A920Ia5PdF8">Blackguard - Scarlet To Snow</li>
            <li class="record" id="xqk-PHdSkz4">Metsatöll - Kuni Pole Kodus, Olen Kaugel Teel</li>
            <li class="record" id="q6EgQRdbcKw">Viva Loa Vegas - Troldhaugen</li>
            <li class="record" id="obA9u8JvQHo">Gallowbraid - Autumn I</li>
            <li class="record" id="bfAnUbgDSbE">Тінь Сонця (Tin' Sontsya) - Меч Арея (Mech Areya)</li>
            <li class="record" id="RP-HdEhVFfg">NightCreepers - The Hreidd's Path (Lyric Video)</li>
            <li class="record" id="FK3z_RJiCaQ">Troldhaugen - There I Would Like to Rest Forever</li>
            <li class="record" id="4fgqWtQGgSA">Dalriada: Hazatérés</li>
            <li class="record" id="DPomPEBf4U8">Furor Gallico - Songs from the Earth (Full Album) 2015</li>
            <li class="record" id="CrBHrlLzEY8">In Extremo - Ich kenne Alles</li>
            <li class="record" id="DUpUwoBQomg">Beer Bear - Beer Bear</li>
            <li class="record" id="vXEpapd24K8">GRAI - Beard</li>
            <li class="record" id="3R_jLPcqG38">Vanir - Suttungs mjod</li>
            <li class="record" id="maAmvMWjwNQ">Abinchova - Wegweiser (Music Video 2012) [HD]</li>
            <li class="record" id="ZAz0eXPK5W4">Finsterforst - Rauschende Nächte</li>
            <li class="record" id="2q2Wx5H6wkg">THE GENTLE STORM - Heart Of Amsterdam (OFFICIAL VIDEO)</li>
            <li class="record" id="K7lWoEGeZAg">Holy Blood - In the Last Battle</li>
            <li class="record" id="elhPFPxLOEA">Grai - Sred Lesov</li>
            <li class="record" id="qPh271zPnEE">Nachtblut - Gedenket der Toten (Hellennisch)</li>
            <li class="record" id="hE2KOZRt8i4">Waylander - Walk With Honour</li>
            <li class="record" id="4czhqelT-DI">Demonaz-All Blackened Sky</li>
            <li class="record" id="lUgzAfx2jik">Fenrir - Fenrir ( Echoes Of The Wolf out 2012)</li>
            <li class="record" id="CkcwmLOQ9Bo">Moriquendi - And Falls The Rain... (OFFICIAL TRACK) | 2015</li>
            <li class="record" id="_AC_HHQGzHY">Runic - Liar Flags</li>
            <li class="record" id="DhC9DjeuuNE">CELTACHOR - Nuada Of The Silver Arm (ALBUM TEASER)</li>
            <li class="record" id="k4D57cunu84">Mondstille(austria)-Die Seele frei .</li>
    </ol>
</div>

<div class="container">
<a href="/genre/folkmetal/">Folk Metal</a> archive:
    <a href="/genre/folkmetal/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/folkmetal/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/folkmetal/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/folkmetal/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/folkmetal/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/folkmetal/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/folkmetal/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/vue-resource@1.3.5/dist/vue-resource.min.js"></script>
<script>
var genre = 'folkmetal';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>