<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title itemprop="name">Engine, John Prine, Sufjan Stevens, The Tallest Man On Earth, Tom Waits | Punk'n'Roll</title>
        <meta property="og:image" content="https://i.ytimg.com/vi/9EzeW5KoPUI/hqdefault.jpg">
    <link rel="canonical" href="http://punknroll.net/genre/folk/2016/6/" itemprop="url">
    <link rel="shortcut icon" href="/img/punknroll-logo-50x50.png">
    <link rel="alternate" type="application/rss+xml" title="Punk'n'Roll RSS feed" href="/rss.xml">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="/compiled/style.css" rel="stylesheet">
</head>
<body>
<section id="header">
    <div class="container">
        <div class="navbar">
            <a href="/" title="Punk'n'Roll Home"><img src="/img/punknroll-icon.png" alt="Punk'n'Roll logo" class="logo float-left"></a>
            <ul class="nav inline">
                <li class="dropdown"><a>Genres</a>
                    <ul>
                        <li><a href="/genre/garagepunk/">Garage Punk</a></li>
                        <li><a href="/genre/grunge/">Grunge</a></li>
                        <li><a href="/genre/psychobilly/">Psychobilly</a></li>
                        <li><a href="/genre/punk/">Punk</a></li>
                        <li><a href="/genre/rocknroll/">Rock'n'Roll</a></li>
                        <li><a href="/genre/rockabilly/">Rockabilly</a></li>
                        <li><a href="/rockgenres/">More Genres</a></li>
                    </ul>
                </li>
                <li><a href="/playlist/">Playlists</a></li>
            </ul>
            <form action="/search/" class="inline float-right">
                <input id="search" name="q" type="search">
                <button class="button" type="submit">Search</button>
            </form>
        </div>
    </div>
</section>


<div id="player" class="container">
    <div id="video"></div>

    <div class="controls">
        <a class="button" @click="youtube.previousVideo()"><i class="fa fa-step-backward"></i></a>
        <a class="button" @click="youtube.playVideo()"><i class="fa fa-play"></i></a>
        <a class="button" @click="youtube.pauseVideo()"><i class="fa fa-pause"></i></a>
        <a class="button" @click="youtube.stopVideo()"><i class="fa fa-stop"></i></a>
        <a class="button" @click="youtube.nextVideo()"><i class="fa fa-step-forward"></i></a>
        <span v-if="genre && !is_local">
            <a v-if="sort_order == 'new'" class="button" @click="reload('hot', genre)" title="Load hot submissions"><i class="fa fa-fire"></i></a>
            <a v-if="sort_order == 'hot'" class="button" @click="reload('new', genre)" title="Load new submissions"><i class="fa fa-clock-o"></i></a>
        </span>
    </div>

    <div v-if="current" class="current voffset">
        <playlist-item v-bind:record="current"></playlist-item>
    </div>
</div>

<div id="playlist" class="container searchable">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
                <tr class="record" id="9EzeW5KoPUI">
                    <td><img src="https://i.ytimg.com/vi/9EzeW5KoPUI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sufjan Stevens - Casimir Pulaski Day</td>
                </tr>
                <tr class="record" id="Dixxse4dpQ4">
                    <td><img src="https://i.ytimg.com/vi/Dixxse4dpQ4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tom Waits - Take It With Me</td>
                </tr>
                <tr class="record" id="DgRVNjsuycQ">
                    <td><img src="https://i.ytimg.com/vi/DgRVNjsuycQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">John Prine -Your Flag Decal Won't Get You Into Heaven Anymore</td>
                </tr>
                <tr class="record" id="rvWstzEUTfU">
                    <td><img src="https://i.ytimg.com/vi/rvWstzEUTfU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Tallest Man on Earth - "Love Is All" (Official Music Video)</td>
                </tr>
                <tr class="record" id="Kb2uciHpe4U">
                    <td><img src="https://i.ytimg.com/vi/Kb2uciHpe4U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"This Train Is Bound For Glory"- Mumford and Sons, Edward Sharpe - The Old Crow Medicine Show</td>
                </tr>
                <tr class="record" id="gv1KEF8Uw2k">
                    <td><img src="https://i.ytimg.com/vi/gv1KEF8Uw2k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PHIL OCHS~I AIN'T MARCHING ANYMORE</td>
                </tr>
                <tr class="record" id="aacaVfGmT7Q">
                    <td><img src="https://i.ytimg.com/vi/aacaVfGmT7Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Engine - Neutral Milk Hotel</td>
                </tr>
                <tr class="record" id="Sd8sirz99zo">
                    <td><img src="https://i.ytimg.com/vi/Sd8sirz99zo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Phil Ochs - Crucifixion</td>
                </tr>
                <tr class="record" id="5l8otWSs3Ro">
                    <td><img src="https://i.ytimg.com/vi/5l8otWSs3Ro/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bon Iver - Skinny Love (Glastonbury 28-06-09)</td>
                </tr>
                <tr class="record" id="oLi8QR0cPNI">
                    <td><img src="https://i.ytimg.com/vi/oLi8QR0cPNI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sun Kil Moon - Lucky Man</td>
                </tr>
                <tr class="record" id="aHQTdscg9eg">
                    <td><img src="https://i.ytimg.com/vi/aHQTdscg9eg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Old Crow Medicine Show   LIttle Sadie</td>
                </tr>
                <tr class="record" id="F4wLV0NQceE">
                    <td><img src="https://i.ytimg.com/vi/F4wLV0NQceE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Cannonball blues Carter Family Cover</td>
                </tr>
                <tr class="record" id="erdlUyllNhU">
                    <td><img src="https://i.ytimg.com/vi/erdlUyllNhU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Todd Snider If Tomorrow Never Comes</td>
                </tr>
                <tr class="record" id="IbsQJBxICN0">
                    <td><img src="https://i.ytimg.com/vi/IbsQJBxICN0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Trio Mandili - Apareka (The CD-album is available on http://triomandili.com/en/#buy)</td>
                </tr>
                <tr class="record" id="rlococGqzg8">
                    <td><img src="https://i.ytimg.com/vi/rlococGqzg8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Fairport Convention Maidstone 1970</td>
                </tr>
                <tr class="record" id="VsJ9skuYtX0">
                    <td><img src="https://i.ytimg.com/vi/VsJ9skuYtX0/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">John Fahey: Hope Slumbers Eternal</td>
                </tr>
                <tr class="record" id="t7iZv5Bdknk">
                    <td><img src="https://i.ytimg.com/vi/t7iZv5Bdknk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sometimes I Forget</td>
                </tr>
                <tr class="record" id="b_rnGZ5e_64">
                    <td><img src="https://i.ytimg.com/vi/b_rnGZ5e_64/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">If I Was A Better Man - Billy Simons</td>
                </tr>
                <tr class="record" id="V5zc4tm2ung">
                    <td><img src="https://i.ytimg.com/vi/V5zc4tm2ung/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"River Run" (Official Album Audio) || Cereus Bright</td>
                </tr>
                <tr class="record" id="GcFhyy2kgdo">
                    <td><img src="https://i.ytimg.com/vi/GcFhyy2kgdo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wall of Death - Richard and Linda Thompson</td>
                </tr>
                <tr class="record" id="0PXxOnmAnDg">
                    <td><img src="https://i.ytimg.com/vi/0PXxOnmAnDg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sally In The Garden - Premo & Gustavsson</td>
                </tr>
                <tr class="record" id="8BvRgwUisSg">
                    <td><img src="https://i.ytimg.com/vi/8BvRgwUisSg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Maggie Rogers - Alaska</td>
                </tr>
                <tr class="record" id="V-HkBak9lmM">
                    <td><img src="https://i.ytimg.com/vi/V-HkBak9lmM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Bert Jansch / Needle Of Death</td>
                </tr>
                <tr class="record" id="d0y6KmsOAAE">
                    <td><img src="https://i.ytimg.com/vi/d0y6KmsOAAE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Caedmon - Sea Song</td>
                </tr>
                <tr class="record" id="5U1_eqkAK9M">
                    <td><img src="https://i.ytimg.com/vi/5U1_eqkAK9M/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thedeus White - Haze ( live session )</td>
                </tr>
                <tr class="record" id="cM5eHS527V8">
                    <td><img src="https://i.ytimg.com/vi/cM5eHS527V8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nic Jones - Clyde Water</td>
                </tr>
                <tr class="record" id="v15wEsHg3gY">
                    <td><img src="https://i.ytimg.com/vi/v15wEsHg3gY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Corries - Jock O'Braidosly</td>
                </tr>
                <tr class="record" id="122isznJdto">
                    <td><img src="https://i.ytimg.com/vi/122isznJdto/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Pogues - Dirty old town, live 2012</td>
                </tr>
                <tr class="record" id="ogSEQPH8IFA">
                    <td><img src="https://i.ytimg.com/vi/ogSEQPH8IFA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">karen dalton "Ribbon Bow"</td>
                </tr>
                <tr class="record" id="Ofb93chhS6Q">
                    <td><img src="https://i.ytimg.com/vi/Ofb93chhS6Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Perpetual e-Motion at Canaan Institute, Flying Tent</td>
                </tr>
                <tr class="record" id="HO2DgsJ3QHs">
                    <td><img src="https://i.ytimg.com/vi/HO2DgsJ3QHs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Clancy Brothers & Tommy Makem - As I Roved Out (rare alternate take)</td>
                </tr>
                <tr class="record" id="32yMcDf1_Ck">
                    <td><img src="https://i.ytimg.com/vi/32yMcDf1_Ck/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Аркадий Северный - Цыганский табор - 19 - Как хочется хоть раз - 1975</td>
                </tr>
                <tr class="record" id="eR3HXUGEaBc">
                    <td><img src="https://i.ytimg.com/vi/eR3HXUGEaBc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Folque - Heming og Harald kongjen</td>
                </tr>
                <tr class="record" id="N3gcCAXm-ek">
                    <td><img src="https://i.ytimg.com/vi/N3gcCAXm-ek/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Carolina Chocolate Drops - Snowden's Jig</td>
                </tr>
                <tr class="record" id="9BXdJiMZXE4">
                    <td><img src="https://i.ytimg.com/vi/9BXdJiMZXE4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">I'll Fly Away (Traditional)</td>
                </tr>
                <tr class="record" id="zmHYEMz49eA">
                    <td><img src="https://i.ytimg.com/vi/zmHYEMz49eA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Alan Stivell - Live à Knokke 1973 - Son ar Chistr</td>
                </tr>
                <tr class="record" id="UGGYK0gUvGk">
                    <td><img src="https://i.ytimg.com/vi/UGGYK0gUvGk/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Tir Eolas - The Wild Mountain Thyme | Sofar London</td>
                </tr>
                <tr class="record" id="yV76D7bULC4">
                    <td><img src="https://i.ytimg.com/vi/yV76D7bULC4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Thedeus White - Ground ( live session )</td>
                </tr>
                <tr class="record" id="L8ERBEdfOQs">
                    <td><img src="https://i.ytimg.com/vi/L8ERBEdfOQs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Faz bem falar de amor // novo single da Quinta do Bill</td>
                </tr>
                <tr class="record" id="TXWrbusNE6k">
                    <td><img src="https://i.ytimg.com/vi/TXWrbusNE6k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">jeff buckley & elizabeth fraser - all flowers in time</td>
                </tr>
                <tr class="record" id="0JQ0xnJyb0A">
                    <td><img src="https://i.ytimg.com/vi/0JQ0xnJyb0A/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Отава Ё – Сумецкая (русские частушки под драку) Otava Yo - russian couplets while fighting</td>
                </tr>
                <tr class="record" id="Ch3cFnFrc6Y">
                    <td><img src="https://i.ytimg.com/vi/Ch3cFnFrc6Y/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Todd Snider - Tales from Moondawg's Tavern Disc 2</td>
                </tr>
                <tr class="record" id="-kPJrpoQ1fQ">
                    <td><img src="https://i.ytimg.com/vi/-kPJrpoQ1fQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Album of Dedication - KKBB Crowdfunding Campaign</td>
                </tr>
                <tr class="record" id="5ZsMekcTvGo">
                    <td><img src="https://i.ytimg.com/vi/5ZsMekcTvGo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">ჯგუფი "ბანი" - კავკასიური ბალადა / bani - kavkasiuri balada / Кавказская Баллада</td>
                </tr>
                <tr class="record" id="GRs4oFrDTqM">
                    <td><img src="https://i.ytimg.com/vi/GRs4oFrDTqM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Old Main - My Way Home | NPR Tiny Desk Contest</td>
                </tr>
                <tr class="record" id="IXJkLPaqL9k">
                    <td><img src="https://i.ytimg.com/vi/IXJkLPaqL9k/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Living in a Rich Man's World</td>
                </tr>
                <tr class="record" id="gRRocl_Fmk4">
                    <td><img src="https://i.ytimg.com/vi/gRRocl_Fmk4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Julia Pietrucha - "We Care so Much"</td>
                </tr>
                <tr class="record" id="MTttv2MNP3w">
                    <td><img src="https://i.ytimg.com/vi/MTttv2MNP3w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Michael Cooney & George Wilson at the 1985 Old Songs Festival</td>
                </tr>
                <tr class="record" id="B_nKf7BNqhA">
                    <td><img src="https://i.ytimg.com/vi/B_nKf7BNqhA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Times They Are A Changin Bob Dylan @ the White House Live</td>
                </tr>
                <tr class="record" id="vQN3OSSHycE">
                    <td><img src="https://i.ytimg.com/vi/vQN3OSSHycE/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ray LaMontagne - Burn</td>
                </tr>
                <tr class="record" id="sFr54xNflcY">
                    <td><img src="https://i.ytimg.com/vi/sFr54xNflcY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"Within You Without You" Beatles cover played on Handmade Instruments - Kaisatsuko and Darbuka</td>
                </tr>
                <tr class="record" id="kOOheCBbqq8">
                    <td><img src="https://i.ytimg.com/vi/kOOheCBbqq8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">PJ Harvey Live Volksbühne Berlin 19.6.2016</td>
                </tr>
                <tr class="record" id="iaL7iCVkybc">
                    <td><img src="https://i.ytimg.com/vi/iaL7iCVkybc/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Marta Pereira da Costa com Richard Bona -  Encontro (Vídeo Oficial)</td>
                </tr>
                <tr class="record" id="eCNOOw4e47o">
                    <td><img src="https://i.ytimg.com/vi/eCNOOw4e47o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Тина Кузнецова, Серегй Старостин и Сергей Клевенский в проекте "Этносфера"</td>
                </tr>
                <tr class="record" id="GVwq9WGvXT8">
                    <td><img src="https://i.ytimg.com/vi/GVwq9WGvXT8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Here's to the Ride by Dave Crossland</td>
                </tr>
                <tr class="record" id="fiTVl-t42W4">
                    <td><img src="https://i.ytimg.com/vi/fiTVl-t42W4/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Sati Sauri "Wianeczek-Noc Kupały"</td>
                </tr>
                <tr class="record" id="rhcPzdNdh3s">
                    <td><img src="https://i.ytimg.com/vi/rhcPzdNdh3s/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Parting Glass</td>
                </tr>
                <tr class="record" id="xe9YVHeyzHM">
                    <td><img src="https://i.ytimg.com/vi/xe9YVHeyzHM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Vox Starstream - Banjo,Sitar,Resonator Guitar バンジョー,シタール,リゾネーター・ギター</td>
                </tr>
                <tr class="record" id="rJpCuoHJE4o">
                    <td><img src="https://i.ytimg.com/vi/rJpCuoHJE4o/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Rangoon - Kan | Cover by FOLKLAB</td>
                </tr>
                <tr class="record" id="whxIEmwSJuw">
                    <td><img src="https://i.ytimg.com/vi/whxIEmwSJuw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Musica Folk Celtica- Musica Epica E Folk Per Ballare -</td>
                </tr>
                <tr class="record" id="NIz1ZDm_CD8">
                    <td><img src="https://i.ytimg.com/vi/NIz1ZDm_CD8/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">J. Alan Schneider - Whiskey (Proving Ground Session)</td>
                </tr>
                <tr class="record" id="tVlllUuQWew">
                    <td><img src="https://i.ytimg.com/vi/tVlllUuQWew/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Jorma Kaukonen - Genesis - Live at Fur Peace Ranch</td>
                </tr>
                <tr class="record" id="e_yXwxJF1_Q">
                    <td><img src="https://i.ytimg.com/vi/e_yXwxJF1_Q/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">It Matters Much   John From Me</td>
                </tr>
                <tr class="record" id="Z4LEi1OfquA">
                    <td><img src="https://i.ytimg.com/vi/Z4LEi1OfquA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dick Gaughan -  Jock o' Hazeldean</td>
                </tr>
                <tr class="record" id="Ai_bM-66nqg">
                    <td><img src="https://i.ytimg.com/vi/Ai_bM-66nqg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Abbie Jolliffe & Roisin Gaffney - Cheap Affection</td>
                </tr>
                <tr class="record" id="mOjob36rtEI">
                    <td><img src="https://i.ytimg.com/vi/mOjob36rtEI/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Hawthornes - Where Are We All Going</td>
                </tr>
                <tr class="record" id="dludv3x9PII">
                    <td><img src="https://i.ytimg.com/vi/dludv3x9PII/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Amaro Porano Jaha Chay - Sriparna Chatterjee | Rabindra Sangeet | The Distic Studio | S01E01</td>
                </tr>
                <tr class="record" id="62140ZGpXfg">
                    <td><img src="https://i.ytimg.com/vi/62140ZGpXfg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">The Colorado Trail  - Bluegill Buddies</td>
                </tr>
                <tr class="record" id="KUxwfOFTMVU">
                    <td><img src="https://i.ytimg.com/vi/KUxwfOFTMVU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Johnny Eastman - Freedom Soon Will Come (Music Video)</td>
                </tr>
                <tr class="record" id="1cb6G9Ite1E">
                    <td><img src="https://i.ytimg.com/vi/1cb6G9Ite1E/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Wagon Wheel (Cover)</td>
                </tr>
                <tr class="record" id="DnynE0C2zEQ">
                    <td><img src="https://i.ytimg.com/vi/DnynE0C2zEQ/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Nick Lowe - The Beast In Me</td>
                </tr>
                <tr class="record" id="yO0ABZVrbwo">
                    <td><img src="https://i.ytimg.com/vi/yO0ABZVrbwo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Simon Alexander - Brother [live 2015]</td>
                </tr>
                <tr class="record" id="aP2bw2VrS2w">
                    <td><img src="https://i.ytimg.com/vi/aP2bw2VrS2w/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ryan Young - The Cleaner</td>
                </tr>
                <tr class="record" id="kNG3bpHUEhg">
                    <td><img src="https://i.ytimg.com/vi/kNG3bpHUEhg/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Todd Snider & Friends - Ballad of the Kingsmen</td>
                </tr>
                <tr class="record" id="DMle_mUun6U">
                    <td><img src="https://i.ytimg.com/vi/DMle_mUun6U/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Lukas Papenfusscline "Saro" live at Hank's Saloon</td>
                </tr>
                <tr class="record" id="MSRj8867hgU">
                    <td><img src="https://i.ytimg.com/vi/MSRj8867hgU/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Africa Festival 2014 The Jolly Boys Würzburg BR/ARTE Concert</td>
                </tr>
                <tr class="record" id="XTyf_LCT0Mo">
                    <td><img src="https://i.ytimg.com/vi/XTyf_LCT0Mo/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ransom Pier - Turn Your Head (Official Lyric Video)</td>
                </tr>
                <tr class="record" id="MWm0g9gpRtY">
                    <td><img src="https://i.ytimg.com/vi/MWm0g9gpRtY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">"Shenandoah" Beyond the Forest Gates Album Vocal/Piano Teaser 2</td>
                </tr>
                <tr class="record" id="5t3_9ZrZFRs">
                    <td><img src="https://i.ytimg.com/vi/5t3_9ZrZFRs/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Dave Swarbrick   The Cuckoo´s Nest</td>
                </tr>
                <tr class="record" id="zzV9yaZL5Qw">
                    <td><img src="https://i.ytimg.com/vi/zzV9yaZL5Qw/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Ron Pope - "Atlanta" - Live at Flux Studios</td>
                </tr>
                <tr class="record" id="HDfYKhWqiyY">
                    <td><img src="https://i.ytimg.com/vi/HDfYKhWqiyY/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Celina da Piedade c/ Um Corpo Estranho - Roubei-te um Beijo</td>
                </tr>
                <tr class="record" id="o2Sm82xJ_DA">
                    <td><img src="https://i.ytimg.com/vi/o2Sm82xJ_DA/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Вася Обломов - Когда-нибудь (на стихи Иосифа Бродского)</td>
                </tr>
                <tr class="record" id="P_bzqwY5tQM">
                    <td><img src="https://i.ytimg.com/vi/P_bzqwY5tQM/default.jpg" alt="Video preview"></td>
                    <td class="yt-title">Willard Losinger Performs "Blackberry Blossom" (New Lyrics!) with Mandolin Accompaniment</td>
                </tr>
        </tbody>
    </table>
</div>

<div class="container">
<a href="/genre/folk/">Folk</a> archive:
    <a href="/genre/folk/2008/">2008</a>&nbsp;•&nbsp;    <a href="/genre/folk/2009/">2009</a>&nbsp;•&nbsp;    <a href="/genre/folk/2010/">2010</a>&nbsp;•&nbsp;    <a href="/genre/folk/2011/">2011</a>&nbsp;•&nbsp;    <a href="/genre/folk/2012/">2012</a>&nbsp;•&nbsp;    <a href="/genre/folk/2013/">2013</a>&nbsp;•&nbsp;    <a href="/genre/folk/2014/">2014</a>&nbsp;•&nbsp;    <a href="/genre/folk/2015/">2015</a>&nbsp;•&nbsp;    <a href="/genre/folk/2016/">2016</a>&nbsp;•&nbsp;    <a href="/genre/folk/2017/">2017</a>
</div>

<div id="footer" class="container">
    <hr>
    <p>Punk'n'Roll: Music video player for garage punk, grunge, psychobilly, punk, rock'n'roll, rockabilly and more rock genres.<br>
    <a href="/rockgenres/">List of Rock Genres</a> • <a href="https://teespring.com/stores/punknroll" title="T-Shirts, hoodies and other merchandise for people who love rock music">Punk'n'Roll Merch Store</a> • <a href="/about/">About/Legal Info</a></p>
</div>


<script src="//unpkg.com/vue@2.4.4/dist/vue.min.js"></script>
<script src="//unpkg.com/vue-resource@1.3.4/dist/vue-resource.min.js"></script>
<script>
var genre = 'folk';
var is_local = true;
</script>
<script src="/compiled/player.js"></script>
<script src="/compiled/app.js"></script>
<script src="//www.youtube.com/iframe_api"></script>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-5102014-17', 'punknroll.net');
ga('send', 'pageview');
(function(c,a){function d(){var e=a.getElementsByTagName("a");var f=[];for(var g=0;g<e.length;++g){var h=e[g];if(h.host!=c.location.host){f.push(h)}}return f}function b(f){var e=f.srcElement||f.target;while(e&&(typeof e.tagName=="undefined"||e.tagName.toLowerCase()!="a"||!e.href)){e=e.parentNode}if(!e||!e.href){return}if(c.ga){ga("send","event","Outbound link","Click",e.href)}if(!e.target||e.target.match(/^_(self|parent|top)$/i)){setTimeout(function(){a.location.href=e.href},150);if(f.preventDefault){f.preventDefault()}else{f.returnValue=false}}}c.addEventListener("load",function(){var e=d();for(var f in e){e[f].addEventListener("click",b)}})}(window,document));
</script>
</body>
</html>